<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/home.css'>
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/owl.carousel.css' />
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/bxslider.css'>
<script type="text/javascript" src='{#RESOURCES#}js/owl.carousel.min.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/home.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/jquery.bxslider.min.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/imageMapResizer.min.js'></script>

</head>
<body id="body">
    	{include="top/top"}
        {$homeheader}
<script>
$(document).ready(function(){
	$('.homekeyword').keypress(function(event) {
		if (event.which == 13) {
			SendSearchUrl();
		 }
	});
});

function validate()
{
	var title = $.trim($('.homekeyword').val());
	var element = $('.homekeyword');
	if(title == "")
	{
		SetError(element,'Please enter search text');
		//return false;
	}	
	else
	{
		RemoveError(element);
		return true;
	}	
}

function SendSearchUrl()
{
	if(validate()){
		var Keyword		= $('.keyword').val();
		
		url	= SITEURL+"non-profits-search";
		
		if(Keyword != "")
		{
			url	= url+"?filter[keyword]="+Keyword;
		}
		window.location.href=url;
	}
}
</script>
<section class="search-section home-page mobile-search-section">
	<div class="container">
	    <div class="row">
            <div class="col-xs-12">
            	<div class="p-relative">
               <!-- <form id="search-form" name="search-form" action='{#URL#}non-profits-search' method="get" class="p-relative">-->
                    <button class="search-btn" type="button" onclick="SendSearchUrl()" title="Click here to search"><i class="fa fa-search text-bold"></i></button><input type="text" name="keyword" class="keyword homekeyword" placeholder="{#_SEARCH_CHARITIES_#}">
               <!-- </form>-->
               </div>
            </div>
        </div>
	</div>
</section>

{$homegenerositymeet}
{$homedonatenow}
{$homestartfundraiser}
{$homenonprofitregistration}

<section class="featured-fundraisers hidden-xs">
	<div class="container">
    	<div class="main-heading">{#_FEATURED_FUNDRAISERS_#}</div>
         {if condition="$PopularFundsRows!=NULL"}
        <div class="mt-10">
        	<div class="featured-tag pl-15 pr-15"><span>{#_POPULAR_#}</span></div>
        	<div class="popular mt-5">
            	{loop="$PopularFundsRows"} 
                    <div class="featured-box">
                    <a href='{#URL#}fundraiser/{function="keyEncrypt($value.Camp_ID)"}/{$value.Camp_UrlFriendlyName|RemoveSpecialChars}' title="Click here to go detail">
                        <span class="text-center"><img src='{function="CheckImage(CAMPAIGN_MAIN_IMAGE_DIR,CAMPAIGN_MAIN_IMAGE_URL,NO_IMAGE,$value.camp_thumbImage)"}' class="img-responsive" alt="img"></span>
                        <span class="fundraisers-name" style="height: 49px;">{$value.Camp_Title}</span>
					</a>
                    <div class="progress mt-5 mb-5 ml-10 mr-10">
                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: {$value.Donationpercentage};"></div>
                    </div>
                    <span class="pb-5 pl-10 pr-10 fonts-lato-black">{$value.Donationpercentage} Raised of ${$value.Camp_DonationGoal}</span>
                </div>
				{/loop}                
            </div>
    	</div>
    	{/if}
         {if condition="$NewFundsRows!=NULL"}
        <div class="mt-25">
        	<div class="featured-tag pl-15 pr-15"><span>{#_NEW_#}</span></div>
        	<div class="new-feature mt-5">
                {loop="$NewFundsRows"}
                    <div class="featured-box">
                    <a href='{#URL#}fundraiser/{function="keyEncrypt($value.Camp_ID)"}/{$value.Camp_UrlFriendlyName|RemoveSpecialChars}' title="Click here to go detail">
                        <span class="text-center"><img src='{function="CheckImage(CAMPAIGN_MAIN_IMAGE_DIR,CAMPAIGN_MAIN_IMAGE_URL,NO_IMAGE,$value.camp_thumbImage)"}' class="img-responsive" alt="img"></span>
                        <span class="fundraisers-name" style="height: 49px;">{$value.Camp_Title}</span>
					</a>
                    <div class="progress mt-5 mb-5 ml-10 mr-10">
                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: {$value.Donationpercentage};"></div>
                    </div>
                    <span class="pb-5 pl-10 pr-10 fonts-lato-black">{$value.Donationpercentage} Raised of ${$value.Camp_DonationGoal}</span>
                </div>
               {/loop} 
            </div>
    	</div>
        {/if}	
       {if condition="$EndingFundsRows!=NULL"}
        <div class="mt-25">
        	<div class="featured-tag pl-15 pr-15"><span>{#_ENDINGHOME_#}</span></div>
        	<div class="ending-soon mt-5">
                {loop="$EndingFundsRows"} 
                    <div class="featured-box">
                    <a href='fundraiser/{function="keyEncrypt($value.Camp_ID)"}/{$value.Camp_UrlFriendlyName|RemoveSpecialChars}' title="Click here to go detail">
                        <span class="text-center"><img src='{function="CheckImage(CAMPAIGN_MAIN_IMAGE_DIR,CAMPAIGN_MAIN_IMAGE_URL,NO_IMAGE,$value.camp_thumbImage)"}' class="img-responsive" alt="img"></span>
                        <span class="fundraisers-name" style="height: 49px;">{$value.Camp_Title}</span>
					</a>
                    <div class="progress mt-5 mb-5 ml-10 mr-10">
                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: {$value.Donationpercentage};"></div>
                    </div>
                    <span class="pb-5 pl-10 pr-10 fonts-lato-black">{$value.Donationpercentage} Raised of ${$value.Camp_DonationGoal}</span>
                </div>
                {/loop}
            </div>
    	</div>
    	{/if}
    </div> <span class="down-arrow" title="Click here to go down"><i></i></span>
</section>
<section class="donation-categories hidden-xs">
	<div class="container">
    	<div class="main-heading">{#_DONATION_CATEGORIES_#}</div>
        <div class="row text-center">        
        	 {if="$Category!=''"}
        			{loop="Category"}
            			{if="$value.NPOCat_Image_Name!=''"}
                        	<div class="col-md-3 col-sm-4 col-xs-6">
                            	<div class="donation-categories-box">
                                    <img src='{#RESOURCES#}images/category-images/{$value.NPOCat_Image_Name}' class="img-responsive" alt="image">
                                    <span class="donation-categories-name">{$value.CampCat_DisplayName}</span>
                                    <span class="categories-quick-link">
                                        <a href='{#URL#}fundraisers-search?filter[category]={$value.NPOCat_ID}' class="button-1" title="Fundraisers">Fundraisers</a>
                                        <a href='{#URL#}non-profits-search?filter[category]={$value.NPOCat_ID}' class="button-1 npo-btn" title="Non Profits">Non Profits</a>
                                    </span>                                
								</div>
                            </div>    
                        {/if}
                    {/loop}
            {/if}            
        
        </div>
    </div> <span class="down-arrow" title="Click here to go down"><i></i></span>
</section>
<section class="connect-with-friends hidden-xs">
	<div class="container">
    	<div class="row">
        	<div class="col-md-6 col-sm-6 col-xs-12">
            	<div class="main-heading">{#_CONNECT_#}<br>{#_WITH_FRIENDS_#}</div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 mobile-image-section">
               <img src='{#RESOURCES#}images/socailmobile.png' class="img-responsive social-mobile-image" alt="image" usemap="#Map" />
               <map  name="Map">
                  <area shape="circle" coords="169,125,47" href="https://www.facebook.com/givedonasity" title="Facebook" />
                  <area shape="circle" coords="271,125,47" href="https://plus.google.com/b/101451250118515410672/+DonasityGive/" title="Google plus" />
                  <area shape="circle" coords="168,229,47" href="https://twitter.com/givedonasity" title="Twitter" />
                  <area shape="circle" coords="272,229,47" href="https://www.youtube.com/channel/UCsZGiTx3H35IACPz3yKupuA" title="Youtube" />
                  <area shape="circle" coords="169,333,46" href="https://www.linkedin.com/company/donasity" title="Linkedin" />
                  <area shape="circle" coords="273,332,47" href="https://instagram.com/givedonasity" title="Instagram" />
                  <area shape="circle" coords="167,437,48" href="mailto:info@donasity.com" title="Mail us" />
                  <area shape="circle" coords="271,436,47" href="http://donasity.tumblr.com/" title="Tumblr" />
                </map>
            </div>
        </div>
    </div>
</section>
{include="bottom/bottom"}
</body>
</html>