<!DOCTYPE html>
<html lang="{#LANG_ID#}">
<head>
{include="top/head"}
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/setup-fundraiser.css'>
</head>
<body>
    <div id="panel">    
    	<div class="gray-fix-nav">{include="top/top"}</div>
        <section class="fix-first-section">
        </section>
        <section class="section-padding setup-fundraiser">
            <div class="container">
            	{include="common/message"}
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2 class="heading-1">{$pageheading}</h2>
                    </div>
                </div>                               
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {$Key_Premier_Fundraiser}
                    </div> 
                </div>
                <div class="row mt-25 setup-detail-section">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                    	<div class="package-content">
                        	{$Camp_Level_Desc}
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12 whatisnext-section">              	
                        {$Key_What_is_next}
                           <form name="form-section" method="post" action='{#URL#}setup_fundraiser/Update_fundraiser_setup'> 
                         <input type="hidden" name="FR_id" value='{$FR_id}'>
                            {if="count($SupportedStype)>1"}
                            {$text_select_style_fundraiser}
                            <h2 class="heading-3">{$header_choose_fundraiser_style}</h2>
                            <div class="row pt-10 styleImg">
                                <div class="col-md-4 col-sm-4 col-xs-5">
                                    <div class="mb-10">
                                    	<a href='{#RESOURCES#}images/style1-large.jpg' title="Style 1">
	                                        <img src='{#RESOURCES#}images/style1-thumb.jpg' width="200" class="border-grey img-responsive" alt="image" />
    									</a>
                                    </div>
                                    <label class="checkbox"><input type="radio" name="style2" id="style1" value='{$SupportedStype[0]}' checked><i></i>{$text_style1}</label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-5">
                                    <div class="mb-10">
                                    	<a href='{#RESOURCES#}images/style2-large.jpg' title="Style 2">
	                                        <img src='{#RESOURCES#}images/style2-thumb.jpg' width="200" class="border-grey img-responsive" alt="image" />
    									</a>
                                    </div>
                                    <label class="checkbox"><input type="radio" name="style2" id="style2" value='{$SupportedStype[1]}'><i></i>{$text_style2}</label>                    
                                </div>
                            </div>
                            {else}
                           	 <div class="row pt-10">
                                <div class="col-md-4 col-sm-4 col-xs-5">
                                   <input type="hidden"  value='{$SupportedStype[0]}' name="style2" id="style2">
                                    
                                </div>
                             </div>
                            {/if}
                            
                            <div class="row pt-10">
                                <div class="col-md-4 col-sm-4 col-xs-5">
                                    <a href='{#URL#}ut1myaccount' class="button-2" title="Click here to setup later">{$text_setup_later}</a>   
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-7">
                                    <input type="submit" class="button-1" value="{$text_save_and_continue}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>	
        </section>
        {include="bottom/bottom"}
   </div>
</body>
<script type="text/javascript">
$(document).ready(function()
{
	$('.styleImg').magnificPopup({
		delegate: 'a',
		type: 'image'
	});
});
</script>
</html>