<!DOCTYPE html>
<html lang="{#LANG_ID#}">
<head>
{include="top/head"}
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/bootstrap-datepicker.css'>
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/setup-fundraiser.css'>
<script type="text/javascript" src='{#RESOURCES#}js/bootstrap-datepicker.js'></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script type="text/javascript" src='{#RESOURCES#}js/setup-fundraiser-step1.js'></script>
</head>
<body>
    <div id="panel">    
    	<div class="gray-fix-nav">{include="top/top"}</div>
        <section class="fix-first-section">
        </section>
        <section class="section-padding setup-fundraiser">
            <div class="container">           
            	{include="common/message"}
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2 class="heading-1">{if="$teamFundraiser"}Setup Fundraiser Step 1 of 5{else}{$pageheading}{/if}</h2>
                    </div>
                </div>
                   
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form id="form-section" name="form-section" method="post" action='{#URL#}setup_fundraiser/Update_fundraiser_step1' enctype="multipart/form-data">
                          <input type="hidden" name="FR_id" value='{$FR_id}'>
                           <input type="hidden" name="FR_DurationDays" value='{$FR_DurationDays}'>
                           <input type="hidden" name="Camp_Location_City" id="Camp_Location_City" value="">
                           <input type="hidden" name="Camp_Location_State" id="Camp_Location_State" value="">
                           <input type="hidden" name="Camp_Location_Country" id="Camp_Location_Country" value="">
                           <input type="hidden" name="Camp_Location_Logitude" value="">
                           <input type="hidden" name="Camp_Location_Latitude" value="">
						   <input type="hidden" name="Camp_Location_Zip" value="">
                            <div class="step-section">
                            <div class="step current-step step-1">
                                <h2 class="heading-2"><span class="mark-icon">1</span><span class="step-name">{$getting_started}</span></h2>
                                <div class="step-content">
                                    <h2 class="heading-3 choose-category">{$choose_category}</h2>
                                    <div class="row">
                                        <div class="form-group">
                                        {loop="CategoryList"}
                                            <div class="col-md-4 col-sm-4 col-xs-12 mb-5">
                                                <label class="checkbox"><input type="radio" name="category" value='{$value.NPOCat_ID}'><i></i>{$value.$categoryname}</label>
                                            </div>
                                      
                                        {/loop}
                                         </div>
                               </div>
                                    <div class="mt-25">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-10 col-xs-12">
                                                <label class="label" for="title">{$caption_title}</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="title" id="title">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8 col-sm-10 col-xs-12">
                                                <label class="label" for="subTitle">{$caption_sub_title}</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="subTitle" id="subTitle">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8 col-sm-10 col-xs-12">
                                            <label class="label" for="subTitle">{$caption_select_image}</label>                                             
                                                <div class="form-group">
                                                    <label for="file" class="input-file">
                                                        <div class="button t-white"><input type="file" name="uploadPhoto" class="form-control" id="uploadPhoto"   onchange="this.parentNode.nextSibling.value = this.value"><i class="fa fa-upload"></i></div><input name="uploadImg" id="uploadImg" type="text" class="form-control" readonly>
                                                    </label>
                                                    <span class="note">{$note_photo}</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        {if condition="$Camp_StylingTemplateName=='V2'"}
                                        <div class="row">
                                            <div class="col-md-8 col-sm-10 col-xs-12">
                                            <label class="label" for="subTitle">{$caption_select_banner_image}</label>                                             
                                                <div class="form-group">
                                                    <label for="file" class="input-file">
                                                        <div class="button t-white"><input type="file" name="camp_bgImage" class="form-control" id="camp_bgImage"   onchange="this.parentNode.nextSibling.value = this.value"><i class="fa fa-upload"></i></div><input name="uploadImg" id="uploadImg" type="text" class="form-control" readonly>
                                                    </label>
                                                    <span class="note">{$note_photo}</span>
                                                </div>
                                            </div>
                                        </div>
                                        {/if}
                                        <div class="row">
                                            <div class="col-md-4 col-sm-5 col-xs-12">
                                                <label class="label" for="donation">{$caption_amount}</label>
                                                <div class="form-group">
                                                    <i class="icon-prepend fa fa-usd"></i>
                                                    <input type="text" class="form-control" name="donation" id="donation" placeholder="{$placeholder_amount}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8 col-sm-10 col-xs-12">
                                                <label class="label" for="location">{$caption_location}</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="location" id="location" placeholder="{$placeholder_location}">
                                                    <span class="note">{$note_location}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8 col-sm-10 colxs-12">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-6 col-xs-12">
                                                        <label class="label text-bold">{$header_question}</label>
                                                    </div>
                                                    <div class="col-md-12 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="checkbox"><input type="radio" name="radio1" id="startImmediate" value="1" checked><i></i>{$note_question_1}</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                <label class="checkbox checkbox-inline mr-5"><input type="radio" name="radio1" id="dateSpecified" value="2"><i></i>{$note_question_2}</label>
                                                                <span class="required-icon toolTipHover">
                                                                    <i class="fa fa-question-circle"></i><b class="tooltip tooltip-top-right">{$text_what_is_this}</b>
                                                                </span> 
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-xs-12 dateSpecified-box">
                                                                <div class="form-group date" id="specifiedDate" data-date="" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                                                    <i class="icon-append fa fa-calendar add-on"></i><input type="text" class="form-control" name="specifiedDate">
                                                                </div> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-10">
                                            <div class="col-md-8 col-sm-10 col-xs-12">
                                                <div class="form-group">
                                                    <label class="label text-bold">{$header_fundraiser_private}</label>
                                                    <label class="checkbox"><input type="checkbox" name="checkbox" value="1"><i></i>{$note_fundraiser_private}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8 col-sm-10 col-xs-12 text-center mt-25">
                                                <button type="submit" class="button-1 large-btn" title="Click here to save & continue">{$button_caption_save}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>	
        </section>
        {include="bottom/bottom"}
   </div>
</body>
</html>