<!DOCTYPE html>
<html lang="{#LANG_ID#}">
<head>
{include="top/head"}
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/setup-fundraiser.css'>
<script type="text/javascript" src='{#RESOURCES#}js/setup-fundraiser-step3.js'></script>
</head>
<body>
    <div id="panel">    
    	<div class="gray-fix-nav">{include="top/top"}</div>
        <section class="fix-first-section">
</section>
		<section class="section-padding setup-fundraiser">
	<div class="container">
    	{include="common/message"}
    	<div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2 class="heading-1">{$pageheading}</h2>
            </div>
        </div>            
        <div class="row">
        	<div class="col-md-12 col-sm-12 col-xs-12">
            	<form id="form-section" name="form-section" method="post" action='{#URL#}setup_fundraiser/Update_fundraiser_step3' enctype="multipart/form-data">
	                <input type="hidden" name="FR_id" value='{$FR_id}'>
                    <div class="step-section">
                        <div class="step step-1">
                            <h2 class="heading-2"><span class="mark-icon">1</span><span class="step-name">{$header_getting_started}<i class="fa fa-check"></i></span></h2>
                        </div>
                        <div class="step step-2">
                            <h2 class="heading-2"><span class="mark-icon">2</span><span class="step-name">{$header_tell_the_story}<i class="fa fa-check"></i></span></h2>
                        </div>
                        <div class="step current-step step-3">
                            <h2 class="heading-2"><span class="mark-icon">3</span><span class="step-name">{$header_campaign_photo_vedio}</span></h2>
                            <div class="step-content">	
                                <div class="tab-section oh">
                                    <a href='#tab1' class="tabOption selectedTab">{$tab_photos}</a>
                                        <div class="tabInfo open-tab" id="tab1">
                                        	<div class="row">
                                                <div class="col-md-8 col-sm-8 col-xs-12">
                                                    <div class="upload-section">
                                                        
                                                       
                                                       
                                {if="$FundraiserDetail['Camp_Level_DetailJSON']['Number_of_Photos']>0 && $FundraiserDetail['Camp_Level_DetailJSON']['Number_of_Photos'] > count($ImageList)"}
                                      <p>{$text_upload_photos}</p>     
                                                        <div class="row">
                                                        	<div class="col-md-8 col-sm-8 col-xs-12">
                                                        		<div class="form-group">
                                                                    <label for="file" class="input-file">
                                                                        <div class="button t-white"><input type="file" name="uploadPhoto" class="form-control" id="uploadPhoto" onchange="this.parentNode.nextSibling.value = this.value"><i class="fa fa-upload"></i></div><input name="uploadImg" id="uploadImg" type="text" class="form-control" readonly>
                                                                    </label>                                                           
                                                                    <span class="note">{$note_upload_photos}</span>
                                                                </div>
                                                        	</div>
                                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                            	<button type="submit" class="button-1 col-xs-12"  id="uploadImgbtn" title="Click here to submit">{$caption_submit}</button>
                                                            </div>
                                                        </div>
                                                        {/if}
                                                        
                                                        <div class="oh mt-10">{$text_tip}</div>                                        
                                                    </div>
                                                    
                                                    <div class="uplaoded-section">
                                                       {if="count($ImageList)>0"}<h2 class="heading-3">{$form_header_photos}</h2>{/if}
                                                        <div class="row text-center">
                                                             
                                                            {loop="ImageList"}
                                                           	
                                                            <div class="col-md-3 col-sm-3 col-xs-6 mb-10"><img src='{$value.image_url}' class="img-responsive" alt="image"></div>	
                                                        	{/loop}
                                                        </div>
                                                        <span class="note">{$note_tip}</span>
                                                    </div>
                                                   
                                                </div>
											</div>
                                            <div class="row">
                                                <div class="col-xs-12 text-center mt-50">
                                                    <button type="submit" class="button-1 large-btn" title="{$caption_save_and_continue}" id="step3submit">{$caption_save_and_continue}</button>
                                                </div>
                                                <div class="col-xs-12 text-center mt-5">
                                                    <a href='javascript://' class="t-blue" id="step3submit" title="Click here to skip this step and manage later">{$hyperlink_skip}</a>
                                                </div>
                                            </div>
                                         </div>
                                   
                                    <a href='#tab2' class="tabOption">{$tab_vedios}</a>
                                        <div class="tabInfo" id="tab2">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-8 col-xs-12">
                                                   {if="$FundraiserDetail['Camp_Level_DetailJSON']['Number_of_Videos']>0 && $FundraiserDetail['Camp_Level_DetailJSON']['Number_of_Videos'] > count($VideoList)"}
                                                    <div class="upload-section">
                                                       
                                                        {$instruction_upload_vedios}   {$text_upload_vedios}
                                                        <div class="mt-25">
                                                            <label class="label" for="videoEmbedCode">{$caption_vedios_embed_code}</label>
                                                            <div class="form-group">
                                                                <textarea class="form-control" rows="3" name="videoEmbedCode" id="videoEmbedCode"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="mt-10 mb-10 text-center"><strong>{$text_or}</strong></div>
                                                        <div class="mt-15">
                                                        	<div class="row">
                                                                <div class="col-md-8 col-sm-8 col-xs-12">
                                                                    <div class="form-group">
                                                                        <label for="file" class="input-file">
                                                                            <div class="button t-white"><input type="file" name="uploadVideo" class="form-control" id="uploadVideo" onchange="this.parentNode.nextSibling.value = this.value"><i class="fa fa-upload"></i></div><input name="updVideo" type="text" class="form-control" placeholder="{$placeholder_embed_code}" readonly>
                                                                        </label>
                                                                       
                                                                        <span class="note">{$note_embed_code_1}</span>
                                                                    </div>
																</div>
                                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                                	<button type="submit" class="button-1 col-xs-12" title="Click here to submit" id="UploadVideobtn">{$caption_submit}</button>
                                                                </div>
                                                            </div>
                                                        </div>                                        
                                                    </div>
                                                     {/if}
                                                    <div class="uplaoded-section">
                                                       {if="count($VideoList)"} <h2 class="heading-3">{$header_uploaded_vedios}</h2>{/if}
                                                        <div class="row">
                                                     {loop="VideoList"}
                                                            <div class="col-md-3 col-sm-3 col-xs-6 mb-10"><img src='{#RESOURCES#}images/dummybglargeimg.jpg' class="img-responsive" alt="image"></div>												 {/loop}
                                                        </div>
                                                        <span class="note">{$note_embed_code_2}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 text-center mt-50">
                                                        <button type="submit" class="button-1 large-btn" title="Click here to continue" id="step3submit">{$text_continue}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                     
                                </div>
                            </div>
                        </div>
                    </div>
    			</form>
            </div>
        </div>
    </div>	
</section>
        {include="bottom/bottom"}
   </div>
</body>
</html>