<!DOCTYPE html>
<html lang="{#LANG_ID#}">
<head>
{include="top/head"}
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/setup-fundraiser.css'>
<script type="text/javascript" src='{#RESOURCES#}js/jquery.simplyCountable.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/setup-fundraiser-step2.js'></script>
</head>
<body>
    <div id="panel">    
    	<div class="gray-fix-nav">{include="top/top"}</div>
   		<section class="fix-first-section">
		</section>        
        <section class="section-padding setup-fundraiser">
            <div class="container">
            	{include="common/message"}
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2 class="heading-1">{if="$teamFundraiser"}Setup Fundraiser Step 2 of 5{else}{$pageheading}{/if}</h2>
                    </div>
                </div>                    
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form id="form-section" name="form-section" method="post" action='{#URL#}setup_fundraiser/Update_fundraiser_step2'>
                           <input type="hidden" name="FR_id" value='{$FR_id}'>
                            <div class="step-section">
                                <div class="step step-1">
                                        <h2 class="heading-2"><span class="mark-icon">1</span><span class="step-name">{$header_getting_started}<i class="fa fa-check"></i></span></h2>
                                    </div>
                                <div class="step current-step step-2">
                                    <h2 class="heading-2"><span class="mark-icon">2</span><span class="step-name">{$header_tell_the_story}</span></h2>
                                    <div class="step-content">
                                        <h2 class="heading-3">{$header_about_fundraiser}</h2>
                                        <div class="row">
                                            <div class="col-md-8 col-sm-10 col-xs-12">
                                                {$text_about_fundraiser}
                                                <div class="form-group">
                                                    <textarea class="form-control" name="aboutFundraiser" id="aboutFundraiser" rows="6" ></textarea>
                                                    <div class="oh mt-5 f-12 text-bold">{$note_remaining_characters}&nbsp;<span id="wordCounter"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                      <div class="row">
                                            <div class="col-md-8 col-sm-10 col-xs-12">
                                                <label class="label" for="title">{$caption_sales_force_id}</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="Camp_SalesForceID" id="Camp_SalesForceID">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-25">
                                            <div class="col-md-8 col-sm-10 col-xs-12">
                                                <p>{$text_social_media}</p>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <i class="icon-prepend fa fa-facebook"></i>
                                                            <input type="text" class="form-control" name="facebookURL" id="facebookURL" placeholder="{#_FACEBOOK_URL_#}">
                                                        </div>
                                                    </div>
                                                     <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <i class="icon-prepend fa fa-youtube"></i>
                                                            <input type="text" class="form-control" name="youtubeURL" id="youtubeURL" placeholder="{#_YOUTUBE_URL_#}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <i class="icon-prepend fa fa-instagram"></i>
                                                            <input type="text" class="form-control" name="instagramURL" id="instagramURL" placeholder="{#_INSTAGRAM_URL_#}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <i class="icon-prepend fa fa-twitter"></i>
                                                            <input type="text" class="form-control" name="twitterURL" id="twitterURL" placeholder="{#_TWITTER_URL_#}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8 col-sm-10 col-xs-12 text-center mt-25">
                                                <input type="submit" class="button-1 large-btn"  value="{#_SAVE_AND_CONTINUE_#}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>	
        </section>
        {include="bottom/bottom"}
   </div>
</body>
</html>