<script>
function ExportData()
{
	var ActionUrl	= SITEURL+'npos/index/export-npos';
	$('#formSection').attr('action',ActionUrl);	
	$('#formSection').submit();
}

/*$(document).ready(function()
{
	$('#panel').before('<div id="panelOverlay" class="panelLoader"><img src="'+SITEURL+'app/views/img/diamond-loader.gif"></div>');
	$('#panelOverlay').css('min-height',$('body').height());
	$.get(url+"?ajax=1")
	
	var test=history.pushState({"page":"npos","html":"","location":window.location.href},'',window.location.href);
	console.log(history.pushState);
     if (history.pushState) { alert('supported'); }
});*/

</script>
<ul class="breadcrumb">
        <li title="Dashboard"><a href='{#URL#}home/'>Dashboard</a></li>
		 <li title="NPOs">Non-Profit organization</li>
        <li title="NPOs List">Listing</li>
</ul>

<div class="oh">
    <div class="col col-12 text-right mt15">
        <a href='{#URL#}npocategory' class="button-2" title="Manage Categories"><i class="fa fa-list-ul"></i>&nbsp;Manage Categories</a>
          <a href='{#URL#}npos/index/add-npos' class="button-2" title="Add NPOs"><i class="fa fa-edit"></i>&nbsp;Add NPOs</a>
          <a href='{#URL#}npos/index/import-csvfile' class="button-2" title="Import CSV"><i class="fa fa-download "></i>&nbsp;Imoprt CSV</a>
    </div>
</div>
<div id="content-box" class="igs-form">
	<form id="formSection" name="formSection" method="post" autocomplete="off" action="{#URL}emailtemplate/index/">
		<input type="hidden" name="pageNumber" id="pageNumber" value=""  />
		<div class="section-heading">Non-Profit organization - List <a href='javascript://' class="form-toggle-icon"><i class="fa fa-minus-square-o"></i></a></div>
		<div class="content-section">
			 <fieldset>
                    <div class="row">
                        <h2 class="heading-1">Filter Result</h2>
                        <section class="col col-3 pull-left">
                            <label class="select">
                            <select name="category" id="category">
								<option value="">Category</option>
                                {loop="category"}
                                <option value="{$value.NPOCat_CodeName}" {if="$searchcategory == $value.NPOCat_CodeName"} selected='selected' {/if} id="{$value.NPOCat_ID}">
                                	{$value.space} {$value.NPOCat_DisplayName_EN}
                                </option>
                                {/loop}
                            </select>
                            <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-2 pull-left">
                            <label class="select">
                            <select name="state" id="state">
								<option value="">State</option>
                                {loop="state"}
                                {if="$value.State_Name != ''"}
                                <option value="{$value.State_Value}" {if="$SearchState === $value.State_Value"} selected='selected' {/if}>{$value.State_Name}</option>
                                {/if}
                                {/loop}
                            </select>
                            <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-2 pull-left">
                            <label class="select">
                            <select name="city" id="city">
								<option value="">City</option>
                                {loop="CityList"}
                                <option value="{$value.NPO_City}" {if="$Searchcity == $value.NPO_City"} selected='selected' {/if}>{$value.NPO_City}</option>
                                {/loop}
                            </select>
                            <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-2 pull-left">
                            <label class="select">
                            <select name="status" id="status">
								<option value="">Status</option>
                                <option value="1" {if="$status == '1'"} selected='selected' {/if}>Active</option>
                                <option value="0" {if="$status == '0'"} selected='selected' {/if}>Inactive</option>
                            </select>
                            <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-3 pull-left">
                            <label class="select">
                            <select name="deductionmode" id="deductionmode">
								<option value="">Deduction Mode</option>
                                {loop="DeductionMode"}
                                <option value="{$value.NPO_DedCode}" {if="$deductionmode == $value.NPO_DedCode"} selected='selected' {/if}>{$value.NPO_DedDescription}</option>
                                {/loop}
                            </select>
                            <i></i>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-2">
                            <label class="select">Text Search</label>
                            <label class="select">
                                <select name="fields" id="fields">
                                    <option value="">-Any Where-</option>
                                    <option value="N.NPO_Name" {if="$fields=='N.NPO_Name'"} selected='selected' {/if}>Name</option>
                                    <option value="N.NPO_EIN"  {if="$fields=='N.NPO_EIN'"} selected='selected' {/if}>EIN</option>
                                    <option value="N.NPO_Street" {if="$fields=='N.NPO_Street'"} selected='selected' {/if}>Street</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-2 margin-top-20">
                        	<label class="select">Text Search</label>
                            <label class="select">
                                <select name="condition" id="condition">
                                    <option value="0" {if="$comparecondition == 0"} selected='selected' {/if}>Is Like</option>
                                    <option value="1" {if="$comparecondition == 1"} selected='selected' {/if}>Start With</option>
                                    <option value="2" {if="$comparecondition == 2"} selected='selected' {/if}>Exact Match</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-4">
                        	<label class="select">Text Search</label>
                            <label class="input">
                                <input type="text" id="keyword" name="keyword"  value="{$keyword}"   placeholder="Search Keyword"/>
                            </label>
                        </section>
                        
                        <section class=" col-5 pull-right">
                            <button type="submit" name="search" value="search" id="search" class="button-1"><i class="fa fa-search"></i>&nbsp;Show Result</button>
                            <button type="button" name="reset" value="reset" class="button-2" onClick="reloadPage();"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
                            <button type="button" name="export" value="Export Result" id="export" class="button-2" onclick="ExportData()"><i class="fa fa-search"></i>&nbsp;Export Result</button>
                        </section>
                    </div>
			 </fieldset>
            
                    
			 
		</div>
	</form>
	 <div class="row">
		<section class="col col-12">
        	<div class="col col-12">
             {if condition="count($PagingList)>1"}
                <nav>
                  <ul class="pagination">
                  {if="$PageSelected!=1"}
                  	<li>
                      <a href='javascript://' onclick="return GotoPage(1);"  title="First Page" aria-label="Previous">
                        <span aria-hidden="true">First</span>
                      </a>
                    </li>
                    <li>
                      <a href='javascript://' onclick="return GotoPage({$PageSelected-1});"  title="Previous" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                   {/if}
                   {loop="PagingList"} 
                   		 {if="$PageSelected==$value.PageNo"} 
                            <li class="active"><a href='javascript://' title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                          {else}
                          	<li><a href='javascript://' onclick="return GotoPage({$value.PageNo});" title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                          {/if}   
                    {/loop}
                     {if="$PageSelected!=$lastPage"}
                        <li>
                          <a href='javascript://' onclick="return GotoPage({$PageSelected+1});" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                        <li>
                          <a href='javascript://' onclick="return GotoPage({$lastPage});" aria-label="Last Page">
                           Last
                          </a>
                        </li>
                    {/if}
                  </ul>
                </nav>
              {/if}  
            </div>
			<table border="0" id="igs-table">
				 <thead>
                    <tr>
                      <th width="7%">EIN</th>
                      <th width="20%">Name</th>
                      <th width="15%">Category</th>
                      <th width="10%">City</th>
                      <th width="8%">State</th>
                      <th width="5%">Deduction</th>
                      <th width="5%">Status</th>
                      <th width="30%">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                 {if="$nposlist"}
                    {loop="nposlist"}
                        <tr>
                            <td data-title="EIN" valign="top">
                            {if="$value.NPO_EIN!=''"}
                            <a href='{#URL#}npos/index/edit-npos/{$value.NPO_ID|keyEncrypt}' class="link-text" title="Edit NPOs">
                            {$value.NPO_EIN}
                            </a>
                            {else} &nbsp; {/if}</td>
                            <td data-title="Name" valign="top" class="wordbreak">
                            {if="$value.NPO_Name!=''"}
                            <a href='{#URL#}npos/index/edit-npos/{$value.NPO_ID|keyEncrypt}' class="link-text" title="Edit NPOs">
                            {$value.NPO_Name}
                            </a>
                            {else} &nbsp; {/if}</td>
                            <td data-title="Category" valign="top" class="wordbreak">{if="$value.NPO_SubSectionName!=''"}{$value.NPO_SubSectionName}{else} &nbsp; {/if}</td>
                             <td data-title="City" valign="top" class="wordbreak">{if="$value.NPO_City!=''"}{$value.NPO_City}{else} &nbsp; {/if}</td>
                            <td data-title="State" valign="top" class="wordbreak">{if="$value.State_Name!=''"}{$value.State_Name}{else} &nbsp; {/if}</td>
                            <td data-title="Deduction" valign="top"><center>{if="$value.NPO_DedCode!=''"}{$value.NPO_DedCode}{else} &nbsp; {/if}</center></td>
                            <td data-title="Status" valign="top">{if="$value.NPO_Status=='1'"}<span class="icon active margin-left-15" title="Active"></span>{else}<span class="icon inactive margin-left-15" title="Inactive"></span>{/if}</td>
                            <td data-title="Action" valign="top">
                                <a href='{#URL#}npobanks/index/list-bank/{$value.NPO_EIN|keyEncrypt}/{$NullValue}/{$filterUrl}' class="link-text" title="Bank">Banks</a>&nbsp;
                                <a href='{#URL#}npocontacts/index/list-contacts/{$value.NPO_EIN|keyEncrypt}/{$NullValue}/{$filterUrl}' class="link-text" title="Contact">Contacts</a>&nbsp;
                                <a href='javascript:' class="link-text" title="Donation">Donations</a>&nbsp;
                                <a href='{#URL#}campaign/index/list/NULL/{$value.NPO_EIN|keyEncrypt}/{$filterUrl}' class="link-text" title="Campaign">Campaigns</a>&nbsp;
                                <a href='javascript:' class="link-text" title="Donors">Donors</a>
                            </td>
                        </tr>
                    {/loop}
                  {else}
                        <tr><td colspan="8" class="text-center">No Record Found.</td></tr>
                  {/if}
                </tbody>
			</table>
            
            
		</section>
	</div>
</div>





















<div id="rightSection">
  <div class="rightPannel">
    <div class="breadcrumb">
      <ul>
        <li title="Dashboard"><a href='{#URL#}home/'><img src='{#RESOURCES#}img/dashboard_thumb.png'/>Dashboard</a></li>
        <li>&nbsp;»&nbsp;</li>
        <li title="NPOs">Non-Profit organization</li>
        <li>&nbsp;»&nbsp;</li>
        <li title="NPOs List">Listing</li>
      </ul>
    </div>
    <div class="contentSection">
      	<div class="pageHeader text-left pull-left"><li class="fa fa-fw fa-file-text iColor"></li>&nbsp;Non-Profit organization - List</div>
        <!--button right section -->
        <div class="pull-right">
          <a href='{#URL#}npocategory' class="btn btn-secondary" title="Manage Categories"><i class="fa fa-list-ul"></i>&nbsp;Manage Categories</a>
          <a href='{#URL#}npos/index/add-npos' class="btn btn-secondary" title="Add NPOs"><i class="fa fa-edit"></i>&nbsp;Add NPOs</a>
          <a href='{#URL#}npos/index/import-csvfile' class="btn btn-secondary" title="Import CSV"><i class="fa fa-download "></i>&nbsp;Imoprt CSV</a>
        </div>
        {include="common/message"}
        <div class="pageSubHeader overflow-hidden psTitle">
            <div class="pull-left margin-left-10">
                 Filters
            </div>
        </div>
       <div class="overflow-hidden">
       <form class="sky-form" id="formSection" name="formSection" method="get" autocomplete="off" action="{#URL#}npos">
      		<input type="hidden" name="pageNumber" id="pageNumber" value=""  />
            <input type="hidden" name="categoryparentid" id="categoryparentid" value="{$categoryparentid}"/>
            <input type="hidden" name="filterUrl" id="filterUrl" value="{$filterUrl}"/>
             <div class="row">
					<div class="viewmorSection" >
                    	<section class="col col-3 pull-left">
                            <label class="select">
                            <select name="category" id="category">
								<option value="">Category</option>
                                {loop="category"}
                                <option value="{$value.NPOCat_CodeName}" {if="$searchcategory == $value.NPOCat_CodeName"} selected='selected' {/if} id="{$value.NPOCat_ID}">
                                	{$value.space} {$value.NPOCat_DisplayName_EN}
                                </option>
                                {/loop}
                            </select>
                            <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-2 pull-left">
                            <label class="select">
                            <select name="state" id="state">
								<option value="">State</option>
                                {loop="state"}
                                {if="$value.State_Name != ''"}
                                <option value="{$value.State_Value}" {if="$SearchState === $value.State_Value"} selected='selected' {/if}>{$value.State_Name}</option>
                                {/if}
                                {/loop}
                            </select>
                            <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-2 pull-left">
                            <label class="select">
                            <select name="city" id="city">
								<option value="">City</option>
                                {loop="CityList"}
                                <option value="{$value.NPO_City}" {if="$Searchcity == $value.NPO_City"} selected='selected' {/if}>{$value.NPO_City}</option>
                                {/loop}
                            </select>
                            <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-2 pull-left">
                            <label class="select">
                            <select name="status" id="status">
								<option value="">Status</option>
                                <option value="1" {if="$status == '1'"} selected='selected' {/if}>Active</option>
                                <option value="0" {if="$status == '0'"} selected='selected' {/if}>Inactive</option>
                            </select>
                            <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-3 pull-left">
                            <label class="select">
                            <select name="deductionmode" id="deductionmode">
								<option value="">Deduction Mode</option>
                                {loop="DeductionMode"}
                                <option value="{$value.NPO_DedCode}" {if="$deductionmode == $value.NPO_DedCode"} selected='selected' {/if}>{$value.NPO_DedDescription}</option>
                                {/loop}
                            </select>
                            <i></i>
                            </label>
                        </section>
                    </div>
             </div>
             
             <div class="row">
					<div class="viewmorSection" >
                    	<section class="col col-2">
                            <label class="select">Text Search</label>
                            <label class="select">
                                <select name="fields" id="fields">
                                    <option value="">-Any Where-</option>
                                    <option value="N.NPO_Name" {if="$fields=='N.NPO_Name'"} selected='selected' {/if}>Name</option>
                                    <option value="N.NPO_EIN"  {if="$fields=='N.NPO_EIN'"} selected='selected' {/if}>EIN</option>
                                    <option value="N.NPO_Street" {if="$fields=='N.NPO_Street'"} selected='selected' {/if}>Street</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-2 margin-top-20">
                            <label class="select">
                                <select name="condition" id="condition">
                                    <option value="0" {if="$comparecondition == 0"} selected='selected' {/if}>Is Like</option>
                                    <option value="1" {if="$comparecondition == 1"} selected='selected' {/if}>Start With</option>
                                    <option value="2" {if="$comparecondition == 2"} selected='selected' {/if}>Exact Match</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-4 margin-top-20">
                            <label class="input">
                                <input type="text" id="keyword" name="keyword"  value="{$keyword}"   placeholder="Search Keyword"/>
                            </label>
                        </section>
                        
                        <section class="col col-4 margin-top-20">
                        <button type="submit" name="search" value="search" id="search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Show Result</button>
                        <button type="button" name="reset" value="reset" class="btn btn-danger" onClick="reloadPage();"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
                        <button type="button" name="export" value="Export Result" id="export" class="btn btn-secondary" onclick="ExportData()"><i class="fa fa-search"></i>&nbsp;Export Result</button>
                        </section>
                    </div>
             </div>
             
        	</form>
	   </div>
       <!--commented code -->
       {if="$totalnpos > 0"}<!--start total count condition -->
       <div class="pageSubHeader overflow-hidden psTitle">
           <div class="pull-left margin-left-10 margin-top-10">
                 Showing {$startRecord}-{$endRecord} of {$totalnpos} records
           </div>
            <div class="pull-right margin-right-10">
            	{if condition="count($PagingList)>1"}
                <ul class="pagination pagination-sm margin-top-5">
                    {if="$PageSelected!=1"}
                        <li class="paginate_button previous"><a href='javascript://' onClick="return GotoPage(1);"  title="First Page">First</a></li>
                        <li class="paginate_button previous"><a href='javascript://' onClick="return GotoPage({$PageSelected-1});"  title="Previous">«</a></li>
                    {/if}
                    {loop="PagingList"} 
                        {if="$PageSelected==$value.PageNo"}
                            <li class="active paginate_button"><a title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                        {else}
                            <li class="paginate_button"><a href='javascript://' onClick="return GotoPage({$value.PageNo});" title="Page No {$value.PageNo}" >{$value.PageNo}</a></li>
                        {/if} 
                    {/loop}
                    {if="$PageSelected!=$lastPage"}
                        <li class="paginate_button next"><a href='javascript://' onClick="return GotoPage({$PageSelected+1});"  title="Next">»</a></li>
                        <li class="paginate_button next"><a href='javascript://' onClick="return GotoPage({$lastPage});"  title="Last Page">Last</a></li>
                    {/if}
                </ul>
            {/if}
            </div>
       </div>
       {/if}<!--end total count condition -->
        <!--<div class="overflow-hidden ">
        <div class="pull-left margin-top-10"><label class="label">Showing {$startRecord}-{$endRecord} of {$totalnpos} records </label> </div>
        <div class="overflow-hidden pull-right">
            {if condition="count($PagingList)>1"}
                <ul class="pagination pagination-sm">
                    {if="$PageSelected!=1"}
                        <li class="paginate_button previous"><a href='javascript://' onClick="return GotoPage(1);"  title="First Page">First</a></li>
                        <li class="paginate_button previous"><a href='javascript://' onClick="return GotoPage({$PageSelected-1});"  title="Previous">«</a></li>
                    {/if}
                    {loop="PagingList"} 
                        {if="$PageSelected==$value.PageNo"}
                            <li class="active paginate_button"><a title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                        {else}
                            <li class="paginate_button"><a href='javascript://' onClick="return GotoPage({$value.PageNo});" title="Page No {$value.PageNo}" >{$value.PageNo}</a></li>
                        {/if} 
                    {/loop}
                    {if="$PageSelected!=$lastPage"}
                        <li class="paginate_button next"><a href='javascript://' onClick="return GotoPage({$PageSelected+1});"  title="Next">»</a></li>
                        <li class="paginate_button next"><a href='javascript://' onClick="return GotoPage({$lastPage});"  title="Last Page">Last</a></li>
                    {/if}
                </ul>
            {/if}
        </div>
        </div>-->
        <!--commented code -->
        <table cellpadding="0" cellspacing="0" width="100%" border="0" id="sky-table">
          <thead>
            <tr>
              <th width="7%">EIN</th>
              <th width="20%">Name</th>
              <th width="15%">Category</th>
              <th width="10%">City</th>
              <th width="8%">State</th>
              <th width="5%">Deduction</th>
              <th width="5%">Status</th>
              <th width="30%">Action</th>
            </tr>
          </thead>
          <tbody>
         {if="$nposlist"}
          	{loop="nposlist"}
                <tr>
                    <td data-title="EIN" valign="top">
                    {if="$value.NPO_EIN!=''"}
                    <a href='{#URL#}npos/index/edit-npos/{$value.NPO_ID|keyEncrypt}' class="page-link" title="Edit NPOs">
                    {$value.NPO_EIN}
                    </a>
                    {else} &nbsp; {/if}</td>
                    <td data-title="Name" valign="top" class="wordbreak">
                    {if="$value.NPO_Name!=''"}
                    <a href='{#URL#}npos/index/edit-npos/{$value.NPO_ID|keyEncrypt}' class="page-link" title="Edit NPOs">
                    {$value.NPO_Name}
                    </a>
                    {else} &nbsp; {/if}</td>
                    <td data-title="Category" valign="top" class="wordbreak">{if="$value.NPO_SubSectionName!=''"}{$value.NPO_SubSectionName}{else} &nbsp; {/if}</td>
                     <td data-title="City" valign="top" class="wordbreak">{if="$value.NPO_City!=''"}{$value.NPO_City}{else} &nbsp; {/if}</td>
                    <td data-title="State" valign="top" class="wordbreak">{if="$value.State_Name!=''"}{$value.State_Name}{else} &nbsp; {/if}</td>
                    <td data-title="Deduction" valign="top"><center>{if="$value.NPO_DedCode!=''"}{$value.NPO_DedCode}{else} &nbsp; {/if}</center></td>
                    <td data-title="Status" valign="top">{if="$value.NPO_Status=='1'"}<span class="icon active margin-left-15" title="Active"></span>{else}<span class="icon inactive margin-left-15" title="Inactive"></span>{/if}</td>
                    <td data-title="Action" valign="top">
                    	<a href='{#URL#}npobanks/index/list-bank/{$value.NPO_EIN|keyEncrypt}/{$NullValue}/{$filterUrl}' class="page-link" title="Bank">Banks</a>&nbsp;
                        <a href='{#URL#}npocontacts/index/list-contacts/{$value.NPO_EIN|keyEncrypt}/{$NullValue}/{$filterUrl}' class="page-link" title="Contact">Contacts</a>&nbsp;
                        <a href='javascript:' class="page-link" title="Donation">Donations</a>&nbsp;
                        <a href='{#URL#}campaign/index/list/NULL/{$value.NPO_EIN|keyEncrypt}/{$filterUrl}' class="page-link" title="Campaign">Campaigns</a>&nbsp;
                        <a href='javascript:' class="page-link" title="Donors">Donors</a>
                    </td>
                </tr>
            {/loop}
          {else}
				<tr><td colspan="8" class="text-center">No Record Found.</td></tr>
          {/if}
        </tbody>
        </table>
         <!--<div class="overflow-hidden pull-right">
            {if condition="count($PagingList)>1"}
                <ul class="pagination pagination-sm">
                    {if="$PageSelected!=1"}
                        <li class="paginate_button previous"><a href='javascript://' onClick="return GotoPage(1);"  title="First Page">First</a></li>
                        <li class="paginate_button previous"><a href='javascript://' onClick="return GotoPage({$PageSelected-1});"  title="Previous">«</a></li>
                    {/if}
                    {loop="PagingList"} 
                        {if="$PageSelected==$value.PageNo"}
                            <li class="active paginate_button"><a title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                        {else}
                            <li class="paginate_button"><a href='javascript://' onClick="return GotoPage({$value.PageNo});" title="Page No {$value.PageNo}" >{$value.PageNo}</a></li>
                        {/if} 
                    {/loop}
                    {if="$PageSelected!=$lastPage"}
                        <li class="paginate_button next"><a href='javascript://' onClick="return GotoPage({$PageSelected+1});"  title="Next">»</a></li>
                        <li class="paginate_button next"><a href='javascript://' onClick="return GotoPage({$lastPage});"  title="Last Page">Last</a></li>
                    {/if}
                </ul>
            {/if}
        </div>-->
    </div>
  </div>
</div>
