<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/bootstrap-datepicker.css'>
<script type="text/javascript" src='{#RESOURCES#}js/bootstrap-datepicker.js'></script>
<script type="text/javascript">
	$(function()
	{	
		$('#StartDate').datepicker();
		$('#StartDate').datepicker().on('changeDate', function (ev)
		{
			if(ev.viewMode == "days")
			{
				$('#StartDate').datepicker('hide');
				maxDate: jQuery('#StartDate').datepicker("getDate")

			}
		});
		
		$('#EndDate').datepicker();
		$('#EndDate').datepicker().on('changeDate', function (ev)
		{
			if(ev.viewMode == "days")
			{
				$('#EndDate').datepicker('hide');
				maxDate: jQuery('#EndDate').datepicker("getDate")

			}
		});
		
		
	});			
</script>
<script>
function ExportData() {
	var ActionUrl	= SITEURL + 'donationpayment/index/export-donationpayment';
	$('#formSection').attr('action', ActionUrl);
	$('#formSection').submit();
	$('#formSection').attr('action', '');
}
</script>
<ul class="breadcrumb">
  <li title="Dashboard"><a href='{#URL#}home/'>Dashboard</a></li>
  <li title="Donation Payment">Donation Payment</li>
  <!--<li title="NPOs List">Listing</li>-->
</ul>
{include="common/message"}
<div class="oh">
  <div class="col col-4">
    <h1 class="heading-1">Donation Payment - List</h1>
  </div>
</div>
<div id="content-box" class="igs-form">
  <form id="formSection" name="formSection" method="get" autocomplete="off" action="{#URL#}donationpayment">
    <input type="hidden" name="pageNumber" id="pageNumber" value=""  />
    <div class="section-heading">Filter Result <a href='javascript://' class="form-toggle-icon"><i class="fa fa-minus-square-o"></i></a></div>
    <div class="content-section">
      <fieldset>
        <div class="row">
          <section class="col col-4 ">
            <label class="select">From Date</label>
            <div class="input-append date" id="StartDate" data-date="" data-date-format="mm/dd/yyyy">
              <label class="input"> <i class="icon-append fa fa-calendar add-on"></i>
                <input type="text" class="datepickerInput" name="StartDate" id="StartDate"  value='{|formatDate:$StartDate,"m/d/Y"}' readonly="readonly" />
              </label>
            </div>
          </section>
          <section class="col col-4 ">
            <label class="select">To Date</label>
            <div class="input-append date" id="EndDate" data-date="" data-date-format="mm/dd/yyyy">
              <label class="input"> <i class="icon-append fa fa-calendar add-on"></i>
                <input type="text" class="datepickerInput" name="EndDate" id="EndDate"  value='{|formatDate:$EndDate,"m/d/Y"}' readonly="readonly" />
              </label>
            </div>
          </section>
          <section class="col col-4">
            <label class="select">Keyword</label>
            <label class="input">
              <input type="text" id="keyword" name="keyword"  value="{$keyword}" placeholder="Search Keyword" />
            </label>
          </section>
        </div>
      </fieldset>
      <div class="form-footer">
        <button type="submit" name="search" value="search" id="search" class="button-1"><i class="fa fa-search"></i>&nbsp;Show Result</button>
        <button type="button" name="reset" value="reset" class="button-2" onClick="location.href='{#URL#}donationpayment';"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
        {if="$donationpaymentlist"}
        <button type="button" name="export" value="Export Result" id="export" class="button-2" onclick="ExportData()"><i class="fa fa-search"></i>&nbsp;Export Result</button>
        {/if}
      </div>
    </div>
  </form>
  <div class="row">
    <section class="col col-12"> 
      {if condition="count($donationpaymentlist)>0"}
      <div class="record-found pull-left">Showing {$startRecord}-{$endRecord} of {$totalnpos} records</div>
      {/if}
      <table border="0" id="igs-table" class="pull-left">
        <tr>
          <th width="7%">PDD ItemCode</th>
          <th width="20%">PDD NPOEIN</th>
          <th width="15%">PDD PIItemName</th>
          <th width="10%">PDD Cost ($)</th>
          <th width="8%">PDD TransactionFee ($)</th>
          <th width="15%">PDD SubTotal ($)</th>
          <th width="15%">Action</th>
        </tr>
        {if="$donationpaymentlist"}
        {loop="$donationpaymentlist"}
        <tr>
          <td data-title="ItemCode"  class="wordbreak">{$value.PDD_ItemCode}</td>
          <td data-title="NPOEIN"  class="wordbreak">{$value.PDD_NPOEIN}</td>
          <td data-title="PIItemName"  class="wordbreak">{$value.PDD_PIItemName}</td>
          <td data-title="Cost ($)"  class="wordbreak">{$value.PDD_Cost}</td>
          <td data-title="TransactionFee ($)"  class="wordbreak">{$value.PDD_TransactionFee}</td>
          <td data-title="SubTotal ($)"  class="wordbreak">{$value.PDD_SubTotal}</td>
          <td data-title="Action" ><a href='javascript://' class="link-text" title="Bank">View Detail</a>&nbsp; </td>
        </tr>
        {/loop}
        {else}
        <tr>
          <td colspan="7" class="text-center">No Record Found.</td>
        </tr>
        {/if}
      </table>
    </section>
  </div>
  
  <!-- pagination start-->
  <div class="row">
    <div class="col col-12"> 
    {if condition="count($PagingList)>1"}
      <nav>
        <ul class="pagination">
          {if="$PageSelected!=1"}
          <li> <a href='javascript://' onclick="return GotoPage(1);"  title="First Page" aria-label="Previous"> <span aria-hidden="true">First</span> </a> </li>
          <li> <a href='javascript://' onclick="return GotoPage({$PageSelected-1});"  title="Previous" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
          {/if}
          {loop="PagingList"} 
          {if="$PageSelected==$value.PageNo"}
          <li class="active"><a href='javascript://' title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
          {else}
          <li><a href='javascript://' onclick="return GotoPage({$value.PageNo});" title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
          {/if}   
          {/loop}
          {if="$PageSelected!=$lastPage"}
          <li> <a href='javascript://' onclick="return GotoPage({$PageSelected+1});" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
          <li> <a href='javascript://' onclick="return GotoPage({$lastPage});" aria-label="Last Page"> Last </a> </li>
          {/if}
        </ul>
      </nav>
      {/if} 
    </div>
  </div>
  <!-- pagination end--> 
</div>
