<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/cart.css'>
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/popup.css'>
<script type="text/javascript" src='{#RESOURCES#}js/jquery.magnific-popup.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/cart.js'></script>
</head><body id="body">
<div class="overlay">Updating Cart..</div>
<div class="gray-fix-nav"> {include="top/top"} </div>
<section class="fix-first-section"> </section>
<section class="section-padding">
  <div class="container"> 
  {if="$msgValues!=NULL"}
    <div id="msgSection" class="margin-top-10"> 
    {if condition="$msgValues!=null"}
      {if condition="$msgValues.msgType==1"}
      <div class="alert alert-danger text-center"> <span>{$msgValues.ErrorMsg}</span> </div>
      {elseif condition="$msgValues.msgType==2"}
      <div class="alert alert-success text-center"> <span>{$msgValues.ConfirmationMsg}</span> </div>
      {/if}                                          
  	{/if} 
  	</div>
    {/if}
    <div class="row"> {$pageheading} </div>
    <form name="cart-form" id="cart-form" method="post" action="#">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12"> 
        {if="$cartCount>0"}
          <div class="cart-section">
            <div class="selection-row">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="heading-2">{#_Your_Selection_#}</div>
                  <div class="fundraiser-box"><span></span>{#_FUNDRAISERS_#}</div>
                  <div class="npo-box"><span></span>{#_NPO_#}</div>
                  <div class="learn-more"><a href='#selection_learnmore' class="t-blue link-btn learnmore_popup" title="Click here to learn more">{#_LEARN_MORE_#}</a></div>
                </div>
              </div>
            </div>
            <div class="registered-fundraiser"> 
              <!--Fundraiser section start here --> 
              {$FUNDARISERTotal=0}
              {$FUNDARISERTotal_Payable=0}
              {if="isset($CartList.FUNDARISER)"}
              {loop="$CartList.FUNDARISER"}
              <div class="donors-details">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 donor-info">
                    <div class="heading-2"> {$value.Title} </div>
                    <div class="heading-3"><i class="fa fa-map-marker"></i>{$value.City}{if="$value.State!=''"}, {$value.State}{/if} {if="$value.Zipcode!=''"}- {$value.Zipcode}{/if}
                      {if="$value.Category!=NULL"},{$value.Category}{/if} 
                    </div>
                    <div class="heading-3 mt-5 oh">
                      <label class="checkbox pull-left">
                        <input type="checkbox" name="anonymousName" id="FUNDARISER1_{$key}" class="anonymous" value="1" onchange="updateComment('FUNDARISER1_{$key}')" {if="$value.KeepAnonymous==1"}checked="checked"{/if}>
                        <i></i>Keep my name anonymous. <a href='javascript://' class="text-bold link-btn commentOpener">Leave comment</a></label>
                      <label class="pull-left ml-5">&nbsp;<a href='#transactionfee' class="f-14 t-gray link-btn transactionfee_popup" title="#"><i class="fa fa-question-circle"></i></a></label>
                    </div>
                    <div class="row {if="$value.Comment==''"}dn{/if} cartComment">
                      <div class="col-md-12">
                        <div class="heading-3">
                          <input type="text" name="comment" id="FUNDARISER_{$key}" placeholder="Write your comment here" class="form-control comment " value="{$value.Comment}" onchange="updateComment('FUNDARISER_{$key}')" />
                          <input type="hidden" name="commentHidden" id="COMMENTHIDE_{$key}" value="{$value.Comment}" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 basket-icons-col">
                    <div class="row text-center t-black f-11">
                      <div class="col-md-6 col-sm-6 col-xs-7"> <a href='javascript://' class="tax-exempted-btn t-gray"> {if condition="$value.TaxExempt==1"} <span class="db"><i class="fa fa-tag"></i></span> <span class="db">{#_TAX_EXEMPTED_#}</span> {/if} </a> </div>
                      <div class="col-md-6 col-sm-6 col-xs-5"> 
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 amount-col">
                    <div class="row">
                      <div class="col-md-7 col-sm-7 col-xs-7">
                        <div class="form-group amount-box">
                          <input type="text" class="form-control amt FUNDARISER{$key}" name="amt" id="FUNDARISER|{$key}" tabindex="FUNDARISER{$key}" placeholder="Amount" value="{$value.Donation_Amount}" />
                          <label class="label" for="amount">{#_DONATION_AMOUNT_#}($)</label>
                        </div>
                      </div>
                      <div class="col-md-5 col-sm-5 col-xs-5">
                        <div class="remove-donation-btn"> 
                        	<a href='javascript://'> <span onclick="RemoveItem('FUNDARISER|'+{$key})"><i class="fa fa-times-circle"></i></span> <span onclick="RemoveItem('FUNDARISER|'+{$key})">{#_REMOVE_BASKET_#}</span> </a> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {$FUNDARISERTotal=$FUNDARISERTotal+$value.Donation_Amount}
              {$FUNDARISERTotal_Payable=$FUNDARISERTotal_Payable+$value.Payable}
              {/loop}
              {/if} 
              <!-- Fundraiser section end here --> 
              <!-- non profit registered section start here --> 
              {$NPORTotal=0}
              {$NPORTotal_Payable=0}
              {if="isset($CartList.NPOR)"}                            
              {loop="$CartList.NPOR"}
              <div class="donors-details">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 donor-info">
                    <div class="npo-organization-name heading-2">{$value.Title}</div>
                    <div class="heading-3"><i class="fa fa-map-marker"></i>{$value.City}{if="$value.State!=''"}{/if} {if="$value.Zipcode!=''"}{/if}
                      {if="$value.Category!=NULL"},{$value.Category}{/if}
                    </div>
                    <div class="reoccurring-box">
                      <div class="row">
                        <div class="col-lg-9 col-md-8 col-sm-7 col-xs-7"><span class="t-gray text-bold">{#_RECCURING_MODE_#}</span> <span class="db mt-5">
                          <label class="checkbox">
                            <input type="radio" name="mode|{$key}"  id="NPOR|{$key}"  class="mode" value="m"{if="$value.Recurring_Mode=='m'"}checked="checked"{/if} />
                            <i></i>Monthly</label>
                          <label class="checkbox">
                            <input type="radio" name="mode|{$key}"  id="NPOR|{$key}"  class="mode" value="q"{if="$value.Recurring_Mode=='q'"}checked="checked"{/if} />
                            <i></i>Quaterly</label>
                          <label class="checkbox">
                            <input type="radio" name="mode|{$key}"  id="NPOR|{$key}"  class="mode" value="h"{if="$value.Recurring_Mode=='h'"}checked="checked"{/if} />
                            <i></i>Half Yearly</label>
                          <label class="checkbox">
                            <input type="radio" name="mode|{$key}"  id="NPOR|{$key}"  class="mode" value="y"{if="$value.Recurring_Mode=='y'"}checked="checked"{/if} />
                            <i></i>Yearly
                          </label>
                          </span> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 basket-icons-col">
                    <div class="row text-center t-black f-11">
                      <div class="col-md-6 col-sm-6 col-xs-7"> 
                      	<a href='javascript://' class="tax-exempted-btn t-gray"> {if condition="$value.TaxExempt==1"} <span class="db"><i class="fa fa-tag"></i></span> <span class="db">{#_TAX_EXEMPTED_#}</span> {/if} </a> 
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-5"> 
                      	<a href='javascript://' class="reoccurring-btn t-gray"> <span class="db"><i class="fa fa-table"></i></span> <span class="db">{#_WANT_RECURING_#}</span> </a> 
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 amount-col">
                    <div class="row">
                      <div class="col-md-7 col-sm-7 col-xs-7">
                        <div class="form-group amount-box">
                          <input type="text" class="form-control amt NPOR{$key}" name="amt" id="NPOR|{$key}" tabindex="NPOR{$key}" placeholder="Amount" value="{$value.Donation_Amount}" />
                          <label class="label" for="amount">{#_DONATION_AMOUNT_#}($)</label>
                        </div>
                      </div>
                      <div class="col-md-5 col-sm-5 col-xs-5">
                        <div class="remove-donation-btn"> <a href='javascript://'> <span onclick="RemoveItem('NPOR|'+{$key})"><i class="fa fa-times-circle"></i></span> <span onclick="RemoveItem('NPOR|'+{$key})">{#_REMOVE_BASKET_#}</span> </a> 
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {$NPORTotal=$NPORTotal+$value.Donation_Amount}
              {$NPORTotal_Payable=$NPORTotal_Payable+$value.Payable}
              {/loop}
              {/if} 
              <!-- non profit registered section end here --> 
            </div>
            {if="isset($CartList.NPOR) || isset($CartList.FUNDARISER)"}
            <div class="row sub-total text-right">
              <div class="col-lg-offset-7 col-lg-4 col-md-offset-7 col-md-4 col-sm-offset-6 col-sm-5 col-xs-12">
                <div class="row">
                  <div class="col-lg-9 col-md-8 col-sm-8 col-xs-6 mobile-text-left">{#_YOU_PAY_#} {#_SUB_TOTAL_#}</div>
                  {$FUNDARISERTotal_Payable=0}
                  {$FUNDARISER_NPOTotal_Payable=$FUNDARISERTotal_Payable+$NPORTotal_Payable}
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 NPORSubTotal">${$FUNDARISER_NPOTotal_Payable|PriceFormat}</div>
                </div>
              </div>
            </div>
            {/if}
            {$NPONRTotal=0}
            {if="isset($CartList.NPONR)"}
            <div class="nonRegistered-fundraiser"> 
              <!-- non profit section start here --> 
              {$nonRegisteredheadbar}
              {loop="$CartList.NPONR"}
              <div class="donors-details">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 donor-info">
                    <div class="npo-organization-name heading-2">{$value.Title}</div>
                    <div class="heading-3"><i class="fa fa-map-marker"></i>{$value.City}{if="$value.State!=''"}, {$value.State}{/if} {if="$value.Zipcode!=''"}- {$value.Zipcode}{/if}
                      {if="$value.Category!=NULL"},{$value.Category}{/if}
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 basket-icons-col">
                    <div class="row text-center t-black f-11">
                      <div class="col-md-6 col-sm-6 col-xs-7"> <a href='javascript://' class="tax-exempted-btn t-gray"> {if condition="$value.TaxExempt==1"} <span class="db"><i class="fa fa-tag"></i></span> <span class="db">{#_TAX_EXEMPTED_#}</span> {/if} </a> </div>
                      <div class="col-md-6 col-sm-6 col-xs-5"> 
                        <!--RECURRING ITEMS will add here--> 
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 amount-col">
                    <div class="row">
                      <div class="col-md-7 col-sm-7 col-xs-7">
                        <div class="form-group amount-box">
                          <input type="text" class="form-control amt NPONR{$key}" name="amt" value="{$value.Donation_Amount}" tabindex="NPONR{$key}" id="NPONR|{$key}" placeholder="Amount" />
                          <label class="label" for="amount">{#_DONATION_AMOUNT_#}($)</label>
                        </div>
                      </div>
                      <div class="col-md-5 col-sm-5 col-xs-5">
                        <div class="remove-donation-btn"> <a href='javascript://'> <span onclick="RemoveItem('NPONR|'+{$key})"><i class="fa fa-times-circle"></i></span> <span onclick="RemoveItem('NPONR|'+{$key})">{#_REMOVE_BASKET_#}</span> </a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {$NPONRTotal=$NPONRTotal+$value.Donation_Amount}
              {$NPONRTotal_Payable=$NPONRTotal_Payable+$value.Payable}
              {/loop}
              {$NPONRTotal_Payable=PriceFormat($NPONRTotal_Payable)} 
              <!-- non profit section end here --> 
            </div>
            {/if}	
            {if="isset($CartList.NPONR)"}
            <div class="row sub-total text-right">
              <div class="col-lg-offset-7 col-lg-4 col-md-offset-7 col-md-4 col-sm-offset-6 col-sm-5 col-xs-12">
                <div class="row">
                  <div class="col-lg-9 col-md-8 col-sm-8 col-xs-6 mobile-text-left">{#_YOU_PAY_#} {#_SUB_TOTAL_#}</div>
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 NPONRSubTotal">${$NPONRTotal_Payable|PriceFormat}</div>
                </div>
              </div>
            </div>
            {/if}
            {if="isset($CartList.NPOR) || isset($CartList.NPONR)|| isset($CartList.FUNDARISER)|| isset($CartList.AMBASSADOR)"}
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="total-amount-section">
                  <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-center"> {if="$continue_to_donate_url!=''"} <a href='{#URL#}{$continue_to_donate_url}' class="button-2 col-xs-12" title="Click here to add more"> &lt;&lt; Add More Charity</a> {/if} </div>
                    <div class="col-lg-offset-4 col-lg-4 col-md-offset-2 col-md-5 col-sm-6 col-xs-12">
                      <div class="total-amount">
                        <div class="row">
                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">{#_TOTAL_#}</div>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 total">${$CartList.calculation.Total|PriceFormat}</div>
                        </div>
                        <div class="row">
                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">{#_DONASITY_TRANSACTION_FEE_#}
                            <label class="checkbox">
                              <input type="checkbox" name="TransactionFeePaidByUser" id="TransactionFeePaidByUser" value="0" {if="$CartList.calculation.TransactionFeePaidByUser==0"}checked="checked"{/if}>
                              <i></i>Include transaction fee {#TRANSACTION_FEE#}% in total payment
                              &nbsp;<a href='#transactionfee' class="f-14 t-blue link-btn transactionfee_popup" title="#">What is this</a> </label>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 transfee">${$CartList.calculation.TransactionFee|PriceFormat}</div>
                        </div>
                        <div class="row">
                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">{#_DONASITY_DONATION_#}</div>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 totaldonation">${$CartList.calculation.TotalDonation|PriceFormat}</div>
                        </div>
                        <div class="row t-green you-pay-amount">
                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">{#_YOU_PAY_#}</div>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 youpay">${$CartList.calculation.TotalPay|PriceFormat}</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12 mobile-text-center mt-10">
                            <a href='javascript://' class="button-1 continue-donate-btn col-xs-12 large-btn" title="Click here to continue">{#_CONTINUE_DONATE_#}</a> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {/if} </div>
          {else}
          {$emptyDonationBasketMessage}
          {/if}
        </div>
      </div>
    </form>
  </div>
</section>
{include="bottom/bottom"}
{$transactionfee_whatisthis}
{$selectionlearnmore_popup}
{$npo_whatisthis}
<div id="commentFundraiser" class="mfp-hide white-popup-block">
  <div class="popup-section">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 cms-section">
        <h2 class="heading-1">Comment</h2>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor mauris quis vulputate placerat. Vivamus urna enim, ultricies ut bibendum ornare, mattis quis nisi. Nam elementum diam ante, eu ornare purus luctus sed. Sed cursus luctus mi, nec pulvinar ipsum aliquet ut. Nam rhoncus rutrum tempus. Etiam ut malesuada est, eu viverra lacus. Proin nec aliquet nisl. Praesent a interdum nulla, eu fringilla arcu. Maecenas aliquet lorem consectetur urna molestie commodo. Integer nec metus mauris. Curabitur facilisis et magna vitae volutpat.</span></div>
    </div>
  </div>
</div>
</body>
</html>
