<script type="text/javascript" src='{#RESOURCES#}js/validateconfig.js'></script>
<script type="text/javascript">
	$(document).ready(function()
	{
		$('.viewmoreBtn i').click(function()
		{
			 $(this).toggleClass("fa-plus fa-minus");
		 	$(this).closest('.row').find('.viewmorSection').slideToggle();
		
		});
		
		$('#configCode').keyup(function()
		{
			 var text='';
			 var configCode = $(this).val().split('||');
			 for (i = 0; i < configCode.length; i++) 
			 {
				 if(configCode.length-1==i)
				 {
    				text += "{_"+configCode[i].toUpperCase() + "_}";
				 }
				 else
				 {
					 text += "{_"+configCode[i].toUpperCase() + "_}"+" ";
				 }
			 }
			 $("#token").html(text);
		
		});
	});
</script>
<!--<link rel="stylesheet" type="text/css" href='{#RESOURCES#}css/style.css'>-->
<ul class="breadcrumb">
    <li title="Dashboard"><a href='{#URL#}home/'>Dashboard</a></li>
    <li title="Settings">Settings</li>
    <li title="Configuration - Edit">Configuration - Edit</li>
</ul>
 {include="common/message"}   
 <form id="configform" name="configform"  method="post" action='{#URL#}configuration/index/update/' autocomplete="off" class="igs-form"  >
 	<input type="hidden" name="configid" id="configid" value="{$arrConfigDetail.0.ConfigID}" />
    
 	<div class="oh">
       <div class="col col-6">
            <h1 class="heading-1">Configuration - Edit</h1>
        </div>
        <div class="col col-6 text-right mt-15">
        		<button type="submit" class="button-2" title="Add Static Page" value=""><i class="fa fa-save"></i>&nbsp;Save Changes</button>
                <a href='{#URL#}configuration/' class="button-2" title="Add Product"><li class="fa fa-list-ul"></li>&nbsp;Configuration List</a>
         </div>
    </div>
    <div id="content-box" >
    	<div class="section-heading text-left">	
           	 	<li class="fa fa-fw fa-file-text iColor"></li>&nbsp;Basic Configuration Details<a href='javascript://' class="form-toggle-icon"><i class="fa fa-minus-square-o"></i></a>
         	</div>
         <div class="content-section">
         	<fieldset>
                <div class="row">
                    <section class="col col-6 mt-5">
                        <label class="select">Code</label>
                        <label class="textarea">
                            <textarea name="configCode" id="configCode">{$arrConfigDetail.0.ConfigCode}</textarea>
                            <span>Use token as <span id="token" class="text-bold"> {$arrConfigDetail.0.ConfigCode|ConfigToken}</span> format</span>
                        </label>
                    </section>
                    <section class="col col-6 mt-5">
                        <label class="select">Value</label>
                        <label class="textarea">
                            <textarea name="configValue" id="configValue">{$arrConfigDetail.0.ConfigValue}</textarea>
                        </label>
                    </section>
                </div>
            </fieldset>        
         </div>   
    </div>
    <div class="content-section">
       		<fieldset>
                <div class="row mr-10 mb-10">
                	 <button type="submit" class="button-1 pull-right" title="Add Static Page" value=""><i class="fa fa-save"></i>&nbsp;Save Changes</button>
                </div>
            </fieldset>
      </div>
 </form>