<section class="fix-first-section fundraiser-page">
&nbsp;
</section>
<div class="container pt-10">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <h2 class="heading-2 quicksand-fonts mt-25 mb-25">{$Camp_Title}</h2>
            <section class="section-padding">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12 mb-5">
                        <img src='{#RESOURCES#}images/savepuppy.jpg' class="img-responsive" alt="image"></div>
                    <div class="col-md-7 col-sm-7 col-xs-12 lato-fonts">
                        <div class="text-bold f-18">ABOUT</div>
                        <div class="mt-5 f-16">
                           {$Camp_UserBio}
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-padding">
                <div class="row">
                <div class="col-md-12">
                    <p><span class="fundraiser-section-tab">Photo Gallery</span></p>
                    <div class="fundraiser-section photo-gallery-section">
                        <ul class="list-inline text-center m-0">
                        {loop="ImageDetail"}
                            <li><a href='{#CAMPAIGN_THUMB_IMAGE_URL#}{$value.Camp_Image_Name}' title="Click here to show image"><img src='{#CAMPAIGN_THUMB_IMAGE_URL#}{$value.Camp_Image_Name}' class="img-responsive" alt="image"></a></li> 
                            {/loop}                           
                           <!-- <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>                            
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>                            
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li> 
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>                            
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>                            
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>                            
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li> 
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>                            
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>                            
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>                            
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>
                            <li><a href="images/dummybglargeimg.jpg" title="Click here to show image"><img src='{#RESOURCES#}images/search-dummy.jpg' class="img-responsive" alt="image"></a></li>-->
                         </ul>
                    </div>
                </div>
            </div>
            </section>
            <section class="section-padding">
                <div class="row">
                    <div class="col-md-12">
                    	<div class="fundraiser-section">
	                    	<div class="fundraiser-video">
                                <div class="fundraiser-video-frame">
                                	<iframe src="https://www.youtube.com/embed/KljnWw-glu4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="fundraiser-video-frame dn">
                                	<iframe src="https://www.youtube.com/embed/XqxsR_AvstM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="fundraiser-video-frame dn">
	                                <iframe src="https://www.youtube.com/embed/5tOj-p8ANmM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="fundraiser-video-frame dn">
                                	<iframe src="https://www.youtube.com/embed/CVmqbgV6Hts?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                </div>
								                                
                                <div class="fundraiser-video-frame dn">
	                                <iframe src="https://www.youtube.com/embed/F7PlRiJybLQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                </div>
							</div>
                            <ul class="list-inline oh thumb-video p-5 m-0 text-center">
                            	<li><a href='javascript://' class="fundraiser-thumb-video" title="Click here to show video"><img src='{#RESOURCES#}images/video1thumb.jpg' class="img-responsive" alt="image"></a></li>
                                <li><a href='javascript://' class="fundraiser-thumb-video" title="Click here to show video"><img src='{#RESOURCES#}images/video2thumb.jpg' class="img-responsive" alt="image"></a></li>
                                <li><a href='javascript://' class="fundraiser-thumb-video" title="Click here to show video"><img src='{#RESOURCES#}images/video3thumb.jpg' class="img-responsive" alt="image"></a></li>
                                <li><a href='javascript://' class="fundraiser-thumb-video" title="Click here to show video"><img src='{#RESOURCES#}images/video4thumb.jpg' class="img-responsive" alt="image"></a></li>
                                <li><a href='javascript://' class="fundraiser-thumb-video" title="Click here to show video"><img src='{#RESOURCES#}images/video5thumb.jpg' class="img-responsive" alt="image"></a></li>
                            </ul>
                        </div>
                   </div>
                </div>
            </section>
            <section class="section-padding">
                <div class="row">
                    <div class="col-md-12">
                    	<div class="fundraiser-section comment-section">
	                    	<p><span class="fundraiser-section-tab">Donner Comments</span></p>
                            {loop="$CommentDetail"}
                            <div class="comment-box">
                            	{$value.Camp_Cmt_Comment} <a href='javascript://' class="t-green readMore ml-10">Read more... </a></p>
                            </div>
                            {/loop}
                            <!--<div class="comment-box">
                            	<p class="t-green">Name Last Name: $100</p>
                                <p>Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit lit que comnihi llorrup tatiam ut essuntur, Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit <a href='javascript://' class="t-green readMore ml-10">Read more... </a></p>
                            </div>
                            <div class="comment-box">
                            	<p class="t-green">Name Last Name: $100</p>
                                <p>Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit lit que comnihi llorrup tatiam ut essuntur, Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit <a href='javascript://' class="t-green readMore ml-10">Read more... </a></p>
                            </div>
                            <div class="comment-box">
                            	<p class="t-green">Name Last Name: $100</p>
                                <p>Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit lit que comnihi llorrup tatiam ut essuntur, Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit <a href='javascript://' class="t-green readMore ml-10">Read more... </a></p>
                            </div>
                            <div class="comment-box dn">
                            	<p class="t-green">Name Last Name: $100</p>
                                <p>Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit lit que comnihi llorrup tatiam ut essuntur, Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit <a href='javascript://' class="t-green readMore ml-10">Read more... </a></p>
                            </div>
                            <div class="comment-box dn">
                            	<p class="t-green">Name Last Name: $100</p>
                                <p>Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit lit que comnihi llorrup tatiam ut essuntur, Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit <a href='javascript://' class="t-green readMore ml-10">Read more... </a></p>
                            </div>-->
                            <div class="f-24 text-center"><a href='javascript://' id="loadMore" class="" title="Click here to load more comment">LOAD MORE</a></div> 
   						</div> 
                   </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 pt-20">
        	<div class="row">
            	<div class="col-md-2 col-sm-2 hidden-xs">&nbsp;</div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                	<div class="t-green f-18 text-right text-bold">Started X/XX/XX</div>
    	        	<div class="t-green f-18 text-right text-bold">Ending X/XX/XX</div>
                </div>
            </div>
            <div class="row">
            	<div class="col-md-2 col-sm-2 hidden-xs">&nbsp;</div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                	<div class="pt-25"><a href="login.php" class="fundraiser-donate-btn" title="Click here to donate">DONATE</a></div>
                </div>
           	</div>
            <div class="row mt-15">
            	<div class="col-md-2 col-sm-2 hidden-xs">&nbsp;</div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                	<div class="fundraiser-price f-24">
                    	<span class="db">$2,234</span>
                        <span class="db">RAISED</span>
					</div>
                </div>
           	</div>
	        <div class="row mt-15">
            	<div class="col-md-2 col-sm-2 hidden-xs">&nbsp;</div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                	<div class="fundraiser-goal oh">
                    	<form id="circle" name="circle" method="post" action="#">
                        	<input type="hidden" name="circle" />
                        </form>
	                    <canvas class="loader"></canvas>
                    </div>
                    <div class="lato-fonts f-18 t-green text-center bg-blue pt-10 pb-10">OF $10,000 GOAL</div>
                </div>
           	</div>
            <div class="row mt-15 mb-15">
            	<div class="col-md-2 col-sm-2 hidden-xs">&nbsp;</div>
                <div class="col-md-10 col-sm-10 col-xs-12 spread-box">
                	<div class="fundraiser-section pt-25 pb-25 text-center">
	                    <div class="spread-text text-bold t-blue f-30">Spread<br>The Word</div>
                        <div class="social-section mt-25">
                            <ul class="list-inline oh">
                                <li><a href="#" class="facebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="g-plus" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="twitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="linkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" class="instagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" class="youtube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#" class="a-at" title="#"><i class="fa fa-at"></i></a></li>
                                <li><a href="#" class="user-secret" title="#"><i class="fa fa-user-secret"></i></a></li>
                            </ul>
                        </div>
                        <div class="oh mt-20">
                        	<div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="qr-code-border">
                                    <div class="col-md-6 col-sm-12 col-xs-6 mb-5"><img src='{#RESOURCES#}images/qrcodeimg.jpg' class="img-responsive" alt="image"></div>
                                    <div class="col-md-6 col-sm-12 col-xs-6 f-18 text-left"><a href="#" class="t-green" title="Click To Download The QR for This Page">Click To Download The QR for This Page.</a></div>
								</div>
							</div>
                        </div>
    				</div>
                </div>
            </div>
        </div>
    </div>
</div>