<header>
	<nav class="header navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
		<div class="menu-container page-scroll text-right">
          <a href="template/login-popup.html" class="mobile-login-text visible-xs login-popup" title="Click here to login">LOGIN</a>
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
		  <a class="navbar-brand" href="index.php" title="Donasity"><img class="main-logo hidden-xs img-responsive" src="images/logo.png" alt="Logo image" /><img src="images/mobilelogo.png" class="visible-xs img-responsive" alt="Logo image" /></a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse col-lg-offset-3 col-md-offset-4">
		  <div class="top-menu-section">
			<ul class="nav navbar-nav">
			  <li class="dropdown">
                <a href="donation-category.php" class="dropdown-toggle" data-toggle="false" title="Donate Now"><span>Donate</span> <span>Now</span></a>                
              </li>
			  <li class="dropdown">
              	<a href="start-a-fundraiser.php" class="dropdown-toggle" data-toggle="false" title="Start a Fundraiser"><span>Start a</span> <span>Fundraiser</span></a>
              </li>
			  <li class="dropdown">
              	<a href="non-profit-registration.php" class="dropdown-toggle" data-toggle="false" title="Non-Profit Registration"><span>Non-Profit</span> <span>Registration</span></a>
              </li>
			  <li class="dropdown">
              	<a href="about-us.php" class="dropdown-toggle" data-toggle="false" title="About Us"><span>About</span> <span>Us</span></a>
                <!--<a href="about-us.php" class="dropdown-toggle visible-xs" data-toggle="dropdown" title="About Us"><span>About</span> <span>Us</span></a>-->
                <div class="dropdown-menu">
                	<ul class="visible-xs">
                    	<li class="back-btn"><i class="fa fa-angle-left"></i>&nbsp;<i class="fa fa-angle-left"></i><a href='javascript://' title="Click here to go back">Back </a> </li>
                    </ul>
                    <ul class="col-lg-offset-3 col-md-offset-2">
                        <li><i class="fa fa-angle-right"></i> <a href="template-page.php" title="Pricinig">Pricing</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="how-it-works.php" title="How it works">How it works</a></li>
                    </ul>
					<ul>
                        <li><i class="fa fa-angle-right"></i> <a href="template-page.php" title="How we are">Who we are</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="give-back.php" title="Give back">Give back</a></li>
                    </ul>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="media.php" title="Media & resources">Media & Resources</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="testimonials.php" title="Testimonials">Testimonials</a></li>
                    </ul>
					<ul>
                        <li><i class="fa fa-angle-right"></i> <a href="faq.php" title="FAQs">FAQs</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="template-page.php" title="Contact">Contact</a></li>
                    </ul>
				</div>
              </li>
              <li class="visible-xs donate-btn"><a href='javascript://' title="Click here to donate">Donate</a></li>
			</ul>
		  </div>
          <div class="top-quick-link hidden-xs">
        	<ul class="list-inline">
            	<li class="login"><a href="template/login-popup.html" class="login-popup" title="login">LOGIN</a></li>
                <!--<li class="after-login">
                    <a href='javascript://' class="db after-login-a" title="login"><i class="t-green fa fa-angle-down"></i><img src="images/afterloginImg.png" alt="image" /></a>
                	<ul class="list-unstyled oh after-login-menu">
                    	<li><a href="#" title="My Dashbord"><i class="t-green fa fa-angle-right f-20"></i> My Dashbord</a></li>
                        <li><a href="#" title="Log out"><i class="t-green fa fa-angle-right f-20"></i> Log out</a></li>
                    </ul>
                </li>-->
                <li class="p-relative top-search-icon"><a href='javascript://' title="Clcik here to search"><i class="fa fa-search"></i></a>
                    <div class="top-search">
                        <form id="top-search-form" action="fundraisers-search.php" method="post">
                            <div class="top-search-input"><input type="text" name="topInput" placeholder="Search Fundraisers & Charities" /><button class="top-search-btn" type="submit" title="Click here to search"><i class="fa fa-search"></i></button></div>  	
                        </form>
                    </div>
                </li>
            </ul>
        </div>
		</div>
	  </div>
	</nav>
</header>