<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/bootstrap-datepicker.css'>
<script type="text/javascript" src='{#RESOURCES#}js/bootstrap-datepicker.js'></script>
<script type="text/javascript">
	$(function() {	
		$('#StartDate').datepicker();
		$('#StartDate').datepicker().on('changeDate', function (ev) {
			if(ev.viewMode == "days") {
				$('#StartDate').datepicker('hide');
				maxDate: jQuery('#StartDate').datepicker("getDate");
			}
		});
		
		$('#EndDate').datepicker();
		$('#EndDate').datepicker().on('changeDate', function (ev) {
			if(ev.viewMode == "days") {
				$('#EndDate').datepicker('hide');
				maxDate: jQuery('#EndDate').datepicker("getDate");
			}
		});
		
		$('#filter_donation').click(function(){
			$('#pageNumber').val(1);
		});
	});	
	
	function ExportData() {
		var ActionUrl = SITEURL + 'donation/index/export-reports';
		$('#formSection').attr('action', ActionUrl);	
		$('#formSection').submit();
	}		
</script>
<style type="text/css">
	.bg-darkblue
	{
		background-color:#09426A;
	}
	.button-4
	{
		border:2px solid #246e9f; 
		border-radius:5px;
		padding:10px;
		font-weight:bold;
		text-align:center;
		color:#2196F3;
		font-size:14px;
	}
	.button-4:hover
	{
		color:white;
		background:#246e9f;
	}
</style>


<ul class="breadcrumb">
    <li title="Dashboard"><a href='{#URL#}home/'>Dashboard</a></li>
    <!--<li title="Donation">Donation</li>-->
    <li title="Daily Donation & Purchase Report"><a href='{#URL#}donation/index/summary-purchase-donation'>Summary Donation Purchase</a></li>
    <li title="Daily Donation & Purchase Report">Daily Donation & Purchase Report</li>
</ul>
{include="common/message"}
<div class="oh">
    <div class="col col-6">
        <h1 class="heading-1">Daily Donation & Purchase Report</h1>
    </div>
    <div class="col col-6">
        <p class="f-16 button-1 pull-right"><a href='{#URL#}donation/index/summary-purchase-donation' class="t-white" title="Summary Donation Purchase">Summary Donation Purchase</a></p>
    </div>
</div>
<div id="content-box" class="igs-form">
    <form id="formSection" name="formSection" method="get" autocomplete="off" action=''>
        <input type="hidden" name="pageNumber" id="pageNumber" value="{$pageSelected}"  />
        <input type="hidden" name="itemCode" id="itemCode" value='{$itemCode|keyEncrypt}' />
        <input type="hidden" name="campId" id="campId" value='{$campId}' />
        <input type="hidden" name="npoEin" id="npoEin" value='{$npoEin}' />
        <div class="section-heading">Filter Result <a href='javascript://' class="form-toggle-icon"><i class="fa fa-minus-square-o"></i></a></div>
        <div class="content-section">
            <fieldset>
                <div class="row">
                    <section class="col col-2 ">
                        <label class="label">Date Form</label>
                        <div class="input-append date" id="StartDate" data-date="" data-date-format="mm/dd/yyyy">
                            <label class="input"> <i class="icon-append fa fa-calendar add-on"></i>
                                <input type="text" class="datepickerInput" name="FromDate" id="FromDate"  value='{$fromDate}' readonly />
                            </label>
                        </div>
                    </section>
                    <section class="col col-2 ">
                        <label class="label">Date to</label>
                        <div class="input-append date" id="EndDate" data-date="" data-date-format="mm/dd/yyyy">
                            <label class="input"> <i class="icon-append fa fa-calendar add-on"></i>
                                <input type="text" class="datepickerInput" name="ToDate" id="ToDate"  value='{$toDate}' readonly />
                            </label>
                        </div>
                    </section>
                    <section class="col col-2">
                        <label class="label">Payment Processor</label>
                        <label class="select">
                            <select name="PaymentProcessor" id="searchFields">
                                <option value="">Both</option>
                                <option value="1" {if="$paymentProcessor==1"}selected="selected"{/if}>Stripe</option>
                                <option value="2" {if="$paymentProcessor==2"}selected="selected"{/if}>Pay Simple</option>
                            </select>
                            <i></i> 
                         </label>
                    </section>
                    <section class="col col-2">
                        <label class="label">Transaction Type</label>
                        <label class="select">
                            <select name="TransactionType" id="searchFields">
                                <option value="">Both</option>
                                <option value="1" {if="$transactionType==1"}selected="selected"{/if}>Donation</option>
                                <option value="2" {if="$transactionType==2"}selected="selected"{/if}>Purchase</option>
                            </select>
                            <i></i> 
                        </label>
                    </section>
                    <section class="col col-4">
                        <label class="label">Payment Type</label>
                        <label class="select">
                            <select name="paymentType" id="paymentType">
                                <option value="">All</option>
                                <option value="1" {if="$paymentType=='1'"}selected="selected"{/if} >One Time Payment</option>
                                <option value="2" {if="$paymentType=='2'"}selected="selected"{/if} >First Recurring Payment</option>
                                <option value="3" {if="$paymentType=='3'"}selected="selected"{/if} >Schedule Recurring Payment</option>
                            </select>
                            <i></i> 
                        </label>
                    </section>
                </div>
                <!--<div class="row">
                    <section class="col col-3">
                        <label class="label">Recurring Transaction</label>
                        <label class="checkbox">
                            <input type="checkbox" name="RecurringTransaction" id="RecurringTransaction" value="1" /><i></i>
                        </label>
                    </section>
                    <section class="col col-3">
                        <label class="label">First Recurring Transaction</label>
                        <label class="checkbox">
                            <input type="checkbox" name="FirstRecurringTrans" id="FirstRecurringTrans" value="1" /><i></i>
                        </label>
                    </section>
                </div>-->
            </fieldset>
            <div class="form-footer">
                <button type="submit" name="" value="" id="filter_donation" class="button-1"><i class="fa fa-search"></i>&nbsp;Show Result</button> &nbsp; 
                <!--<a href='{#URL#}donation/index/daily-donation' class="button-2"><i class="fa fa-refresh"></i>&nbsp;Reset</a> &nbsp; -->
                <a href='{#URL#}donation?itemCode={$itemCode|keyEncrypt}' class="button-2"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
                {if condition="$totalRecords>0"}&nbsp; 
                <a href='javascript://' id="export" class="button-1" onclick="ExportData()"><i class="fa fa-search"></i>&nbsp;Export Result</a>
                {/if}
            </div>
        </div>
    </form>
    <div class="row">
        <section class="col col-12">
        	{if condition="$totalRecords>0"}
        	<div class="record-found pull-left">Showing {$startRecord}-{$endRecord} of {$totalRecords} records</div>
            {/if}
            <table border="0" id="igs-table" class="pull-left">
                <tr>
                	<th>Date</th>
                    <th>Paid Amount($)</th>
                    <th>Transaction Fee($)</th>
                    <th>Donation Amount($)</th>
                    <th>Payment Processor</th>
                    <th>Transaction Type</th>
                    <th>Name of Charity/Purchase</th>
                </tr>
                {if condition="$totalRecords>0"}
                {loop="donationList"}
                <tr>
                	<td data-title="Date">{function="formatDate($value.PDD_DateTime, 'm/d/Y')"}</td>
                    <td data-title="Paid Amoount ($)">{$value.PDD_SubTotal}</td>
                    <td data-title="Transaction Fee ($)">{$value.PDD_TransactionFee}</td>
                    <td data-title="Amount Received ($)">{$value.PDD_Cost}</td>
                    <td data-title="Payment Processor">
                    {if condition="$value.PT_PaymentType=='CC' || $value.PT_PaymentType=='RCC'"}Stripe{/if}
                    {if condition="$value.PT_PaymentType=='ACH'"}Pay Simple{/if}
                    </td>
                    <td data-title="Transaction Type">
                    {if condition="$value.PDD_PIItemType=='NPOD' || $value.PDD_PIItemType=='CD'"}Donation{/if}
                    {if condition="$value.PDD_PIItemType=='CP'"}Purchase{/if}
                    </td>
                    <td data-title="Name Of Charity">{$value.charity}</td>
                </tr>
                {/loop}
                {else}
                <tr>
                    <td class="text-center" colspan="7">Change filter criteria to display more details of daily donation and purchase.</td>
                </tr>
                {/if}
            </table>
        </section>
    
    <!-- pagination start-->
    <div class="container">
{if condition="$totalRecords>0"}
        <div class="col col-12"> 
            <nav>
                <ul class="pagination">
                    {if="$pageSelected!=1"}
                    <li> <a href='javascript://' onclick="return GotoPage(1);"  title="First Page" aria-label="Previous"> <span aria-hidden="true">First</span> </a> </li>
                    <li> <a href='javascript://' onclick="return GotoPage({$pageSelected-1});"  title="Previous" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                    {/if}
                    {if="count($pagingList)>1"}
                    {loop="pagingList"} 
                        {if="$pageSelected==$value.PageNo"}
                        <li class="active"><a href='javascript://' title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                        {else}
                        <li><a href='javascript://' onclick="return GotoPage({$value.PageNo});" title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                        {/if}
                    {/loop}
                    {/if}
                    {if="$pageSelected!=$lastPage"}
                    <li> <a href='javascript://' onclick="return GotoPage({$pageSelected+1});" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                    <li> <a href='javascript://' onclick="return GotoPage({$lastPage});" aria-label="Last Page"> Last </a> </li>
                    {/if}
                </ul>
            </nav>
    	</div>
        {/if}
       <div class="col col-12">
        	<a href='{#URL#}/donation?itemCode={"NPOD1"|keyEncrypt}&FromDate={$fromDate}&ToDate={$toDate}'><div class="col col-3"><div class="button-4">Registered NPO Donation</div></div></a>
            <a href='{#URL#}/donation?itemCode={"NPOD2"|keyEncrypt}&FromDate={$fromDate}&ToDate={$toDate}'><div class="col col-3"><div class="button-4">Non Registered Donation</div></div></a>
            <a href='{#URL#}/donation?itemCode={"CD1"|keyEncrypt}&FromDate={$fromDate}&ToDate={$toDate}'><div class="col col-3"><div class="button-4">Fundariser Donation</div></div></a>
            <a href='{#URL#}/donation?itemCode={"NPOD3"|keyEncrypt}&FromDate={$fromDate}&ToDate={$toDate}'><div class="col col-3"><div class="button-4">Ambasador Donation</div></div></a>
        </div>
        <div class="col col-12 pt-15">    
        	<a href='{#URL#}/donation?itemCode={"CP-STANDARD"|keyEncrypt}&FromDate={$fromDate}&ToDate={$toDate}'><div class="col col-4"><div class="button-4">THE STANDARD FUNDRAISER</div></div></a>
            <a href='{#URL#}/donation?itemCode={"CP-PREMIER"|keyEncrypt}&FromDate={$fromDate}&ToDate={$toDate}'><div class="col col-4"><div class="button-4">THE PREMIER FUNDRAISER</div></div></a>
            <a href='{#URL#}/donation?itemCode={"CP-PLATINUM"|keyEncrypt}&FromDate={$fromDate}&ToDate={$toDate}'><div class="col col-4"><div class="button-4">THE PLATINUM FUNDRAISER</div></div></a>
        </div> 
        
    </div>
    <!-- pagination end--> 
    
</div>
