<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
</head>
<body id="body">
<div class="gray-fix-nav">
{include="top/top"}
</div>
<section class="fix-first-section fundraiser-page">
</section>
<section class="section-padding">
	<div class="container">
    	<div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2 class="heading-1">Error</h2>
            </div>
        </div>
        {include="common/message"}
        <div class="row">
        	<div class="col-md-12 col-sm-12 col-xs-12 t-blue text-bold fonts-lato-regular f-20">
            	{$ErrorMessage}
            </div>
        </div>
    </div>	
</section>
{include="bottom/bottom"}
</body>
</html>