{include="email-top"}
<div style="padding:10px 5px; font-size:14px; color:#333333;">
Hello <USER NAME>,<br />
Your fundraiser <strong style="color:#002f5b;"><FUNDRAISER NAME></strong> has been approved! Now is a great time to share it on social media!<br />
Below is a link to your fundraiser that you can copy and paste to Facebook, Twitter or any Social Media site.<br />
<a href="#" style="color:#abc340;" title="">Link</a><br />
Log in to your Account at any time to edit your fundraiser as needed.
</div>
{include=""email-top"}