{include="email/email-top"}
<div style="padding:10px 5px; font-size:14px; color:#333333;">
Hello Administrator ,<br />
A Fundraiser has been changed.<br />
{$FundraiserDetail[0]['Camp_ID']} {$FundraiserDetail[0]['Camp_Title']}<br />
<br />
<p style="overflow:hidden;"><img src='{$FundraiserDetail[0]['Camp_ThumbImage_Full_Path']}'  alt="image" align="left"></p><br />
 {$FundraiserDetail[0]['Camp_Description']}<br />
 {$FundraiserDetail[0]['Camp_CP_FirstName']} {$FundraiserDetail[0]['Camp_CP_LastName']}<br />
<a href="<link to fundraiser page that will allow me to see fundraiser>" title="" style="color:#abc340;"><link to fundraiser page that will allow me to see fundraiser></a>
IF NPO Stripe connected
This Fundraiser has been linked to a registered NPO.<br />
{if="$npoDetail<>''"}
	{$npoDetail['NPO_EIN']} {$npoDetail['NPO_Name']} {$npoDetail['NPO_City']}<br />
	{$npoDetail['RU_FistName']} {$npoDetail['RU_LastName']}
{/if}
</div>
{include="email/email-bottom"}
