{include="email/email-top"}
<div style="padding:10px 5px; font-size:14px; color:#333333;">
Hello  {$Detail.Name},<br /><br />
Someone has requested a password change for your account on <a href='{#URL#}' title="" style="color:#abc340;">donasity.com</a>.<br />
Below is a link that will work temporarily to allow you to create a new password.<br />
<a href='{$Link}' title="" style="color:#abc340;">Click Here</a><br />
This link will expire in 24 hours.<br /><br />
If you did not initiate this password change, please <a href='{#URL#}contact.html' title="" style="color:#abc340;">contact us</a> immediately.<br /><br />
Thank you for using donasity.com
</div>
{include="email/email-bottom"}
