{include="email/email-top"}
<div style="padding:10px 5px; font-size:14px; color:#333333;">
Hello {$uname}<br />

A user on donasity.com has created a fundraiser to raise donations for your organization. When donors give to this fundraiser, their donations will be deposited directly into your Stripe account.<br />

The user who has created this fundraiser will never see any Stripe information or NPO reports for your organization. On their own fundraiser page, they will be able to see donor information and the amount donated.<br />

The link below will take you to this fundraiser page! Great job in inspiring people to take action for your cause!<br />
<a href='{$link}' title="Click here to visit fundraiser" style="color:#abc340;">fundraiser url</a>
</div>
{include="email/email-bottom"}

