{include="email/email-top"}
<div style="padding:10px 5px; font-size:14px; color:#333333;">
Hello {$UserName},<br />    
Thank you for registering your Non-Profit Organization <strong style="color:#002f5b;">{$NPOUserName}</strong> with donasity! <br />       
If you would like to know more about our Non-Profit Ambassador Program, Non-Profit specific Fundraisers, sharing your donasity Non-Profit record on social media or have any other questions, check out our <a href='{#URL#}faqs.html' title="" style="color:#abc340;">FAQ page</a> or use our <a href='{#URL#}contact.html' title="" style="color:#abc340;">contact us</a> page.<br /> 
Thanks again, and welcome to donasity!
</div>
{include="email/email-bottom"}
