{include="email/email-top"}
<div style="padding:10px 5px; font-size:14px; color:#333333;">
	Hello  {$UserName},<br />
	Thank you for initiating your registration process with donasity!<br />
	Please complete the Stripe setup and connection today and your Non-Profit Organization <strong style="color:#002f5b;">{$NPOUserName}</strong> will be fully registered. However, if you decide to come back later to add the Stripe connection to your account, please use your new username and password to access your account and complete the registration.<br />
	Thanks again, and welcome to donasity!
</div>
{include="email/email-bottom"}


