{include="email/email-top"}
<div style="padding:10px 5px; font-size:14px; color:#333333;">
Hello {$UserName},<br /><br />
Thank you for registering with donasity. You are ready to add a Fundraiser, donate to your favorite Non-Profit and add comments on your friends' Fundraiser page.<br /><br />
{if="$PasswordStatus==1"}
Login to your Account at any time to view a list of your donations.<br /><br />
{else}
A temporary password was provided when you made your donation. You can now access your account and take advantage of other features of our site including; viewing and printing donation tax receipts, searching your donation history and creating your very own fundraiser for causes you care about.<br />
Your Temporary Password is <strong style="color:#002f5b;">{$Password}</strong><br /><br />
{/if}
<strong>Tip:</strong> Visit our <a href='{#URL#}faqs.html' title="" style="color:#abc340;">FAQ</a> page to learn about all things donasity!
</div>
{include="email/email-bottom"}
