{include="email/email-top"}
<div style="padding:10px 5px; font-size:14px; color:#333333;">
<p>Hello {$uname},</p><br /><br />
<p>Thanks you for submission! your payment details for subscription of <strong>{$arraySaleSubDetails.SS_ItemName}</strong> has been sent to USAePay. your subscription charge amount ${$arraySaleSubDetails.SS_Amount} will be charged sortly.</p>
<p>If you have an any query, please contact with administrator</p>
<p>&nbsp;</p>
<p>Thank you,&nbsp;</p>
</div>
{include="email/email-bottom"}