{include="email/email-top"}
<div style="padding:10px 5px; font-size:14px; color:#333333;">
  <p>Hello {$UserName},<br /><br />
    This mail is for notify you that your next scheduled payament held on {$recurringUserDetials.0.RP_EndDate|formatDate:'m/d/Y'} for below details.
    <br />    
  <table style="font-size:14px; color:#333333;">
  	{loop="$recurringUserDetials"}
  	<tr>
    	<td>Donation name </td>
        <td> : {$value.PDD_PIItemName}</td>
    </tr>
    <tr>
    	<td>Amount will be paid </td>
        <td> : {$value.RP_RecurringAmount}</td>
    </tr>
    <tr>
    	<td style="border-bottom:1px solid #000;">&nbsp;</td>
        <td style="border-bottom:1px solid #000;">&nbsp;</td>
    </tr>
    {/loop}
  </table>
    <br />
<p>Thank you for using <link https://www.donasity.com>donasity.com</link></p>
</div>
{include="email/email-bottom"}