<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/donation-dashboard.css'>
<link href='{#RESOURCES#}css/bootstrap-tokenizer.css' rel="stylesheet">
<script type="text/javascript">
$(document).ready(function() {
		
	$('.category-list-option .select-all').click(function() {
		if($(this).find('a').text()=="Select all records below") {
			$(this).find('a').text('Deselect all records below');
			$('.donation-listing-section .donation-listing-row').find('input[type="checkbox"]').prop('checked',true);
			jQuery(".dn").hide();
			jQuery(".exportmsg").hide();					
		}
		else
		{
			$(this).find('a').text('Select all records below');
			$('.donation-listing-section .donation-listing-row').find('input[type="checkbox"]').prop('checked',false);
		}
	});
	
	$(".btnTeamFundriaser").click(function()
    {
		var length = jQuery(".chkID:checked").length;
		if(length==0)
		{
			alert("Please select atleast one member to send mail");			
			return false;
		}
		else
		{
			var formurl = SITEURL+"ut2myaccount/emailTeamFundraiser";
			jQuery("#frm_team_fundraiser").attr('action',formurl);
			jQuery("#frm_team_fundraiser").attr('method','post');			
			jQuery("#frm_team_fundraiser").submit();
		}
    });
	
	jQuery(".StopFundraisers").click(function()
    {
		var length = jQuery(".chkID:checked").length;
		//alert(length);
		if(length==0)
		{
			alert("Please select atleast one fundraiser to stop");			
			return false;
		}
		else
		{
			var formurl = SITEURL+"ut2myaccount/stopFundraiserMultiple";
			//alert(formurl);
			jQuery("#frm_team_fundraiser").attr('action',formurl);
			jQuery("#frm_team_fundraiser").attr('method','post');			
			jQuery("#frm_team_fundraiser").submit();
		}
    });
	
	
	//Email validation
	
	$(".emailTeamFundriaser").click(function()
    {
		var txt = $('.chkemail');
			if (txt.val() != null && txt.val() != '') {
			
			}
			else {
			alert('Please enter atleast one email address to send invitation')
			return false;
			}
    });
	
	
	
	$("#frm-invite-team").validate(
		{
			success: function(element)
			{
				$("#"+element[0].htmlFor).next("b.tooltip").remove();
			},
			errorPlacement: function(error, element)
			{
				element.next("b.tooltip").remove();
				element.after("<b class='tooltip tooltip-top-right'>"+error.text()+"</b>");
			},
			rules:
			{			
				emailIDs:{required:true}			
			},
			messages:
			{			
				emailIDs:{required:"Enter email address"},			
			}
		});			
		
});

	function delTeamMember(camp_id,c_camp_id)
	{
		//alert(SITEURL+"ut2myaccount/deleteTeamMember/"+camp_id);
		if(confirm('You sure to delete this team fundraiser'))
		{
			window.location.href=SITEURL+"ut2myaccount/deleteTeamMember/"+camp_id+'/'+c_camp_id;	
		}	
	}
</script>
</head>
<body id="body">
<div class="gray-fix-nav">
{include="top/top"}
</div>
<section class="fix-first-section">
</section>
<section class="section-padding fundraiser-page-heading">
  <div class="container">
  	{include="common/message"}
    <h2 class="heading-1">{$pageheading}</h2>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="heading-2">
        	{$captainDetails.Camp_Title}
        </h2>
        </div>
    </div>
  </div>
</section>
<form name="frm-invite-team" id="frm-invite-team" method="post" action="{#URL#}ut2myaccount/sendInvitation" >
 <input type="hidden" name="cap_fund_id" id="cap_fund_id" value='{$captainDetails.Camp_ID}' /> 
 <section>
  	<div class="container mt-20">
  	<div class="row">
    	<!--<div class="heading-2">Invite Team</div>-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
            	<label class="label">Send Invitation</label>
            	<label class="label"><input type="text" name="emailIDs"  id="emailIDs" class="form-control chkemail" value="" placeholder="Enter email addresses like abc@xyz.com-Name Receiver,abc1@xyz.com-Name2 Receiver, ..." data-provide="tokenizer" data-minLength="1" /></label>
         
                <span class="note text-bold">You can send mail on multiple addresses with comma separate. for their name add "-" after email address like qualdev.test@gmail.com-qualdev,quald...</span>
            </div>
            <div class="form-group">
            	<label class="label">Message</label>
                <label for="messageContent"  class="label">
                    <div class="button t-white"><textarea rows="4" name="messageContent" class="form-control" id="messageContent" placeholder="Enter message (optional)"></textarea></div>
                </label>
                <span class="note text-bold">This mail already contain you Sharing Code, Fundraiser Tile and link to join you fundraiser.</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 pb-10 pull-right">
            <button type="submit" class="button-1 col-xs-12 emailTeamFundriaser" title="Click here to submit" id="">Send</button>
        </div>
    </div>
    </div>
  </section>
  </form>
<form name="frm_team_fundraiser" method="post" action='{#URL#}ut2myaccount/emailTeamFundraiser' id="frm_team_fundraiser" > 
  <input type="hidden" name="cap_fund_id" id="cap_fund_id" value='{$captainDetails.Camp_ID}' /> 
<section class="section-padding user-donation-detail donation-page">
  <div class="container">
  	<ul class="donation-category-tab list-inline mb-0">
            <li class="active-category-tab"><a href='javascript://' title="Team Member">Team Members</a></li>           
        </ul>
  	<p class="f-18"><a href='{#URL#}ut2myaccount/FundraiserEdit/{$captainDetails.Camp_ID|keyEncrypt}' title="Return">&lt; Return to Fundraiser</a></p>
  	<ul class="dash-select-link list-inline mb-0 category-list-option">
    	<li class="select-all"><a href='javascript://' title="Select All">Select all records below</a></li>
        <li><a href='javascript://' title="Stop Fundraisers" class="StopFundraisers">Stop Fundraisers</a></li>
    </ul>
  </div>  
  <div class="user-donation-listing">
  <div class="container">
    <div class="row listing-heading">
      <div class="col-md-2 col-sm-2 col-xs-5">User Name</div>
      <div class="col-md-2 col-sm-2 col-xs-5">Sub Title</div>
      <div class="col-md-2 col-sm-2 hidden-xs">Goal</div>
      <div class="col-md-2 col-sm-2 col-xs-2">Received</div>
      <div class="col-md-1 col-sm-1 col-xs-2">Running</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-center">Actions</div>
    </div>
  </div>
  {if condition="$listTeamFundraisers!=NULL"}
  <div class="donation-listing-section"> 
  {loop="$listTeamFundraisers"}
    <div class="donation-listing-row">
      <div class="container">      
        <div class="row">
          <label class="db">
          <div class="col-md-2 col-sm-2 col-xs-5 t-blue">{$value.UserName}<br>
          <span class="note ">{$value.RU_EmailID}</span>
          <label class="checkbox">
              <input type="checkbox" class="chkID" name="Camp_ID[]" id="Camp_ID" value='{$value.Camp_ID}'>
              <i></i>
            </label>
          </div>
          </label>
          <div class="col-md-2 col-sm-3 col-xs-5 fundraiser-name">{if="$value.Camp_Status==15"}<a href='{#URL#}fundraiser/{$value.Camp_ID|keyEncrypt}' target="details">{$value.Camp_ShortDescription|substr:0,50}</a>{else}{$value.Camp_ShortDescription|substr:0,50}{/if}          </div>
          <div class="col-md-2 col-sm-2 ">${$value.Camp_DonationGoal}</div>
          <div class="col-md-2 col-sm-2 col-xs-2 ">${$value.Camp_DonationReceived}</div>
          <div class="col-md-1 col-sm-1 col-xs-2 ">{if="$value.Camp_Status!=15"}No{else}Yes{/if}</div>
          <div class="col-md-3 col-sm-2 col-xs-3 text-center">
          	{if="$value.Camp_Status==15"}
          		<a href='{#URL#}ut2myaccount/updateStatus/{$value.Camp_ID|keyEncrypt}/{36|keyEncrypt}/1' title="Click here to stop this fundraiser">Stop</a> 
            {elseif="$value.Camp_Status=='36'"}
            	<a href='{#URL#}ut2myaccount/updateStatus/{$value.Camp_ID|keyEncrypt}/{15|keyEncrypt}/1' title="Click here to start this fundraiser">Start</a> 
            {/if}
                &nbsp; <a href='javascript://' onclick="delTeamMember('{$value.Camp_ID|keyEncrypt}','{$Camp_ID|keyEncrypt}')" >Delete</a></div>
        </div>
      </div>
    </div>
    {/loop} 
  </div>
  
  </div>
  <div class="container mt-20">
  	<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
            	<label class="label">Send message to your team member</label>
                <label for="messageContent"  class="label">
                    <div class="button t-white"><textarea rows="4" name="messageContent" class="form-control" id="messageContent" placeholder="Enter message"></textarea></div>
                </label>
                <span class="note">Select checkbox above to send mail users.</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 pull-right">
            <button type="button" class="button-1 col-xs-12 btnTeamFundriaser" title="Click here to submit" id="UploadVideobtn">Send</button>
        </div>
    </div>
    </div>
    {else}
  <div class="nrf text-center">No Team Fundaisers Joined</div>
  {/if} 
  </div>
  </section>
 </form>
 
{include="bottom/bottom"}

    <script src='{#RESOURCES#}js/bootstrap-tokenizer.js'></script>
</body>
</html>