<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
</head>
<body id="body">
<div class="gray-fix-nav">
{include="top/top"}
</div>
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/donation-dashboard.css' />


<section class="fix-first-section fundraiser-page">
</section>
<section class="section-padding fundraiser-page-heading">
	<div class="container">
    	{if="$msgValues!=NULL"}
         <div id="msgSection" class="margin-top-10">
            {if condition="$msgValues!=null"}
                {if condition="$msgValues.msgType==1"}
                    <div class="alert alert-danger text-center">
                        <span>{$msgValues.ErrorMsg}</span>
                    </div>                            
                    {elseif condition="$msgValues.msgType==2"}
                    <div class="alert alert-success text-center">
                        <span>{$msgValues.ConfirmationMsg}</span>
                    </div>
                {/if}                                          
            {/if}
        </div>
        {/if}
		{$pageheading}
		<!-- user detail -->
        {$userdetails}
        <!-- user detail END -->
    </div>
</section>
<section class="section-padding fundraiser-page-heading fundraiser-edit-section">
	<div class="container">
		<h2 class="heading-1">Fundraiser Edit</h2>
		<div class="row mt-25">
        	<div class="col-md-2 col-sm-3 col-xs-5">
            	<div class="user-image">
                	<img src='{function="CheckImage(CAMPAIGN_MAIN_IMAGE_DIR,CAMPAIGN_MAIN_IMAGE_URL,NO_IMAGE,$FundraiserDetail.camp_thumbImage)"}' alt="image" class="img" />
                </div>
            </div>
            <div class="col-md-10 col-sm-9 col-xs-7">
            	<div class="row">
                	<div class="col-md-12 col-sm-12 col-xs-12">
                    	<div class="date heading-3"><span class="text-bold">Start Date</span> - {if="$FundraiserDetail.Camp_StartDate!='' && $FundraiserDetail.Camp_StartDate!='0000-00-00'"}{$FundraiserDetail.Camp_StartDate|formatDate:'m/d/Y'}{else} &nbsp; {/if}</div>
                        <div class="date heading-3"><span class="text-bold">End Date</span> - {if="$FundraiserDetail.Camp_EndDate!='' && $FundraiserDetail.Camp_EndDate!='0000-00-00'"}{$FundraiserDetail.Camp_EndDate|formatDate:'m/d/Y'}{else} &nbsp; {/if}</div>
                    </div>
                    <div class="goal-raised col-md-3 col-sx-4 col-xs-12">
                    	<div class="heading-3">Goal raised</div>
                        <div class="progress mt-5 mb-5">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: {$FundraiserDetail.Donationpercentage};"></div>
                        </div>
                        <div class="fonts-lato-black t-blue f-13">{$FundraiserDetail.Donationpercentage} Raised of ${$FundraiserDetail.Camp_DonationGoal}</div>                        
                    </div>
                </div>
            </div>
            {$id=keyEncrypt($FundraiserDetail['Camp_ID'])}
			<div class="col-md-10 col-sm-9 col-xs-12 user-category-list">
                <ul class="list-inline mb-0">
                    <li><a href='{#URL#}ut1myaccount/FundraiserBasicDetail/{$id}' title="Click here to edit detail">Edit</a></li>
                    <li><a href='{#URL#}ut1myaccount/FundraiserPhotoVideo/{$id}' title="Click here to edit photo & Video">Photo & Video</a></li>
                    <li><a href='{#URL#}preview-fundraisers-details/{$id}/PreviewPage' title="Click here to preview">Preview</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-padding user-donation-detail">
	<div class="container">
        <ul class="donation-category-tab list-inline mb-0">
            <li class="active-category-tab"><a href="fundraiser-edit.php" title="Donations">DONATIONS</a></li>
            <li><a href="fundraiser-comment.php" title="Fundraisers">COMMENTS</a></li>
        </ul>
        <ul class="category-list-option list-inline mb-0">
            <li class="active-option"><a href="#" title="#">View All</a></li>
            <li><a href="#" title="#">Non Tax Deductable</a></li>
            <li><a href="#" title="#">Tax Deductable</a></li>
        </ul>
	</div>
	<div class="user-donation-listing">
    	<div class="container">
			<div class="row listing-heading">        
                <div class="col-md-6 col-sm-6 col-xs-5">Donor Name <i class="fa fa-chevron-circle-down hidden-xs"></i></div>
                <div class="col-md-2 col-sm-2 hidden-xs">Type <i class="fa fa-chevron-circle-down hidden-xs"></i></div>
                <div class="col-md-2 col-sm-2 col-xs-3">Date <i class="fa fa-chevron-circle-down hidden-xs"></i></div>
                <div class="col-md-2 col-sm-2 col-xs-4">Amount <i class="fa fa-chevron-circle-down hidden-xs"></i></div>
			</div>
        </div>
    	<div class="donation-listing-section">
        	{loop="$DonationArray"}
        	<div class="donation-listing-row">
            	<div class="container">
                	<div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-5 donation-name {if="$value.PDD_PIItemType=='CD'"}fundraiser-name{else}npo-organization-name{/if}">{$value.DonorName}</div>
                        <div class="col-md-2 col-sm-2 donation-type hidden-xs"><span class="type-ntd">{if="$value.PDD_TaxExempt==1"}TD{else}NTD{/if}</span></div>
                        <div class="col-md-2 col-sm-2 col-xs-3 donation-date">{$value.PDD_DateTime|formatDate:'m/d/Y'}</div>
                        <div class="col-md-2 col-sm-2 col-xs-4 donation-amount">${$value.PDD_Cost}</div>                    
                    </div>
                </div>	
            </div>
            {/loop}
        </div>
        <div class="container">
        	<div class="oh donation-bottom-menu">
                <a href='javascript://' title="Donation Archive">Donation Archive</a>
                <a href='javascript://' title="Print">Print</a>
			</div>
        </div>
    </div>
</section>
{include="bottom/bottom"}
</body>
</html>