<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
</head>
<body id="body">
<div class="gray-fix-nav">
{include="top/top"}
</div>
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/donation-dashboard.css' />
<script type="text/javascript" src='{#RESOURCES#}js/fundraiser-comment.js'></script>

<section class="fix-first-section fundraiser-page">
</section>
<section class="section-padding fundraiser-page-heading">
	<div class="container">
    	{if="$msgValues!=NULL"}
         <div id="msgSection" class="mt-10">
            {if condition="$msgValues!=null"}
                {if condition="$msgValues.msgType==1"}
                    <div class="alert alert-danger text-center">
                        <span>{$msgValues.ErrorMsg}</span>
                    </div>                            
                    {elseif condition="$msgValues.msgType==2"}
                    <div class="alert alert-success text-center">
                        <span>{$msgValues.ConfirmationMsg}</span>
                    </div>
                {/if}                                          
            {/if}
        </div>
        {/if}
		{$pageheading}
		<!-- user detail -->
        {$userdetails}
        <!-- user detail END -->
    </div>
</section>
<section class="section-padding fundraiser-page-heading fundraiser-edit-section">
	<div class="container">
		<h2 class="heading-1">Fundraiser Edit</h2>
		<div class="row mt-25">
        	<div class="col-md-2 col-sm-3 col-xs-5">
            	<div class="user-image">
                	<img src='{function="CheckImage(CAMPAIGN_MAIN_IMAGE_DIR,CAMPAIGN_MAIN_IMAGE_URL,NO_IMAGE,$FundraiserDetail.camp_thumbImage)"}' alt="image" class="img-responsive" />
                </div>
            </div>
            <div class="col-md-10 col-sm-9 col-xs-7">
            	<div class="row">
                	<div class="col-md-12 col-sm-12 col-xs-12">
                    	<div class="date heading-3"><span class="text-bold">Start Date</span> - {if="$FundraiserDetail.Camp_StartDate!='' && $FundraiserDetail.Camp_StartDate!='0000-00-00'"}{$FundraiserDetail.Camp_StartDate|formatDate:'m/d/Y'}{else} &nbsp; {/if}</div>
                        <div class="date heading-3"><span class="text-bold">End Date</span> - {if="$FundraiserDetail.Camp_EndDate!='' && $FundraiserDetail.Camp_EndDate!='0000-00-00'"}{$FundraiserDetail.Camp_EndDate|formatDate:'m/d/Y'}{else} &nbsp; {/if}</div>
                    </div>
                    <div class="goal-raised col-md-3 col-sx-4 col-xs-12">
                    	<div class="heading-3">Goal raised</div>
                        <div class="progress mt-5 mb-5">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: {$FundraiserDetail.Donationpercentage};"></div>
                        </div>
                        <div class="fonts-lato-black t-blue f-13">{$FundraiserDetail.Donationpercentage} Raised of ${$FundraiserDetail.Camp_DonationGoal}</div>                        
                    </div>
                </div>
            </div>
            {$id=keyEncrypt($FundraiserDetail['Camp_ID'])}
			<div class="col-md-10 col-sm-9 col-xs-12 user-category-list">
                <ul class="list-inline mb-0">
                    <li><a href='{#URL#}ut1myaccount/FundraiserBasicDetail/{$id}' title="Click here to edit detail">Edit</a></li>
                    <li><a href='{#URL#}ut1myaccount/FundraiserPhotoVideo/{$id}' title="Click here to edit photo & Video">Photo & Video</a></li>
                    <li><a href='{#URL#}preview-fundraisers-details/{$id}/PreviewPage' title="Click here to preview">Preview</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-padding user-donation-detail">
	<div class="container">
        <ul class="donation-category-tab list-inline mb-0">
            <li><a href='#' title="Donations">DONATIONS</a></li>
            <li class="active-category-tab"><a href='#' title="Fundraisers">COMMENTS</a></li>
        </ul>
	</div>
	{if="$fcList|count>10"}
    <div class="user-donation-listing">
	    <div class="fundraiser-section comment-section">
        	<div class="container">
				<input type="hidden" name="PageNo" id="PageNo" value="{$PageNo}">
				<input type="hidden" name="TotalRecord" id="TotalRecord" value="{$fcTotalCount}">
				<input type="hidden" name="FundraiserID" id="FundraiserID" value="{$FundraiserID}">
                {loop="fcList"}
				<div class="comment-box">
					<input type="hidden" name="Camp_Cmt_ID" id="Camp_Cmt_ID" value="{$value.Camp_Cmt_ID}">
					<input type="hidden" name="Camp_Cmt_RUID" id="Camp_Cmt_RUID" value="{$value.Camp_Cmt_RUID}">
                    <h3 class="comment-heading">{$value.Camp_Cmt_UserName}</h3>
                    <div class="comment-content">{$value.Camp_Cmt_Comment}</div>
                	<div class="oh">
	                    <a href='javascript://' class="t-green mr-10 editComment" title="Click here to edit">Edit Comment</a>
                        <a href='javascript://' class="t-green mr-10 saveComment" title="Click here to save comment">Save Comment</a>
						
                        <a href='javascript://' class="t-green mr-10 approveComment" title='{if="$value.Camp_Cmt_ShowOnWebsite==0"}Click here to approve{else}Click here to unapprove{/if}' appStatus="{$value.Camp_Cmt_ShowOnWebsite}">
							<span class="approveText">{if="$value.Camp_Cmt_ShowOnWebsite==0"}Approve{else}UnApprove{/if}</span>
						</a>
                        <a href='javascript://' class="t-green removeComment" title="Click here to remove">Remove</a>
    				</div>
                </div>
				{/loop}
                <div class="fonts-lato-regular f-24 text-center mt-25 loadMoreDiv"><a href='javascript://' id="loadMore" class="t-gray" title="Click here to load more comment">LOAD MORE</a></div> 
			</div>
        </div>
	</div>
	{else}
	<div class="nrf text-center">No Comments</div>
	{/if}
	
</section>
{include="bottom/bottom"}
</body>
</html>