<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
<script type="text/javascript">
	function cancle_recurring(CustomerID, ProfileID) {
		if(confirm("Are you sure you want to cancel this recurring?")) {
			//alert(SITEURL + 'ut1myaccount/CancelRecurring/' + CustomerID + '/' + ProfileID);
			window.location = SITEURL + 'ut1myaccount/CancelRecurring/' + CustomerID + '/' + ProfileID;
		} else
			return false;
	}
	$('document').ready(function(){
		$(".cc").click(function(){			
				$(".mfp-content").height(530);
			});
		$(".cr").click(function(){
			$(".mfp-content").height(255);
		});
	});
</script>
<style type="text/css">
	.running {color:#99cc33}
	.canceled {color:#a94442}
</style>
</head>
<body id="body">
	<div class="gray-fix-nav"> {include="top/top"} </div>
<!--view all code-->
	<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/donation-dashboard.css'>
	<section class="fix-first-section fundraiser-page"> </section>
    <section class="section-padding fundraiser-page-heading">
      <div class="container"> {include="common/message"}
        <h2 class="heading-1">Recurring Transactions</h2>
      </div>
    </section>
<form name="form-section" method="get" action='{#URL#}ut1myaccount/RecurringProfiles' id="frm_donation">
  <section class="section-padding">
    <div class="container">
      <div class="row donation-filter-section">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <label class="label" for="keyword">Status</label>
          <div class="select form-group">
            <select class="form-control" name="status" id="status">
              <option value=''>All</option>
              <option value='1' {if condition="$status==1"}selected{/if}>Running</option>
              <option value='2' {if condition="$status==2"}selected{/if}>Canceled</option>
            </select>
            <i class="arrow fa fa-caret-down"></i></div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <label class="label" for="keyword">Cycle</label>
          <div class="select form-group">
            <select class="form-control" name="cycle" id="cycle">
              <option value=''>All</option>
              <option value='1' {if condition="$cycle=='1'"}selected{/if}>Monthly</option>
              <option value='2' {if condition="$cycle=='2'"}selected{/if}>Quaterly</option>
              <option value='3' {if condition="$cycle=='3'"}selected{/if}>Half Yearly</option>
              <option value='4' {if condition="$cycle=='4'"}selected{/if}>Yearly</option>
            </select>
            <i class="arrow fa fa-caret-down"></i> </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <label class="label" for="keyword">Cause Name</label>
          <input type="text" class="form-control" name="keyword" id="keyword" placeholder="Cause Name" value='{$keyword}'>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <label class="label">&nbsp;</label>
          <div class="form-group">
            <button type="submit" class="button-1 col-md-5 col-xs-6 submit" title="Click here to show">Submit</button>
            <a href='{#URL#}ut1myaccount/RecurringProfiles' class="button-2 col-md-5 col-xs-6 col-md-offset-1">&nbsp;Reset</a> </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding user-donation-detail donation-page">
    <div class="container">
      <p class="f-18"><a href='{#URL#}ut1myaccount' title="Return">&lt; Return to Dashboard</a></p>
    </div>
    <div class="user-donation-listing">
      <div class="container">
        <div class="row listing-heading">
          <div class="col-md-3 col-sm-3 col-xs-3">
          	<a href='{#URL#}ut1myaccount/RecurringProfiles?sortfrom={$sortfrom}&sortto=CauseName&staus={$status}&cycle={$cycle}&keyword={$keyword}'><i class="fa fa-chevron-circle-down hidden-xs"></i></a>Cause Name
          </div>
          <div class="col-md-2 col-sm-2 hidden-xs">
          	<a href='{#URL#}ut1myaccount/RecurringProfiles?sortfrom={$sortfrom}&sortto=Date&staus={$status}&cycle={$cycle}&keyword={$keyword}'><i class="fa fa-chevron-circle-down hidden-xs"></i></a>Start Date
          </div>
          <div class="col-md-2 col-sm-2 col-xs-3">
          	<a href='{#URL#}ut1myaccount/RecurringProfiles?sortfrom={$sortfrom}&sortto=Amount&staus={$status}&cycle={$cycle}&keyword={$keyword}'><i class="fa fa-chevron-circle-down hidden-xs"></i></a>Amount
          </div>
          <div class="col-md-2 col-sm-2 hidden-xs">Cycle<a href=''></a></div>
          <div class="col-md-1 col-sm-1 col-xs-3">Status<a href=''></a></div>
          <div class="col-md-2 col-sm-2 col-xs-3">Action<a href=''></a></div>
        </div>
      </div>
      <div class="donation-listing-section"> {if condition="$RecurringProfiles!=NULL"}
        {loop="$RecurringProfiles"}
        <div class="donation-listing-row">
          <div class="container">
            <div class="row">
              <label class="db">
              <div class="col-md-3 col-sm-3 col-xs-3 donation-type">{$value.PDD_PIItemName}</div>
              <div class="col-md-2 col-sm-2 hidden-xs donation-type">{$value.RP_StartDate|formatDate:'m/d/Y'}</div>
              <div class="col-md-2 col-sm-2 col-xs-3 donation-type">{$value.RP_RecurringAmount}</div>
              <div class="col-md-2 col-sm-2 hidden-xs donation-type">{$value.RP_RecurringCycle}</div>
              <div class="col-md-1 col-sm-1 col-xs-3 donation-type"> {if condition="$value.RP_Status>0 && $value.RP_Status<11"}
                <div class="running">Running</div>
                {/if}
                {if condition="$value.RP_Status>10 && $value.RP_Status<21"}
                <div class="canceled">Canceled</div>
                {/if} 
              </div>
              <div class="col-md-2 col-sm-2 col-xs-3 donation-type"> 
              {if condition="$value.RP_Status>0 && $value.RP_Status<11"} 
                <a href='{#URL#}ut1myaccount/CancelRecurringTrans/{$value.RP_RecurringCustomerID|keyEncrypt}/{$value.RP_RecurringProfileID|keyEncrypt}' class="t-lightgreen login-popup cr" >Cancel Recurring</a> </br>
                <a href='{#URL#}ut1myaccount/ChangeCreditCard/{$value.RP_RecurringCustomerID|keyEncrypt}/{$value.RP_RecurringProfileID|keyEncrypt}' class='login-popup cc' >Change Credit Card</a> 
              {/if} 
              </div>
              </label>
            </div>
          </div>
        </div>
        {/loop} 
        {else}
        <div class="nrf text-center"> Recurring transactions are not available. </div>
        {/if} </div>
      <div class="container mt-20">
        <div class="oh donation-bottom-menu"></div>
      </div>
    </div>
  </section>
</form>

<!--end of code--> 
{include="bottom/bottom"}
</body>
</html>