<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/setup-fundraiser.css' />
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script type="text/javascript" src='{#RESOURCES#}js/team-fundraiser-form.js'></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#btnStartFund").click(function(){
			$("#startFund").val(1);
			$("#form-section").submit();
		});
	});
</script>
</head>
<body id="body">
<div class="gray-fix-nav">
{include="top/top"}
</div>
<section class="fix-first-section fundraiser-page">
</section>   

<section class="section-padding setup-fundraiser edit-basic-detail">
	<div class="container">
    	{include="common/message"}
    	<div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2 class="heading-1">{$pageheading}</h2>
            </div>
        </div>
        <div class="row">
        	<div class="col-md-12 col-sm-12 col-xs-12">
            	<form id="form-section" name="form-section" method="post" action='{#URL#}ut1myaccount/UpdateTeamFundraiserBasicDetail' enctype="multipart/form-data">
                    <input type="hidden" name="FR_id" value='{$FundraiserDetail.Camp_ID|keyEncrypt}'>
                    <input type="hidden" name="startFund" id="startFund" value="0">
               	 	<input type="hidden" name="Camp_Location_City" id="Camp_Location_City" value='{$FundraiserDetail['Camp_Location_City']}'>
                    <input type="hidden" name="Camp_Location_State" id="Camp_Location_State" value='{$FundraiserDetail['Camp_Location_State']}'>
                    <input type="hidden" name="Camp_Location_Country" id="Camp_Location_Country" value='{$FundraiserDetail['Camp_Location_Country']}'>
                    <input type="hidden" name="Camp_Location_Logitude" value='{$FundraiserDetail['Camp_Location_Logitude']}'>
                    <input type="hidden" name="Camp_Location_Latitude" value='{$FundraiserDetail['Camp_Location_Latitude']}'>
                    <input type="hidden" name="Camp_Location_Zip" value='{$FundraiserDetail['Camp_Location_Zip']}'>
                    <div class="step-section">
                        <div class="step step-1"> <span><a href='{#URL#}ut1myaccount/FundraiserEdit/{$FundraiserDetail.Camp_ID|keyEncrypt}' title="Return">&lt; Return to Fundraiser</a></span>                      	
                        	<div class="step-content">
                            	<h2 class="heading-3">{#_CHOOSE_CATEGORY_#}</h2>
                                <div class="row">
                                	<div class="form-group">
                                      	{loop="CategoryList"}
                                            <div class="col-md-4 col-sm-4 col-xs-12 mb-5">
                                                <label class="checkbox"><input type="radio" name="category" value='{$value.NPOCat_ID}'  {if="$FundraiserDetail['Camp_Cat_ID']==$value.NPOCat_ID"}checked{/if}><i></i>{$value.$categoryname}</label>
                                            </div>
                                 		{/loop}
                                    </div>
                                </div>
                                <div class="mt-25">
                                	<div class="row">
                                    <div class="col-md-8 col-sm-10 col-xs-12">
                                        <label class="label" for="title">{#_TITLE_NAME_#}</label>
                                        <div class="form-group">
                                            <div class="oh mt-15 f-14 text-bold">{$FundraiserDetail['Camp_Title']}</div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-10 col-xs-12">
                                            <label class="label" for="subTitle">{#_SUB_TITLE_#}</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="subTitle" id="subTitle" value='{$FundraiserDetail['Camp_ShortDescription']}' />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-10 col-xs-12">
                                         <label class="label" for="subTitle">{#_CAMPAIGN_IMAGE_TEXT_#}</label>
                                            <div class="form-group">
                                            <label for="file" class="input-file">
                                                <div class="button t-white"><input type="file" name="uploadPhoto" class="form-control" id="uploadPhoto"   onchange="this.parentNode.nextSibling.value = this.value"><i class="fa fa-upload"></i></div><input name="uploadImg" id="uploadImg" type="text" class="form-control" readonly="" />
                                            </label>
                                            <span class="note">Select Photo {#_IMAGE_TEXT_#}</span>
                                        </div>
                                        </div>
                                    </div>                                
                                    <div class="row">
                                        <div class="col-md-4 col-sm-5 col-xs-12">
                                            <label class="label" for="donation">{#_HOW_MUCH_DONATION_#}</label>
                                            <div class="form-group">
                                            	<i class="icon-prepend fa fa-usd"></i>
                                            	<input type="text" class="form-control" name="donation" id="donation" placeholder="Enter goal amount" value='{function="round($FundraiserDetail['Camp_DonationGoal'])"}' />
                                        	</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-10 col-xs-12">
                                        	<label class="label text-bold" for="location">Location:{$FundraiserDetail['Camp_Location']}</label>
                                            <label class="label" for="location">{#_CHANGE_LOCATION_#}</label>
                                            <div class="form-group">
                                           		<input type="text" class="form-control" name="location" id="location" value='' />
                                            <span class="note">{#_DONOR_WILL_USE_THIS_#}</span>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-10 colxs-12">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-6 col-xs-12">
                                                        <label class="label text-bold">{#_DURATION_#}</label>
                                                    </div>
                                                    <div class="col-md-12 col-sm-6 col-xs-12">
                                                    <label class="label ">{#_STARTING_#} : {$FundraiserDetail.Camp_StartDate|formatDate:'m/d/Y'}</label>
                                                    <label class="label ">{#_ENDS_#} : {if="$FundraiserDetail['Camp_EndDate']=='0000-00-00'"}Not Available{else}{$FundraiserDetail.Camp_EndDate|formatDate:'m/d/Y'}{/if}</label>
                                                </div>                                            
											</div>
                                        </div>
                                    </div>
                                </div>
                        	</div>	
                        </div>
                        {if="$FundraiserDetail.Camp_DescriptionHTML!=NULL"}
                        <div class="step step-2">                            
                            <div class="step-content">
                                <h2 class="heading-3">{#_ABOUT_FUNDRAISER_#}</h2>
                                <div class="row">
                                    <div class="col-md-8 col-sm-10 col-xs-12">
                                        <div class="form-group">
                                            <div class="oh mt-15 f-14 text-bold">{$FundraiserDetail['Camp_DescriptionHTML']}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-25">
                                    <div class="col-md-8 col-sm-10 col-xs-12">
                                        <p>{#_PROFILE_URL_#}</p>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <i class="icon-prepend fa fa-facebook"></i>
                                                    <input type="text" class="form-control" name="facebookURL" id="facebookURL" placeholder="{#_FACEBOOK_URL_#}" value='{$FundraiserDetail['Camp_SocialMediaUrl']['facebook']}'>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <i class="icon-prepend fa fa-youtube"></i>
                                                    <input type="text" class="form-control" name="youtubeURL" id="youtubeURL" placeholder="{#_YOUTUBE_URL_#}"  value='{$FundraiserDetail['Camp_SocialMediaUrl']['youtube']}'>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <i class="icon-prepend fa fa-instagram"></i>
                                                    <input type="text" class="form-control" name="instagramURL" id="instagramURL" placeholder="{#_INSTAGRAM_URL_#}"  value='{$FundraiserDetail['Camp_SocialMediaUrl']['instagram']}'>
                                                </div>
                                            </div>                                              
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <i class="icon-prepend fa fa-twitter"></i>
                                                    <input type="text" class="form-control" name="twitterURL" id="twitterURL" placeholder="{#_TWITTER_URL_#}"  value='{$FundraiserDetail['Camp_SocialMediaUrl']['twitter']}'>
                                                </div>
                                            </div>                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/if}
                        
                        {if="$FundraiserDetail['Camp_PaymentMode']=='INDIVIDUAL-STRIPE-ACCOUNT' && $FundraiserDetail['Camp_Stripe_Status']!=1"}                       
                        <div class="step step-3">                           
                            <div class="step-content">
                            	<h2 class="heading-3">Designate Stripe Account</h2>
                                <div class="row">
                                    <div class="col-md-8 col-sm-10 col-xs-12">
                                    	<h3 class="t-blue f-15 text-bold">Receive donations on Individual Account</h3><p>Click the "Connect with Stripe" button to connect your individual Stripe account with this fundraiser. When donators give, the funds will immediately deposit to your Stripe account.<br><span class="note">Don't have a Stripe account? Stripe is the fastest growing payment gateway in the U.S. To create an account, simply click the Connect with Stripe button below.</span></p>						
                                       <a href='{$STRIPE_TEAM_FUNDARISER_CONNECT_URL}' class="mb-10 db"><img src='{#RESOURCES#}img/stripe.png' /></a>
									   <p>After successful connection, donasity will transfer donation immediately to your account.</p>
                                       <p class="f-15 text-bold">OR</p>							   
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-sm-10 col-xs-12">
										<h3 class="t-blue f-15 text-bold mt-0">Transfer received donation on Non-Profit Organization registered with donasity.</h3>
                                        <p>Enter EIN number of Non-Profit Organization in following box and click save.</p>										<div class="form-group">
                                            <input type="text" class="form-control" name="UUID" id="UUID" placeholder="Enter EIN number of registred Non-Profit Organization here">
                							<span class="note">Don't know, what is this? <a href="javascript://" class="t-green">click here</a> for help or call our customer support for assitance.</span>    
                                        </div>
									   <p>Donasity will transfer received donation to Non-Profit Organization selected by you.</p>                                        
                                    </div>
                                </div>                               
                            </div>
                        </div>
                        {/if}
                        {if="$FundraiserDetail['Camp_PaymentMode']=='CAPTAIN-STRIPE-ACCOUNT' && $FundraiserDetail['Camp_Stripe_Status']==1"}
                        <div class="step step-3">          
                        	<div class="step-content">
                                <h2 class="heading-3">Donation Transfer to Captain Fundraiser</h2>
                            </div>
                        </div>
                        {/if}
                        {if="$FundraiserDetail['Camp_PaymentMode']=='INDIVIDUAL-STRIPE-ACCOUNT' && $FundraiserDetail['Camp_Stripe_Status']==1"}
                        	<div class="step step-3">          
                        	<div class="step-content">
                                <h2 class="heading-3">Donation Transfer to Individual Stripe Account {$FundraiserDetail['Camp_Stripe_ConnectedID']}</h2>
                            </div>
                        </div>
                        {/if}
                        {if="$FundraiserDetail['Camp_PaymentMode']=='NPO-STRIPE-ACCOUNT' && $FundraiserDetail['Camp_Stripe_Status']==1"}
                        	<div class="step step-3">          
                        	<div class="step-content">
                                <h2 class="heading-3">Donation Transfer to NPO whose EIN {$FundraiserDetail['Camp_NPO_EIN']}</h2>
                            </div>
                        </div>
                        {/if}
                        
    				</div>
                                        
					<div class="row">
                    	<div class="col-md-3 col-sm-3 col-xs-3 mt-25">
                        	<a href='{#URL#}ut1myaccount/FundraiserPhotoVideo/{$FundraiserDetail.Camp_ID|keyEncrypt}' class="button-1 large-btn">{#_PHOTOS_VIDEOS_#}</a> 
                        </div>                    	
                        {if="$FundraiserDetail.Camp_Status==31"}
                        	                     
                        <div class="col-md-5 col-sm-5 col-xs-5 text-center mt-25">
                        	<input type="button" class="button-1 large-btn" id="btnStartFund" value='{#_SAVE_START_FUNDRAISER_#}' />
                        </div>
                        
                        {elseif="$FundraiserDetail.Camp_Status==15"}
                        <div class="col-md-5 col-sm-5 col-xs-5 text-center mt-25">
                        	<input type="submit" class="button-1 large-btn" value='{#_SAVE_CHANGE_#}' />
                        </div>
                        {/if}
					</div>
    			</form>
            </div>
        </div>
	</div>        
</section>
{include="bottom/bottom"}
</body>
<script type="text/javascript">
$(document).ready(function()
{
	$("#form-section").validate(
	{
		success: function(element)
		{
			$("#"+element[0].htmlFor).next("b.tooltip").remove();
		},
		errorPlacement: function(error, element)
		{
			element.next("b.tooltip").remove();
			element.after("<b class='tooltip tooltip-top-right'>"+error.text()+"</b>");
		},
		rules:
		{
 
			UUID:{required:true},
		},
		messages:
		{
			UUID:{required:"Enter EIN number"},
		},

	});
});
</script>
</html>