<link rel="stylesheet" href='{#REFRENCES#}css/style.css' type="text/css" />
<script type="text/javascript">
var SITEURL = '{#URL}';
</script>
<script type="text/javascript" src='{#RESOURCES#}js/jquery-1.11.1.js'></script>
<script>
$(document).ready(function(){
	$('#errorshow').click(function(){
		$('#errordiv').toggleClass('dn');	
	});	
});

{if="$Pstatus==1"}
$(document).ready(function()
{
	window.location.href=SITEURL+'nposprocess/index/import-csvdata';
}); 
{/if}
</script>
<div id="" class="igs-form">
	<div class="content-section">
    	<fieldset>
        	<div class="row  npo-process">
            	<section class="rowCounter">
                	 <img src='{#RESOURCES#}img/logologin.png' alt="Welcome to Ultra folders Admin Panel" width="220px" title="Welcome to Admin Panel" />
                </section>
                
                <section class="rowCounter">
                	  <div class="progress-bar">
                         <p class="text-left">Processing {$totalPer}% Completed</p>
                         <div style="width:{$totalPer}%"><p class="text-left">Processing {$totalPer}% Completed</p></div>
                     </div>
                </section>
                
                <section class="rowCounter">
                	  {if="$rowProcessed >0"}
                        <div class="rowCounter">{$rowProcessed} Rows Processed</div>
                      {/if}
                </section>
                
                <section class="rowCounter">
                	  {if="$Pstatus==0"}
        				<div class="rowCounter">goto&nbsp;<a href='{#URL#}home' class="button-2" title="goto home page"><i class="fa fa-home"></i>&nbsp;Home</a> &nbsp; or &nbsp;<a href='{#URL#}npos/index/npo-manage' class="button-2" title="NPO import/export page"><i class="fa fa-arrow-left"></i>&nbsp;Go Back</a></div>
      				  {/if}
                </section>
                
                <section class="errorRow">
                	{if="$errorarr|count > 0 && $Pstatus==0"}
                          <a href='javascript:' class="button-2" title="NPO import/export page" id="errorshow">&nbsp;Show Errors</a>
                          <div class="dn" id="errordiv">
                          {loop="$errorarr"}
                          	<p>{$value}</p>
                          {/loop}
                          </div>
                    {/if}
                </section>
            </div>
        </fieldset>
    </div>         
</div>