<!DOCTYPE html>
<html lang="{#LANG_ID#}">
<head>
{include="top/head"}
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/fundraiser.css'>
<script type="text/javascript" src='{#RESOURCES#}js/jquery.classyloader.min.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/fundraiser.js'></script>
</head>
<body>
    <div id="panel">    
    	<div class="gray-fix-nav">{include="top/top"}</div>
        <section class="fix-first-section fundraiser-page"></section>
<div class="container pt-30 fundraiser-content">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 fundraiser-leftSection">
        	<h2 class="heading-1">{$F_FundraiserDetail.Details.Camp_Title}</h2>
        </div>
        <div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-12 pt-5">
            <div class="date">
               {if="$F_FundraiserDetail.Details.Camp_StartDate!='0000-00-00'"} <div class="oh">{#_STARTED_#} {$F_FundraiserDetail.Details.Camp_StartDate}</div>{/if}
               {if="$F_FundraiserDetail.Details.Camp_EndDate!='0000-00-00'"} <div class="mt-10">{#_ENDING_#} {$F_FundraiserDetail.Details.Camp_EndDate}</div>{/if}
			</div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 fundraiser-leftSection">
            <section class="section-padding">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 mb-5">
                        <img src='{$F_FundraiserDetail.Details.Camp_ThumbImage_Full_Path}' class="img-responsive fundraiser-img" alt="image" align="left">
                   		<div class="about-section">
                            <div class="fonts-lato-bold f-18">{#_ABOUT_#}</div>
                            <div class="mt-5">
                            {$F_FundraiserDetail.Details.Camp_DescriptionHTML|strBreakLine}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {if condition="$F_FundraiserDetail.Image!=NULL"}
            <section class="section-padding">
                <div class="row">
                <div class="col-md-12">
                	<div class="row">
	                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-8">
                   			 <span class="fundraiser-section-tab">{#_PHOTO_GALLERY_#}</span>
    					</div>
                    </div>
                    <div class="row">
                    	<div class="col-xs-12 photo-gallery-section">
	                        <div class="fundraiser-section oh">
                                <ul class="list-inline text-center m-0">
                                    {loop="$F_FundraiserDetail.Image"}
                                    <li><a href='{$value.Camp_Large_Image_Full_Path}' title="Click here to show image"><img src='{$value.Camp_Thumb_Image_Full_Path}' class="img-responsive" alt="image"></a></li>                            
                                    {/loop}
                                 </ul>
                            </div>
    					</div>
                	</div>
                </div>
            </div>
            </section>
            {/if}
            {if condition="$$F_FundraiserDetail.Video!=NULL"}
            <section class="section-padding">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-8">
                                 <span class="fundraiser-section-tab">{#_VIDEO_GALLERY_#}</span>
                            </div>
                        </div>
                    	<div class="fundraiser-section">
	                    	<div class="fundraiser-video oh">
                                {loop="$F_FundraiserDetail.Video"}
									{$class='dn'}
									{if="$counter==0"}
										{$class=''}
									{/if}	
									{if="$value.Type=='1'"}
										<div class="fundraiser-video-frame {$class}">                                	
											<div id="vid_{$counter}">Loading the player...</div>
										</div>
									{else}
										<div class="fundraiser-video-frame {$class}" id="vid_{$counter}">
											{$value.Path}
										</div>
									{/if}
								{/loop}	
							</div>
                            <div class="row mt-10 thumb-video">
                             {loop="$F_FundraiserDetail.Video"}
                            	<div class="col-md-3 col-sm-3 col-xs-6 fundraiser-thumb-video">
									<a href='javascript://' title="Click here to show video">
										{if="$value.Type=='1'"}
											<img src='{#RESOURCES#}images/videothumb.jpg' class="img-responsive" alt="image"  onClick="videoFrame('vid_{$counter}','{$value.Path}','{$value.Type}')">
										{else}
											<img src='{#RESOURCES#}images/videothumb.jpg' class="img-responsive" alt="image" onClick="videoFrame('vid_{$counter}','','{$value.Type}')">
										{/if}	
									</a>
                                </div>								
                                {/loop}
                            </div>
                        </div>
                   </div>
                </div>
            </section>
            {/if}
            <section class="section-padding donor-content hidden-xs">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row ">
                            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-8">
                                 <span class="fundraiser-section-tab">{#_DONOR_COMMENTS_#}</span>
                            </div>
                        </div>
                    	<div class="fundraiser-section comment-section">
                            <div class="comment-box">
                            	<h3 class="comment-heading">Name Last Name: $100</h3>
                                <p>Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit lit que comnihi llorrup tatiam ut essuntur, Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. <!--<a href='javascript://' class="t-green readMore ml-10">Read more... </a>--></p>
                            </div>
                            <div class="comment-box">
                            	<h3 class="comment-heading">Name Last Name: $100</h3>
                                <p>Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit lit que comnihi llorrup tatiam ut essuntur, Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. <!--<a href='javascript://' class="t-green readMore ml-10">Read more... </a>--></p>
                            </div>
                            <div class="comment-box">
                            	<h3 class="comment-heading">Name Last Name: $100</h3>
                                <p>Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit lit que comnihi llorrup tatiam ut essuntur, Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. <!--<a href='javascript://' class="t-green readMore ml-10">Read more... </a>--></p>
                            </div>
                            <div class="comment-box">
                            	<h3 class="comment-heading">Name Last Name: $100</h3>
                                <p>Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit lit que comnihi llorrup tatiam ut essuntur, Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. <!--<a href='javascript://' class="t-green readMore ml-10">Read more... </a>--></p>
                            </div>
                            <div class="comment-box dn">
                            	<h3 class="comment-heading">Name Last Name: $100</h3>
                                <p>Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit lit que comnihi llorrup tatiam ut essuntur, Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. <!--<a href='javascript://' class="t-green readMore ml-10">Read more... </a>--></p>
                            </div>
                            <div class="comment-box dn">
                            	<h3 class="comment-heading">Name Last Name: $100</h3>
                                <p>Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit lit que comnihi llorrup tatiam ut essuntur, Nequi dit magnim et as eatem fugit fuga. Nem voloribus, quodi occuscia sit Nem voloribus, quodi occuscia sit Nequi dit magnim et as eatem fugit fuga. <!--<a href='javascript://' class="t-green readMore ml-10">Read more... </a>--></p>
                            </div>
                            <div class="fonts-lato-regular f-24 text-center mt-25"><a href='javascript://' id="loadMore" class="t-gray" title="Click here to load more comment">LOAD MORE</a></div> 
   						</div> 
                   </div>
                </div>
            </section>
        </div>
       
        <div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-12">
      	  {$FR_id=$F_FundraiserDetail['Details']['Camp_ID']}
            <div class="pt-25 hidden-xs"><a href='{#URL#}setup_fundraiser/Update_fundraiser_complete/{$FR_id|keyEncrypt}' class="button-1" title="Mark Completed">Mark Completed</a></div>
               <div class="pt-25 hidden-xs"><a href="donation_checkout/index/addcart/{$EncFundID}/FUNDARISER" class="fundraiser-donate-btn button-1" title="Click here to donate">DONATE</a></div>
         
            <div class="oh fundraiser-price mt-10 clear-mobile-margin">
                <span class="db f-30">${$F_FundraiserDetail.Details.Camp_DonationReceived}</span>
                <span class="db f-24">RAISED</span>
           	</div>
	        <div class="oh mt-10">
                <div class="fundraiser-goal">
                    <form id="circle" name="circle" method="post" action="#">
                        <input type="hidden" name="DonationPrice" id="DonationPrice" value="{$F_FundraiserDetail.Details.Camp_DonationPrice}"/>
                    </form>
                    <canvas class="loader"></canvas>
                </div>
                <div class="goal-text">OF ${$F_FundraiserDetail.Details.Camp_DonationGoal} GOAL</div>
           	</div>
            <div class="oh mt-15 mb-15">
                <div class="spread-box {if="array_filter($F_FundraiserDetail.Details.Camp_SocialMediaUrl)"}pt-20{/if} pb-20 text-center col-xs-12">
					{if="array_filter($F_FundraiserDetail.Details.Camp_SocialMediaUrl)"}
                    <div class="oh mb-10">
                        <div class="spread-text">Spread<br>The Word</div>
                        <div class="social-section">
                            <ul class="list-inline oh mt-25">
                                {loop="$F_FundraiserDetail.Details.Camp_SocialMediaUrl"}
                                {if="$value<>''"}
                                <li><a href='{$key}/{$value}' class="{$key}" title="{$key}"></a></li>
                                {/if}
                                {/loop}
                            </ul>
                        </div>
					</div>
                    {/if}
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="qr-code-border">
                                <div class="col-md-6 col-sm-6 col-xs-6 mb-5 pr-0 text-right"><img src='{#RESOURCES#}images/qrcodeimg.jpg' class="img-responsive" alt="image"></div>
                                <div class="col-md-6 col-sm-6 col-xs-6 fonts-lato-bold f-18 text-left"><a href="#" class="t-green" title="Click To Download The QR for This Page">{#_DOWNLOAD_QR_PAGE#}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        {include="bottom/bottom"}
   </div>
</body>
<script type="text/javascript" src='{#RESOURCES#}js/jwplayer/jwplayer.js'></script>
<script type="text/javascript">jwplayer.key="9i+ixkLGTIXGH8kbKPzghQGqYlMNAumRrQPBmA==";</script>
</html>