<!DOCTYPE html>
<html lang="{#LANG_ID#}">
<head>
<title>{$F_FundraiserDetail.Details.Camp_Title}</title>
{include="top/head"}
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/fundraiser.css'>
<script type="text/javascript" src='{#RESOURCES#}js/jquery.classyloader.min.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/fundraiser.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/jwplayer.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/fundraiser-comment-block.js'></script>
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-39e9ad24-4d65-5575-11ff-8d1561f855ce", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<meta property="fb:app_id"             content="{#FB_APP_ID#}" />
<meta property="og:url"                content="{#URL#}/fundraiser/{$EncFundID}/{$FriendlyUrl}" />
<meta property="og:type"               content="fundraiser" />
<meta property="og:title"              content="{$F_FundraiserDetail.Details.Camp_Title}" />
<meta property="og:description"        content="{if="$F_FundraiserDetail.Details.Camp_ShortDescription!=''"}{$F_FundraiserDetail.Details.Camp_ShortDescription}{else}{$F_FundraiserDetail.Details.Camp_DescriptionHTML|strBreakLine}{/if}" />
<meta property="og:image"              content="{$F_FundraiserDetail.Details.Camp_ThumbImage_Full_Path}" />
<meta property="og:site_name"          content="{#SITETITLE#}" />


<meta name="twitter:url" content="{#URL#}/fundraiser/{$EncFundID}/{$FriendlyUrl}">
<meta name="twitter:title" content="{$F_FundraiserDetail.Details.Camp_Title}">
<meta name="twitter:card" content="{$F_FundraiserDetail.Details.Camp_ShortDescription}">
<meta name="twitter:description" content="{if="$F_FundraiserDetail.Details.Camp_ShortDescription!=''"}{$F_FundraiserDetail.Details.Camp_ShortDescription}{else}{$F_FundraiserDetail.Details.Camp_DescriptionHTML|strBreakLine}{/if}">
<meta name="twitter:image" content="{$F_FundraiserDetail.Details.Camp_ThumbImage_Full_Path}">
{$Color_SCHEME_CSS}
</head>
<body>
    <div id="panel">    
    	<div class="gray-fix-nav">{include="top/top"}</div>
        <section class="fix-first-section fundraiser-page"></section>        
        {if="$Status==2"}
       	 	{if="$UserType==1"}
         		<div class="edit-bar"><a href='{#URL#}ut1myaccount/FundraiserBasicDetail/{$EncFundID}' class="button-1" title="Click here to edit">{#_V1_EDIT_DETAILS_#}</a></div>
            {else}
            	<div class="edit-bar"><a href='{#URL#}ut2myaccount/FundraiserBasicDetail/{$EncFundID}' class="button-1" title="Click here to edit">{#_V1_EDIT_DETAILS_#}</a></div>
            {/if}
        {/if}
<div class="container pt-30 fundraiser-content">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 fundraiser-leftSection">
        	<h2 class="heading-1 colorTheme-header-text">{$F_FundraiserDetail.Details.Camp_Title}</h2>
        	<div class="fundraiser-description">{$F_FundraiserDetail.Details.Camp_ShortDescription}</div>
        </div>
        <div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-12 pt-5">
            <div class="date">
               {if="$F_FundraiserDetail.Details.Camp_StartDate!='0000-00-00' && $F_FundraiserDetail.Details.Camp_EndDate!='0000-00-00'"} <div class="oh">{#_STARTED_#} {$F_FundraiserDetail.Details.Camp_StartDate}</div>
                <div class="mt-10">{#_ENDDATE_#} {$F_FundraiserDetail.Details.Camp_EndDate}</div>{/if}
			</div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 fundraiser-leftSection">
            <section class="section-padding">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 mb-5">
                        <img src='{$F_FundraiserDetail.Details.Camp_ThumbImage_Full_Path}' class="img-responsive fundraiser-img" alt="image" align="left">
                   		<div class="about-section">
                            <div class="fonts-lato-bold f-18">{#_ABOUT_#}</div>
                            <div class="mt-5 colorTheme-body-text">
                            {$F_FundraiserDetail.Details.Camp_DescriptionHTML|strBreakLine}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {if condition="$F_FundraiserDetail.Details.Camp_PaymentMode=='NPO-STRIPE-ACCOUNT'"}
            <section class="fundraiser-benefits">
            	{$text_fundraiser_benefits} <p class="t-blue"><i class="fa fa-star"></i> {#_IS_TAX_EXEMPTED_#}</p>
            </section>
            {/if}
             {if="$F_FundraiserDetail.TeamDetails!=NULL || $F_FundraiserDetail.CaptainDetails!=NULL"}
            	{if="$F_FundraiserDetail.Details.Camp_TeamUserType=='T'"}
            	<section class="section-padding">
                	<div class="row">
                         <div class="col-md-12 col-sm-12 col-xs-12 mb-5">
                            <div class="t-white p-10 bg-green dib f-25 text-bold">Event Team</div>
                         </div>   
                         <div class="col-md-12 col-sm-12 col-xs-12 ml-15 bg-dark-blue">
                                    <div class="row"> 
                                        <div class="col-md-9 col-sm-9 col-xs-12 pt-20">
                                            <div class="t-white f-24 text-bold">{$F_FundraiserDetail.CaptainDetails.Camp_Title}</div>
                                            <span class="t-white f-12">{$F_FundraiserDetail.CaptainDetails.Camp_ShortDescription}</span>
                                            <div class="pt-15">
                                                <a href='{#URL#}fundraiser/{$F_FundraiserDetail.CaptainDetails.Camp_ID|keyEncrypt}/{$F_FundraiserDetail.CaptainDetails.NPOCat_URLFriendlyName}'><span class="t-white p-10 bg-green dib pull-right text-bold">Event Info <i class="fa fa-chevron-right"></i></span></a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12 pt-20 pb-20">
                                            <a href='{#URL#}fundraiser/{$F_FundraiserDetail.CaptainDetails.Camp_ID|keyEncrypt}/{$F_FundraiserDetail.CaptainDetails.NPOCat_URLFriendlyName}'><img src='{function="CheckImage(CAMPAIGN_MAIN_IMAGE_DIR,CAMPAIGN_MAIN_IMAGE_URL,NO_IMAGE,$F_FundraiserDetail.CaptainDetails.camp_thumbImage)"}' class="img-responsive" alt="image"></a>
                                        </div>                                                                              
                                    </div>
                                    {if="$F_FundraiserDetail.TeamDetails!=NULL"}
                                    <div class="row">
                                        <span class="t-white p-10 bg-green dib ml-15 mb-5 text-bold">Connected Fundraisers &nbsp; <i class="fa fa-chevron-down"></i></span>
                                        <div class="col-md-12 col-sm-12 col-xs-12 bg-dark-blue">    
                                            {loop="$F_FundraiserDetail.TeamDetails"}
                                                <div class="col-md-3 col-sm-3 col-xs-6 p-5 pb-15">
                                                    <div class="text-center">
                                                        <a href='{#URL#}fundraiser/{$value.Camp_ID|keyEncrypt}/{$value.NPOCat_URLFriendlyName}'><img src='{function="CheckImage(CAMPAIGN_MAIN_IMAGE_DIR,CAMPAIGN_MAIN_IMAGE_URL,NO_IMAGE,$value.camp_thumbImage)"}' class="img-responsive" alt="image"></a>
                                                    </div>
                                                    <div style="background:white;">
                                                        <span class="p-5 f-14 db t-blue text-bold"><a href='{#URL#}fundraiser/{$value.Camp_ID|keyEncrypt}/{$value.NPOCat_URLFriendlyName}'>{$value.FullName|substr:0,20}</a></span>
                                                        <div class="progress m-5">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:{$value.Donationpercentage};"></div>
                                                        </div>
                                                        <span class="p-5 f-12 text-bold t-blue pb-5 db">{$value.Donationpercentage} Raised of ${$value.Camp_DonationGoal}</span>         
                                                    </div>
                                                </div>                                                                              
                                            {/loop}
                                   		</div> 
                                     </div>                                                                                   
                                    {/if}   
                         </div> 
                    </div>               
            </section> 
            	{/if}
                {if="$F_FundraiserDetail.Details.Camp_TeamUserType=='C'"}
            	<section class="section-padding">
                	<div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 mb-5">
                            <div class="t-white p-10 bg-green dib text-bold f-20 mb-5">Connected Fundraiserss <i class="fa fa-chevron-down"></i></div>                        
                            <div class="col-md-12 col-sm-12 col-xs-12 mb-5 bg-dark-blue">
                                        <div class="about-section">
                                            <div class="pt-10">                           
                                                    <div class="mt-5 bg-dark-blue"> 
                                                    {loop="$F_FundraiserDetail.TeamDetails"}                                     
                                                        <div class="col-md-3 col-sm-3 col-xs-6 p-5 pb-15">
                                                            <div class="text-center">
                                                                <a href='{#URL#}fundraiser/{$value.Camp_ID|keyEncrypt}/{$value.NPOCat_URLFriendlyName}'><img src='{function="CheckImage(CAMPAIGN_MAIN_IMAGE_DIR,CAMPAIGN_MAIN_IMAGE_URL,NO_IMAGE,$value.camp_thumbImage)"}' class="img-responsive" alt="image"></a>
                                                            </div>
                                                            <div style="background:white;">
                                                                <span class="p-5 f-14 db t-blue text-bold"><a href='{#URL#}fundraiser/{$value.Camp_ID|keyEncrypt}/{$value.NPOCat_URLFriendlyName}'>{$value.FullName|substr:0,20}</a></span>
                                                                <div class="progress m-5">
                                                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:{$value.Donationpercentage};"></div>
                                                                </div>
                                                                <span class="p-5 f-12 text-bold t-blue pb-5 db">{$value.Donationpercentage} Raised of ${$value.Camp_DonationGoal}</span>         
                                                            </div>
                                                        </div>                                                                              
                                                    {/loop}                                                                                 
                                                    </div>
                                            </div>
                                        </div>
                                 </div> 
                        </div>       
					</div>
            	</section>   
            	{/if}         
            {/if}
            {if condition="$F_FundraiserDetail.Image!=NULL"}
            <section class="section-padding">
                <div class="row">
                <div class="col-md-12">
                	<div class="row">
	                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-8">
                   			 <span class="fundraiser-section-tab colorTheme-section-head">{#_PHOTO_GALLERY_#}</span>
    					</div>
                    </div>
                    <div class="row">
                    	<div class="col-xs-12 photo-gallery-section">
	                        <div class="fundraiser-section oh">
                                <ul class="list-inline text-center m-0">
                                    {loop="$F_FundraiserDetail.Image"}
                                    <li><a href='{$value.Camp_Large_Image_Full_Path}'><img src='{$value.Camp_Thumb_Image_Full_Path}' class="img-responsive" alt="image"></a></li>                            
                                    {/loop}
                                 </ul>
                            </div>
    					</div>
                	</div>
                </div>
            </div>
            </section>
            {/if}
            {if condition="$F_FundraiserDetail.Video!=NULL"}
            <section class="section-padding">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-8">
                                 <span class="fundraiser-section-tab colorTheme-section-head">{#_VIDEO_GALLERY_#}</span>
                            </div>
                        </div>
                    	<div class="fundraiser-section">
	                    	<div class="fundraiser-video oh">
                                {loop="$F_FundraiserDetail.Video"}
									{$class='dn'}
									{if="$counter==0"}
										{$class=''}
									{/if}	
									{if="$value.Type=='1'"}
										<div class="fundraiser-video-frame {$class}">                                	
											<div id="vid_{$counter}" dtype='{$value.Type}' durl='{$value.Path}'>{$text_loading_player}</div>
										</div>
									{else}
										<div class="fundraiser-video-frame {$class}" id="vid_{$counter}">
											{$value.Path}
										</div>
									{/if}
								{/loop}	
							</div>
                            <div class="row mt-10 thumb-video">
                             {loop="$F_FundraiserDetail.Video"}
                            	<div class="col-md-3 col-sm-3 col-xs-6 fundraiser-thumb-video">
									<a href='javascript://' title="Click here to show video">
										{if="$value.Type=='1'"}
											<img src='{#RESOURCES#}images/videothumb.jpg' class="img-responsive" alt="image"  onClick="videoFrame('vid_{$counter}','{$value.Path}','{$value.Type}')">
										{else}
											<img src='{#RESOURCES#}images/videothumb.jpg' class="img-responsive" alt="image" onClick="videoFrame('vid_{$counter}','','{$value.Type}')">
										{/if}	
									</a>
                                </div>								
                                {/loop}
                            </div>
                        </div>
                   </div>
                </div>
            </section>
            {/if}
            <section class="section-padding donor-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row ">
                            {if="$CommentList!=NULL && $Status==2"}
                            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-8">
                                 <span class="fundraiser-section-tab colorTheme-section-head">{#_DONOR_COMMENTS_#}</span>
                            </div>
                            {/if}
                            {if="$Status==1"}
                            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-8">
                                 <span class="fundraiser-section-tab colorTheme-section-head">{#_DONOR_COMMENTS_#}</span>
                            </div>
                            {/if}
                        </div>
                    	<div class="fundraiser-section comment-section">
                             {if="$Status==1"}
							 	{if="$loginStatus==1"}
									<div class="comment-form-div">
										<form name="comment-form" id="comment-form" method="post" action="{#URL#}fundraiserdetail/FundraiserComment">
										<input type="hidden" name="campId" id="campId" value="{$EncFundID}"/>
											<div class="form-group">
												<textarea class="form-control" name="comment" id="comment" placeholder="{#_ADD_YOUR_COMMENT_#}" rows="4" maxlength="300"></textarea>
											</div>
											<div class="oh comment-bottom">
												<input type="submit" class="button-1 pull-left" name="submitComment" id="submitComment" value="{#_ADD_COMMENT_#}">
												<span class="comment-msg"></span>
											</div>
										</form>
									</div>
								{/if}
                            {/if}
                            <input type="hidden" name="PageNo" id="PageNo" value="{$PageNumber}">
							<input type="hidden" name="TotalRecord" id="TotalRecord" value="{$TotalRecords}">
							<input type="hidden" name="FundraiserID" id="FundraiserID" value="{$FundraiseID}">
							<input type="hidden" name="QRCODEURL" id="QRCODEURL" value="{$QRCODEURL}">
                            {loop="$CommentList"}
                            <div class="comment-box">
                            	<h3 class="comment-heading colorTheme-header-text">{$value.Camp_Cmt_UserName}</h3>
                                <p class="mb-0 colorTheme-subhead-text">{$value.Camp_Cmt_Comment} <!--<a href='javascript://' class="t-green readMore ml-10">Read more... </a>--></p>
                            	<div class="t-gray f-15"><i>{#_V1_ADDED_ON_#} {$value.Camp_Cmt_CreatedDate}</i></div>
                            </div>
                            {/loop}
                            <div class="fonts-lato-regular f-24 text-center mt-25 loadMoreDiv"><a href='javascript://' id="loadMore" class="t-gray" title="Click here to load more comment">{#_V1_LOAD_MORE_#}</a></div> 
   						</div> 
                   </div>
                </div>
            </section>
        </div>
       
        <div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-12">
      	  {$FR_id=$F_FundraiserDetail['Details']['Camp_ID']}
         <!--   <div class="pt-25 hidden-xs"><a href='{#URL#}setup_fundraiser/Update_fundraiser_complete/{$FR_id|keyEncrypt}' class="button-1" title="Mark Completed">Mark Completed</a></div>-->              
               <div class="pt-25">
               {if="$Status==1"}
               <a href='{#URL#}donation_checkout/index/addcart/{$EncFundID}/FUNDARISER' class="fundraiser-donate-btn button-1 colorTheme-button" title="Click here to donate">
               {else}
               <a href='javascript://' class="fundraiser-donate-btn button-1 colorTheme-button" title="Click here to donate">{/if}
               {#_V1_DONATE_#}</a>
               </div>
         
            <div class="oh fundraiser-price mt-10 colorTheme-fields">
                <span class="db f-30">${$F_FundraiserDetail.Details.Camp_DonationReceived|number_format}</span>
                <span class="db f-24">{#_V1_RAISED_#}</span>
           	</div>
	        <div class="oh mt-10">
                <div class="fundraiser-goal">
                    <form id="circle" name="circle" method="post" action="#">
                        <input type="hidden" name="DonationPrice" id="DonationPrice" value="{$F_FundraiserDetail.Details.Camp_DonationPrice}"/>
                    </form>
                    <canvas class="loader"></canvas>
                </div>
                <div class="goal-text">{#_V1_OF_#} ${$F_FundraiserDetail.Details.Camp_DonationGoal|number_format} {#_V1_GOAL_#}</div>
           	</div>
            <div class="oh mt-15 mb-15">
                <div class="spread-box pt-20 pb-20 text-center col-xs-12">
                	<div class="oh mb-10">
                            {$text_spread_word}
                            <div class="mt-10">
                                <span class='st_facebook_vcount' displayText='Facebook'></span>
                                <span class='st_twitter_vcount' displayText='Tweet'></span>
                                <span class='st_reddit_vcount' displayText='Reddit'></span>  
                            </div>
                   </div>
					{if="array_filter($F_FundraiserDetail.Details.Camp_SocialMediaUrl)"}
                    <div class="oh mb-10">
                    	<div class="spread-text">
                        	{#_V1_VISIT_US_HERE_#}       
                        </div>            
                        <div class="social-section">
                            <ul class="list-inline oh mt-25">
                                {loop="$F_FundraiserDetail.Details.Camp_SocialMediaUrl"}
                                {if="$value!=''"}
                                <li><a href='http://{$value}' class="{$key}" title="{$key}"></a></li>
                                {/if}
                                {/loop}
                            </ul>
                        </div>
					</div>
                    {/if}
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="qr-code-border">
                                <div class="col-md-6 col-sm-6 col-xs-6 mb-5 pr-0 text-right"><img src='{$QRCODEURL}' class="img-responsive" alt="image"></div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-6 fonts-lato-bold f-18 text-left"><a href='{$QRCODEURL}' class="t-green" title="Click Here for print This Page">{#_DOWNLOAD_QR_PAGE_#}</a></div>-->
                                <div class="col-md-6 col-sm-6 col-xs-6 fonts-lato-bold f-18 text-left"><a href='{#URL#}print-Fundraiserflyer/{function="keyEncrypt($FundraiseID)"}' class="t-green" title="Click Here for print This Page" target="_blank">{#_DOWNLOAD_QR_PAGE_#}</a></div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        {include="bottom/bottom"}
   </div>
</body><script type="text/javascript">
$(document).ready(function() {
 $("#comment-form").validate(
{ 
	success: function(element)
	{
		$("#"+element[0].htmlFor).next("b.tooltip").remove();
	},	
	errorPlacement: function(error, element)
	{
		element.next("b.tooltip").remove();
		element.after("<b class='tooltip tooltip-top-right'>"+error.text()+"</b>");
	},
	rules: {
		comment :{required:true},
	},  
	messages: 
	{
		comment: {required:"Comment"},
	},
  submitHandler: function() {
	var dataArray={};
	dataArray['comment']=$('#comment').val();
	dataArray['campId']=$('#campId').val();
	//campId
	$.ajax({
		type:"POST",
		data:dataArray,
		url:SITEURL+"fundraiserdetail/FundraiserComment",
		beforeSend:function()
		{
		},
		success: function(responseText)
		{
			if(responseText==1)
			{
				//$('.comment-msg').text('Comment added succesfully!');
				$('.comment-form-div').addClass('oh');
				$('.comment-form-div').html('<div class="comment-msg">Comment added succesfully. Please Refresh the page to see.</div>');
			}
			else
			{
				$('.comment-msg').text('Comment could not be added');
			}
		}
    });
},

 });

});
</script>
<script type="text/javascript" src='{#RESOURCES#}js/jwplayer/jwplayer.js'></script>
<script type="text/javascript">jwplayer.key="9i+ixkLGTIXGH8kbKPzghQGqYlMNAumRrQPBmA==";</script>

</html>