<!DOCTYPE html>
<html lang="{#LANG_ID#}">
<head>
<title>{$F_FundraiserDetail.Details.Camp_Title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href='{#RESOURCES#}images/favicon.ico'/>
<meta name="keywords" content="{$F_FundraiserDetail.Details.Camp_Title} {$F_FundraiserDetail.Details.Camp_ShortDescription}">
<meta name="Description" content="{$F_FundraiserDetail.Details.Camp_ShortDescription} - fundraiser powered by donasity">
<link href='' rel="apple-touch-icon" sizes="60x60" />
<link href='' rel="apple-touch-icon" sizes="76x76" />
<link href='' rel="apple-touch-icon" sizes="120x120" />
<link href='' rel="apple-touch-icon" sizes="152x152" />
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/donasity.css' />
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/font-awesome.min.css' />
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/font-iconmoon.min.css' />
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/magnific-popup.css' />
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/common.css' />
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/pageCommon.css' />
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/npo-registration.css' />
<!--<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/responsive.css' />-->
<!--[if lt IE 9]>
		<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/ieStyle.css' />
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src='{#RESOURCES#}js/jquery.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/donasity.min.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/jquery.validate.min.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/jquery.magnific-popup.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/common.js'></script>
<script type="text/javascript">
	var SITEURL = '{#URL#}';
	var RESOURCES ='{#RESOURCES#}';
	
$(document).ready(function(){
	$('.boxpevb').click(function(){
		$('.boxxprev').stop(true,false).slideToggle();
	});
});


</script>

<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/fundraiser-platinum.css'>
<script type="text/javascript" src='{#RESOURCES#}js/fundraiser-platinum.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/fundraiser-comment-block.js'></script>
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-39e9ad24-4d65-5575-11ff-8d1561f855ce", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>


<meta property="fb:app_id"             content="{#FB_APP_ID#}" />
<meta property="og:url"                content="{#URL#}/fundraiser/{$EncFundID}/{$FriendlyUrl}" />
<meta property="og:type"               content="fundraiser" />
<meta property="og:title"              content="{$F_FundraiserDetail.Details.Camp_Title}" />
<meta property="og:description"        content="{if="$F_FundraiserDetail.Details.Camp_ShortDescription!=''"}{$F_FundraiserDetail.Details.Camp_ShortDescription}{else}{$F_FundraiserDetail.Details.Camp_DescriptionHTML|strBreakLine}{/if}" />
<meta property="og:image"              content="{$LogoImage}" />
<meta property="og:site_name"          content="{#SITETITLE#}" />


<meta name="twitter:url" content="{#URL#}/fundraiser/{$EncFundID}/{$FriendlyUrl}">
<meta name="twitter:title" content="{$F_FundraiserDetail.Details.Camp_Title}">
<meta name="twitter:card" content="{if="$F_FundraiserDetail.Details.Camp_ShortDescription!=''"}{$F_FundraiserDetail.Details.Camp_ShortDescription}{else}{$F_FundraiserDetail.Details.Camp_DescriptionHTML|strBreakLine}{/if}">
<meta name="twitter:description" content="{if="$F_FundraiserDetail.Details.Camp_ShortDescription!=''"}{$F_FundraiserDetail.Details.Camp_ShortDescription}{else}{$F_FundraiserDetail.Details.Camp_DescriptionHTML|strBreakLine}{/if}">
<meta name="twitter:image" content="{$LogoImage}">
<style type="text/css">
.fundraiser-goal{background-color:#09426a; }
.fundrasiergoalimageholder{background-position:center; background-repeat:no-repeat; text-align:center; padding:60px 0px 0px 0px; text-align:center; height:245px;}
</style>
{$Color_SCHEME_CSS}
</head>
<body>
{$bannershadowclass='banner-shadow'}
{loop="$campTogglesRay"} 
	{if="$value=='1f'"}
		{$bannershadowclass='noshadowx'}
	{/if}
{/loop}
{$kerningfix='2'}
{$fundraiserdemo='n'}
<div id="panel">    
	<div class="stiky-bar">
		<div class="col-xs-6 f-18 pt-10">${$F_FundraiserDetail.Details.Camp_DonationReceived} {$text_raised} </div>
		<div class="col-xs-6">
			{if="$Status==1"}
			<a href='{#URL#}donation_checkout/index/addcart/{$EncFundID}/FUNDARISER' class="button-1 colorTheme-button" title="{$text_donate}">
			{else}
			<a href='javascript://' class="fundraiser-donate-btn button-1 colorTheme-button v2frdonbttn" style="background:#888888!important; background-color:#888888!important; border:1px solid #777777!important; color:#dddddd!important;" title="{$text_donate}">
			{/if}
			{$text_donate}
			</a>
		</div>
	</div>
	{if="$Status==2"}
		{if="$UserType==1"}
			{$editpathfolder="ut1myaccount"}
		{else}
			{$editpathfolder="ut2myaccount"}
		{/if}
		<div class="edit-bar"><a href='{#URL#}{$editpathfolder}/FundraiserBasicDetail/{$EncFundID}' class="button-1" title="Click here to edit">{$text_edit_details}</a></div>
	{/if}	



{if="$Status==2"}
	{$statusFlag['11']='This fundraiser is waiting for you to complete its set up. Once you have, click the "Save and Start" button on the fundraiser edit page.';}
	{$statusFlag['31']='This fundraiser is waiting for you to complete its set up. Once you have, click the "Save and Start" button on the fundraiser edit page.';}
	{$statusFlag['6']='This fundraiser is waiting for donasity approval. This process takes up to 48 hours. You can not donate using this preview page.';}
	{$statusFlag['36']='This TEAM fundraiser was stopped by the TEAM CAPTAIN.';}
	{$statusFlag['15']='This fundraiser is currently running. You can not donate to it using this preview page.';}
	{$statusFlag['16']='This fundraiser is currently running. You can not donate to it using this preview page.';}
	{$statusFlag['21']='This fundraiser has been stopped. You can preview it here, but no one else can see it or donate to it.';}
	<div class="boxxprev" id="boxprev" style="border:3px solid #fff; background-color:#444; width:350px; height:150px; position:absolute; top:10px; left:10px; z-index:500; padding:20px;">
		PREVIEW <span style="color:#444;">{$F_FundraiserDetail.Details.Camp_Status}</span><br />
		{$statusFlag[$F_FundraiserDetail.Details.Camp_Status]}
		<div style="clear:both; width:350px; height:2px;">&nbsp;</div>
		<div class="boxpevb" style="float:left; padding:5px 10px 0px 10px; width:90px; height:25px; border:0px; margin-top:10px; background-color:#abc345; color:#fff; cursor:pointer; z-index:600; font-size:14px;" >Hide This</div><div style="float:right; padding:5px 10px 0px 10px; width:170px; height:25px; border:0px; margin-top:10px; background-color:#abc345; color:#fff; cursor:pointer; z-index:600; font-size:14px;"><a href='{#URL#}{$editpathfolder}/fundraisers-list' class="x" style="color:#fff;">Return to Dashboard</a></div>
	</div>
{/if}

	
	<section class="first-section fundraiser-platinum-page" style="background-image:url({$F_FundraiserDetail.Details.Camp_BigImage_Full_Path});">		
		<div class="{$bannershadowclass}">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-sm-2 col-xs-6 logo-section"><img src='{$LogoImage}' class="img-responsive" /></div>
				</div>
				<div class="oh hidden-xs heading-section">
					<div class="col-lg-8 col-md-9 col-sm-12">
						<h2 class="heading-1 colorTheme-header-text">{$F_FundraiserDetail.Details.Camp_Title}</h2>
						<div class="heading-2 colorTheme-subhead-text">{$F_FundraiserDetail.Details.Camp_ShortDescription}</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container fundraiser-platinum-content">
		<div class="row">
			<div class="col-md-8 col-sm-9 col-xs-12 fundraiser-leftSection">
				<div class="platinum-mobile-heading visible-xs-block">
					<h2 class="heading-1 colorTheme-header-text">{$F_FundraiserDetail.Details.Camp_Title}</h2>
					<div class="heading-2 colorTheme-subhead-text">{$F_FundraiserDetail.Details.Camp_ShortDescription}</div>
				</div>
				<section class="platinum-top-content">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="oh">
							{if="$Status==1"}
							<a href='{#URL#}donation_checkout/index/addcart/{$EncFundID}/FUNDARISER' class="fundraiser-donate-btn button-1 colorTheme-button v2frdonbttn" title="{$text_donate}">
							{else}
							<a href='javascript://' class="fundraiser-donate-btn button-1 colorTheme-button v2frdonbttn" style="background:#888888!important; background-color:#888888!important; border:1px solid #777777!important; color:#dddddd!important;" title="{$text_donate}">
							{/if}
							{$text_donate}</a></div>
							{if="$F_FundraiserDetail.Details.Camp_StartDate!='0000-00-00' && $F_FundraiserDetail.Details.Camp_EndDate!='0000-00-00'"}
							<div class="date colorTheme-fields">
								<div class="oh">{$text_started} {$F_FundraiserDetail.Details.Camp_StartDate}</div>								
							</div>
							{/if}
							
							{if="$fundraiserdemo=='y'"}
							<div class="fundraiser-price colorTheme-fields">
								$789,530 {$text_raised}
							</div>
							{else}
							<div class="fundraiser-price colorTheme-fields">
								${$F_FundraiserDetail.Details.Camp_DonationReceived|number_format} {$text_raised}
							</div>
							{/if}						
						</div>
						{if="$fundraiserdemo=='y'"}
							{$incresepercentageclass='fundraiser-goal-0'}
							{$incresepercentageclass='fundraiser-goal-80'}
						{else}
						<!-- progress bar conditions -->
							{$incresepercentageclass='fundraiser-goal-0'}
							{if condition="$F_FundraiserDetail.Details.Camp_DonationPrice>0 && $F_FundraiserDetail.Details.Camp_DonationPrice<=10"}
								{$incresepercentageclass='fundraiser-goal-10'}
							{/if}
							{if condition="$F_FundraiserDetail.Details.Camp_DonationPrice>10 && $F_FundraiserDetail.Details.Camp_DonationPrice<=20"}
								{$incresepercentageclass='fundraiser-goal-20'}
							{/if}
							{if condition="$F_FundraiserDetail.Details.Camp_DonationPrice>20 && $F_FundraiserDetail.Details.Camp_DonationPrice<=30"}
								{$incresepercentageclass='fundraiser-goal-30'}
							{/if}
							{if condition="$F_FundraiserDetail.Details.Camp_DonationPrice>30 && $F_FundraiserDetail.Details.Camp_DonationPrice<=40"}
								{$incresepercentageclass='fundraiser-goal-40'}
							{/if}
							{if condition="$F_FundraiserDetail.Details.Camp_DonationPrice>40 && $F_FundraiserDetail.Details.Camp_DonationPrice<=50"}
								{$incresepercentageclass='fundraiser-goal-50'}
							{/if}
							{if condition="$F_FundraiserDetail.Details.Camp_DonationPrice>50 && $F_FundraiserDetail.Details.Camp_DonationPrice<=60"}
								{$incresepercentageclass='fundraiser-goal-60'}
							{/if}
							{if condition="$F_FundraiserDetail.Details.Camp_DonationPrice>60 && $F_FundraiserDetail.Details.Camp_DonationPrice<=70"}
								{$incresepercentageclass='fundraiser-goal-70'}
							{/if}
							{if condition="$F_FundraiserDetail.Details.Camp_DonationPrice>70 && $F_FundraiserDetail.Details.Camp_DonationPrice<=80"}
								{$incresepercentageclass='fundraiser-goal-80'}
							{/if}
							{if condition="$F_FundraiserDetail.Details.Camp_DonationPrice>80 && $F_FundraiserDetail.Details.Camp_DonationPrice<=99"}
								{$incresepercentageclass='fundraiser-goal-90'}
							{/if}
							{if condition="$F_FundraiserDetail.Details.Camp_DonationPrice>99"}
								{$kerningfix='3'}
								{$incresepercentageclass='fundraiser-goal-100'}
							{/if}
							{if condition="$F_FundraiserDetail.Details.Camp_DonationPrice>199"}
								{$kerningfix='6'}
							{/if}
						<!-- end of code -->
						{/if}
						
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="fundraiser-goal colorTheme-fields">
							<div class="fundrasiergoalimageholder {$incresepercentageclass}">
								{if="$fundraiserdemo=='y'"}
								<div class="goal-per"><span style="letter-spacing:-{$kerningfix}px;">79<sup>%</sup></span><sub>{$text_of}</sub></div>
								{else}
								<div class="goal-per"><span style="letter-spacing:-{$kerningfix}px;">{$F_FundraiserDetail.Details.Camp_DonationPrice|number_format}<sup>%</sup></span><sub>{$text_of}</sub></div>
								{/if}
								<span class="goal-text"><span>${$F_FundraiserDetail.Details.Camp_DonationGoal|number_format}</span><br /> <span>{$text_goal}</span></span>
							</div>
							</div>					
						</div>
						
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="spacial-text colorTheme-fields"><span class="db f-18">{$text_specthanks}</span> {if="$TotalDonor>7"}<span class="db thanks-number">{$TotalDonor}</span>{else}<span class="db thanks-number"><img src='{#RESOURCES#}images/donasitywatermark.png' alt="" height="52" />{/if}</span> <span class="db f-28">{$text_donors}</span> <span class="logo"><a href='{#URL#}'><img class="img-responsive" src='{#RESOURCES#}images/logobypowered.png' alt="" /></a></span>
							</div>
						</div>						
					</div>
				</section>
				<section class="section-padding">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 mb-5">
							<div class="about-section">
								<div class="heading-2 colorTheme-section-head">{$text_about}</div>
								<div class="colorTheme-body-text">
									 {$F_FundraiserDetail.Details.Camp_DescriptionHTML|strBreakLine}
								</div>
							</div>
						</div>
					</div>
				</section>
				{if condition="$F_FundraiserDetail.Details.Camp_PaymentMode=='NPO-STRIPE-ACCOUNT'"}
				<section class="fundraiser-benefits mt-20 pt-20 fonts-lato-regular">
					{$text_fundraiser_benefits} <p class="t-blue"><i class="fa fa-star"></i> {$text_don_taxexempt}</p>
				</section>
				{/if}
				
				{if="(isset($F_FundraiserDetail.TeamDetails) && 
                $F_FundraiserDetail.TeamDetails!=NULL) || 
                (isset($F_FundraiserDetail.CaptainDetails) && 
                $F_FundraiserDetail.CaptainDetails!=NULL)"}
				{if="$F_FundraiserDetail.Details.Camp_TeamUserType=='T'"}
				<section class="section-padding">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 mb-5">
							<div class="heading-2 colorTheme-section-head">{$event_team_title}</div>
							<div class="t-white p-10 bg-green dib text-bold  colorTheme-button v2joinourteam"><a href='{#URL#}team_fundraiser' class="t-white f-18 text-bold">{$join_our_team}</a></div>
						</div>
						
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ml-15 bg-dark-blue colorTheme-fields">
							
							<div class="row mt-15"> 
								<div class="col-lg-12 col-md-12 pl-50 col-sm-12 col-xs-12 pt-15">
									<div class="col-md-12 col-sm-12 col-xs-12"><a href='{#URL#}fundraiser/{$F_FundraiserDetail.CaptainDetails.Camp_ID|keyEncrypt}/{$F_FundraiserDetail.Details.Camp_UrlFriendlyName}'><span class="t-white p-10 bg-green dib text-bold colorTheme-fields"><i class="fa fa-chevron-down"></i>&nbsp;&nbsp;{$team_captain_title} </a></span></div>
								</div>
								<div class="col-md-12 col-sm-12 pl-50 col-xs-12 pt-20 pb-20">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="t-white f-24 text-bold">{$F_FundraiserDetail.CaptainDetails.Camp_Title}</div>
										<span class="t-white f-12">{$F_FundraiserDetail.CaptainDetails.Camp_ShortDescription}</span>
									</div>									
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-15">									
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
										<div style="white-space:nowrap; display:inline-block; overflow:visible; margin:0 auto;">
										<div style="float:left;" class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><a href='{#URL#}fundraiser/{$F_FundraiserDetail.CaptainDetails.Camp_ID|keyEncrypt}/{$F_FundraiserDetail.Details.Camp_UrlFriendlyName}'><img src='{function="CheckImage(CAMPAIGN_MAIN_IMAGE_DIR,CAMPAIGN_MAIN_IMAGE_URL,NO_IMAGE,$F_FundraiserDetail.CaptainDetails.camp_thumbImage)"}' align="left" class="img-responsive" alt="image"></a>
										</div>
										<div style="float:left;" class="col-lg-8 col-md-8 col-sm-8 col-xs-8"><a href='{#URL#}fundraiser/{$F_FundraiserDetail.CaptainDetails.Camp_ID|keyEncrypt}/{$F_FundraiserDetail.Details.Camp_UrlFriendlyName}'><img src='{$F_FundraiserDetail.Details.Camp_BigImage_Full_Path}' class="img-responsive" alt="image"></a>
										</div>
										</div>
									</div>
								</div> 
							</div>
							<div class="row mt-15"> 
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-15 pb-15">
									<span class="t-white p-10 bg-green dib ml-15 mb-5 mt-15 text-bold colorTheme-fields"><i class="fa fa-chevron-down"></i>&nbsp;&nbsp;{$team_goal_title} </span>
									<div class="col-md-12 col-sm-12 col-xs-12 bg-dark-blue colorTheme-fields pb-15 t-white f-24 text-bold">    
										{$our_collective_amt} ${$F_FundraiserDetail.CaptainDetails.Camp_DonationGoal|number_format}									
									</div>
								</div>								
							</div>
							{if="$F_FundraiserDetail.TeamDetails!=NULL"}
							{/if}   
						</div> 
					</div>               
				</section> 
				{/if}
				{if="$F_FundraiserDetail.Details.Camp_TeamUserType=='C'"}
				<section class="section-padding">
					<div class="heading-2 colorTheme-section-head">{$connected_fr}</div>
					<div class="col-md-12 col-sm-12 col-xs-12 pt-5 pb-5 bg-dark-blue colorTheme-fields">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&lt; PREV 20 </div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 fonts-lato-regular f-14 t-gray">SORT BY&nbsp;&nbsp;&nbsp;<a href="">TOP 20</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">TEAM NAME</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">GOAL REACHED</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">CITY</a></div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NEXT 20 &gt;</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 mb-5 bg-dark-blue colorTheme-fields">
						<div class="about-section">
							<div class="pt-10 pb-10">                           
								<div class="mt-5 bg-dark-blue colorTheme-fields"> 
								{loop="$F_FundraiserDetail.TeamDetails"} 
									{$teamIdentity=$value.FullName}
									{if="$value.Camp_ShortDescription!=''"}{$teamIdentity=$value.Camp_ShortDescription}{/if}
									<div style="width:19%; float:left; margin-left:6px; margin-bottom:4px;">
										<div class="text-center">
											<a href='{#URL#}fundraiser/{$value.Camp_ID|keyEncrypt}/{$F_FundraiserDetail.Details.Camp_UrlFriendlyName}'><img src='{function="CheckImage(CAMPAIGN_MAIN_IMAGE_DIR,CAMPAIGN_MAIN_IMAGE_URL,NO_IMAGE,$value.camp_thumbImage)"}' class="img-responsive" alt="image"></a>
										</div>
										<div style="background:white;">
											<span class="p-5 f-14 db t-blue text-bold"><a href='{#URL#}fundraiser/{$value.Camp_ID|keyEncrypt}/${F_FundraiserDetail.Details.Camp_UrlFriendlyName}'>{$teamIdentity|substr:0,20}</a></span>
											<div class="progress m-5">
												<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:{$value.Donationpercentage};"></div>
											</div>
											<span class="p-5 f-12 text-bold t-blue pb-5 db">{$value.Donationpercentage} {$raised_of} ${$value.Camp_DonationGoal|number_format}</span>         
										</div>
									</div>                                                                              
								{/loop}                                                                                 
								</div>
							</div>
						</div>
					</div>				              
				</section>   
				{/if}         
				{/if}
				{if condition="$F_FundraiserDetail.Image!=NULL"}
				<section class="section-padding">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 pt-20">
							<div class="row pt-10">
								<div class="col-md-12 col-sm-12 col-xs-12 pt-20">
									 <div class="heading-2 colorTheme-section-head">{$photo_gallery}</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12 photo-gallery-section">
									<div class="fundraiser-section">
										<ul class="list-inline text-center m-0">
											{loop="$F_FundraiserDetail.Image"}
											<li><a href='{$value.Camp_Large_Image_Full_Path}'><img src='{$value.Camp_Thumb_Image_Full_Path}' class="img-responsive" alt="fundraiser image" style="z-index:1000;"></a></li> 
											{/loop}                           
										 </ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				{/if}
				 {if condition="$F_FundraiserDetail.Video!=NULL"}
				<section class="section-padding">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 pt-10">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12 pt-20">
									 <div class="heading-2 colorTheme-section-head">{$video_gallery}</div>
								</div>
							</div>
							<div class="fundraiser-section">
								<div class="fundraiser-video oh">
									 {loop="$F_FundraiserDetail.Video"}
										{$class='dn'}
										{if="$counter==0"}
											{$class=''}
										{/if}	
										{if="$value.Type=='1'"}
											<div class="fundraiser-video-frame {$class}">                                	
												<div id="vid_{$counter}" dtype='{$value.Type}' durl='{$value.Path}' style="z-index:1;">{$text_loading}</div>
											</div>
										{else}
											<div style="z-index:1;" class="fundraiser-video-frame {$class}" id="vid_{$counter}" dtype='{$value.Type}'>
												{$value.Path}
											</div>
										{/if}
									{/loop}
								</div>
								
								
								<div class="row mt-10 thumb-video">
									{loop="$F_FundraiserDetail.Video"}
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 fundraiser-thumb-video">
											<a href='javascript://' title="Click here to show video">
												{if="$value.Type=='1'"}													
													<img src='{#RESOURCES#}images/videothumb.jpg' class="img-responsive" alt="image"  onClick="videoFrame('vid_{$counter}','{$value.Path}','{$value.Type}')">
												{else}
													{if="$value.Thmb!=''"}
														<img src='{$value.Thmb}' class="img-responsive" alt="fundraiser video hosted at {$value.Thmb}" onClick="videoFrame('vid_{$counter}','','{$value.Type}')">
													{else}
														<img src='{#RESOURCES#}images/videothumb.jpg' class="img-responsive" alt="fundraiser video thumbnail" onClick="videoFrame('vid_{$counter}','','{$value.Type}')">
													{/if}
												{/if}	
											</a>
										</div>								
									{/loop}
								</div>
							</div>
					   </div>
					</div>
				</section>
				{/if}
				<section class="section-padding donor-comment-section">
					<div class="row"><a name='comt'>&nbsp;</a><a name='comr'>&nbsp;</a>
						<div class="col-md-12">
							<div class="row">
								{if="$CommentList!=NULL && $Status==2"}
								<div class="col-md-12 col-sm-12 col-xs-12">
									 <div class="heading-2 colorTheme-section-head">{$donor_comms}</div>
								</div>
								{/if}
								 {if="$Status==1"}
								<div class="col-md-12 col-sm-12 col-xs-12">
									 <div class="heading-2 colorTheme-section-head">{$donor_comms}</div>
								</div>
								{/if}
								<div class="col-md-12 col-sm-12 col-xs-12" id="commterrr" style="padding:15px; color:#a94442; background-color:#f2dede; border-color:#ebccd1;  margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; text-align: center; font-family: 'latoregular',sans-serif; display:none;">{$comm_not_saved}</div>
							</div>
							<div class="comment-section">
								{if="$Status==1"}
									{if="$loginStatus==1"}
										<div class="comment-form-div mb-15">
											<form name="comment-form" id="comment-form" method="post" action="{#URL#}fundraiserdetail/FundraiserCommentPost">
											<input type="hidden" name="campId" id="campId" value="{$EncFundID}"/>
												<div class="form-group">
													<textarea class="form-control" name="comment" id="comment" placeholder="{$add_your_comment}" rows="4" maxlength="300"></textarea>
												</div>
												<div class="oh comment-bottom">
													<input type="submit" class="button-1 pull-left colorTheme-button" name="submitComment" id="submitComment" value="{$add_your_comment}">
													<span class="comment-msg"></span>
												</div>
											</form>
										</div>
									{/if}
								{/if}
								<input type="hidden" name="PageNo" id="PageNo" value="{$PageNumber}">
								<input type="hidden" name="TotalRecord" id="TotalRecord" value="{$TotalRecords}">
								<input type="hidden" name="FundraiserID" id="FundraiserID" value="{$FundraiseID}">
								{$countcommt=0}
								{$loggedinuserid=$SurferID}
								{loop="$CommentList"}
									{$countcommt=$countcommt+1}
									{$commentatorid=$value.Camp_Cmt_RUID}
									
								<div class="comment-box">
									<h3 class="comment-heading colorTheme-section-head">{$value.Camp_Cmt_UserName}
									
									{if="$countcommt=='1' && $commentatorid==$loggedinuserid"} <div style="float:right; margin:-25px -15px 0px 0px;"><img src='{#RESOURCES#}images/flag_new.png' alt="new fundraiser comment"></div> 	{/if}
									
									</h3>
									<p class="mb-0">{$value.Camp_Cmt_Comment}</p>
									<div class="t-gray f-15"><i>{#_V2_ADDED_ON_#} {$value.Camp_Cmt_CreatedDate}</i></div>
								</div>
								{/loop}
								
								<div class="fonts-lato-regular f-24 text-center mt-20 loadMoreDiv"><a href='javascript://' id="loadMore" class="t-gray" title="{$load_more_comments}">{$load_more_comments}</a></div> 
							</div> 
						</div>
					</div>
				</section>
			</div>

			<div class="col-md-3 col-md-offset-1 col-sm-3 col-xs-12 platinum-rightSection mb-15">
				<div class="spread-box pt-20 pb-20 text-center col-xs-12">
				   <div class="oh mb-10 spread-text colorTheme-section-head" style="height:170px; border:0px!important;">
						{$text_spread_word}
						<div class="spread-text"><p class="f-14 mt-10 colorTheme-section-head">{$share_social}</p></div>
						<div class="mt-10" style="border:0px!important;">
							 <span class='st_facebook_vcount' displayText='Facebook'></span>
							<span class='st_twitter_vcount' displayText='Tweet'></span>
							<!---<span class='st_reddit_vcount' displayText='Reddit'></span>  --->
						</div>
				   </div>

					<div style="border:0px!important;">
						<div class="spread-text " style="border:0px!important; margin:0px;">
							<span class="f-14 colorTheme-section-head">{$copy_for_email}</span>       
						</div>
						<div class="t-black f-12 fonts-lato-regular" style="text-align:center;">
						{$how_to_copy_email}<br/>
						<textarea name="tmpx" id="tmpx" style="width:100%; vertical-align:top; background-color:#eeeeee; height:60px; font-family: 'latoregular',sans-serif; text-align:left;">{#URL#}fundraiser/{$EncFundID}/{$F_FundraiserDetail.Details.Camp_UrlFriendlyName}</textarea>
						</div>
					</div>
					
					{if="isset($F_FundraiserDetail.Details.Camp_SocialMediaUrl) &&
                     array_filter($F_FundraiserDetail.Details.Camp_SocialMediaUrl)"}
					<div class="oh" style="margin-top:50px; border-top:1px solid #b1b1b1; padding-top:20px;">
						<div class="spread-text">
							{$visit_us}            
						</div>                             
						<div class="social-section">
							<ul class="list-inline mt-25 oh">
								 {loop="$F_FundraiserDetail.Details.Camp_SocialMediaUrl"}
									{if="$value<>''"}
									<li><a href='{$value}' class="{$key}"></a></li>
									{/if}
								 {/loop}
							</ul>
						</div>
					</div>
					{/if}
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 pt-15">
							<div class="qr-code-border">
								<div class="col-md-6 col-sm-6 col-xs-6 mb-5 qr-code-img"><img src='{$QRCODEURL}' class="img-responsive" alt="{$print_flyer}"></div>
								<div class="col-md-6 col-sm-6 col-xs-6 qr-code-text"><a href='{#URL#}print-Fundraiserflyer/{function="keyEncrypt($FundraiseID)"}' class="t-green" title="{$print_flyer}" target="_blank" style="text-decoration:none!important;"><span class="colorTheme-section-head">{$print_flyer}</span></a></div>
							</div>	
						</div>
					</div>
				</div>            
			</div>
		</div>
	</div>
	{include="bottom/bottom"}
</div>
<div class="navbar"><div class="top"></div></div>

</body>

<script type="text/javascript" src='{#RESOURCES#}js/jwplayer/jwplayer.js'></script>
<script type="text/javascript">jwplayer.key="9i+ixkLGTIXGH8kbKPzghQGqYlMNAumRrQPBmA==";</script>
<script type="text/javascript">
$(document).ready(function() { 
	var currurl=window.location.href;
	var n = currurl.indexOf("#comr");
	if(n>5){
		document.getElementById('commterrr').style.display="block";
	}
});
</script>
</html>