<script>
function DeleteGroup($GroupID) {
	if(confirm("Are you sure, you want to delete this group ?"))
		location.href = SITEURL + "static/index/delete-group/" + $GroupID;
}
</script>

<ul class="breadcrumb">
  <li title="Dashboard"><a href='{#URL#}home/'>Dashboard</a></li>
  <li title="CMS">CMS</li>
  <li title="Static Page Group">Static Pages Group</li>
</ul>
<div class="oh">
  <div class="col col-6">
    <h1 class="heading-1">Static Pages Group</h1>
  </div>
  <div class="col col-6 text-right mt-15"> 
  	<a href='{#URL#}static/index/add-group' class="button-2" title="Add Group"><i class="fa fa-edit"></i> &nbsp;Add Group</a> 
    <a href='{#URL#}static' class="button-2" title="Static Page List"><i class="fa fa-list-ul"></i>&nbsp;Static Pages List</a> 
  </div>
</div>
{include="common/message"}
<div id="content-box" >
  <div class="section-heading text-left">
    <li class="fa fa-fw fa-file-text iColor"></li>
    &nbsp;Filter Result<a href='javascript://' class="form-toggle-icon"><i class="fa fa-minus-square-o"></i></a> 
  </div>
  <form class="igs-form" id="formSection" name="formSection" method="post" autocomplete="off" action="{#URL#}static/index/group-list">
    <input type="hidden" name="pageNumber" id="pageNumber" value=""  />
    <div class="content-section">
      <fieldset>
        <div class="row">
          <section class="col col-5 pull-left">
            <label class="label">Search by Title</label>
            <label class="input">
              <input type="text" id="titlestr" name="titlestr" placeholder="Search by title"  value="{$title}">
            </label>
          </section>
          <section class="col col-2">
            <label class="label">Status</label>
            <label class="checkbox mr-10">
              <input type="checkbox" id="status" name="status[]" value="1" {if="in_array(1,$status)"}checked='checked'{/if}>
              <i></i>Active </label>
            <label class="checkbox">
              <input type="checkbox" id="status" name="status[]" value="0" {if="in_array(0,$status)"}checked='checked'{/if}>
              <i></i>Inactive 
            </label>
          </section>
        </div>
      </fieldset>
      <div class="form-footer">
        <button type="submit" name="search" value="search" id="search" class="button-1"><i class="fa fa-search"></i>&nbsp;Search</button>
        <button type="button" name="reset" value="reset" class="button-2" onClick="reloadPage();"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
      </div>
    </div>
  </form>
</div>
<div id="content-box" class="igs-form">
  <div class="row">
    <section class="col col-12">
      <h3>{$grouplist|count} Results Found</h3>
      <table border="0" id="igs-table">
        <tr>
          <th width="30%">Title</th>
          <th width="20%">Status</th>
          <th width="20%">Sort Order</th>
          <th width="30%"><center>
              Action
            </center></th>
        </tr>
        {if="$grouplist"}
        {loop="grouplist"}
        {$selectedLang=$value.Language}
        <tr>
          <td data-title="Title">
          	<a href='{#URL#}static/index/edit-group/{$value.CMSPageGroupID|keyEncrypt}' class="link-text" title="Edit Group"> {$value.Title} </a>
          </td>
          <td data-title="Status">
          {if="$value.Status==1"}<span class="icon active ml-15" title="Active"></span>
          {else}<span class="icon inactive ml-15" title="Inactive"></span>
          {/if}
          </td>
          <td data-title="Sort Order">{$value.SortingOrder}</td>
          <td data-title="Action" > 
          {if="$value.Status==1"} <a href='{#URL#}static/index/add-page/{$value.CMSPageGroupID|keyEncrypt}' class="button-2" title="Add Page"><i class="fa fa-edit"></i>&nbsp;Add Page</a> 
          {else} <a href='Javascript://'" class="button-2 disabled" title="Add Page" onclick="alert('Group is inactive, you cant add page for this group')"> <i class="fa fa-edit"></i>&nbsp;Add Page </a> 
          {/if} <a href='{#URL#}static/index/edit-group/{$value.CMSPageGroupID|keyEncrypt}' class="button-2" title="Edit Group"><i class="fa fa-edit"></i>&nbsp;Edit</a> 
          <a href='Javascript://' onclick="DeleteGroup('{$value.CMSPageGroupID|keyEncrypt}')" class="button-warning" title="Delete Group"><i class="fa fa-trash-o"></i> Delete</a>
          </td>
        </tr>
        {/loop}
        {else}
        <tr>
          <td colspan="5" class="text-center">No Record Found.</td>
        </tr>
        {/if}
      </table>
    </section>
  </div>
</div>
