<script>
function DeletePage(PageID)
{
	if(confirm('Are you sure, you want to delete this page'))
	{
		location.href=SITEURL+"static/index/delete-page/"+PageID;	
	}	
}
</script>
<script type="text/javascript">
	$(document).ready(function(){
		/*$('#m_cms').addClass('active');*/
		//-- form hide/show js
		$('.frm-group').click(function()
		{
			var className=$(this).closest('tr').attr('id');
			if($(this).find('i').hasClass('fa-plus-square-o')) {
				$(this).find('i').removeClass('fa-plus-square-o').addClass('fa-minus-square-o');
			}
			else {
				$(this).find('i').removeClass('fa-minus-square-o').addClass('fa-plus-square-o');
			}
			$(this).closest('#igs-table').find('.'+className).slideToggle();
		});
	});
</script>
<ul class="breadcrumb">
    <li title="Dashboard"><a href='{#URL#}home/'>Dashboard</a></li>
    <li title="CMS">CMS</li>
    <li title="Static Pages">Static Pages</li>
</ul>
<div class="oh">
   <div class="col col-6">
        <h1 class="heading-1">Static Pages</h1>
   </div>     
    <div class="col col-6 text-right mt-15">
        <a href='{#URL#}static/index/add-page' class="button-2" title="Add Static Page"><i class="fa fa-edit"></i></li>&nbsp;Add Static Pages</a>
        <a href='{#URL#}static/index/group-list' class="button-2" title="Group List"><i class="fa fa-list-ul"></i>&nbsp;Group List</a>
    </div>
</div>
{include="common/message"}
<div id="content-box" >
   <div class="section-heading text-left">	
    <li class="fa fa-fw fa-file-text iColor"></li>&nbsp;Filter Result<a href='javascript://' class="form-toggle-icon"><i class="fa fa-minus-square-o"></i></a>
  </div>
  <form class="igs-form" id="formSection" name="formSection" method="post" autocomplete="off" action="{#URL#}static">
    	<input type="hidden" name="pageNumber" id="pageNumber" value=""  />
        
        <div class="content-section">
            <fieldset>
                <div class="row">
                	<section class="col col-5 pull-left">
                        <label class="label">Search Page Name</label>
                        <label class="input">
                            <input type="text" id="titlestr" name="titlestr" placeholder="Search by page name"  value="{$title}">
                        </label>
                    </section>
                    
                    <section class="col col-2">
                        <label class="label">Status</label>
                        <label class="checkbox mr-10">
                        <input type="radio" id="status" name="status[]" value="1"  {if="in_array(1,$status)"}checked='checked'{/if}><i></i>Active
                        </label>
                        <label class="checkbox pull-left">
                        <input type="radio" id="status" name="status[]" value="0"  {if="in_array(0,$status)"}checked='checked'{/if}><i></i>Inactive
                        </label>
                    </section>
                    
                   <!-- <section class="col col-2">
                        <label class="label">Language</label>
                        {loop="languageconf"}
                        <label class="checkbox mr-10">
                        <input type="checkbox" id="language" name="language[]" value="{$key}"  {if="in_array($key,$language)"}checked='checked'{/if}><i></i>{$value}
                        </label>
                        {/loop}
                    </section>-->
                </div>
            </fieldset>
             <div class="form-footer">
             		<button type="submit" name="search" value="search" id="search" class="button-1"><i class="fa fa-search"></i>&nbsp;Search</button>
                    <button type="button" name="reset" value="reset" class="button-2" onClick="reloadPage();"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
             </div>
        </div>            
    </form>
</div>  

<div id="content-box" class="igs-form">
	 <div class="row">
     	<section class="col col-12">
        	<h3>{$pages|count} Results Found </h3>
            <table border="0" id="igs-table">
              <tr>
                  <th>Page Name</th>
                  <th>Status</th>
                  <th>Sort Order</th>
                 <!--open <th>Language</th>-->
                  <th><center>Action</center></th>
			  </tr>
             
             {$group=''}
            {if="$pages"}
                {loop="pages"}
                {if condition="$group<>$value.Title"}
                            <tr id="{$value.Title|strtolower}PageGroup" >
								 <td width="30%">
									<div><strong>{$value.Title}</strong></div>
								</td>
                                <td colspan="2"></td>
								<td width="30%">
                                {if condition="$value.CMSPagesID!=NULL"}
									{if condition="$value.Title=='Default'"}
										<a href='javascript://' class="frm-group"><i class="fa fa-minus-square-o fa-2x"></i></a>
									{else}
										<a href='javascript://' class="frm-group"><i class="fa fa-plus-square-o fa-2x"></i></a>
									{/if}
                                {/if}    
								</td>
                            </tr>
                            {$group=$value.Title}
                            {/if} 
                {$selectedLang=$value.Language}
                    <tr class="{$value.Title|strtolower}PageGroup" {if condition="$value.Title!='Default'"} style="display:none" {/if}><!--here style="dispalay:none"-->
                        <td data-title="Page Name">
                        <a href='{#URL#}static/index/edit-page/{$value.CMSPagesID|keyEncrypt}' class="title-link" title="Edit static page">
                        {$value.CMSPagesName}
                        </a>
                        </td>
                        <td data-title="Status">{if="$value.Status=='1'"}<span class="icon active" title="Active"></span>{else}<span class="icon inactive" title="Inactive"></span>{/if}</td>
                        <td data-title="Sort Order"><span  class="padding-left-15">{$value.SortBy}</span></td>
                       <!--open <td data-title="Language">
                        {loop="languageconf"}
                        {if="$selectedLang==$key"}{$value}{/if}
                        {/loop}
                        </td>-->
                        <td data-title="Action">
                            <center>
                                <a href='Javascript://' onclick="DeletePage('{$value.CMSPagesID|keyEncrypt}')" class="button-warning" title="Delete static page">
                                    <i class="fa fa-trash-o"></i> Delete
                                </a>
                            </center>
                        </td>
                    </tr>
                {/loop}
              {else}
                    <tr><td colspan="5" class="text-center">No Record Found.</td></tr>
            {/if}
            
            </table>
            
        </section>
     </div>  
</div>