<link rel="stylesheet" type="text/css" href='{#RESOURCES#}css/style.css'>

<div id="rightSection">
  <div class="rightPannel">  	
  	<div class="npo-process">
    	<div class="rowCounter">
        	<div class="">
        		<img src='{#RESOURCES#}img/logologin.png' alt="Welcome to Ultra folders Admin Panel" width="220px" title="Welcome to Project ultrafolders Admin Panel" />
        	</div>	
            <div class="">&nbsp;goto <a href='{#URL#}home'>Home</a> page.&nbsp;</div>
        </div>
        <div class="progress-bar">
          <p>Processing 100% Completed</p>
          <div><p>Processing 100% Completed</p></div>
        </div>
        <div class="rowCounter">12 Rows Processed</div>
    </div>
  </div>
</div>
