/* CSS Document */
section.contact-us{ background:url(../images/static-banner.jpg) no-repeat; background-size:cover; background-position: center bottom;}
.contactus-section .heading-1{font-size:30px; margin-bottom:5px;}
.section-padding.contactus-section{padding:30px 0px;}
.contactus-description{font-size:30px; color:#0f456c;}
.contactus-section .social-section li .facebook{background-position:-132px 0px;}
.contactus-section .social-section li .g-plus{background-position:-132px -260px;}
.contactus-section .social-section li .twitter{background-position:-132px -65px;}
.contactus-section .social-section li .linkedin{background-position:-132px -325px;}
.contactus-section .social-section li .instagram{background-position:-132px -130px;}
.contactus-section .social-section li .youtube{background-position:-132px -390px;}
.contactus-section .social-section li .a-at{background-position:-132px -195px;}
.contactus-section .social-section li .user-secret{background-position:-132px -455px;}
.contactus-section .social-section li .facebook:hover{background-position:-66px 0px;}
.contactus-section .social-section li .g-plus:hover{background-position:-66px -260px;}
.contactus-section .social-section li .twitter:hover{background-position:-66px -65px;}
.contactus-section .social-section li .linkedin:hover{background-position:-66px -325px;}
.contactus-section .social-section li .instagram:hover{background-position:-66px -130px;}
.contactus-section .social-section li .youtube:hover{background-position:-66px -390px;}
.contactus-section .social-section li .a-at:hover{background-position:-66px -195px;}
.contactus-section .social-section li .user-secret:hover{background-position:-66px -455px;}
.contactus-form .form-control{font-family: 'latobold',sans-serif; color:#666666;}
.contactus-form .button-1{font-family: 'quicksandbold',sans-serif; font-size:24px; padding:15px 55px; border-radius:5px;}
.section-padding.contactus-form{padding:30px 0px 45px 0px;}
.captcha-box{background:#ececec; border:1px solid #d3d3d3; border-radius:4px; width:260px; height:78px;}