/* CSS Document */
.section-padding{padding:15px 0px;}
section.faq-page{background:url(../images/faq-banner.jpg) no-repeat;background-size:cover;background-position:center bottom;}
.faq-page .page-heading{line-height:115px; padding-top:111px;}
.faq-content .heading-1{margin-bottom:5px;}
.faq-content .heading-2 a{color:#abc340;}
.faq-content .heading-2 a:hover{text-decoration:none;}
/*.content-description{display:none;}*/
.faq-content .heading-2 a i{ -webkit-transition: all;  -o-transition: all;  transition: all;  -webkit-transition-duration: 300ms;  transition-duration: 300ms;}
.rotateArrow{-webkit-transform: rotate(180deg); -ms-transform: rotate(180deg);  -o-transform: rotate(180deg);  transform: rotate(180deg);}