/* CSS Document */
.section-padding.fundraiser-page-heading{padding:20px 0px;}
.section-padding.fundraiser-page-heading h2{margin-bottom:0px;}
.user-name.heading-3{font-size:18px; color:#4d4d4d;}
.edit-account{font-family: 'latobold',sans-serif; font-size:16px; margin-top:10px;}
.edit-account a{color:#abc340;}
.user-category-list{font-family: 'latobold',sans-serif; font-size:16px; color:#333; margin-top:25px;}
.user-category-list li{padding-right:30px; padding-left:0px;}
.user-category-list a{color:#abc340;}
.section-padding.fundraiser-detail{padding-top:20px; padding-bottom:55px;}
.fundraiser-detail{background:#efefef; margin-top:80px; position:relative;}
.donation-category-tab{position: absolute; top: -60px; margin-left:0px;}
.donation-category-tab li{font-size:30px; padding-left:0px; padding-right:30px;}
.donation-category-tab li a{color:#abc340; padding:15px 40px; display:inline-block;}
.donation-category-tab li a:hover{background:#efefef; text-decoration:none;}
.donation-category-tab li.active-category-tab a{background:#efefef;}
.fundraiser-section{margin-top:25px;}
.category-list-option{margin-left:0px;}
.category-list-option a{font-family: 'latobold',sans-serif; font-size:16px; color:#333; display:inline-block;}
.category-list-option a:hover{color:#abc340; text-decoration:none;}
.category-list-option li{padding:8px 20px;}
.category-list-option li:first-child{padding-left:0px;}
.category-list-option li.active-option a{color:#abc340; text-decoration:none;}
.featured-box {
  background: #fff;
  border: 1px solid #fff;
  color: #0b4269;
  font-family: 'latoblack',sans-serif;
  color: #0b4269;
  text-align: left;
  margin-bottom:30px;
  padding-bottom:5px;
  height:450px;
}
.featured-box span{display:block; overflow:hidden; color:#0b4269;}
.featured-box span.fundraisers-name{height:auto; padding-bottom:2px; font-size:18px; padding:5px 15px 0px 15px;}
.featured-box a img {transition: all .2s ease-in-out;}
.featured-box a:hover img {transform: scale(1.1);}
.featured-box .compaign-status{padding:0px 15px; color:#abc340;}
.featured-box .captn{width:100; position:absolute; top:0px; right:15px; float:right; z-index:500;}
