/* CSS Document */
body{color:#FFF;}
section.fundraiser-platinum-page{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center bottom;
	margin-top:0px;
	position:relative;
}
section.fundraiser-platinum-page .banner-shadow{
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0) 35%,rgba(0,0,0,0.11) 55%,rgba(0,0,0,0.63) 84%,rgba(0,0,0,0.7) 89%,rgba(0,0,0,0.8) 100%);
}
.first-section{padding-top:0px;}
.fundraiser-leftSection{padding-right:0px;}
.fundraiser-leftSection .section-padding{padding-bottom:0px;}
.fundraiser-platinum-content{position:relative; top:-20px;}
.fundraiser-platinum-content .date{font-family: 'latobold',sans-serif; background:#09426a; font-size:18px; color:#fff; text-align:center; margin-top:5px; padding:10px 0px;}
.fundraiser-platinum-page .heading-1{font-size:72px; color:#ffffff; margin-bottom:0px;}
.fundraiser-platinum-page .heading-2{font-family: 'latoregular',sans-serif; color:#fff;}
section.fundraiser-platinum-page .heading-section{position:absolute; bottom:30px;}
.about-section{font-family:'latoregular',sans-serif; font-size:18px; color:#4d4d4d;}
.fundraiser-platinum-content .fundraiser-leftSection .heading-2{font-family: 'quicksandregular',sans-serif; font-size:34px;}
.donor-comment-section{clear:both; margin-top:50px; padding-top:80px;}
.photo-gallery-section{padding-right:0px;}
.photo-gallery-section ul li {padding:0px 15px 15px 0px; float:left; width:12.5%;}
.photo-gallery-section ul li a{display: block;}
.fundraiser-video-frame iframe{width:100%; height:430px; float:left; border:1px solid #959595;}
.fundraiser-thumb-video a{border:1px solid #959595; display:block; text-align:center; overflow:hidden;}
.comment-section{margin-bottom:40px;}
.comment-box{font-family:'latoregular',sans-serif; font-size:18px; line-height:25px; color:#666666; padding:25px 15px; overflow:hidden; border:1px solid #b1b1b1; margin-bottom:15px;}
.comment-heading{font-family:'latobold',sans-serif; font-size:18px; color:#abc340; margin-bottom:0px; margin-top:0px;}
.fundraiser-donate-btn{font-family:'quicksandbold',sans-serif; font-size:48px; background:#abc340; padding:20px 5px; display:block; color:#fff; text-align:center;}
.fundraiser-price{font-family:'quicksandbold',sans-serif; font-size:24px; background:#09426a; padding:20px 0px; text-align:center; margin-top:5px;}

.fundraiser-goal-0{background-image:url(../images/goalimg/goalimg0.png); background-size:95%; background-repeat:no-repeat; background-attachment:local; background-position:center; vertical-align:center;}
.fundraiser-goal-10{background-image:url(../images/goalimg/goalimg10.png); background-size:95%; background-repeat:no-repeat; background-attachment:local; background-position:center center; vertical-align:center;}
.fundraiser-goal-20{background-image:url(../images/goalimg/goalimg20.png); background-size:95%; background-repeat:no-repeat; background-attachment:local; background-position:center center; vertical-align:center;}
.fundraiser-goal-30{background-image:url(../images/goalimg/goalimg30.png); background-size:95%; background-repeat:no-repeat; background-attachment:local; background-position:center center; vertical-align:center;}
.fundraiser-goal-40{background-image:url(../images/goalimg/goalimg40.png); background-size:95%; background-repeat:no-repeat; background-attachment:local; background-position:center center; vertical-align:center;}
.fundraiser-goal-50{background-image:url(../images/goalimg/goalimg50.png); background-size:95%; background-repeat:no-repeat; background-attachment:local; background-position:center center; vertical-align:center;}
.fundraiser-goal-60{background-image:url(../images/goalimg/goalimg60.png); background-size:95%; background-repeat:no-repeat; background-attachment:local; background-position:center center; vertical-align:center;}
.fundraiser-goal-70{background-image:url(../images/goalimg/goalimg70.png); background-size:95%; background-repeat:no-repeat; background-attachment:local; background-position:center center; vertical-align:center;}
.fundraiser-goal-80{background-image:url(../images/goalimg/goalimg80.png); background-size:95%; background-repeat:no-repeat; background-attachment:local; background-position:center center; vertical-align:center;}
.fundraiser-goal-90{background-image:url(../images/goalimg/goalimg90.png); background-size:95%; background-repeat:no-repeat; background-attachment:local; background-position:center center; vertical-align:center;}
.fundraiser-goal-100{background-image:url(../images/goalimg/goalimg100.png); background-size:95%; background-repeat:no-repeat; background-attachment:local; background-position:center center; vertical-align:center;}
.v2frdonbttn{
	width:95%!important;
	margin:0 auto!important;
	margin-bottom:5px!important;
	letter-spacing:-2px!important;
	padding-top:35px!important;
	padding-bottom:32px!important;
	border-radius:35px!important;
	box-shadow:rgba(0,0,0,0.8) 0 0 10px!important;
	border-collapse:collapse!important;
 }
 @media (min-width:768px)and (max-width:991px) {.fundraiser-goal {height:230px!important; padding:0px!important; margin:0px!important;}}
 @media (max-width:767px) {
 .fundraiser-goal-0 {background-size:78%!important;}
  .fundraiser-goal-10 {background-size:78%!important;}
   .fundraiser-goal-20 {background-size:78%!important;}
    .fundraiser-goal-30 {background-size:78%!important;}
	 .fundraiser-goal-40 {background-size:78%!important;}
	  .fundraiser-goal-50 {background-size:78%!important;}
	   .fundraiser-goal-60 {background-size:78%!important;}
	    .fundraiser-goal-70 {background-size:78%!important;}
		 .fundraiser-goal-80 {background-size:78%!important;}
		  .fundraiser-goal-90 {background-size:78%!important;}
		   .fundraiser-goal-100 {background-size:78%!important;}
 }
 
.v2joinourteam{margin-top:0px; float:right; margin-right:-15px;}
.goal-text{border-top:1px solid #ffffff; font-family: 'latobold',sans-serif; font-size:21px; color:#fff; display:inline-block;}
.goal-text span:first-child{font-size:30px;}
.goal-text span:last-child{font-size:18px;}
.spacial-text{background:#09426a; font-family:'quicksandbold',sans-serif; text-align:center; text-transform:uppercase; padding:17px 10px 17px 10px;}
.spread-box{border:1px solid #aeaeae; background:#ffffff;}
.spread-box > div:first-child{border-bottom:1px solid #b1b1b1;}
.spread-box > div:last-child{border-bottom:none;}
.spread-text{font-family:'quicksandbold',sans-serif; font-size:30px; color:#09426a; line-height:25px;}
.spread-box .social-section {width:142px; margin:auto; text-align:left;}
.spread-box .social-section li{width:auto; float:none; padding:0px 2px 0px 2px; margin-bottom:5px;}
.spread-box .social-section li .facebook{background-position:-66px 0px;}
.spread-box .social-section li .g-plus{background-position:-66px -260px;}
.spread-box .social-section li .twitter{background-position:-66px -65px;}
.spread-box .social-section li .linkedin{background-position:-66px -325px;}
.spread-box .social-section li .instagram{background-position:-66px -130px;}
.spread-box .social-section li .youtube{background-position:-66px -390px;}
.spread-box .social-section li .a-at{background-position:-66px -195px;}
.spread-box .social-section li .user-secret{background-position:-66px -455px;}
.qr-code-border{padding-top:25px; overflow:hidden; border-top:1px solid #b1b1b1;}
.thanks-number{font-size:70px; line-height:70px;}
.qr-code-img{padding-right:0px; text-align:right;}
.qr-code-text{font-family: 'latobold',sans-serif; font-size:18px; text-align:left;}
.goal-per{font-family: 'quicksandbold',sans-serif; font-size:72px; padding-left:10%; line-height:72px;}
.goal-per sup{font-size:38px; top:-0.6em;}
.goal-per sub{font-size:18px; bottom:0em; left:-1.5em;}
.spacial-text .logo{border-top:1px solid #fff; display:block; margin-top:10px; padding-top:15px;}
.stiky-bar{background:rgba(9,66,106,0.9); padding:12px 0px; text-align:center; font-family: 'quicksandbold',sans-serif; overflow:hidden; position:fixed; width:100%; z-index:100;}
.stiky-bar div:last-child{border-left:1px solid #ffffff;}
.stiky-bar .button-1{font-size:28px; padding:4px 20px;}
.comment-msg{color:#abc340; float:left; padding-top:10px; padding-left:10px; font-size:15px; display:inline-block;}
.stButton .stBubble {height:32px !important; background-position:10px 28px !important;}
.stButton .stMainServices{height:30px !important;}
.stButton .stBubble_count{padding-top:6px !important;}
.stBubble+.stButton_gradient{height:22px !important;}
.st_facebook_vcount{cursor:pointer;}
.st_twitter_vcount{cursor:pointer;}

.commnotsaved{padding:15px; color:#a94442; background-color:#f2dede; border-color:#ebccd1;  margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; text-align: center; font-family: 'latoregular',sans-serif; display:none;}
.newcommflag{float:right; margin:-25px -15px 0px 0px;}

.boxxprev{border:3px solid #fff; background-color:#444; width:350px; height:150px; position:absolute; top:10px; left:10px; z-index:500; padding:20px;}
.clearboth350{clear:both; width:350px; height:2px;}
.hidethisbttn{float:left; padding:5px 10px 0px 10px; width:90px; height:25px; border:0px; margin-top:10px; background-color:#abc345; color:#fff; cursor:pointer; z-index:600; font-size:14px;}
.retrndashbttn{float:right; padding:5px 10px 0px 10px; width:170px; height:25px; border:0px; margin-top:10px; background-color:#abc345; color:#fff; cursor:pointer; z-index:600; font-size:14px;}
.captnpanel-imagecontainer{white-space:nowrap; display:inline-block; overflow:visible; margin:0 auto;}
.flt-l{float:left;}
.vis-h{visibility:hidden;}
.bgd-w{background-color:white;}
.bd-0i{border:0px!important;}
.mg-0i{margin:0px!important;}
.txtarea-copyurl{width:100%; vertical-align:top; background-color:#eeeeee; height:60px; font-family: 'latoregular',sans-serif; text-align:left;}
.visitussection{margin-top:50px; border-top:1px solid #b1b1b1; padding-top:20px;}
.mt-1{margin-top:1px;}
.mt-2{margin-top:2px;}
.mt-3{margin-top:3px;}
.mt-4{margin-top:4px;}
.separatr{margin-left:20px; margin-right:20px; color:#dddddd; font-size:10px; padding-bottom:6px;}

/* captain page team panel */
.schbuttonteam{
  background:#abc340;
  display: inline-block;
  padding: 1px 4px 1px 4px;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border:1px solid #abc340;
  color:#FFF;
}
.inpt-teamsrch{font-size:10px; width:150px; height:18px; border:1px solid #555; color:#333; padding-left:4px;}
.teamdiv-fiveacross{width:19%; float:left; margin-left:6px; margin-bottom:4px;}
.teamidentity-goalcontainer{background:white; height:75px; overflow-y:hidden;}
.teamidentity-name{height:18px; overflow-y:hidden; padding-left:5px; padding-right:2px; padding-top:4px;}
.teamdivprogress{height:12px!important;}

.pagv2{margin-top:0px!important; padding:0px!important;}




