/* CSS Document */
.npo-reg-section{font-family:'latoregular',sans-serif; color:#666}
.registration-container .heading-2{color:#002f5b;}
.save-change-btn .button-1{font-size:20px;}
.npo-register-page .npo-reg-section, .account-setup-page .npo-reg-section, .confirmation-page .npo-reg-section{padding:0px 0px 250px 0px;}
.forget-password-section{padding-bottom:76px;} 
