/* top css */
.header .navbar-brand span{color: #72c02c !important;}
.top-search:hover{color:#a9c23c;}
/*Navbar Toggle*/
.header .navbar-toggle{border: none; margin-right: 3px; padding-right:0;}
.header .navbar-toggle:hover, 
.header .navbar-toggle:focus {background: none;}
.header .navbar-toggle .icon-bar {background: #fff;}
.header .navbar-toggle .icon-bar {height:3px; width:25px; background:#fff; margin-bottom:6px;}
.header .navbar-toggle .icon-bar:last-child {margin-bottom: 0;}
/* Fix gray bg nav */
.gray-fix-nav .header.navbar{padding:0px 0px !important; background:#f1f0ef !important;}
.gray-fix-nav .top-quick-link{padding:6px 0px 5px 0px !important;}
.gray-fix-nav .top-quick-link a{color:#000;}
.gray-fix-nav .first-section{padding-top:50px;}
.gray-fix-nav .dropdown-menu{top:55px;}
.gray-fix-nav .header .login a {font-size:13px;}
.gray-fix-nav .header .top-quick-link a{color: #bebebe;}
.gray-fix-nav .header .top-search-icon{font-size:18px; line-height:45px !important;}
.gray-fix-nav .top-quick-link li {line-height: 3.5;}
/* code end */
/*Navbar*/
.header {background:transparent;}
.header .navbar-nav > li > a {color: #fff; font-size:22px; font-family:'quicksandbold',sans-serif;}
.header .navbar-nav > li.home > a:before {content: "";}
.header .navbar-nav > li > a:hover {z-index: 1; color:#a9c23c;}
.header .navbar-nav > li > a:focus {color: #a9c23c;}
.header .navbar-nav > .active > a, 
.header .navbar-nav > .active > a:hover,
.header .navbar-nav > .active > a:focus {z-index:1;	background:none; color: #a9c23c !important;}
.top-quick-link{float:right; text-align:center; padding:25px 0px 10px 0px;}
.top-quick-link li{padding-left:20px !important; line-height:50px; float:left;}
.top-nav-collapse .top-quick-link li{line-height:3.5;}
.top-quick-link a{color:#FFF;}
.top-quick-link a:hover{color:#a9c23c;}
.login{border-right:1px solid #d4d4d4; padding-right:22px !important;}
.login a{color:#a9c23c !important; font-size:16px; font-family: 'latobold',sans-serif;}
.header.top-nav-collapse .login a{font-size:13px;}
.header.top-nav-collapse .top-search-icon{font-size: 18px; line-height:45px !important;
}
.header.top-nav-collapse .top-quick-link a{color:#bebebe;}
.header.top-nav-collapse .top-quick-link a:hover{color:#abc340;}
/*Fixed Header*/
.header.top-nav-collapse{background:#f1f0ef !important;}
.header.top-nav-collapse .navbar-nav > li > a:hover {color:#a9c23c;}
.header.top-nav-collapse .navbar-brand,
.header.top-nav-collapse .navbar-nav > li > a,
.header.top-nav-collapse .navbar-nav > li > a:before {color: #666666;}
.header.top-nav-collapse .navbar-brand {color: #777 !important;	}
.header.top-nav-collapse .navbar-toggle .icon-bar {background:#8c8c8c;}
.header.top-nav-collapse .navbar-toggle:hover .icon-bar {background: #abc340;}
.header.top-nav-collapse .navbar-brand{padding:10px 15px;}
.header.top-nav-collapse .navbar-nav, .header.top-nav-collapse .top-quick-link{padding:6px 0px 5px 0px !important;}
.header.top-nav-collapse .dropdown-menu{top:55px;}
.top-search{font-family: 'latoregular'; position:absolute; right:-8px; top:0px; width:300px; background:#fff; text-align:left; line-height:36px; display:none; z-index:9000;}
.top-search-input input{background:transparent; border:1px solid transparent; color:#bebebe; outline:none; width:100%; padding:5px 60px 5px 10px; font-size:17px;}
.top-search-btn{background:transparent; color:#bebebe;border:none; font-size:20px; outline:none; position:absolute; right:0px; top:5px; padding-right:13px; padding-left:0px; z-index:1000;}
.top-search-btn:hover{color:#a9c23c;}
.top-search-btn i{border-left:1px solid #bebebe;  padding-left:12px; line-height:30px;}
.header.top-nav-collapse .top-search{background:#003333;}
.gray-fix-nav .top-search{background:#003333;}
.dropdown-menu ul{float:left; padding:0px 15px; list-style-type:none; text-transform:capitalize;}
.dropdown-menu ul{border-left:1px solid #fff;}
.dropdown-menu ul:last-child{border-right:1px solid #fff;}
.dropdown-menu ul li i{color:#a9c23c; margin-right:10px;}
.top-search-icon{font-size: 20px; line-height: 50px !important;}
.top-search-input span.errorClass{color:transparent;}
.my-account{font-family: 'quicksandbold',sans-serif; font-size:18px; padding-right: 24px !important; border-right:1px solid #d4d4d4; line-height: 48px !important; position:relative;}
.my-account > a{position:relative; z-index:7000;}
.my-account > a i{ font-size:25px; vertical-align:middle; margin-right:5px;}
.my-account-menu{background:#0e2844; position:absolute; top:-30px; right:-1px; width:220px; padding-top:105px; padding-bottom:25px; display:none;}
.my-account-menu li{float:none; text-align:left; padding-left:25px; padding-right:25px;}
.my-account-menu li a{color:#fff !important;}
.top-cart-icon > a i{ font-size:25px; vertical-align:middle; margin-right:5px;}
.top-cart-icon{border-right: 1px solid #d4d4d4; line-height:50px !important; padding-right:20px !important;}
.top-nav-collapse .my-account-menu{top:56px; padding-top:40px;}
.my-account .my-account-a i.fa-angle-down
{
	-webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.my-account .my-account-a i.active-account
{
	-webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* bottom css */
footer{background:#35363a; padding-top:20px; padding-bottom:20px; position:relative; color:#FFF;}
.fotter-heading{font-size:36px; margin-bottom:30px;}
.bottom-menu{list-style-type:none; padding-left:0px}
.bottom-menu li a{color:#fff; padding-bottom:20px; display:inline-block;}
.social-section{list-style-type:none; padding-left: 0px !important; padding-right:0px;}
.social-section li{float:left; margin-bottom:8px; padding:0px 3px !important;}
.social-section li a{background:url(../images/socialiconsp.png) no-repeat; display:inline-block; float:left; width:64px; height:63px;}
.social-section li .facebook{background-position:0px 0px;}
.social-section li .g-plus{background-position:0px -260px;}
.social-section li .twitter{background-position:0px -65px;}
.social-section li .linkedin{background-position:0px -325px;}
.social-section li .instagram{background-position:0px -130px;}
.social-section li .youtube{background-position:0px -390px;}
.social-section li .a-at{background-position:0px -195px;}
.social-section li .user-secret{background-position:0px -455px;}
.social-section li .facebook:hover{background-position:-66px 0px;}
.social-section li .g-plus:hover{background-position:-66px -260px;}
.social-section li .twitter:hover{background-position:-66px -65px;}
.social-section li .linkedin:hover{background-position:-66px -325px;}
.social-section li .instagram:hover{background-position:-66px -130px;}
.social-section li .youtube:hover{background-position:-66px -390px;}
.social-section li .a-at:hover{background-position:-66px -195px;}
.social-section li .user-secret:hover{background-position:-66px -455px;}

.bottom-text{font-size:18px;}
.bottom-text a{color:#fff;}
@media(min-width: 768px)
{
    .header.navbar {
        padding: 5px 0px;
        -webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
        -moz-transition: background .3s ease-in-out,padding .3s ease-in-out;
        transition: background .3s ease-in-out,padding .3s ease-in-out;
    }
    .header.top-nav-collapse {padding: 0px 0px;}
	.header.navbar .navbar-nav {float:left; padding:25px 0px 10px 0px; text-align:center;}	
	.navbar-nav>li {border-right: 1px solid #fff;}
	.navbar-nav>li:first-child{border-left: 1px solid #fff;}
	.top-nav-collapse .navbar-nav>li {border-right: 1px solid #d4d4d4;}
	.top-nav-collapse .navbar-nav>li:first-child{border-left: 1px solid #d4d4d4;}
	.header .navbar-nav > li > a span{display:block;}
	.header .navbar-nav > li.dropdown:hover > .dropdown-menu{display:block;}
	.header.top-nav-collapse .navbar-nav > li > a{font-size:17.25px;}
	.gray-fix-nav .header.navbar .navbar-nav {padding:6px 0px 5px 0px !important;}
	.gray-fix-nav .header .navbar-nav > li > a{color:#666666; font-size:17.25px;}
	.gray-fix-nav .navbar-nav>li {border-right: 1px solid #d4d4d4;}
	.gray-fix-nav .navbar-nav>li:first-child{border-left: 1px solid #d4d4d4;}
	/* bottom css */
	.bottom-menu li a span{display:block;}
}
@media (max-width: 767px)
{
	/* top css */
	.main-banner{margin-top:60px;}
	.container-fluid{padding:0px 10px !important;}
	.navbar-brand{padding:7px 5px 5px 5px !important}
	.header {background: #f1f0ef;}
	.header.navbar{padding:4px 0px !important;}
	.header .navbar-brand{padding-left: 0;}
	.header.top-nav-collapse {padding: 0;}
	.header.top-nav-collapse .navbar-nav, .header.top-nav-collapse .top-quick-link{padding-top:0px !important;}
	.nav>li{border-bottom:1px solid #cccccc;}
	.nav>li:last-child{border-bottom:none;}
	.navbar-collapse{margin-left:-15px; margin-right:-15px; clear:both;}
	.header .navbar-nav > li > a{padding-top:15px; padding-bottom:15px; font-size:16px; color:#1d1761; font-family: 'latobold',sans-serif;}
	.header .navbar-nav > li > a:hover {color:#fff; background-color:#0d2946;}
	.header .navbar-nav > li > a:focus {color:#fff; background-color:#0d2946;}
	.header .navbar-toggle .icon-bar{background:#8c8c8c;}
	.mobile-login-text{color:#abc340 !important; font-size:16px; vertical-align:super; font-family: 'latobold',sans-serif;}
	.main-description .container{width:100%;}
	.dropdown-menu ul{float:none; border:none !important;}
	.dropdown-menu ul li{margin-bottom:10px;}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{color:#fff; background-color:#0d2946;}
	.dropdown > .dropdown-menu{padding:10px 10px 15px 10px !important; top:56px !important;}
	.back-btn{margin-top:10px;}
	.back-btn i{margin-right:0px !important;}
	.back-btn > a, .back-btn > i {color:#abc340 !important; font-size:24px !important;}
	.donate-btn{padding:10px 15px; width:100%; text-align:center;}
	.donate-btn a{background:#a9c23c; color:#fff !important; font-size:44px !important; padding:12px 10px !important; font-family: 'quicksandregular',sans-serif !important; text-transform:uppercase; line-height:normal !important;}
	.header.top-nav-collapse .navbar-brand,
	.header.top-nav-collapse .navbar-nav > li > a,
	.header.top-nav-collapse .navbar-nav > li > a:before {color: #0d2946;}
	/* bottom css */
	footer{padding-top:15px; padding-bottom:15px;}
	footer .social-section{margin-top:30px;}
	.bottom-menu li a{padding-bottom:15px;}
	.social-section{padding-right:0px;}
	.social-section li{float:none; display:inline-block; padding:0px 3px;}
	.social-section ul{padding-right:0px;}
	.social-section ul li{float:none; display:inline-block; padding:0px 3px;}
	.dropdown-menu{font-family: 'quicksandbold',sans-serif;}
	.dropdown-menu>ul>li>a{font-size:16px; display:block;}
	.mobile-myaccount-img{display: inline-block; vertical-align: super;}
	.mobile-myaccount-img img{width:35px;}
}
@media (min-width:768px)and (max-width:991px)
{
	.navbar-brand > img{max-width:90%;}
	.header .navbar-nav > li > a{font-size:15px;}
	.navbar-brand{padding-right:0px; width:35%;}
	.nav > li > a{padding-left:5px !important; padding-right:5px !important;}
	.top-quick-link li{padding-left:10px !important; padding-right:10px !important;}
	.header.navbar .navbar-nav, .top-quick-link{padding-top:15px;}
	.dropdown-menu{top:70px;}
	.top-search-icon{font-size:16px; line-height:45px !important;}
}
@media (min-width:992px)and (max-width:1199px)
{
	.header .navbar-nav > li > a{font-size:20px;}
	.top-quick-link li{padding-left:10px !important;}
	.top-cart-icon{padding-right:10px !important;}
	.login{padding-right:10px !important;}
}