/* CSS Document */
.setup-fundraiser{font-family:'latoregular',sans-serif; color:#666;}
.setup-fundraiser .setup-detail-section .heading-3{font-size:20px;}
.setup-detail-section .package-content{background:none; color:#666;}
.setup-detail-section .package-content .heading-3, .setup-detail-section .package-content .heading-2{color:#666;}
.setup-detail-section .package-container{padding-top:25px;}
.setup-detail-section .package-content{border-right:1px solid #b1b1b1; padding-right:5px;}
.whatisnext-section .heading-3{padding-left:50px;}
.setup-detail-section ul{font-size:16px;}
.setup-detail-section ul li{margin-bottom:2px;}
.setup-detail-section .package-content .heading-4{margin-bottom:25px;}
.step-fundraiser-complete-page{padding:0px 0px 250px 0px;}
.step-section .heading-2{font-family: 'quicksandregular',sans-serif; font-size:28px; color:#666666; overflow:hidden;}
.step-section .current-step .heading-2{color:#abc340;}
.step-section .step{overflow:hidden;}
.step-section .heading-2 .mark-icon{float:left; font-size:22px; padding-top:6px; background:#9E9E9E; color:#FFF; width:40px; height:40px; border-radius:50%; display:inline-block; margin-right:10px; text-align:center; border:1px solid #abc340;}
.step-section .heading-2 i.fa{margin-left:5px;}
.step-section .current-step .heading-2 .mark-icon{background:url(../images/numberbg.png) no-repeat; border:none; border-radius:0%; height:52px;}
.step-section .heading-2 .step-name{vertical-align:middle;}
.step-content{font-family: 'latoregular',sans-serif; padding-left:50px; color:#666;}
.step-content .heading-3{font-size:21px; margin:25px 0px;}
.step-content .amount{font-size:28px; color:#000;}
.setup-fundraiser .dateSpecified-box{display:none;}
.tab-section{margin-top:25px;}
.tab-section .tabOption {
    color: #666;
    background: rgba(248, 248, 248, 0.99);
    display: inline-block;
    border-top: 3px solid rgba(223, 223, 223, 0.99);
    border-right: 1px solid rgba(223, 223, 223, 0.99);
    border-bottom: 1px solid rgba(223, 223, 223, 0.99);
    border-left: 1px solid rgba(223, 223, 223, 0.99);
    padding: 10px 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 18px;
	text-decoration:none;
}
.tab-section .selectedTab{background:#fff; border-top:3px solid rgb(171, 195, 64); border-bottom: 1px solid transparent;}
.tab-section .tabInfo{width:100%; box-sizing: border-box; float:left; border:1px solid #d3d3d3; margin-top:-1px; padding:15px 10px; display:none;}
.tab-section .tabInfo.open-tab{display:block;}
/* edit basic detail */
.edit-basic-detail .step-section .step:first-child .step-content{border-bottom: 1px solid #666; padding-bottom:10px;}

.fundraiserDeleteBtn:hover{cursor:pointer; color:#ABC340 }