<script type="text/javascript" src='{#RESOURCES#}js/validateNpoCategory.js'></script>
<script type="text/javascript">
$(document).ready(function()
{	
	$('.viewmoreBtn i').click(function()
	{
		 $(this).toggleClass("fa-plus fa-minus");
		 $(this).closest('.row').find('.viewmorSection').slideToggle();
		
	});
	
	$(".GenerateUrl").click(function(){
				var str = $("#C_CategoryNameEn").val();
				str = str.replace(/[^a-z\s]/gi, '');
				str = $.trim(str);				
				str = str.replace(/[_\s]/g, '-');				
				$("#C_urlFriendlyName").val(str);
			
			})
});
</script>
<div id="rightSection">
      <div class="rightPannel">
            <div class="breadcrumb">
              <ul>
                <li title="Dashboard"><a href='{#URL#}home/'><img src='{#RESOURCES#}img/dashboard_thumb.png'/>Dashboard</a></li>
                <li>&nbsp;»&nbsp;</li>
                <li title="meta"><a href='{#URL#}reguser'>Users</a></li>
                <li>&nbsp;»&nbsp;</li>
                <li title="Registered User">Npo Category - {if="$action==insert"} Add {elseif="$action==update"} Edit {/if}</li>
              </ul>
            </div>
            <div class="contentSection">
               <form id="formSection" name="formSection" class="sky-form"  method="post" action='{#URL#}npocategory/index/{$action}' >
                  <div class="pageHeader text-left"><li class="fa fa-fw fa-bars iColor"></li>&nbsp;Npo Category -{if="$action==insert"} Add {elseif="$action==update"} Edit {/if}
                  {if="$action=='insert'"}
                       <div class="pull-right margin-right-10">
                                <button type="submit" name="Save" value="Save" class="btn btn-primary" ><i class="fa fa-save"></i> Save</button>
                                <a href='{#URL#}npocategory' class="btn btn-primary" title="Rejestered User Listing" ><i class="fa fa-list-ul"></i> Listing</a>
                       </div>
                        
                   {else}
                   		<div class="pull-right margin-right-10">
                                <button type="submit" name="Save" value="Save Changes" class="btn btn-primary" ><i class="fa fa-save"></i> Save Changes</button>
                                <a href='{#URL#}npocategory' class="btn btn-primary" title="Rejestered User Listing" ><i class="fa fa-list-ul"></i> Listing</a>
                       </div>
                   {/if}        
                  </div>
              {include="common/message"}           
                  <div id="NpoCategory">
                               <input type="hidden" name="C_NpoCatId" id="C_NpoCatId" value="{$NpoCatDetail.NPOCat_ID}"/>
                          <fieldset>
                            <div class="row">
                                <div class="sky-form-headingsection psTitle">
                                    <div class="sky-form-heading pull-left">Basic Category Detail</div>
                                    <div class="viewmoreBtn pull-right margin-right-10">
                                        <i class="fa fa-minus"></i>
                                     </div>
                                </div>
                                
                                <div class="viewmorSection">
                                     <section class="col col-6">
                                            <label class="label">Parent Category</label>
                                            <label class="select">
                                                <select name="C_parentCategory" id="C_parentCategory" class="form-control-select form-control pull-left" >
                                                    <option value="0">None</option>
                                                     {loop="NCategoryList"}
                                                     	<option value='{$value.NPOCat_ID}' {if="$action=='update'"}{if="$value.NPOCat_ID==$NpoCatDetail.NPOCat_ParentID && $NpoCatDetail.NPOCat_ParentID!=0"}selected{/if}{/if}>{$value.space}{$value.NPOCat_DisplayName_EN}|{$value.NPOCat_DisplayName_ES}</option>
                                                     {/loop}
                                                    
                                                </select><i></i>
                                            </label>
                                    </section>
                                    
                                    <section class="col col-6">
                                            <label class="label">Category Code</label>
                                            <label class="input">
                                                <input type="text"  id="C_categoryCode" name="C_categoryCode"  placeholder="Category Code" value="{$NpoCatDetail.NPOCat_CodeName}" >
                                            </label>
                                    </section>
                                    
                                    <section class="col col-6">
                                            <label class="label">Category Name (English)</label>
                                            <label class="input">
                                                <input type="text"  id="C_CategoryNameEn" name="C_CategoryNameEn"  placeholder="Category Name" value="{$NpoCatDetail.NPOCat_DisplayName_EN}" >
                                            </label>
                                    </section>
                                    
                                    <section class="col col-6">
                                            <label class="label">Category Name (Spanish)</label>
                                            <label class="input">
                                                <input type="text"  id="C_CategoryNameEs" name="C_CategoryNameEs"  placeholder="Category Name" value="{$NpoCatDetail.NPOCat_DisplayName_ES}" >
                                            </label>
                                    </section>
                                    
                                    
                                     <section class="col col-6">
                                            <label class="label pull-left">URL Friendly Name</label>
                                            <label class="display-inline-block GenerateUrl padding-left-10"><a href='javascript://' class="link"><li class="fa fa-magic">&nbsp;</li>Generate</a></label>
                                            <label class="input">
                                                <input type="text"  id="C_urlFriendlyName" name="C_urlFriendlyName"  placeholder="Url Friendly Name" value="{$NpoCatDetail.NPOCat_URLFriendlyName}" >
                                            </label>
                                    </section>
                                  
                                    <section class="col col-2 margin-top-20">
                                    	<label class="label"></label>
                                         <label class="checkbox margin-right-10">
                                            <input type="checkbox" name="C_status" id="C_status" {if="$NpoCatDetail.NPOCat_ShowOnWebsite=='1'"} checked="checked" {/if}  value="1" /><i></i>Show on Website
                                         </label>
									</section>
                                    
                                  <fieldset>
                                    <section>
                                        {if="$action=='insert'"}
                                            <div class="pull-right margin-bottom-10">
                                                <button type="submit" name="Save" value="Save" class="btn btn-primary" ><i class="fa fa-save"></i> Save</button>
                                            </div>
                                        {else}
                                            <div class="pull-right margin-bottom-10">
                                                <button type="submit" name="Save" value="Save Changes" class="btn btn-primary" ><i class="fa fa-save"></i> Save Changes</button>
                                            </div>
                                        {/if}        
                                        <!--<div class="pull-right margin-bottom-10">
                                              <button type="submit" name="Save" value="Save Changes" class="btn btn-primary"><i class="fa fa-save"></i> Save Changes</button>
                                        </div>-->
                                    </section>
                       			 </fieldset>
                                </div>       
                           </div> 
                          </fieldset>                 
                  </div>
              </form>
            </div>
      </div>
</div>