 <script>
 $(document).ready(function(){
	$('#savechanges').click(function(){
		$('#categoryrelation').submit();	
	});	 
 });
 </script>
 <ul class="breadcrumb">
        <li title="Dashboard"><a href='{#URL#}home/'>Dashboard</a></li>
        <li title="NPOs"><a href='{#URL#}npos/'>Non-Profit organization</a></li>
        <li title="NPO Category">Category Relation -List</li>
   </ul>
 {include="common/message"}    
    <div class="oh">
       <div class="col col-6">
            <h1 class="heading-1">Non-Profit organization Category Relation - List</h1>
        </div>
        <div class="col col-6 text-right mt-15">
               <button type="button" class="button-1" title="Save Changes" id="savechanges" value="Save Changes"><i class="fa fa-save"></i>&nbsp;Save Changes</button>
                <a href='{#URL}npos' id="view" class="button-2" title="View Npos"><i class="fa fa-list-ul"></i>&nbsp; NPO-List</a>
        </div>
    </div>
    <!-- filter section -->
    <div id="content-box"  >
    <form id="filterSection" name="filterSection" method="post" autocomplete="off" action="{#URL#}npocategory/index/npo-relation-category">
    <div class="section-heading">Filter Result <a href='javascript://' class="form-toggle-icon"><i class="fa fa-plus-square-o"></i></a></div>
    <div class="content-section" style="display:none;">
			 <fieldset>
                    <div class="row">
                        <!--<section class="col col-3">
                            <label class="select">&nbsp;</label>
                            <label class="select">
                                <select name="fields" id="fields">
                                    <option value="">-Any Where-</option>
                                    <option value="N.NPO_Name" {if="$fields=='N.NPO_Name'"} selected='selected' {/if}>Name</option>
                                    <option value="N.NPO_EIN"  {if="$fields=='N.NPO_EIN'"} selected='selected' {/if}>EIN</option>
                                    <option value="N.NPO_Street" {if="$fields=='N.NPO_Street'"} selected='selected' {/if}>Street</option>
                                </select>
                                <i></i>
                            </label>
                        </section>-->
                        
                        <section class="col col-3 ">
                        	<label class="select">Text Search</label>
                            <label class="select">
                                <select name="condition" id="condition">
                                    <option value="0" {if="$SearchCondition == 0"} selected='selected' {/if}>Is Like</option>
                                    <option value="1" {if="$SearchCondition == 1"} selected='selected' {/if}>Start With</option>
                                    <option value="2" {if="$SearchCondition == 2"} selected='selected' {/if}>Exact Match</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-3">
                        	<label class="select">&nbsp;</label>
                            <label class="input">
                                <input type="text" id="keyword" name="keyword"  value="{$SearchKeyword}"   placeholder="Search NPO Category"/>
                            </label>
                        </section>
                        
                         <section class="col col-3 mt-20">
                    		 <button type="submit" name="search" value="search" id="search" class="button-1"><i class="fa fa-search"></i>&nbsp;Show Result</button>
                   			 <button type="button" name="reset" value="reset" class="button-2" onClick="window.location = window.location;"><i class="fa fa-refresh"></i>&nbsp;Reset</button>     
                         </section>
                    </div>
			 </fieldset>
        </div>
    </form>
    </div>
    <!--filter section -->
     <div id="content-box"  >
    <form id="categoryrelation" class="igs-form" name="categoryrelation" method="post"  action="{#URL#}npocategory/index/create-category-relation">
    		
            	<div class="section-heading listingmoreBtn">Npo Categories Relation - List <a href='javascript://' class="form-toggle-icon "><i class="fa fa-minus-square-o"></i></a></div>
                	
                    <div class="content-section">
                    	<div class="oh">
                            
                        </div>
                         <fieldset>
                                <div class="row">
                                        <table border="0" id="igs-table">
                                          <thead>
                                            <tr>
                                                <th width="60%">NPO NTEE Code</th>
                                                <th width="40%">NPO Category</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                             {if condition="$Subsection!=NULL"}
                                                 {loop="Subsection"}
                                              <tr>
                                                <td valign="top" data-title="NPO Category Subsection Name">
                                                	{$value.NPO_CD}
                                                    {$ExistCatID=$value.CatID}
                                                    <input type="hidden" name="subsectionname[]" value="{$value.NPO_CD}"/>
                                                     <input type="hidden" name="ExistCatID[]" value="{$ExistCatID}"/>
                                                </td>	
                                                <td valign="top" data-title="NPO Category">                                                  	
                                                    <label class="select">
                                                        <select name="CategoryID[]"  class="form-control-select form-control pull-left" >
                                                            <option value="0">-Select Mapping Category-</option>                                                             
                                                            {loop="Category"}
                                                                <option value='{$value.NPOCat_ID}' {if="$value.NPOCat_ID==$ExistCatID"}selected{/if}>
                                                                	{$value.NPOCat_DisplayName_EN} || {$value.NPOCat_DisplayName_ES}
                                                                </option>
                                                             {/loop}
                                                            
                                                        </select><i></i>
                                                    </label>
                                                 </td>
                                               </tr>
                                              {/loop}
                                              {else}
                                                <tr><td class="text-center" colspan="2">No Record Found!</td></tr> 
                                             {/if}
                                        </tbody>
                                        </table>
                                </div>
                         </fieldset>
                         
                         <fieldset>
                            <div class="row">
                                <button type="submit" class="button-1  pull-right mt-20" title="Save Changes" value="Save Changes"><i class="fa fa-save"></i>&nbsp;Save Changes</button>
                            </div>
                        </fieldset>
                    </div> 
                </div>            
        </form>
