<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
</head>
<body id="body">
<div class="gray-fix-nav">
{include="top/top"}
</div>
<script type="text/javascript" src='{#RESOURCES#}js/inputmask.js'></script>

<script type="text/javascript" src='{#RESOURCES#}js/team-fundraiser-code-form.js'></script>
<script type="text/javascript">
$(document).ready(function(){
//$('#uniquecode').inputmask("a9999-9999aa");	
//$('#uniquecode').inputmask("aa99a9999a9a99");	
});
</script>
<section class="fix-first-section">

</section>

<section class="section-padding">
	<div class="container">    
    {include="common/message"}  
    	<h2 class="heading-1 login-heading">{$pageheading}<!--Join Team Fundraiser--></h2> 
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 npo-register-page">
                <div class="npo-reg-section">
                	
                   	<form name="CodeVerificationForm" id="CodeVerificationForm" method="post" action="{#URL#}team_fundraiser/showCaptainFundraiserPage">
                        <div class="row">
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <label class="label" for="accessCode">Enter Group Code</label>
 								<div class="form-group">
                                    <input type="text" class="form-control" name="uniquecode" id="uniquecode" value="{$groupCode}" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 btn-right">
                                <label class="label hidden-xs">&nbsp;</label>
                                <button type="submit" class="button-1 col-xs-12" title="Click here to continue">Continue</button>
                            </div>           
                        </div>
                        {$helpingtext}	
                    </form>
                </div>
            </div>
        </div>
    </div>	
</section>
{include="bottom/bottom"}
</body>
</html>