<!DOCTYPE html>
<html>
    <head>
        {$head}
        <script type="text/javascript">
		var SITEURL = '{$SiteURL}';
		var FRONTURL ='{#FRONTIMGURL#}';
		</script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href='{#RESOURCES#}img/favicon.ico'>
        <title>{$title}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8">
		<noscript>
            <div style="background:#CCC; opacity:0.9; color:#000; position:absolute; width:100%; height:100%; z-index:1000;">
                <div style="font-size:18px;background-color:#333; text-align:center; position:absolute;color:#FFF; opacity:1.0; height:30px; width:100%; height:100%; z-index:1000;">
                 For full functionality of this site it is necessary to enable JavaScript.
                 Here are the <a href="http://www.enable-javascript.com/" target="_blank" style="text-decoration:underline; color:#F00">
                 instructions how to enable JavaScript in your web browser</a>.
                </div>
            </div>
		</noscript>     
        
        <link rel="stylesheet" href='{#RESOURCES#}css/font-awesome/css/font-awesome.css' type="text/css" />
        <link rel="stylesheet" href='{#RESOURCES#}css/sky-forms.css' type="text/css" />
		<link rel="stylesheet" href='{#RESOURCES#}css/sky-forms-black.css' type="text/css" />
        <link rel="stylesheet" href='{#RESOURCES#}css/sky-font-awesome.css' type="text/css" />
        <link rel="stylesheet" href='{#RESOURCES#}css/controls.css' type="text/css" />
        <link rel="stylesheet" href='{#RESOURCES#}css/style.css' type="text/css" />
		<!--[if lt IE 9]>
			<link rel="stylesheet" href="{#RESOURCES#}css/sky-forms-ie8.css'>
		<![endif]-->		
        <script type="text/javascript">var SITEURL = '{$SiteURL}';</script>
        <script type="text/javascript" src='{#RESOURCES#}js/jquery-1.11.1.js'></script>
        <script type="text/javascript" src='{#RESOURCES#}js/jquery.validate.js'></script>
        <script type="text/javascript" src='{#RESOURCES#}js/common.js'></script>
		<script type="text/javascript" src='{#RESOURCES#}js/smoothScroll.js'></script>
        
       <!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src='{#RESOURCES#}js/sky-forms-ie8.js'></script>
		<![endif]-->
    </head>
    <body>
        {if condition="isset($load_area.top)"}
            <div id="outerSection">
                    {$load_area.top} 
                <div id="middleSection">
                {if condition="isset($load_area.left)"}
                    {$load_area.left}
                {/if}    
                    {$load_area.center}
                </div>
                {if condition="isset($load_area.bottom)"}
                    {$load_area.bottom} 
                {/if}
            </div>
        {else}
            {$load_area.center}
        {/if}
    </body>
</html>


