/*------------------Color Theme Corporate----------------*/
/*.colorTheme-header-text{color:#4BACC6 !important;}
.colorTheme-subhead-text{color:#F79646 !important;}
.colorTheme-body-text{color:#4D4D4D !important;}
.colorTheme-button{background:#C0504D !important; border-color:#C0504D !important;}
.colorTheme-button:hover{background:#C2423F !important;}
.colorTheme-section-head{color:#1F497D !important;}
.colorTheme-fields{background:#8064A2 !important;}*/

/*------------------Color Theme Zenith----------------*/
/*.colorTheme-header-text{color:#9CB084 !important;}
.colorTheme-subhead-text{color:#CEB966 !important;}
.colorTheme-body-text{color:#5F5F5F !important;}
.colorTheme-button{background:#69676D !important; border-color:#69676D !important;}
.colorTheme-button:hover{background:#474747 !important;}
.colorTheme-section-head{color:#7E6BC9 !important;}
.colorTheme-fields{background:#A379BB !important;}*/

/*------------------Color Theme Agency----------------*/
/*.colorTheme-header-text{color:#F07F09 !important;}
.colorTheme-subhead-text{color:#C19859 !important;}
.colorTheme-body-text{color:#000000 !important;}
.colorTheme-button{background:#9f2936 !important; border-color:#9f2936 !important;}
.colorTheme-button:hover{background:#C53242 !important;}
.colorTheme-section-head{color:#4c8540 !important;}
.colorTheme-fields{background:#604878 !important;}*/

/*------------------Color Theme Metro----------------*/
/*.colorTheme-header-text{color:#646b86 !important;}
.colorTheme-subhead-text{color:#D19049 !important;}
.colorTheme-body-text{color:#969696 !important;}
.colorTheme-button{background:#CCB400 !important; border-color:#CCB400 !important;}
.colorTheme-button:hover{background:#C0A900 !important;}
.colorTheme-section-head{color:#8C7B70 !important;}
.colorTheme-fields{background:#D16349 !important;}*/

/*------------------Color Theme Zizzou----------------*/
/*.colorTheme-header-text{color:#2DA2BF !important;}
.colorTheme-subhead-text{color:#ADDDE8 !important;}
.colorTheme-body-text{color:#4D4D4D !important;}
.colorTheme-button{background:#39639D !important; border-color:#39639D !important;}
.colorTheme-button:hover{background:#2B5A9B !important;}
.colorTheme-section-head{color:#39639D !important;}
.colorTheme-fields{background:#7D3C4A !important;}*/

/*------------------Color Theme Equate----------------*/
/*.colorTheme-header-text{color:#CEB966 !important;}
.colorTheme-subhead-text{color:#D34817 !important;}
.colorTheme-body-text{color:#4D4D4D !important;}
.colorTheme-button{background:#918485 !important; border-color:#918485 !important;}
.colorTheme-button:hover{background:#7F7374 !important;}
.colorTheme-section-head{color:#9B2D1F !important;}
.colorTheme-fields{background:#F79646 !important;}*/

/*------------------Color Theme Maya----------------*/
/*.colorTheme-header-text{color:#A5C249 !important;}
.colorTheme-subhead-text{color:#0BD0D9 !important;}
.colorTheme-body-text{color:#4D4D4D !important;}
.colorTheme-button{background:#10CF9B !important; border-color:#10CF9B !important;}
.colorTheme-button:hover{background:#0EC392 !important;}
.colorTheme-section-head{color:#009DD9 !important;}
.colorTheme-fields{background:#04617B !important;}*/

/*------------------Color Theme Basis----------------*/
/*.colorTheme-header-text{color:#72A376 !important;}
.colorTheme-subhead-text{color:#B0CCB0 !important;}
.colorTheme-body-text{color:#4D4D4D !important;}
.colorTheme-button{background:#E8B7B7 !important; border-color:#E8B7B7 !important;}
.colorTheme-button:hover{background:#E87E7E !important;}
.colorTheme-section-head{color:#676A55 !important;}
.colorTheme-fields{background:#CEC597 !important;}*/

/*------------------Color Theme Meridian----------------*/
/*.colorTheme-header-text{color:#DD8047 !important;}
.colorTheme-subhead-text{color:#94B6D2 !important;}
.colorTheme-body-text{color:#4D4D4D !important;}
.colorTheme-button{background:#775F55 !important; border-color:#775F55 !important;}
.colorTheme-button:hover{background:#886A5E !important;}
.colorTheme-section-head{color:#7BA79D !important;}
.colorTheme-fields{background:#968C8C !important;}*/

/*------------------Color Theme Glam----------------*/
/*.colorTheme-header-text{color:#1AB39F !important;}
.colorTheme-subhead-text{color:#7FD13B !important;}
.colorTheme-body-text{color:#4D4D4D !important;}
.colorTheme-button{background:#EA157A !important; border-color:#EA157A !important;}
.colorTheme-button:hover{background:#C7005E !important;}
.colorTheme-section-head{color:#738AC8 !important;}
.colorTheme-fields{background:#968C8C !important;}*/

/*------------------Color Theme Fleur----------------*/
/*.colorTheme-header-text{color:#FA8D3D !important;}
.colorTheme-subhead-text{color:#F9B639 !important;}
.colorTheme-body-text{color:#4D4D4D !important;}
.colorTheme-button{background:#2DA2BF !important; border-color:#2DA2BF !important;}
.colorTheme-button:hover{background:#2A98B3 !important;}
.colorTheme-section-head{color:#DA1F28 !important;}
.colorTheme-fields{background:#39639D !important;}*/

/*------------------Color Theme Cargo----------------*/
/*.colorTheme-header-text{color:#F5CD2D !important;}
.colorTheme-subhead-text{color:#AEBAD5 !important;}
.colorTheme-body-text{color:#969696 !important;}
.colorTheme-button{background:#B32C16 !important; border-color:#B32C16 !important;}
.colorTheme-button:hover{background:#C2423F !important;}
.colorTheme-section-head{color:#FE8637 !important;}
.colorTheme-fields{background:#AEBAD5 !important;}*/

/*------------------Color Theme Interro----------------*/
/*.colorTheme-header-text{color:#727CA4 !important;}
.colorTheme-subhead-text{color:#FADA7A !important;}
.colorTheme-body-text{color:#4D4D4D !important;}
.colorTheme-button{background:#D2DA7A !important; border-color:#D2DA7A !important;}
.colorTheme-button:hover{background:#BDC564 !important;}
.colorTheme-section-head{color:#9FB8CD !important;}
.colorTheme-fields{background:#B88472 !important;}*/

/*------------------Color Theme Ping----------------*/
/*.colorTheme-header-text{color:#9FB8CD !important;}
.colorTheme-subhead-text{color:#FADA7A !important;}
.colorTheme-body-text{color:#969696 !important;}
.colorTheme-button{background:#727CA4 !important; border-color:#727CA4 !important;}
.colorTheme-button:hover{background:#5C6AA3 !important;}
.colorTheme-section-head{color:#444D26 !important;}
.colorTheme-fields{background:#B88472 !important;}*/

/*------------------Color Theme Urgent----------------*/
/*.colorTheme-header-text{color:#3093AB !important;}
.colorTheme-subhead-text{color:#FEB80A !important;}
.colorTheme-body-text{color:#4D4D4D !important;}
.colorTheme-button{background:#4F271C !important; border-color:#4F271C !important;}
.colorTheme-button:hover{background:#61372C !important;}
.colorTheme-section-head{color:#84AA33 !important;}
.colorTheme-fields{background:#475A8D !important;}*/

/*------------------Color Theme Elite----------------*/
/*.colorTheme-header-text{color:#6EA0B0 !important;}
.colorTheme-subhead-text{color:#CCAF0A !important;}
.colorTheme-body-text{color:#4D4D4D !important;}
.colorTheme-button{background:#3B3B3B !important; border-color:#3B3B3B !important;}
.colorTheme-button:hover{background:#545454 !important;}
.colorTheme-section-head{color:#8D89A4 !important;}
.colorTheme-fields{background:#9E9273 !important;}*/

/*------------------Color Theme Ergo----------------*/
/*.colorTheme-header-text{color:#F0A22E !important;}
.colorTheme-subhead-text{color:#C3986D !important;}
.colorTheme-body-text{color:#4D4D4D !important;}
.colorTheme-button{background:#A19574 !important; border-color:#A19574 !important;}
.colorTheme-button:hover{background:#83785B !important;}
.colorTheme-section-head{color:#C17529 !important;}
.colorTheme-fields{background:#4E3B30 !important;}*/

/*------------------Color Theme Vital----------------*/
/*.colorTheme-header-text{color:#E40059 !important;}
.colorTheme-subhead-text{color:#FF388C !important;}
.colorTheme-body-text{color:#4D4D4D !important;}
.colorTheme-button{background:#666666 !important; border-color:#666666 !important;}
.colorTheme-button:hover{background:#575757 !important;}
.colorTheme-section-head{color:#00349E !important;}
.colorTheme-fields{background:#005BD3 !important;}*/