/*------------------Color Theme HOT----------------*/
.colorTheme-header-text{color:#CC0000 !important;}
.colorTheme-subhead-text{color:#990000 !important;}
.colorTheme-body-text{color:#666666 !important;}
.colorTheme-button{background:#CC0000 !important; border-color:#CC0000 !important;}
.colorTheme-button:hover{background:#E40000 !important;}
.colorTheme-tab{background:#990000 !important;}
.colorTheme-fields{background:#D14B34 !important;}

/*------------------Color Theme WARM----------------*/
/*.colorTheme-header-text{color:#FF9933 !important;}
.colorTheme-subhead-text{color:#FF6633 !important;}
.colorTheme-body-text{color:#666666 !important;}
.colorTheme-button{background:#FF9933 !important; border-color:#FF9933 !important;}
.colorTheme-button:hover{background:#FF7F00 !important;}
.colorTheme-tab{background:#FF6633 !important;}
.colorTheme-fields{background:#996633 !important;}*/

/*------------------Color Theme MELLOW----------------*/
/*.colorTheme-header-text{color:#FFCC33 !important;}
.colorTheme-subhead-text{color:#CC9933 !important;}
.colorTheme-body-text{color:#666666 !important;}
.colorTheme-button{background:#ffcc00 !important; border-color:#ffcc00 !important;}
.colorTheme-button:hover{background:#F4C300 !important;}
.colorTheme-tab{background:#cc9900 !important;}
.colorTheme-fields{background:#D7B261 !important;}*/

/*------------------Color Theme LUSH----------------*/
/*.colorTheme-header-text{color:#339900 !important;}
.colorTheme-subhead-text{color:#006600 !important;}
.colorTheme-body-text{color:#666666 !important;}
.colorTheme-button{background:#339900 !important; border-color:#339900 !important;}
.colorTheme-button:hover{background:#3EBA00 !important;}
.colorTheme-tab{background:#006600 !important;}
.colorTheme-fields{background:#9EB74F !important;}*/

/*------------------Color Theme CHILL----------------*/
/*.colorTheme-header-text{color:#6699CC !important;}
.colorTheme-subhead-text{color:#336699 !important;}
.colorTheme-body-text{color:#666666 !important;}
.colorTheme-button{background:#6699cc !important; border-color:#6699cc !important;}
.colorTheme-button:hover{background:#4E8DCD !important;}
.colorTheme-tab{background:#336699 !important;}
.colorTheme-fields{background:#A4C7DB !important;}*/

/*------------------Color Theme INDIGO----------------*/
/*.colorTheme-header-text{color:#333399 !important;}
.colorTheme-subhead-text{color:#3366CC !important;}
.colorTheme-body-text{color:#666666 !important;}
.colorTheme-button{background:#3366cc !important; border-color:#3366cc !important;}
.colorTheme-button:hover{background:#5484E5 !important;}
.colorTheme-tab{background:#23408e !important;}
.colorTheme-fields{background:#AEC1E3 !important;}*/

/*------------------Color Theme VIOLET----------------*/
/*.colorTheme-header-text{color:#666699 !important;}
.colorTheme-subhead-text{color:#333366 !important;}
.colorTheme-body-text{color:#666666 !important;}
.colorTheme-button{background:#666699 !important; border-color:#666699 !important;}
.colorTheme-button:hover{background:#585899 !important;}
.colorTheme-tab{background:#333366 !important;}
.colorTheme-fields{background:#B4ACCB !important;}*/

/*------------------Color Theme MONO----------------*/
/*.colorTheme-header-text{color:#666666 !important;}
.colorTheme-subhead-text{color:#333333 !important;}
.colorTheme-body-text{color:#666666 !important;}
.colorTheme-button{background:#999999 !important; border-color:#999999 !important;}
.colorTheme-button:hover{background:#777777 !important;}
.colorTheme-tab{background:#666666 !important;}
.colorTheme-fields{background:#CCCCCC !important;}*/