<div id="topSection">
	<div class="topPannel overflow-hidden">
		<div class="logo">
			<a href='{#URL#}home/' title="Welcome to Donasity Admin Panel">
				<img src='{#RESOURCES#}img/logo.png' width="200px" alt="Welcome to Donasity Admin Panel" title="Welcome to Donasity Admin Panel" />
         	</a>
	</div>
    <div class="userInfo overflow-hidden">
    	<div class="pull-right"> 
            <a href='{#URL#}home' title="Go To Web Admin Panel" class="Web Admin Panel" target="_blank"><span style="color:#E5E4E9">Web Admin Panel</span></a> 
            <a id="log_link" href='{#URL#}logout/' title="Logout" class="logout"><span>Logout</span></a>
            </div>
        </div>
    </div>
</div>