/* CSS Document */
section.about-us{background:url(../images/static-banner.jpg) no-repeat; background-size:cover; background-position:center bottom;}
.heading-1 .text-tm{font-family: 'quicksandbold',sans-serif; font-size:38px; top:-0.2em;}
.about-us-content .heading-1{margin-bottom:10px;}
.section-padding.about-us-content{padding-bottom:30px;}