/* CSS Document */
.login-section{font-family: 'latoregular',sans-serif;}
.login-fb-btn, .signUp-fb-btn {
  background: #4074c3;
  color: #fff;
  text-decoration: none;
  padding: 0px 5px;
  border-radius: 5px;
  display: block;
  font-size: 15px;
  line-height: 45px;
  border: 1px solid #b3c7e7;
}
.login-fb-btn .fb-icon {
  font-size: 30px;
  display: inline-block;
  width: 40px;
  text-align: center;
  vertical-align: sub;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid #87A5D3;
}
.login-fb-btn:hover, .signUp-fb-btn:hover{text-decoration:none;}
.login-bottom, .signUp-bottom{background:#666666; text-align:center; padding:10px; margin:20px 0px 0px 0px; color:#FFF; font-size:20px;}
.sign-up-btn{font-size:15px;}
.forget-password-section{padding:25px 0px 204px 0px;}
.forget-password-text{vertical-align:middle;}
.account-section{font-family: 'latoregular',sans-serif; margin-top:30px;display:none;}
.account-section .heading-3{font-size:22px; margin-bottom:25px;}
.account-section .button-1{padding:10px 38px; font-size:22px;}