/* CSS Document */
body{color:#FFF;}
.fundraiser-content .section-padding{padding-top:5px;}
.fundraiser-content .heading-1{font-size:36px; margin-bottom:10px;}
.fundraiser-content .fundraiser-description{color:#333; font-size:18px; margin-bottom:15px;}
.fundraiser-benefits{font-family:'latoregular',sans-serif; font-size:18px; color:#4d4d4d;}
.about-section{font-family:'latoregular',sans-serif; font-size:18px; color:#4d4d4d;}
.fundraiser-section-tab{font-family: 'quicksandbold',sans-serif; font-size:24px; text-align:center; background:#abc340; padding:8px 5px; display:block; margin-bottom:10px;}
.photo-gallery-section ul li {padding:0px 15px 15px 0px; float:left; width:12.5%;}
.photo-gallery-section ul li a{display: block;}
.fundraiser-video-frame{overflow:hidden;}
.fundraiser-video-frame iframe{width:100%; height:430px; border:1px solid #959595;}
.fundraiser-thumb-video a{border:1px solid #959595; display:block; text-align:center; overflow:hidden;}
.comment-section{padding-bottom:15px;}
.comment-box{font-family:'latoregular',sans-serif; font-size:18px; line-height:25px; color:#666666; padding:40px 0px 30px 0px; overflow:hidden; border-bottom:1px solid #b1b1b1;}
.comment-heading{font-family:'latobold',sans-serif; font-size:18px; color:#abc340; margin-bottom:0px; margin-top:0px;}
.comment-box:first-child{padding-top:20px;}
.fundraiser-donate-btn{font-family:'quicksandbold',sans-serif; font-size:48px; background:#abc340; padding:23px 5px; display:block; color:#fff; text-align:center;}
.fundraiser-price{font-family:'quicksandbold',sans-serif; background:#09426a; padding:22px 0px 22px 0px; text-align:center;}
.fundraiser-goal{  background: #09426a;  padding: 10px 0px 5px 0px;  text-align: center;}
.goal-text{font-family: 'latobold',sans-serif; font-size:18px; background:#09304b; color:#abc340; text-align:center; padding:13px 0px;}
.spread-box{border:1px solid #aeaeae;}
.spread-box > div:first-child{border-bottom:1px solid #b1b1b1;}
.spread-box > div:last-child{border-bottom:none;}
.spread-text{font-family:'quicksandbold',sans-serif; font-size:30px; color:#09426a; line-height:25px;}
.spread-box .social-section{width:142px; margin:auto; text-align:left;}
.spread-box .social-section li{width:auto; float:none; padding:0px 2px 0px 2px; margin-bottom:5px;}
.spread-box .social-section li .facebook{background-position:-66px 0px;}
.spread-box .social-section li .g-plus{background-position:-66px -260px;}
.spread-box .social-section li .twitter{background-position:-66px -65px;}
.spread-box .social-section li .linkedin{background-position:-66px -325px;}
.spread-box .social-section li .instagram{background-position:-66px -130px;}
.spread-box .social-section li .youtube{background-position:-66px -390px;}
.spread-box .social-section li .a-at{background-position:-66px -195px;}
.spread-box .social-section li .user-secret{background-position:-66px -455px;}
.qr-code-border{padding-top:25px; overflow:hidden;}
.fundraiser-content .date{font-family: 'latobold',sans-serif; font-size:18px; color:#abc340; text-align:right;}
.fundraiser-leftSection{padding-right:0px;}
.photo-gallery-section{padding-right:0px;}
.fundraiser-img{margin-right:15px; width:260px}
.fundraiser-img{margin-right:15px;}
.comment-form-div{text-align:center}
.comment-msg{color:#abc340; padding-top:10px; padding-left:10px; font-size:19px; display:inline-block; font-weight:bold}