/* CSS Document */
section.give-back{background:url(../images/givebackbanner.jpg) no-repeat;background-size:cover;background-position:center bottom;}
.give-back .page-heading {line-height:128px; padding-top:98px;}
.founders-msg-section.section-padding{padding-top:10px;}
.giveback-program-section.section-padding{padding:45px 0px 70px 0px !important;}
.howitwork-section.section-padding{padding:40px 0px 65px 0px !important;}