/* CSS Document */
@media (min-width:601px)and (max-width:766px)
{
	.filter-left-section{width:35%; float:left;}
	.filter-right-section{width:65%; float:left;}
	.main-search{margin-left:0px;}
	.search-container{margin-top:70px;}
	.filter-heading, .filter-sub-heading, .result-heading{font-size:18px;}
	.filter-section{margin-right:0px;}
	.result-heading{padding-left:0px; padding-right:0px;}
	.category-result-box{padding-right:15px;}
	/*.result-description{padding-left: 30px; margin-top: 10px; padding-right: 15px;}*/
	.result-description{padding:5px 15px 5px 30px;}
	.result-description a{display:block; margin-left:0px;}
	.search-section input[type="text"]{font-size:20px;}
	.add-list span{padding:12px 20px;}
	/* payment page */
	.step-section .heading-2{font-size:25px !important; line-height:normal !important;}
}
@media (max-width:767px)
{
	/* common css */
	.clear-mobile-margin{margin:0px !important;}
	.clear-mobile-padding{padding:0px !important;}
	.mobile-text-left{text-align:left !important;}
	.mobile-text-right{text-align:right !important;}
	.mobile-text-center{text-align:center !important;}
	.mobile-float-none{float:none !important; display:block;}
	.heading-1{font-size: 30px !important;}
	.link-1{font-size:24px;}
	/* custom css */
	.side-btn{    
		position: static;
		width:100%;
		vertical-align:baseline;
		font-size:22px;
		text-align:center;
		border:none;
		z-index: 9999;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform-origin: 0px 0px;
		transform-origin: 0px 0px;
	}
	.side-btn a{padding:11px 15px 11px 15px;}
	.home-page.mobile-search-section{background:#ffffff;}
	.first-section{margin-top:60px; padding-top:50px !important;}
	.cms-section ul li{padding-left:0px;}
	.search-section{font-size:14px !important; padding:12px 0px !important; background:#ededed;}
	.mobile-search-section{background:#ededed;}
	footer{text-align:center;}
	.donation-categories-name{font-size:15px !important;}
	.down-arrow{display:none !important;}
	.banner-heading{font-size:40px; color:#FFF;}
	.main-heading{font-size:48px !important; color:#FFF; line-height:35px;}
	.main-banner{background:url(../images/banner/banner1.jpg) no-repeat; background-position:center; background-size:cover;	padding-top:36px; position:relative; padding-bottom:26px;}
	.main-description{position:static !important; padding-top:0px !important;}
	.donate-now, .fundraiser, .non-profit{padding:30px 0px; background-attachment:scroll !important;}
	.cms-section .about-content{padding-left:0px !important;}
	.page-heading{font-size:30px; font-family:'quicksandregular',sans-serif; line-height:25px !important;}
	.donate-now-overlay, .non-profit-overlay{width:100%; height:100%; background:rgba(155, 195, 6, 0.6); position:absolute; top:0px;}
	.testimonial-content-box{padding-top:25px !important; padding-bottom:25px !important;}
	.news-description a{display:block;}
	.btn-right{text-align:center; margin-bottom:5px;}
	.about-section{padding-bottom:25px;}
	.fundraiser-platinum-content .about-section{padding-bottom:0px;}
	.fundraiser-thumb-video{margin-bottom:15px;}
	.howitworks-section .package-container .pricing-content-1{font-size:30px !important;}
	.ambassador-service .heading-1{font-size:45px !important;}
	.package-button{padding:35px 0px; font-size:45px;}
	.package-content-1{font-size:30px; padding-left:5px; padding-right:5px;}
	.section-padding.make-donation-head, .section-padding.search-head{padding:0px 0px;}
	.section-padding.donation-categories{padding:22px 0px 0px 0px; background:none;}
	.donation-categories .heading-1{margin-bottom:20px;}
	.contactus-section .right-Section{margin-top:20px !important;}
	.contactus-description{font-size:25px;}
	.contactus-section .heading-1{text-align:left; font-size:28px !important;}
	.faq-page .page-heading{text-align:center;}
	section.faq-page{padding-bottom:25px; padding-top:25px !important; margin-top:60px;}
	.page-heading{padding-top:0px !important;}
	section.about-us{padding-top:50px;}
	section.donation-category{padding-top:25px !important;}
	section.pricing{padding-top:25px !important;}
	section.pricing-page, section.give-back{padding-top:40px !important;}
	.pricing-page .page-heading, .give-back .page-heading{line-height:35px !important;}
	section.non-profit-registration{padding-top: 10px !important; padding-bottom:2px;}
	.non-profit-registration .page-heading{text-align:center;}
	/* mobile search section */
	.section-padding.mobile-search-section{padding:0px 0px; width:100%;}
	.faq-mobile-container{background:#f9f9f9;}
	.mobile-search-section .search-btn{color:#abc340; background:transparent; border:none; position:absolute; padding-right:8px; font-size:22px; left:0px; border-right:2px solid #c4c4c4; outline:none; z-index:4444;}
	.mobile-search-section input[type="text"]{background:transparent; border:1px solid transparent; padding:6px 0 6px 45px !important; font-size:14px; width:100%; color:#969696; outline:none;}
	.mobile-search-section input[type="text"]::-moz-placeholder {color:#969696;opacity:1}
	.mobile-search-section input[type="text"]:-ms-input-placeholder {color:#969696;}
	.mobile-search-section input[type="text"]::-webkit-input-placeholder {color:#969696;}
	.fundraiser-leftSection{padding-right:15px;}
	.gray-fix-nav .header.navbar{padding:4px 0px !important;}
	.fundraiser-content .heading-1 {font-size: 24px !important; text-align:left; margin-bottom:10px;}
	.fundraiser-content .date{font-size:14px; text-align:left;}
	.fundraiser-content .date div:last-child{margin-top:5px;}
	.fix-first-section.fundraiser-page{padding-top:60px;}
	.fundraiser-content .section-padding{padding-top:10px; padding-bottom:0px;}
	.photo-gallery-section .fundraiser-section{margin-left:-15px; margin-top:15px;}
	.photo-gallery-section ul li{width:33.33%;}
	.photo-gallery-section ul li{padding:15px;}
	.fundraiser-video-frame iframe{height:185px;}
	.fundraiser-section-tab{font-size:22px;}
	.fundraiser-img{margin-right:15px; margin-bottom:15px;}
	.faq-content .heading-1{text-align:left;}
	.faq-content .heading-2 a{display:block;}
	.testimonial-content-box img{margin-bottom:10px;}
	.section-padding.static-page-section{padding-top:55px; padding-bottom:50px;}
	.non-profit-content .heading-1{font-size:36px !important;}
	.section-padding.heading-content{padding:15px 0px; background:#f9f9f9;}
	.ambassador-service{background:#666666; padding-top:28px; padding-bottom:28px;}
	.get-help-content{margin-top:10px;}
	.non-profit-register-section{padding-top:18px; padding-bottom:68px;}
	/*.non-profit-register-section .button-1{font-size:36px;}*/
	.non-profit-register-section .or-text{font-size:30px !important; margin:0px 20px 0px 0px;}
	.quote-text{margin-top:0px;}
	.donation-categories .heading-1{text-align:center;}
	.section-padding.start-fundraiser, .section-padding.pricing-page-content, .section-padding.how-it-works-content{padding:20px 0px;}
	.section-padding.how-it-works-content p{margin-bottom:0px;}
	.user-name.heading-3:first-child{margin-top:0px;}
	.user-name.heading-3{margin-top:10px; font-size:13px;}
	.edit-account{margin-top:5px;}
	.user-category-list{margin-top:20px; border-bottom:1px solid #b1b1b1; padding-bottom:15px;}
	.user-category-list ul{margin-left:0px;}
	.user-category-list li{padding:10px 0px; width:32.5%; text-align:center;}
	.donation-category-tab li{font-size:22px; padding-right:0px; margin-bottom:10px; display:block;}
	.donation-category-tab{top:-140px; left:0px; text-align:center; width:100%;}
	.user-donation-detail, .fundraiser-detail{margin-top:140px;}
	.category-list-option li:first-child{padding-left:10px;}
	.category-list-option li{display:block; border-right:none; text-align:center; padding:8px 10px;}
	.section-padding.user-donation-detail{padding-top:10px;}
	.user-donation-listing .listing-heading{font-size:18px;}
	.donation-listing-row{font-size:14px; padding:10px 0px;}
	.donation-listing-row .donation-name, .donation-listing-row .donation-date, .donation-listing-row .donation-amount{padding-top:0px;}	
	.donation-bottom-menu{margin-top:25px; text-align:left;}
	.donation-bottom-menu a{margin:0px 10px;}
	.user-donation-listing{margin-top:15px;}
	.section-padding.media-page-heading{padding:15px 0px;}
	.news-image{padding:0px 0px;}
	.first-section.media-page{padding-top:25px !important;}
	.media-page .page-heading span{display:block;}
	.news-description{padding-bottom:30px;}
	.press-date-box{font-size:15px; padding:8px; margin-bottom:15px;}
	.press-date-box span{display:block;}
	.press-date{font-size:68px; line-height:68px;}
	.section-padding.billing-content{padding:20px 0px;}
	.billing-content .heading-1{margin-bottom:10px;}
	/* platinum page css */
	.logo-section img{width:100px;}
	.fundraiser-platinum-content{position:static;}
	section.fundraiser-platinum-page{padding-top:15px !important; margin-bottom:20px;}
	.fundraiser-platinum-content > .row > .col-xs-12.fundraiser-leftSection{width:65%;}
	.fundraiser-platinum-content > .row > .col-xs-12.platinum-rightSection{width:35%;}
	.spacial-text{padding:20px 55px 20px 55px; margin-top:15px;}
	.qr-code-img{padding-right:15px;}
	.qr-code-text{font-size:14px; padding-left:0px;}
	.qr-code-border{padding-top:20px;}
	.platinum-mobile-heading .heading-1{font-size:48px !important; color:#09426a; margin-bottom:20px;}
	.platinum-mobile-heading .heading-2{font-family: 'latoregular',sans-serif !important; font-size:24px !important; color:#0f456c; margin-bottom:25px;}
	.donor-comment-section{padding-top:60px;}
	.spread-text{font-size:24px;}
	.fundraiser-platinum-content .date, .fundraiser-price, .fundraiser-goal{margin-top:15px;}
	.stiky-bar div:last-child{border-left:none;}
	.stiky-bar .button-1{font-size:25px; padding:5px 10px;}
	.npo-reg-section{padding:0px;}
	.amount-col{padding:15px 15px 0px 15px;}
	.donor-info{padding-bottom:15px;}
	.donors-details{border-bottom:1px solid #b1b1b1;}
	.total-amount .row div:first-child{text-align:left;}
	.total-amount label.checkbox{font-size:13px;}
	.total-amount label.checkbox a{display:block;}
	.total-amount label.checkbox i{left:0px;}
	.total-amount .row{padding-top:5px; padding-bottom:5px;}
	.total-amount-section > div{padding:0px;}
	.total-amount-section{font-size:16px;}
	.total-amount .row:last-child {padding: 15px 0px;}
	.selection-row .fundraiser-box, .selection-row .npo-box, .selection-row .heading-2, .selection-row .learn-more{display:block; margin-left:0px; padding-bottom:5px;}
	.learn-more .link-btn{font-size:15px !important;}
	.sub-total span:first-child{float:left;}
	.sub-total span:last-child{float:right;}
	.npo-register-page .npo-reg-section, .account-setup-page .npo-reg-section, .confirmation-page .npo-reg-section, .step-fundraiser-complete-page{padding:20px 0px 40px 0px;}
	.step-section .heading-2{font-size:19px;}
	.step-content{padding-left:0px; padding-top:15px;}
	.receipt-list-detail .row{border-bottom:1px solid #666; padding-bottom:15px; margin-top:15px;}
	.receipt-list-detail .row:last-child{border-bottom:none;}
	.receipt-list-detail .donation-amount{padding-bottom:10px; text-align:left;}
	.forget-password-section{padding:10px 0px 10px 0px;}
	.donation-amount{font-weight:normal;}
	.donation-amount span{font-weight:bold;}
	.payment-page .billing-form-section{margin-top:15px; padding-top:15px; border-top:1px solid #b1b1b1;}
	.setup-detail-section .package-content{border-right:none; padding-right:0px;}
	.whatisnext-section form, .whatisnext-section .heading-3{padding-left:0px;}
	.whatisnext-section .heading-3{text-align:center;}
	.setup-detail-section ul{font-size:14px;}
	.continue-donate-btn{padding-left:0px; padding-right:0px;}
	.total-amount .checkbox i{position:absolute;}
	.fundraiser-edit-section .user-category-list li{width:24%;}
}
@media (max-width:600px)
{
	.filter-left-section, .filter-right-section .heading-2, .add-list{display:none;}
	.tab-section{top:-77px;}
	.tab-section a{font-size:15px;}
	.result-heading{font-size:19px; padding:10px 15px 0px 30px;}
	.category-result-img{padding-right:15px;}
	.result-description{padding:5px 15px 5px 30px;}
	.result-description a{display:block; margin-top:5px;}
	.tab-section ul{margin-bottom:0px;}
	.search-container{margin-top:65px;}
	.category-result-box{padding-right:15px;}
	.mobile-result-section{margin-right:-15px; margin-left:-15px;}
	.result-description a{margin-left:0px;}
	.record-reset-btn{display:none;}
}

@media (max-width:500px)
{
	/* login popup css */
	.popup-fb-btn{font-size:13px !important; padding:8px 5px !important;}
	.popup-fb-btn i{font-size:20px !important;}
	.or-text{font-size:14px !important; padding:5px;}
	.popup-section .form-control{height:30px !important; font-size:13px !important;}
	.popup-section .checkbox i{width:17px !important; height:17px !important;}
	.popup-section .checkbox{font-size:10px !important; line-height: 25px !important; padding-left:25px !important;}
	.popup-section .checkbox input + i:after{font-size:14px; top:-1px; left:-1px;}
	.popup-section .checkbox label{min-height:25px !important; padding-left:25px !important; line-height:26px !important;}
	.link-btn{font-size:10px !important;}
	.terms-text{font-size:7px !important;}
	.popup-section .button-1{font-size:15px !important; padding:6px 18px !important;}
	.popup-bottom{font-size:14px !important;}
	.mfp-iframe-holder .mfp-content{height:364px;}
	.forget-password-email{padding:0px 0px 75px 0px;}
	.popup-section .heading-1{font-size: 28px !important;}
	.popup-bottom .terms-text{font-size: 10px !important;}
}
@media (max-width:480px)
{
	.fundraiser-platinum-content > .row > .col-xs-12.fundraiser-leftSection, .fundraiser-platinum-content > .row > .col-xs-12.platinum-rightSection{width:100% !important;}
	.qr-code-text{font-size:20px !important;}
	.spread-text{font-size:34px !important;}
	.platinum-mobile-heading .heading-1{font-size:34px !important;}
	.fundraiser-platinum-page .logo-section{position:absolute; bottom:15px;}
	.categories-quick-link{bottom:8%;}
	.categories-quick-link a{margin-bottom:5px;}
}
@media (min-width:768px)and (max-width:991px)
{
	.banner-heading{font-size:30px !important;}	
	.main-description{top:25%;}
	.banner-heading sup{font-size:15px;}
	.banner-steps a{font-size: 20px !important; padding: 25px 0px !important;}
	.banner-step-description{font-size:15px !important;}
	.carousel-control{width:10%;}
	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{margin-top:-95px;}
	.main-heading{font-size:40px !important; line-height:40px;}
	.generosity-meet-step a{height:60px !important; padding:5px 0px !important; font-size:18px !important;}
	.generosity-meet-slider .owl-theme .owl-controls .owl-buttons div.owl-prev{left:-20px !important;}
	.generosity-meet-slider .owl-theme .owl-controls .owl-buttons div.owl-next{right:-20px !important;}
	.flat-transaction .flat-percentage{font-size:75px !important;}
	.donate-now, .fundraiser, .non-profit, .featured-fundraisers, .donation-categories{padding:50px 0px 70px 0px !important;}
	.donation-categories-name{font-size:20px !important;}
	.connect-with-friends{height:450px !important;}
	.connect-with-friends .main-heading{margin-top:165px;}
	.main-description{padding-top:0px !important;}
	.item-ordering-mobile{-webkit-transform-origin:100% 200px; transform-origin:100% 200px;}
	.owl-theme .owl-controls .owl-buttons div.owl-prev{left:-22px;}
	.owl-theme .owl-controls .owl-buttons div.owl-next{right:-22px;}
	.generosity-meet-slider .owl-prev{left:-20px !important;}
	.generosity-meet-slider .owl-next{right:-20px !important;}
	.filter-section{margin-right:0px;}
	.tab-section{top:-60px;}
	.tab-section a{font-size:20px;}
	.filter-heading, .filter-sub-heading, .result-heading{font-size:19px;}
	.category-result-box .learn-more{font-size:19px; padding:5px 10px;}
	.search-btn{left:-30px;}
	.news-description a{display:block; margin-left:0px;}
	.fundraiser-donate-btn{font-size:35px;}
	.howitworks-section .package-container .pricing-content-1{font-size:25px !important;}
	.non-profit-registration .page-heading{line-height:125px; font-size:115px;}
	.search-section {font-size: 26px;}
	.search-btn{font-size:35px;}
	.package-content-1{font-size:28px;}
	.package-button{padding:35px 0px; font-size:45px;}
	.package-content .package-content-1{font-size:40px;}
	.package-content .package-content-2{font-size:80px;}
	.contactus-section .social-section li{padding:0px 1px !important; margin-bottom:5px;}
	.generosity-meet .free-fundraisers-slide{padding-top:40px;}
	.flat-transaction-slide{padding-top:30px;}
	.user-donation-listing .listing-heading{font-size:21px;}
	.user-donation-listing .listing-heading i.fa{margin-right:0px; margin-top:2px;}
	.user-category-list{margin-top:20px;}
	.user-category-list li{padding-right:10px;}
	.qr-code-img{text-align:center; padding-right:15px;}
	.qr-code-text{text-align:center;}
	.fundraiser-goal{background-size:95%; height:225px; padding-top:51px;}
	.goal-per{font-size:50px;}
	.goal-per sup{font-size:28px;}
	.fundraiser-price{font-size:20px;}
	.spacial-text{padding:8px 4px 9px 4px;}
	.goal-text{line-height:24px;}
	.goal-text span:first-child{font-size:23px;}
	.goal-text span:last-child{font-size:15px;}
	.spacial-text .logo img{height:37px;}
	.filter-section .button-2{padding:8px 40px;}
	.search-container{padding:20px 0px 50px 0px;}
	.tab-section ul li{padding-left:5px; padding-right:5px;}
	.package-content .heading-1{font-size:35px;}
	.package-content .heading-2{font-size:85px;}
	.amount-box label{font-size:11px;}
	/*.total-amount-section .col-sm-6{padding-right:0px;}*/
	/*.total-amount label.checkbox{font-size:15px;}*/
	.receipt-list-detail .row div a{display:block;}
	.categories-quick-link a{font-size:12px;}
}

@media (min-width:992px)and (max-width:1199px)
{
	.banner-heading{font-size:50px !important;}
	.main-description{top:22%;}
	.banner-steps{padding:25px 0px 25px 0px;}
	.banner-steps a{font-size:30px !important; padding:30px 0px !important;}
	.carousel-control{width:15%;}
	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{margin-top:-95px;}
	.main-heading{font-size:40px !important; line-height:40px;}
	.connect-with-friends{height:625px !important;}
	.item-ordering-mobile{
		-webkit-transform-origin:100% 375px;
		transform-origin:100% 375px;
	}
	.owl-theme .owl-controls .owl-buttons div.owl-prev{left:-22px;}
	.owl-theme .owl-controls .owl-buttons div.owl-next{right:-22px;}
	.generosity-meet .free-fundraisers-slide{padding-top:45px;}
	.flat-transaction-slide{padding-top:35px;}
	.filter-section{margin-right:0px;}
	.search-section{font-size:26px;}
	.search-section input[type="text"]{padding:10px 0 10px 90px !important;}
	.search-btn{left:-40px;}
	.howitworks-section .package-container .pricing-content-1{font-size:32px !important;}
	.donation-categories-name{font-size:25px !important;}
	.user-category-list{margin-top:20px;}
	.fundraiser-platinum-content .fundraiser-donate-btn{font-size:40px;}
	.fundraiser-platinum-content .date{padding:13px 0px;}
	.fundraiser-price{padding:21px 0px 22px 0px;}
	.fundraiser-goal{background-size:95%;}
	.tab-section a{font-size:25px;}
	.total-amount label.checkbox{font-size:13px;}
	.total-amount-section{font-size:17px;}
}
@media (min-width:768px)
{
	.news-image, .news-description{padding-left:0px; line-height:27px;}
	.btn-right{padding-left:0px;}
}