<script type="text/javascript" src='{#RESOURCES#}js/validateresetPassword.js'></script>
<div id="login">
     <div id="msgSection">
        {if condition="$msgValues!=null"}
            {if condition="$msgValues.msgType==1"}
                <div class="alert alert-error">
                    <p>{$msgValues.ErrorMsg}</p>
                </div>                            
            {elseif condition="$msgValues.msgType==2"}
                <div class="alert alert-success">
                    <p>{$msgValues.ConfirmationMsg}</p>
                </div>                             
            {/if}
        {/if}
    </div>
    
 <div class="body body-s" id="login"> {include="common/message"}  
    <div id="loginContainer">
        <div class="logoSection">
            <img src='{#RESOURCES#}img/logologin.png' alt="Welcome to Ultra folders Admin Panel" width="220px" title="Welcome to Project ultrafolders Admin Panel" />
        </div>		
        <form id="resetForm" action="{#URL#}login/index/processReset" method="post" autocomplete="off" class="shadowEffect sky-form">
        <input type="hidden" name="userId" value="{$UserID|keyEncrypt}" />
          <input type="hidden" value="{$EmailID|keyEncrypt}" name="emailId" id="emailId" />
            <header>Reset Password form</header>        
            <fieldset>					
                <section>
                    <div class="row">
                        <label class="label col-4 pull-left">New Password:</label>
                            <label class="input col-7 pull-left ml-15">
                               <input type="password" maxlength="12" name="newPassword" tabindex="1" id="newPassword" placeholder="Enter new password" />
                            </label>
                        
                    </div>
                </section>
                
                <section>
                    <div class="row">
                        <label class="label col-4 pull-left">Confirm Password:</label>
                        <label class="input col-7 pull-left ml-15">
                                <input type="password" name="confirmPassword" maxlength="12" tabindex="2" class="form-control" id="confirmPassword" placeholder="Enter confirm password"/>
                            </label>
                    </div>
                </section>
            </fieldset>
            <footer>
            		<button type="reset" class="btn btn-danger pull-right"><i class="fa fa-refresh"></i>&nbsp;Clear</button>
            		<button type="submit" class="btn btn-primary pull-right mr-10 "><i class="fa fa-key fa-lg"></i>&nbsp;Reset</button>
                                
              	 	
            </footer>
        </form>
    </div>
    </div>