<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/bootstrap-datepicker.css'>
<script type="text/javascript" src='{#RESOURCES#}js/bootstrap-datepicker.js'></script>
<ul class="breadcrumb">
  <li title="Dashboard"><a href='{#URL#}home/'>Dashboard</a></li>
  <li title="Fundraiser List">Fundraiser</li>
</ul>
{include="common/message"} 
<script type="text/javascript">
	$(document).ready(function(){
		
	});
	function export_fundraiser() {
		$('#formSection').attr('action', SITEURL + 'fundraiser/index/export-summary');
		$('#formSection').submit();
		$('#formSection').attr('action', '');
	}
	
	$(function() {	
		$('#StartDate').datepicker();
		$('#StartDate').datepicker().on('changeDate', function (ev) {
			if(ev.viewMode == "days") {
				$('#StartDate').datepicker('hide');
				maxDate: jQuery('#StartDate').datepicker("getDate");
			}
		});
		
		$('#EndDate').datepicker();
		$('#EndDate').datepicker().on('changeDate', function (ev) {
			if(ev.viewMode == "days") {
				$('#EndDate').datepicker('hide');
				maxDate: jQuery('#EndDate').datepicker("getDate");
			}
		});
	});	
</script> 
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script> 
<script type="text/javascript">
	//Fundraiser
	
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
			['Status', 'Count'],
          {loop="fundraisers"}
		  	['{$key}', {$value.status_count}],
		  {/loop}
		  {if condition="$ending2Week>0"}['Ending two Weeks', {$ending2Week}]{/if}
        ]);

        var options = {
			 title: 'FUNDRAISER',
          pieHole: 0.5,
		  is3D: true,
          pieSliceTextStyle: {
            color: 'black',
          },
          legend: {position: 'bottom'},
        };
		
        var chart = new google.visualization.PieChart(document.getElementById('fundraiser'));
        chart.draw(data, options);
      }
</script>
<style type="text/css">
	.bg-darkblue
	{
		background-color:#09426A;
	}
</style>
<div class="oh">
  <div class="col col-12">
    <h1 class="heading-1">Fundraiser</h1>
  </div>
</div>
<form id="formSection" name="formSection" method="get" autocomplete="off" action=''>
  <div class="content-section">
    <fieldset>
      <div class="row">
        <section class="col col-2 ">
          <label class="label">Form</label>
          <div class="input-append date" id="StartDate" data-date="" data-date-format="mm/dd/yyyy">
            <label class="input"> <i class="icon-append fa fa-calendar add-on"></i>
              <input type="text" class="datepickerInput" name="fromDate" id="StartDate"  value='{$fromDate}' readonly />
            </label>
          </div>
        </section>
        <section class="col col-2 ">
          <label class="label">To</label>
          <div class="input-append date" id="EndDate" data-date="" data-date-format="mm/dd/yyyy">
            <label class="input"> <i class="icon-append fa fa-calendar add-on"></i>
              <input type="text" class="datepickerInput" name="toDate" id="EndDate"  value='{$toDate}' readonly />
            </label>
          </div>
        </section>
        <section class="col col-8 mt-20">
          <div class="form-footer">
            <button type="submit" name="" value="" id="filter_donation" class="button-1"><i class="fa fa-search"></i>&nbsp;Show Result</button>
            &nbsp; <a href='{#URL#}fundraiser' class="button-2"><i class="fa fa-refresh"></i>&nbsp;Reset</a> &nbsp; <a href='javascript://' onclick="export_fundraiser()" class="button-1 pull-right" title="Download fundraiser summary into csv file."><i class="fa fa-file-excel-o"></i> &nbsp;Export</a> </div>
        </section>
      </div>
    </fieldset>
  </div>
  <div id="content-box" class="igs-form">
    <div class="section-heading listingmoreBtn"> Fundraiser Summary<a href='javascript://' class="form-toggle-icon "><i class="fa fa-minus-square-o"></i></a> </div>
    <div class="content-section">
      <fieldset>
        <div class="col col-8">
          <table border="0" id="igs-table">
            <thead>
              <tr>
                <th>Status</th>
                <th>Count of fundraiser</th>
              </tr>
            </thead>
            <tbody>
            
            {if condition="$totalRecords>0"}
            {loop="fundraisers"}
            <tr>
              <td data-title="Status"> {if condition="$value.status_count>0"} <a href='{#URL#}fundraiser/Report?status={$value.Camp_Status|keyEncrypt}&fromDate={$fromDate}&toDate={$toDate}' class="title-link" title="View">{$key}</a> {else}
                <div class="text-bold">{$key}</div>
                {/if} </td>
              <td data-title="Count of fundraiser">{$value.status_count}</td>
            </tr>
            {/loop}
            <tr>
              <td data-title="Status"> {if condition="$ending2Week>0"} <a href='{#URL#}fundraiser/Report?status={'eitw'|keyEncrypt}&fromDate={$fromDate}&toDate={$toDate}' class="title-link" title="View">Ending two Weeks</a> {else}
                <div class="text-bold">Ending two Weeks</div>
                {/if} </td>
              <td>{$ending2Week}</td>
            </tr>
            {else}
            <tr>
              <td class="text-center" colspan="3">No Record Found!</td>
            </tr>
            {/if}
              </tbody>
            
          </table>
        </div>
        <div class="col col-4">
          <div class="p-10 text-center text-bold bg-darkblue t-white">Chart</div>
          <div id="fundraiser"></div>
        </div>
      </fieldset>
    </div>
  </div>
</form>
<br />
<br />
