/* text align */
.text-right{text-align:right;}
.text-left{text-align:left;}
.text-center{text-align:center !important;}

/* font weight */
.text-bold{font-weight:bold;}

/* font size */
.f-8{font-size:8px;}
.f-9{font-size:9px;}
.f-10{font-size:10px;}
.f-11{font-size:11px;}
.f-12{font-size:12px;}
.f-13{font-size:13px;}
.f-14{font-size:14px;}
.f-15{font-size:15px;}
.f-16{font-size:16px;}
.f-17{font-size:17px;}
.f-18{font-size:18px;}
.f-19{font-size:19px;}
.f-20{font-size:20px;}
.f-22{font-size:22px;}
.f-30{font-size:30px;}
.f-36{font-size:36px;}
/* margin css */
.m-0{margin:0px;}
.m-5{margin:5px;}
.m-10{margin:10px;}
.m-15{margin:15px;}
.m-20{margin:20px;}
.m-25{margin:25px;}

.mt-0{margin-top:0px;}
.mt-5{margin-top:5px;}
.mt-10{margin-top:10px;}
.mt-15{margin-top:15px;}
.mt-20{margin-top:20px;}
.mt-25{margin-top:25px;}
.mt-30{margin-top:30px;}

.mr-0{margin-right:0px;}
.mr-5{margin-right:5px;}
.mr-10{margin-right:10px !important;}
.mr-15{margin-right:15px;}
.mr-20{margin-right:20px;}
.mr-25{margin-right:25px;}

.mb-0{margin-bottom:0px;}
.mb-5{margin-bottom:5px;}
.mb-10{margin-bottom:10px !important;}
.mb-15{margin-bottom:15px;}
.mb-20{margin-bottom:20px;}
.mb-25{margin-bottom:25px;}

.ml-0{margin-left:0px;}
.ml-5{margin-left:5px;}
.ml-10{margin-left:10px;}
.ml-15{margin-left:15px;}
.ml-20{margin-left:20px;}
.ml-25{margin-left:25px;}
.ml-30{margin-left:30px;}

/* padding css */
.p-0{padding:0px;}
.p-5{padding:5px;}
.p-10{padding:10px;}
.p-15{padding:15px;}
.p-20{padding:20px;}
.p-25{padding:25px;}

.pt-0{padding-top:0px;}
.pt-5{padding-top:5px;}
.pt-10{padding-top:10px;}
.pt-15{padding-top:15px;}
.pt-20{padding-top:20px;}
.pt-25{padding-top:25px;}

.pr-0{padding-right:0px;}
.pr-5{padding-right:5px;}
.pr-10{padding-right:10px;}
.pr-15{padding-right:15px;}
.pr-20{padding-right:20px;}
.pr-25{padding-right:25px;}

.pb-0{padding-bottom:0px;}
.pb-5{padding-bottom:5px;}
.pb-10{padding-bottom:10px;}
.pb-15{padding-bottom:15px;}
.pb-20{padding-bottom:20px;}
.pb-25{padding-bottom:25px;}

.pl-0{padding-left:0px;}
.pl-5{padding-left:5px;}
.pl-10{padding-left:10px;}
.pl-15{padding-left:15px;}
.pl-20{padding-left:20px;}
.pl-25{padding-left:25px;}

/* Background Color css */
.bg-red{background:#F44336;}
.bg-black{background:#000000;}
.bg-white{background:#ffffff;}
.bg-blue{background:#2196F3;}
.bg-darkgreen{background:#009688;}
.bg-gray{background:#607D8B;}
.bg-light-gray{background:#F8F8F8;}

/* Display css */
.db{display:block;}
.dib{display:inline-block !important;}
.dn{display:none !important;}
.dn-ni{display:none;}
/* Text Color css */
.t-red{color:#F44336;}
.t-black{color:#000000;}
.t-white{color:#FFFFFF;}
.t-blue{color:#2196F3;}
.t-darkgreen{color:#009688;}
.t-gray{color:#607D8B;}

/* Position css */
.p-relative{position:relative;}
.p-absolute{position:absolute;}

/* clear css */
.cb{clear:both;}

/* Overflow css */
.oh{overflow:hidden;}

/* heading css */
.heading-1{font-size:22px; color:#525252; font-weight:400; text-transform:uppercase;}
.heading-2{font-size:17px; color:#525252; font-weight:400; text-transform:uppercase;}
.heading-3{font-size:15px; color:#525252; font-weight:400; text-transform:uppercase;}

/* alert msg css */
.alert{text-align:center; padding:10px; margin-bottom:10px; border:1px solid transparent; border-radius:4px;}
.alert-success{color:#3c763d; background-color:#dff0d8; border-color:#d6e9c6;}
.alert-info{color:#31708f; background-color:#d9edf7; border-color:#bce8f1;}
.alert-warning{color:#8a6d3b; background-color:#fcf8e3; border-color:#faebcc;}
.alert-danger{color:#a94442; background-color:#f2dede; border-color:#ebccd1;}

/* link color css */
.link-1{color:#121212;text-decoration:underline;}
.link-2{color:#525252;text-decoration:underline;}
.link-3{color:#898787;text-decoration:underline;}
.link-1:hover, .link-2:hover, .link-3:hover{text-decoration:none;}
.active-link{background:#121212;}
.errorRow
{
	margin: 20px auto 10px;
	font-size: 16px;
	width: 500px;
	color: red;
	text-align: center;	
}
.title-link{color:#09426A; font-weight:bold; font-size:14px; text-decoration:underline;}
.title-link:hover{text-decoration:none;}