@charset "utf-8";
/* CSS Document */
.loginbody{background:#729fe2;}
.login-panel{max-width: 400px; margin:0px auto; box-shadow:0 0 20px rgba(0,0,0,.3);}
.login-header{display:block; padding:20px 30px; border-bottom:1px solid rgba(0,0,0,.1); background:rgba(248,248,248,.9); font-size:25px; font-weight:300;  color: #232323;}
.login-footer{text-align:center; display:block; padding:15px 30px 25px; border-top:1px solid rgba(0,0,0,.1); background:rgba(248,248,248,.9);}
#password-recovery-form{display:none;}
.logo-section{text-align:center; padding:15px 0px; margin-bottom:25px;}
fieldset{margin:0px;}
.message{padding:5px;}
.login-panel fieldset{padding:15px 20px 0px 20px;}

.cursor-pointer{cursor:pointer !important;}
.more:hover{text-decoration:none !important;}
.less:hover{text-decoration:none !important;}
/*----admin user add/edit form------*/
#rightsSection .checkbox{margin-left:15px;}
#rightsSection .RightsHeader{background-color:#474544;width:100px;width:auto;padding:10px 10px 10px 0px;list-style:none;}
#rightsSection .RightsHeader .checkbox{margin-left:15px;}


.RightsHeader .Label{color:#FFF;}
.video .icon {
	width:10px !important;
	height:10px !important;
	display:inline-block !important;
	border-radius:5px !important;
}
.video .icon.active {
	background-image:-ms-linear-gradient(top, #72d832, #22a309) !important;
	background-image:-moz-linear-gradient(top, #72d832, #22a309) !important;
	background-image:-o-linear-gradient(top, #72d832, #22a309) !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#72d832), to(#22a309)) !important;
	background-image:-webkit-linear-gradient(top, #72d832, #22a309) !important;
	background-image:linear-gradient(top, #72d832, #22a309) !important;
}
.video .icon.inactive {
	background-image:-ms-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:-moz-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:-o-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#e97a65), to(#be1b0e)) !important;
	background-image:-webkit-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:linear-gradient(top, #e97a65, #be1b0e) !important;
}
/*----------------------------------*/


/*progress bar */
.npo-process{
	padding: 10% 0 0;
}
	
.npo-process .rowCounter{
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:10px;
	font-size:16px;
	width: 500px; 
	color:#3276B1;
	text-align:center;
	}
.npo-process{
	padding: 10% 0 0;
	}
	
.npo-process .rowCounter{
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:10px;
	font-size:16px;
	width: 500px; 
	color:#3276B1;
	text-align:center;
	}
.progress-bar { 
		margin-left:auto;
		margin-right:auto;
		position: relative; 
		width: 500px; 
		height: 50px; 
		background-color: white;
		border:1px solid #3276B1;	
		
	 }
.progress-bar p { 
		padding: 18px;
		margin: 0px;
		font-size: 16px; 
		font-weight:bold;
		white-space: nowrap; 
	}
.progress-bar > p {
		color: #3276B1;
	}
.progress-bar > div { 
		position: absolute; 
		top: 0px; 
		left: 0px; 
		height: 50px; 
		width: 0%; 
		overflow: hidden;
		background-color: #3276B1;
	}
.progress-bar > div > p { 
		color: #FFF;		
	}
/*progress bar */
/*========= icon css ============= */
.icon {
	width:10px !important;
	height:10px !important;
	display:inline-block !important;
	border-radius:5px !important;
}
.icon.active {
	background-image:-ms-linear-gradient(top, #72d832, #22a309) !important;
	background-image:-moz-linear-gradient(top, #72d832, #22a309) !important;
	background-image:-o-linear-gradient(top, #72d832, #22a309) !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#72d832), to(#22a309)) !important;
	background-image:-webkit-linear-gradient(top, #72d832, #22a309) !important;
	background-image:linear-gradient(top, #72d832, #22a309) !important;
}
.icon.inactive {
	background-image:-ms-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:-moz-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:-o-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#e97a65), to(#be1b0e)) !important;
	background-image:-webkit-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:linear-gradient(top, #e97a65, #be1b0e) !important;
}
.disabled:hover{background:#c7c7c7 !important;cursor:not-allowed !important;}

 .title{color:#000; text-decoration:underline;}
 .title:hover{font-weight:bold;}
 
 .br-1{border-right:1px solid #999;}
 .bb-1{border-bottom:1px solid #E0E0E0;}
 .label em{font-weight:400; font-style:normal;}
