@media (min-width: 768px)
{
	.igs-panel .inline-form .label{text-align:right;}
}
@media (max-width: 991px)
{
	/* responsive grid css */
	#igs-table, 
	#igs-table thead, 
	#igs-table tbody, 
	#igs-table th, 
	#igs-table td, 
	#igs-table tr { 
		display: block; 
	}
	#igs-table tr:first-child{display:none;}
	#igs-table tr {border: 1px solid #ccc; }
	#igs-table td {border:none; padding-right:5px; padding-left:5px; text-align:right;clear:both;}
	#igs-table td:before{width:50%; padding-right:5px; float:left; font-weight:bold; text-align:left;}
	/*Label the data*/
	#igs-table td:before{content: attr(data-title);}
	/*#igs-table td:last-child a{margin-left:0px;}*/
	#igs-table td:last-child:before {content:" ";}
	#igs-table, 
	#igs-table thead, 
	#igs-table tbody, 
	#igs-table th, 
	#igs-table tr {padding:0px 0px;}
	#igs-table tr td:last-child{text-align:center;}
	#igs-table .select-grid{display:none;}
}
@media (max-width: 767px)
{
	.igs-panel .col{float:none; width:100%;}
	/* sidebar responsive css */
	#sidebar .main-menu{margin-top:0px;}
	#sidebar.sidebarOpen .main-menu{margin-top:0px;}
	body.sw-toggled #main{padding:0px 0px 0px 50px;}
	#sidebar .main-menu > li > a{padding:14px 5px 14px 16px;}
	/*#sidebar.sidebarOpen{width: 150px;}
	#sidebar.sidebarOpen .sidebar-inner{width:175px;}
	#sidebar.sidebarOpen .sidebar-inner .si-inner{width:150px;}*/
	.profile-menu{display: none !important;}
	.top-date{display:none !important;}
	.pagination{float:none;}
	/* other css */
	.button-1, .button-2, .button-warning, {margin:0px !important;}
	.igs-panel .content-section{padding:15px 0px;}
	.igs-panel .form-footer{padding:10px 0px;}
	.heading-1{padding-left:0px !important;}
	/*.content-box{padding:15px 0px;}*/
	.igs-panel .inline-group .toggle{display:block; margin-right:0;}
	.column-box1, .column-box2{margin-bottom:40px;}
	.tab-section .tabOption{display:block; overflow:hidden;}
}
@media (min-width:768px) and (max-width:991px)
{
}
@media (min-width:992px) and (max-width:1199px)
{
}