<div class="text-center">
    <fieldset>
            	<div class="row">
                	<section class="col col-10 pull-left ">
                    	<div class="f-30 text-bold"><span class="f-36 text-bold t-red">!</span><span class="f-30 text-bold t-black">&nbsp; Accessing this page is NOT allowed.</span></div>
                        <div class="errorText f-15"><span class="m-10 mb-10 db">This webpage is restricted by WEBMASTER as per your current status.</span><span class="m-5 db">You may click to <a href='javascript://' onClick='window.history.back()' class="button-1" title="goto back"><i class="fa fa-arrow-left"></i>&nbsp;Go Back</a>&nbsp;or&nbsp;go&nbsp;<a href='{#URL#}home' class="button-1" title="goto home page"><i class="fa fa-home"></i>&nbsp;Home</a></span></div>
                    </section>
                </div>
         </fieldset> 
</div>
<!--<div id="" class="errorPanel margin-auto">
    <div class=""><span class="errorTag">!</span><span class="errorHeader">&nbsp; Accessing this page is NOT allowed.</span></div>
    <div class="errorText">This webpage is restricted by WEBMASTER as per your current status.</br>You may click to <a href='javascript://' onClick='window.history.back()' class="btn btn-secondary" title="goto back"><i class="fa fa-arrow-left"></i>&nbsp;Go Back</a>&nbsp;or&nbsp;go&nbsp;<a href='{#URL#}home' class="btn btn-secondary" title="goto home page"><i class="fa fa-home"></i>&nbsp;Home</a></div>
</div>-->