.form-sinput .checkbox, .form-sinput .radio {
	margin:15px 0 0 0;
	line-height:25px;
	color:#404040;
	cursor:pointer;
	font-size:13px;
	float:left
}
.form-sinput .checkbox {/*width:50%;*/
}
.form-sinput .checkbox input, .form-sinput .radio input {
	position:absolute;
	left:-9999px
}
.form-sinput .checkbox input:checked+i, .form-sinput .radio input:checked+i {
	border-color:#4b2d25
}
.form-sinput .checkbox i, .form-sinput .radio i {
	top:3px;
	left:0;
	width:17px;
	height:17px;
	outline:0;
	border-width:1px;
	border-style:solid;
	background:#FFF;
	position:relative;
	display:block;
	font-weight:400;
	margin-right:5px;
	border-color:#BDBDBD;
transition:border-color .3s;
-o-transition:border-color .3s;
-ms-transition:border-color .3s;
-moz-transition:border-color .3s;
-webkit-transition:border-color .3s
}
.form-sinput .radio i {
	border-radius:50%
}
.form-sinput .radio input+i:after {
	content:'';
	top:4px;
	left:4px;
	width:9px;
	height:9px;
	border-radius:50%;
	background-color:#4b2d25
}
.form-sinput .checkbox input:checked+i:after, .form-sinput .radio input:checked+i:after {
	opacity:1
}
.form-sinput .checkbox input+i:after, .form-sinput .radio input+i:after {
	position:absolute;
	opacity:0;
transition:opacity .1s;
-o-transition:opacity .1s;
-ms-transition:opacity .1s;
-moz-transition:opacity .1s;
-webkit-transition:opacity .1s
}
.form-sinput .checkbox input+i:after {
	content:'\f00c';
	color:#4b2d25;
	top:-1px;
	left:1px;
	width:15px;
	height:15px;
	font:400 16px/19px FontAwesome;
	text-align:center
}
.btn {
	display:inline-block !important;
	margin-bottom:0 !important;
	font-weight:400 !important;
	text-align:center !important;
	vertical-align:middle !important;
	cursor:pointer !important;
	background-image:none !important;
	border:1px solid transparent !important;
	white-space:nowrap !important;
	padding:6px 12px !important;
	font-size:13px !important;
	line-height:1.42857143 !important;
	border-radius:2px !important;
	-webkit-user-select:none !important;
	-moz-user-select:none !important;
	-ms-user-select:none !important;
	user-select:none !important;
}
.btn-sm {
	padding:1px 5px!important
}
.btn-primary {
	color:#fff !important;
	background-color:#3276b1 !important;
	border-color:#2c699d !important;
}
.btn-secondary{
	color:#fff !important;
	background:#e67e22 !important;
	border-color:#e67e22 !important;
	}
.btn-danger {
	color:#fff !important;
	background-color:#a90329 !important;
	border-color:#900323 !important;
}
.btn-danger.active, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
	color:#fff;
	background-color:#77021d;
	border-color:#540114
}
.btn:active:focus, .btn:focus {
	outline:dotted thin;
	outline:-webkit-focus-ring-color auto 5px;
	outline-offset:-2px
}
.btn:active {
	position:relative;
	top:1px;
	left:1px
}
.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	color:#fff;
	background-color:#275b89;
	border-color:#1f496d
}
.form-sinput .input {
	position:relative;
	display:block;
	font-weight:400
}
.form-sinput .input-file .button {
	position:absolute;
	top:-4px;
	right:-4px;
	float:none;
	height:22px;
	margin:0;
	padding:0 14px;
	font-size:13px;
	line-height:22px;
	cursor:pointer
}
.form-sinput .button {
	background-color:#3276B1;
	opacity:.8;
transition:opacity .2s;
-o-transition:opacity .2s;
-ms-transition:opacity .2s;
-moz-transition:opacity .2s;
-webkit-transition:opacity .2s;
	float:right;
	height:31px;
	overflow:hidden;
	margin:10px 0 0 5px;
	padding:0 25px;
	outline:0;
	border:0;
	font:300 15px/31px 'Open Sans', Helvetica, Arial, sans-serif;
	text-decoration:none;
	color:#fff;
	cursor:pointer
}
.form-sinput .input-file .button input {
	position:absolute;
	top:0;
	right:0;
	padding:0;
	font-size:30px;
	cursor:pointer;
	opacity:0
}
.form-group {
	margin-bottom: 15px;
	overflow: hidden;
	clear: both
}
.form-group textarea {
	height: auto;
	resize: none;
}
.form-label {
	width: 25%;
	float: left;
	text-align: right;
	vertical-align: middle;
	margin: 9px 5px 0 0;
	cursor: default
}
.form-label-text {
	width: 40%;
	float: left;
	text-align: left;
	vertical-align: middle;
	margin: 9px 5px 0 0;
	cursor: pointer
}
.form-sinput .form-label {
	margin:3px 5px 0 0 !important
}
.form-control {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 32px;
	padding: 6px 10px;
	outline: 0;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(169, 169, 169);
	border-radius: 0;
	background: #fff;
	font: 13px/16px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #404040;
	appearance: normal;
	-moz-appearance: normal;
	-webkit-appearance: normal;
}
.form-control-select {
	width: 53%;
	padding: 3px 12px
}
.form-group .checkbox {
	margin-top: 15px
}
.form-group .eStatus {
	margin-top: 8px
}
.form-group span {
	margin-top: 10px;
	display: block
}
.pagination>li {
	display:inline
}
.disabled {
	color:#fff
}
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
	border-bottom-left-radius:2px;
	border-top-left-radius:2px
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
	margin-left:0;
	border-bottom-left-radius:2px;
	border-top-left-radius:2px
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
	color:#999;
	background-color:#fff;
	border-color:#ddd;
	cursor:not-allowed
}
.pagination-sm>li>a, .pagination-sm>li>span {
	padding:5px 10px;
	font-size:12px
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	z-index:2;
	color:#fff;
	background-color:#3276b1;
	border-color:#3276b1;
	cursor:pointer;
}
.pagination>li>a, .pagination>li>span {
	box-shadow:inset 0 -2px 0 rgba(0, 0, 0, .05);
	-moz-box-shadow:inset 0 -2px 0 rgba(0, 0, 0, .05);
	-webkit-box-shadow:inset 0 -2px 0 rgba(0, 0, 0, .05);
	position:relative;
	float:left;
	padding:6px 12px;
	font-size:12px;
	line-height:1.42857143;
	text-decoration:none;
	color:#3276b1;
	background-color:#fff;
	border:1px solid #ddd;
	margin-left:-1px
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	color:#214e75;
	background-color:#eee;
	border-color:#ddd
}
.pagination {
	display:inline-block;
	padding-left:0;
	/*margin:18px 0;*/
	border-radius:2px
}
.tblGrid {
	border:1px solid #e5e5e5;
	-webkit-box-shadow:0 1px 10px #e5e5e5;
	box-shadow:0 1px 10px #e5e5e5
}
.tblGrid thead tr th {
	background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #e6e6e6 100%);
	background-image: linear-gradient(to bottom, #f2f2f2 0%, #e6e6e6 100%);
	background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe6e6e6', GradientType=0);
	color: #333333;
	background-color: #e6e6e6;
	border-color: #e6e6e6;
	border-bottom: 1px solid transparent;
	padding:9px;
	white-space:nowrap;
	font-weight:400;
	text-align:left
}
.tblGrid tbody tr:hover {
	background-color: #ecf3f8 !important;
}
.tblGrid tbody tr td {
	padding:6px !important;
	text-align:left !important;/*border-bottom:#f4f4f4 solid 1px !important*/
}
.tblGrid tbody tr td p {
	margin:0px !important;
	text-align:left;
}
.tblGrid tbody tr:nth-child(even) {
	background-color:#f4f4f4
}
.tblGrid .evenTbody {
	background:#f4f4f4
}
.tblGrid tbody.msg tr td {
	border-bottom:1px solid #c6c6c6;
}
.tblGrid tbody.msg tr td span.title {
	font-size:14px;
	font-weight:bold;
	display:block;
}
.tblGrid tbody.msg tr:hover {
	background:none !important;
}
.tblGrid tbody.msg tr td {
	text-align:left
}
.tblGrid .icon {
	width:10px !important;
	height:10px !important;
	display:inline-block !important;
	border-radius:5px !important;
}
.tblGrid .icon.active {
	background-image:-ms-linear-gradient(top, #72d832, #22a309) !important;
	background-image:-moz-linear-gradient(top, #72d832, #22a309) !important;
	background-image:-o-linear-gradient(top, #72d832, #22a309) !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#72d832), to(#22a309)) !important;
	background-image:-webkit-linear-gradient(top, #72d832, #22a309) !important;
	background-image:linear-gradient(top, #72d832, #22a309) !important;
}
.tblGrid .icon.inactive {
	background-image:-ms-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:-moz-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:-o-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#e97a65), to(#be1b0e)) !important;
	background-image:-webkit-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:linear-gradient(top, #e97a65, #be1b0e) !important;
}
/*custom css*/
.tblGrid tbody tr td.pDetail{
	padding:6px 0px !important;
	}
.tblGridInfo tr:hover {
	background-color:#f0f0f0;
}
.tblGridInfo tr.orderTotal:hover {
	background-color:#FFF !important;
}
.tblGridInfo tbody tr:nth-child(even) {
	background:none !important
}

.tblProdInfo tbody tr td {
	border-bottom:1px solid #f0f0f0 !important
}
.tblProdInfo tbody tr td.caption{border-right:1px solid #f0f0f0;padding:5px 0px 5px 5px}
.tblProdInfo tbody tr:nth-child(odd) {
	background:#f9f9f9
}
.tblProdInfo tbody tr:hover
{
	background-color:#f9f9f9 !important;
}
/*------------------*/
.alert {
	padding: 8px !important;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: center;
	width: 95%;
	margin: auto !important;
}
.alert p {
	margin: 0!important
}
.alert-error {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442
}
.alert-warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b
}
.alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847
}

.video .icon {
	width:10px !important;
	height:10px !important;
	display:inline-block !important;
	border-radius:5px !important;
}
.video .icon.active {
	background-image:-ms-linear-gradient(top, #72d832, #22a309) !important;
	background-image:-moz-linear-gradient(top, #72d832, #22a309) !important;
	background-image:-o-linear-gradient(top, #72d832, #22a309) !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#72d832), to(#22a309)) !important;
	background-image:-webkit-linear-gradient(top, #72d832, #22a309) !important;
	background-image:linear-gradient(top, #72d832, #22a309) !important;
}
.video .icon.inactive {
	background-image:-ms-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:-moz-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:-o-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#e97a65), to(#be1b0e)) !important;
	background-image:-webkit-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:linear-gradient(top, #e97a65, #be1b0e) !important;
}

#igs-table .icon.active {
	background-image:-ms-linear-gradient(top, #72d832, #22a309) !important;
	background-image:-moz-linear-gradient(top, #72d832, #22a309) !important;
	background-image:-o-linear-gradient(top, #72d832, #22a309) !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#72d832), to(#22a309)) !important;
	background-image:-webkit-linear-gradient(top, #72d832, #22a309) !important;
	background-image:linear-gradient(top, #72d832, #22a309) !important;
}
#igs-table .icon.inactive {
	background-image:-ms-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:-moz-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:-o-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#e97a65), to(#be1b0e)) !important;
	background-image:-webkit-linear-gradient(top, #e97a65, #be1b0e) !important;
	background-image:linear-gradient(top, #e97a65, #be1b0e) !important;
}