
@charset "utf-8";
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	margin: 0;
	color: #222
}
html {
	-webkit-font-smoothing: antialiased!important
}
li, ol, ul {
	margin: 0;
	padding: 0;
	list-style: none
}
textarea {
	ont-family: inherit;
	resize: none
}
a {
	color: inherit;
	text-decoration: none
}
h1 {
	color: #575655
}
a:focus {
	outline: 0
}
img {
	border: 0;
	outline: 0
}
::selection {
color: #fff;
background:#d6c1bc;
}
::-moz-selection {
color:#fff;
background:#d6c1bc;
}
input:focus, select:focus, textarea:focus {
	outline: 0;
	border-color: #303030
}
pre {
	font-family: 'Open Sans', sans-serif !important;
	line-height:26px;
	margin:0px 0px !important
}
fieldset {
	margin: 5px 0;
	border: 1px solid #CCC;
	background: #f8f8f8;
	background: -moz-linear-gradient(top, #f8f8f8 0, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #f2f2f2));
	background: -webkit-linear-gradient(top, #f8f8f8 0, #f2f2f2 100%);
	background: -o-linear-gradient(top, #f8f8f8 0, #f2f2f2 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0, #f2f2f2 100%);
	background: linear-gradient(to bottom, #f8f8f8 0, #f2f2f2 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f2f2f2', GradientType=0)
}
legend {
	font-weight: 700
}
/********HOME PAGE********/
.service-block {
	width:230px;
	float:left;
	border-radius: 10px;
	background: #f5f5f5;
	border: solid 1px #eee;
	padding: 15px 10px 10px 10px;
	text-align: center;
	margin:10px 10px 10px 10px;
}
.service-block i {
	color: #555555;
	width: 40px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 5px;
	text-align: center;
	display: inline-block;
	border: solid 1px #555;
	border-radius: 50%;
}
.service-block h2 {
	margin:6px 0px;
	font-size:18px;
	font-weight:600
}
.service-block p {
	margin:13px 0 0 0
}
.service-block:hover {
	box-shadow: 0 0 8px #eee;
}
.service-block:hover i {
	color:#4b2d25;
	border: solid 1px #4b2d25;
}
.service-block:hover h2 {
	color:#4b2d25;
}
.iColor {
	color:#4b2d25;
}
/****************/

/****************/
.border-none {
	border:none !important;
}
.clear-margin {
	margin:0px !important
}
.clear-padding {
	padding:0px !important
}
.font-14 {
	font-size:14px;
}
.font-16 {
	font-size:16px;
}
.font-20 {
	font-size:20px;
}
/****************/
.margin-10 {
	margin:5px;
}
.margin-left-5 {
	margin-left:5px;
}
.margin-left-10 {
	margin-left:10px !important;
}
.margin-left-15 {
	margin-left:15px !important;
}
.margin-left-20 {
	margin-left:20px !important;
}
.margin-left-30{
	margin-left:30px !important;	
}
.margin-right-5 {
	margin-right:5px;
}
.margin-right-10 {
	margin-right:10px !important;
}
.margin-right-15 {
	margin-right:15px !important;
}
.margin-right-20 {
	margin-right:20px !important;
}
.margin-top-5 {
	margin-top:5px !important;
}
.margin-top-10 {
	margin-top:10px !important;
}
.margin-top-15 {
	margin-top:15px !important;
}
.margin-top-20 {
	margin-top:20px !important;
}
.margin-top-30 {
	margin-top:30px !important;
}


.margin-bottom-5 {
	margin-bottom:5px !important;
}
.margin-bottom-10 {
	margin-bottom:10px;
}
.margin-bottom-15 {
	margin-bottom:15px;
}
.margin-bottom-20 {
	margin-bottom:20px !important;
}
.margin-bottom-30 {
	margin-bottom:30px !important;
}

.padding-10 {
	padding:10px;
}
.padding-left-5 {
	padding-left:5px;
}
.padding-left-10 {
	padding-left:10px !important;
}
.padding-left-15 {
	padding-left:15px;
}
.padding-left-20 {
	padding-left:20px !important;
}
.padding-right-5 {
	padding-right:5px;
}
.padding-right-10 {
	padding-right:10px;
}
.padding-right-15 {
	padding-right:15px;
}
.padding-right-20 {
	padding-right:20px;
}
.padding-top-5 {
	padding-top:5px;
}
.padding-top-10 {
	padding-top:10px !important;
}
.padding-top-15 {
	padding-top:15px;
}
.padding-top-20 {
	padding-top:20px;
}
.padding-bottom-5 {
	padding-bottom:5px;
}
.padding-bottom-10 {
	padding-bottom:10px;
}
.padding-bottom-15 {
	padding-bottom:15px;
}
.padding-bottom-20 {
	padding-bottom:20px;
}
.mt-10 {
	margin-top: -10px !important
}
/****************/
.clear-width {
	width:auto !important;
}
.display-block {
	display:block;
}
.display-none {
	display:none !important;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clear-none {
	clear: none!important
}
.clear-both {
	clear: both!important
}
.text-bold {
	font-weight:bold !important;
}
.text-left {
	text-align: left !important
}
.text-center {
	text-align: center !important
}
.text-right {
	text-align: right !important
}
.overflow-hidden {
	overflow: hidden
}
.overflow-initial {
	overflow: initial!important
}
/****************/

/******************TOP SECTION******************/
#topSection .topPannel {
	border: 0;
}
#topSection .topPannel .logo {
	margin:10px 10px;
	padding-top:2px
}
#topSection .topPannel .userInfo {
	padding: 5px;
	background-color: #474544;
	border-top: 1px solid #474544;
	box-shadow: 0 1px #474544 inset
}
#topSection .topPannel .userInfo .profile {
	color: #999
}
#topSection .topPannel .userInfo .logout {
	color: #D83B2D
}
#topSection .topPannel .userInfo .logout:hover, #topSection .topPannel .userInfo .logout:visited {
	text-decoration: underline
}
/******************************************/

/******************	LEFT SECTION******************/
#leftSection .leftPannel {
}
#leftSection .leftPannel ul li {
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	position: relative;
	white-space: nowrap
}
#leftSection .leftPannel ul a {
	text-decoration: none;
	color: #222!important;
	display: block;
	padding: 10px 10px 10px 25px
}
#leftSection .leftPannel ul li img {
	vertical-align:text-bottom
}
#leftSection .leftPannel ul li:hover {
	background-color: #efefef!important
}
#leftSection .leftPannel ul li.liActive {
	background-color: #efefef!important;
	font-weight:600;
}
#leftSection .leftPannel ul li.liActive span {
	color:#4b2d25;
}
#leftSection .leftPannel ul li .activeSpan {
	border: 3px solid;
	height:33.5px;
	color:#4b2d25;
	position:absolute;
	top:-1px;
	right:-1px;
}
#leftSection .leftPannel ul li ul.subUl {
	position: absolute;
	z-index: 10;
	top: -1px;
	left: 100%;
	display: none;
	vertical-align: top;
	background: #f5f5f5;
	font-size: 13px;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
}
#leftSection .leftPannel ul li ul.subUl li {
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	position: relative;
	white-space: nowrap;
	font-weight:normal !important
}
#leftSection .leftPannel ul li:hover ul.subUl {
	display: block;
}
#leftSection .leftPannel .btnCollapse {
	font-size: 11px!important;
	color: #999!important
}
/******************************************/

#middleSection {
	overflow: hidden;
}
#middleSection #leftSection {
	width: 15%;
	float:left;/*display: table-cell;*/
	vertical-align: top;
	background: #f5f5f5;
	font-size: 13px;
	border-right: 1px solid #d0d0d0;
	box-shadow: -2px 0 5px rgba(0, 0, 0, .1) inset;
	-moz-box-shadow: -2px 0 5px rgba(0, 0, 0, .1) inset;
	-wekbit-box-shadow: -2px 0 5px rgba(0, 0, 0, .1) inset;
	height: 730px;
	/*height: 780px*/
}
/******************	RIGHT SECTION******************/
#middleSection #rightSection {
	width: 84%;
	vertical-align: top;
	float:left
}
#rightSection .rightPannel .breadcrumb {
	width: 100%;
	height: 26px;
	line-height: 30px;
	padding: 2px 0 2px 15px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0;
	background: #fafafa;
	padding:5px;
	border-bottom: 1px solid #ddd;
	font-size: 12px
}
#rightSection .rightPannel .breadcrumb ul li {
	display: inline-block
}
#rightSection .rightPannel .breadcrumb ul li img {
	vertical-align: sub;
	margin-right: 5px;
}
#rightSection .rightPannel .breadcrumb ul a {
	color: #333;
	text-decoration: none;
	font-weight: 700
}
#rightSection .rightPannel .breadcrumb ul a:hover {
	color:#4b2d25;
	text-decoration: underline
}
#rightSection .rightPannel .contentSection {
	/*padding: 10px 20px 0*/
	padding: 5px 5px 5px 10px;
}
#rightSection .rightPannel .contentSection .pageHeader {
	padding: 10px 0;
	font-size: 30px;
	color: #575655
}
#rightSection .rightPannel .contentSection .pageHeader img {
	vertical-align:sub;
}
#rightSection .rightPannel .contentSection .pageSubHeader {
	padding: 5px 0px;
	margin: 0 0 10px;
	font-size: 14px;
	color: #575655;
	border-bottom: 1px solid #e5e5e5;
	width: 100%;
}
.pageHeader {
	padding: 10px 0;
	font-size: 30px;
	color: #575655;
}
.psTitle {
	color: #333;
	background: #f4f4f4;
	margin-top: 0;
	border-left: 5px solid #e5e5e5;
	padding: 10px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.rightPannel .templatePrefrencesPanel {
	margin: 30px 10px 10px;/*border: 1px solid #95a5a6;*/
	border-radius: 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0px 0px 15px #999;/*padding: 5px 5px 5px 10px;*/
	width: 290px;
	background-color:#FFF;
	color: #575655;
	font-weight: bold;
}
.rightPannel .templatePrefrencesPanel table {
	border-collapse: collapse;
}
.rightPannel .templatePrefrencesPanel table .desc {
	font-weight: normal;
	color: #333;
}
.rightPannel .templatePrefrencesPanel table tr:hover {
	background: #f4f4f4;
}
.rightPannel .templatePrefrencesPanel table tr:first-child td:first-child {
	border-bottom: 1px solid #95a5a6;
	padding: 5px 0;
	font-weight: 700
}
.rightPannel .templatePrefrencesPanel table tr td {
	padding-right: 10px;
	text-align:center;
}
.rightPannel .formBox .formLeftBox {/*width:550px;*/
	width:430px;
}
.rightPannel .formBox .formRightBox {
	width:610px;
}
.rightPannel .formBox .formLeftBox {
	margin-right:30px;
}
.rightPannel .formBox .formRightBox .formImg {
	width:125px;
	margin:10px;
	background:url(../img/loading.gif) center center no-repeat;
}
.rightPannel .formBox .formRightBox .formImg img {
	width:125px;
	height:125px;
	border:1px solid #999;
}
.rightPannel .formBox .formRightBox .formImg .title {
	font-size:15px;
	text-align:center;
}
/******************************************/

/******************	BOTTOM SECTION******************/
#bottomPanel {
	padding: 5px 10px;
	font-size: 11px;
	text-align: right;
	vertical-align: top;
	background: #f5f5f5;
	height: 100%;
	border-top: 1px solid #d0d0d0
}
#bottomPanel a {
	text-shadow: 1px 1px 1px #FFF
}
#bottomPanel a:hover {
	text-decoration: underline
}
/******************************************/

/******************	LOGIN SECTION******************/
#login {
	width:450px;
	padding:8% 0 0;
	margin:auto
}
#login .footer {
	display: block;
	padding: 10px;
	border-top: 1px solid rgba(0, 0, 0, .1);
	background: rgba(248, 248, 248, .9);
	margin-top:10px;
}
#login .icon-append {
	right: 5px;
	padding-left: 3px;
	border-left-width: 1px;
	border-left-style: solid;
	position: absolute;
	top: 5px;
	width: 22px;
	height: 22px;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
}
#login .form-div {
	position: relative;
	display: block;
	font-weight: 400;
}
#login .form-div i {
	color:#A2A2A2
}
#login .form-group {
	padding:0px 24px !important;
}
#login form {
	margin-top:20px;
	margin-left:0;
	padding:0px 0px 0px 0px;
	font-weight:400;
	overflow:hidden;
	background:#fff;
	-webkit-box-shadow:2px 2px 10px #AAA;
	box-shadow:2px 2px 10px #AAA
}
#login label {
	color:#777;
	font-size:14px;
	vertical-align:middle;
	cursor:pointer;
	display:block;
	padding-bottom:5px;
}
#login span.error {
	margin-top:0px !important;
	top:-20px !important;
	right:35px !important;
}
#login #nav a {
	ext-decoration:none;
	color:#3276b1
}
#login #nav a:hover {
	color:#214e75;
	text-decoration:underline
}
#login .logoSection {
	font-size:20px;
	font-weight:700;
	text-align:center;
	text-shadow:1px 1px 1px #FFF;
	margin-bottom:10px
}
/******************************************/

/****************COMMON CSS********************/
input[type="file"].form-control, input[type="file"].error {
	border:none !important
}
.message {
	font-size: 12px!important;
	color: #F00;
	margin:-3px 0 0 0 !important
}
.message span {
	float: left
}
.error, .errorMsg {
	border: 1px solid red!important
}
span.error {
	border: none!important;
	color: red;
	font-size: 11px;
	float: right;
	position: relative;
	top: -25px;
	right: 15px;
	height: 0!important
}
span.errorMsg {
	background: url(../img/icon_error.png) no-repeat;
	width: 16px!important;
	height: 16px;
	margin: 5px 0 0 5px;
	display: inline-block;
	border: none!important;
	float: left;
	cursor: pointer
}
span.errorMsg:hover div.PopupBox {
	display: block
}
span.tooltip {
	top: 2px;
	right: 20px;
	white-space: nowrap;
	margin-top: 0!important
}
/*.PopupBox {
	position: absolute;
	display: none;
	top: -52px;
	right: 110px
}*/
.PopupBox {
	position: absolute;
	display: none;
	top: -52px;
	right: 260px
}

.box {
	display: block;
	background: #fff;
	border: 1px solid #BBB;
	border-radius: 5px;
	box-shadow: 0 0 15px #999;
	position: absolute;
	padding: 10px 5px !important;
	min-width: 250px;
	min-height: 15px;
	text-align: center;
	color: red
}
.arrow1{left: 190px !important;}
.arrow {
	width: 0;
	height: 0;
	border-top: 11px solid #fff;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	position: absolute;
	left: 168px;
	top: 35px;
	z-index: 1001
}
#DS_fromdate, #DS_todate {
	width: 15.8%!important
}
i.icon-date {
	background: url(../img/icon_date.png);
	width: 16px;
	height: 16px;
	display: inline-table;
	vertical-align: sub;
	margin: 10px 0 0 5px;
	cursor: pointer
}
.fiterSearchSection input, .fiterSearchSection label, .fiterSearchSection select {
	width: auto!important;
	float: left
}
.fiterSearchSection select {
	padding:6px 10px !important;
}
.fiterSearchSection input, .fiterSearchSection select {
	margin: 0 10px
}
.fiterSearchSection label {
	margin: 5px 5px 0 0!important
}
.optionList {
	float: left
}
.optionList ul li {
	overflow: hidden
}
.optionList ul li label {
	overflow: hidden;
	cursor: pointer
}
.pending {
	color:#a94442;
}
.shipped {
	color:#5bc0de;
	font-weight:500
}
.delivered {
	color:#5cb85c;
	font-weight:500
}
.cancelled {
	color:#d9534f;
	font-weight:500
}
.failed {
	color:#d9534f;
	font-weight:500
}
.editorDiv .mce-tinymce {
	clear: both
}
#msgSection {
	margin-bottom:10px;
	clear:both;
}
.userfrmDiv {
	width: 100%;
	margin: auto
}
.userfrmDiv ul li {
	margin:0px 5px
}
.userfrmDiv .orderTotalPrice {
	width:260px;
	border:1px #474544 solid;
}
.userfrmDiv .orderTotalPrice .form-group {
	border-bottom:1px #474544 solid;
	padding:5px 10px 0px 10px
}
.userfrmDiv .orderTotalPrice .form-group .form-label {
	width: 60%;
	float: left;
	text-align: left;
	vertical-align: middle;
	margin: 9px 5px 0 0;
	cursor: pointer;
}
#fromDate, #toDate {
	width: 15.8%!important
}
.userfrmDiv .form-control {
	width: 280px
}
.formDiv .fromInputFile {
	width: 45%!important
}
.userfrmDiv .input-mini {
	width: 150px!important
}
.userfrmDiv .form-control-select {
	width: 150px!important;
	padding: 3px 12px;
}
.userfrmDiv .form-control-select-1 {
	width: 100px!important;
	padding: 3px 12px;
}
.detailSection {
	width:40%;
	margin:0px 0px 10px 50px
}
.detailSection .form-group {
	margin-bottom:5px
}
.detailSection1 {
	width:50%;
	margin:0px 0px 10px 0px
}
.detailSection1 .form-label {
	width:40% !important
}
.detailSection2 {
	width:100%;
	margin:0px 0px 10px 0px !important
}
.detailSection2 .form-label {
	width:20% !important
}
/*.detailSection2 textarea{width:76% !important}*/
/*PROD DETAIL SECTION*/
.prodDetailSection {
}
.prodDetailSection .prodImgSection:hover {
	background-color:#FFF !important;
}
.prodDetailSection .prodImg {
	width:145px;
	height:145px;
	border:1px solid #f0f0f0
}
.priceTotal {
	color:#8b4d13;
	font-weight:bold;
}
.prodDetailSection .prodDetailHead {
	background:#f0f0f0;
	padding:5px;
	font-weight:bold;
}
.prodDetailSection .prodDetailHead1 {
	background:#f0f0f0;
}
.prodDutyOption{margin-left:230px;}

.pgcollapse .collapseIcon,.collapseIcon{background-image:url(../img/collapse.png);background-repeat:no-repeat;width:14px;height:14px;display:inline-block;}
.pgcollapse .collapsenewIcon{background-repeat:no-repeat; width:14px;height:13px;display:inline-block;background:url(../img/collapse.png);margin-top:5px;}
.collapseIconOpen{background-position:0px -20px;}
.collapseIconClose{background-position:0px 1px;}
.collapsenewIconOpen{background-position:0px 12px !important;}
.collapsenewIconClose{background-position:0px 0px !important;}


/******************************************/

/**********************UNUSED CSS************************/


/*.pdfView {clear:both;}
.pdfView span {float:left;display:block;margin-right:10px;margin-top:10px;}
.pdfView a {font-weight:none;}
.pdfView a:link, .pdfView a:visited {text-decoration:underline;}
.pdfView a:hover {text-decoration:none;color:#4b2d25;}
.productfrmDiv {width:50%;float:left}
.productfrmDiv label {width:35% !important}
.orderfrmDiv label {width:auto !important;margin-left:15px;}
.contactBox {padding-bottom: 4px!important}
.contactCount {background: #e74c3c;font-weight: 700;padding: 3px 6px;-webkit-border-radius: 10px;border-radius: 10px;color: #FFF;margin-top: -4px 0 0 0}

#manageHeadIncludesDiv textarea {width: 1000px!important}
.textarea {width: 1150px!important}

.noWidth {width: auto!important}

.formTitleHover {color:#3781c2;}
.formImghover {box-shadow: 0px 0px 8px #666;-webkit-box-shadow: 0px 0px 8px #666;-moz-box-shadow: 0px 0px 8px #666;}

.ImgSection {width:200px;display:inline-table;margin:9px;border: 1px solid #CCCCCC;padding-top:4px}


.popupBody {background: #FFF}
#popupBg {background-color: #000;opacity: .5}
#popup {position: absolute;z-index: 999;border: 2px solid #95a5a6;box-shadow: 0 0 10px #000;width: 500px;background: #FFF}
#popup #title {padding: 10px;font-size: 24px;border-bottom: 1px solid #e5e5e5;background-color: #f3f3f3!important;color: #585f69;border-radius: 3px 3px 0 0;-webkit-border-radius: 3px 3px 0;-moz-border-radius: 3px 3px 0 0}
#popup #title .btnClosePopup {float: right;font-size: 26px;font-weight: 700;line-height: 1;color: #000;text-shadow: 0 1px 0 #fff;opacity: .2;filter: alpha(opacity=20);cursor: pointer}
#popup #title .btnClosePopup:focus, #popup #title .btnClosePopup:hover {color: #000;text-decoration: none;cursor: pointer;opacity: .5;filter: alpha(opacity=50)}#popup #content {border-radius: 0 0 4px 4px;-webkit-border-radius: 0 0 4px 4px;-moz-border-radius: 0 0 4px 4px;overflow: hidden}
#popup #content p {text-align: center;font-family: arial;color: #000;font-size: 14px;font-weight: 700;padding-top: 19px}
#popup #footer {height: 320px}
.Width150 {width: 150px;}
.Width42 {width: 42%;}
.Width45 {width: 45%;}
.SideType {color:#0449a7;}
.height508 {height:508px;}
.BorderBottomSepfication {text-align:left;border-bottom:1px solid #000;color:#0449a7;font-size:16px;}
.capitalize {text-transform: capitalize;}



.container {width: 1260px;margin: auto}

.searchErrorMargin {margin: 8px 8px 0 0 !important;}
.errorMsg1 {margin:5px 5px 0px 0px !important}
*/
/**********************************************/

.disabled:hover{background:#c7c7c7 !important;cursor:not-allowed !important;}
.editorPanel .mce-panel{clear:both;}
.editorCaption{width:100% !important;float:none !important;margin-bottom:10px;display:inline-block;text-align:left !important;}

.tabSection{overflow:hidden;border: none;
  background: none;
  border-bottom: solid 2px #3276B1;}
.tabSection .tabs{display:inline-block;display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  font-weight: bold;-webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border:solid 1px #e5e5e5;-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;}
.tabSection .tabs:hover{color:#FFF;background-color:#3276B1 !important;border-color:#3276B1 !important;} 
.activeTab{color:#FFF;background-color:#3276B1 !important;border-color:#3276B1 !important;}
.display-inline-block{display:inline-block !important;}
.editorDiv label{margin-bottom: 5px}
.editorDiv .mce-tinymce{clear: both}   

/*sky form css */
.cmxform fieldset p.error label {
		color: red;
	}
	div.container {
		background-color: #f4f4f4;
		border: 1px solid red;
		margin: 5px;
		padding: 5px;
	}
	div.container ol li {
		list-style-type: disc;
		margin-left: 20px;
		color:red;
		line-height:1.5em;
	}
	div.container {
		display: none
	}
	.container label.error {
		display: inline;
	}
	/*form.cmxform {
		width: 30em;
	}*/
	form.cmxform label.error {
		display: block;
		margin-left: 1em;
		width: auto;
	}
	
	.text-decoration-underline{
		text-decoration:underline;	
	}
/*sky form css */
/*import export status css start*/
/*#section{
	margin-top:170px;margin-bottom:10px;
}
#section #middleSection{
	width:100%;
}
.process
{
	text-align:center !important;
	color:green !important;
	font-size:25px !important;
	font-family:Verdana, Geneva, sans-serif;margin-top:100px !important;
}
#msgSection{
	height:30px !important;
	margin-top:10px !important;
}
#msgSection .msg{
	text-align: center !important;
	border-radius:5px !important;
	-webkit-border-radius:5px !important;
	-moz-border-radius:5px !important;
	padding:10px !important;
	white-space:nowrap !important;
	color:#000 !important;
	display:block !important;
	width:400px !important;
	margin:auto !important;
}
.green{
	border: solid 1px #A6D877 !important;
	background: #D2ECBA !important;
	color:#060 !important;
}*/
/*import export status css end*/

/*NPO Manage - Import export 18 April 2015*/

.link{color:#2da5da;cursor:pointer;}
.npo-process{
	padding: 10% 0 0;
	}
	
.npo-process .rowCounter{
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:10px;
	font-size:16px;
	width: 500px; 
	color:#3276B1;
	text-align:center;
	}
.progress-bar { 
		margin-left:auto;
		margin-right:auto;
		position: relative; 
		width: 500px; 
		height: 50px; 
		background-color: white;
		border:1px solid #3276B1;	
		
	 }
	.progress-bar p { 
		padding: 13px;
		margin: 0px;
		font-size: 16px; 
		font-weight:bold;
		white-space: nowrap; 
	}
	.progress-bar > p {
		color: #3276B1;
	}
	.progress-bar > div { 
		position: absolute; 
		top: 0px; 
		left: 0px; 
		height: 50px; 
		width: 0%; 
		overflow: hidden;
		background-color: #3276B1;
	}
	.progress-bar > div > p { 
		color: #FFF;		
	}
/*----------------*/
.arrowLeft{background:url(../img/arrowlist.png) no-repeat;display:inline-block;margin-top:10px;width:20px;height:20px;}
.color-grey-light{color:#CCC;}
.color-blue-light{color:#3276b1;}
.margin-clear{
	margin:0px !important	
}
.box-shadow-none{box-shadow:none;}
.border-top{border-top: 1px solid rgba(0,0,0,.1);}

#leftSection.collapseSection{width:5% !important;}
#leftSection.collapseSection .lev1{left:30px;}
#leftSection.collapseSection ul li span{display:none;}
.red{color:red;}

/*----------error pages----------*/
.errorPanel{width:500px;margin-left:auto; margin-right:auto;margin-top:50px;text-align:center;}
.errorPanel .errorTag{font-size:36px;font-weight:bold;color:#900;}
.errorPanel .errorHeader{font-size:22px;color:#1A405D;font-weight:bold;}
.errorPanel .errorText{font-size:13px; line-height:2.5;}
/*-------------end------------*/

/*------checkbox select box---------*/
.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  outline:none;
  width:100%;
}
.multiselect {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 39px;
  padding: 6px 10px;
  outline: none;
  border-width: 2px !important;
  border-style: solid;
  border-radius: 0;
  background: #fff;
  font: 15px/23px 'Open Sans', Helvetica, Arial, sans-serif;
  color: #404040;
  appearance: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-color: #e5e5e5 !important;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  text-align:left !important;
}
.multiselect:hover{border-color:#909090 !important;}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #e5e5e5;
  width:100%;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #333;
  outline:none;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 99.2%;
  padding: 5px 0;
  /*margin: 2px 0 0;*/
  margin: 0px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid #e5e5e5;
  height:100px;
  overflow:auto;
  border-top:0px;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  outline:none;
}
.open > .dropdown-menu {
  display: block;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
}
.wordbreak{
word-break: break-word !important;
}
#video iframe{
	width:260px !important;
	height:160px !important;	
}
.cursor-pointer{
	cursor:pointer !important;	
}
.more:hover{text-decoration:none !important;}
.less:hover{text-decoration:none !important;}

.metaNote
{
	color:red !important;
	display:block !important;
	font-size:12px !important;
}
.font-11{font-size:11px !important;}
.clear-both{clear:both;}
/*-------------end-----------------*/