/* CSS Document */
a {color: #337ab7;  text-decoration: none;  transition: all 0.3s ease-in-out;  -webkit-transition: all 0.3s ease-in-out;}
a:focus{outline:none;}
img {vertical-align: middle;border: 0;}
ul, ol{margin-top:0; margin-bottom:10px;}
.list-inline{padding-left: 0; list-style: none;}
.list-inline > li {display: inline-block;}

/* breadcrumb css */
.breadcrumb {
  padding: 10px 15px;
  margin-bottom: 0px;
  list-style: none;
  background-color: #F4F4F4;
  text-transform:capitalize;
  border-bottom:1px solid #D2D2D2;
}
.breadcrumb li:first-child a{font-weight:bold; text-transform:uppercase; color:#F44336;}
.breadcrumb li a{color:#5F5F5F;}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #5F5F5F;
  content: "\f101";
  font-family: 'FontAwesome';
}
.breadcrumb > .active {
  color: #5F5F5F;
}
/* font size */
.f8{font-size:8px;}
.f9{font-size:9px;}
.f10{font-size:10px;}
.f11{font-size:11px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f17{font-size:17px;}
.f18{font-size:18px;}
.f19{font-size:19px;}
.f20{font-size:20px;}
/* margin css */
.m0{margin:0px;}
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m20{margin:20px;}
.m25{margin:25px;}

.mt0{margin-top:0px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}

.mr0{margin-right:0px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}

.mb0{margin-bottom:0px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}

.ml0{margin-left:0px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}

/* padding css */
.p0{padding:0px;}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.p25{padding:25px;}

.pt0{padding-top:0px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}

.pr0{padding-right:0px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}

.pb0{padding-bottom:0px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}

.pl0{padding-left:0px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}

/* Background Color css */
.bg-red{background:#F44336;}
.bg-black{background:#000000;}
.bg-white{background:#ffffff;}
.bg-blue{background:#2196F3;}
.bg-darkgreen{background:#009688;}
.bg-gray{background:#607D8B;}

/* Text Color css */
.t-red{color:#F44336;}
.t-black{color:#000000;}
.t-white{color:#FFFFFF;}
.t-blue{color:#2196F3;}
.t-darkgreen{color:#009688;}
.t-gray{color:#607D8B;}

/* Position css */
.p-relative{position:relative;}
.p-absolute{position:absolute;}

/* clear css */
.clear{clear:both;}

/* Overflow css */
.oh{overflow:hidden;}

/* heading css */
.heading-1{font-size:21px; color:#525252; font-weight:400; text-transform:uppercase;}
.heading-2{font-size:18px; color:#525252; font-weight:400; text-transform:uppercase;}
.heading-3{font-size:15px; color:#525252; font-weight:400; text-transform:uppercase;}

/* alert msg css */
.alert{text-align:center; padding:10px; margin-bottom:10px; border:1px solid transparent; border-radius:4px;}
.alert-success{color:#3c763d; background-color:#dff0d8; border-color:#d6e9c6;}
.alert-info{color:#31708f; background-color:#d9edf7; border-color:#bce8f1;}
.alert-warning{color:#8a6d3b; background-color:#fcf8e3; border-color:#faebcc;}
.alert-danger{color:#a94442; background-color:#f2dede; border-color:#ebccd1;}

/* button css */
.button1, .button-2, .button3, .button4, .button5
{
	display:inline-block;
	height: 39px;
	overflow: hidden;
	margin: 0px 0 0 20px;
	padding: 0 25px;
	outline: none;
	border: 0;
	font-size:15px;
	font-weight: 300;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	opacity: 0.8;
	transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}
.button1{background:#009688;}
.button-2{background:#607D8B;}
.button3{background:#F44336;}
.button4{background:#2196F3;}
.button5{background:#000000;}
.button1:hover, .button-2:hover, .button3:hover, .button4:hover, .button5:hover {opacity: 1;}
.action-edit{color:#F00 !important;}
.action-delete{color:#000 !important;}
.display-none{display:none !important;}