/* common css */
#igs-blue #header{background:#08203c;}
#igs-blue .dashboard{color:#08203c;}
/* button css */
#igs-blue .button1{background:#08203c;}
#igs-blue .button2{background:#6F6F6F;}
#igs-blue .button-warning{background:#F44336;}
/* tool tip */
#igs-blue .igs-form .tooltip{background:#08203c;}
#igs-blue .igs-form .tooltip-top-right:after{border-top: 4px solid #08203c;}
/**/
.igs-form .toggle i:before {
	background-color: #2a70e8;	
}
.igs-form .button {
	background-color: #2a70e8;
}


/**/
/* hover state */
/**/
.igs-form .input:hover input,
.igs-form .select:hover select,
.igs-form .textarea:hover textarea,
.igs-form .radio:hover i,
.igs-form .checkbox:hover i,
.igs-form .toggle:hover i,
.igs-form .ui-slider-handle:hover {
	border-color: #94b7f3;
}
.igs-form .rating input + label:hover,
.igs-form .rating input + label:hover ~ label {
	color: #2a70e8;
}


/**/
/* focus state */
/**/
.igs-form .input input:focus,
.igs-form .select select:focus,
.igs-form .textarea textarea:focus,
.igs-form .radio input:focus + i,
.igs-form .checkbox input:focus + i,
.igs-form .toggle input:focus + i {
	border-color: #2a70e8;
}


/**/
/* checked state */
/**/
.igs-form .radio input + i:after {
	background-color: #2a70e8;	
}
.igs-form .checkbox input + i:after {
	color: #2a70e8;
}
.igs-form .radio input:checked + i,
.igs-form .checkbox input:checked + i,
.igs-form .toggle input:checked + i {
	border-color: #2a70e8;	
}
.igs-form .rating input:checked ~ label {
	color: #2a70e8;	
}