<script type="text/javascript" src='{#RESOURCES#}js/validateNpoCategory.js'></script>
 <ul class="breadcrumb">
        <li title="Dashboard"><a href='{#URL#}home/'>Dashboard</a></li>
        <li title="NPOs"><a href='{#URL#}npos/'>Non-Profit organization</a></li>
        <li title="NPO Category">Category-List</li>
   </ul>
 {include="common/message"}    
    <div class="oh">
       <div class="col col-6">
            <h1 class="heading-1">Non-Profit organization Category - List</h1>
        </div>
        <div class="col col-6 text-right mt15">
                <a href='{#URL}npocategory/#NpoCategory' id="addCategory" class="button-2" title="Add Category"><i class="fa fa-edit"></i>&nbsp; Add Category</a>
                <a href='{#URL}npos' id="view" class="button-2" title="View Npos"><i class="fa fa-list-ul"></i>&nbsp; NPO-List</a>
        </div>
    </div>
	
		<form id="ListingFormSetion" class="igs-form" name="ListingFormSetion" method="post"  action="{#URL#}npocategory/index/delete-categorydetail">
        	<input type="hidden" id="pageNumber" name="pageNumber" value="" />
            <div id="content-box"  >
            	<div class="section-heading listingmoreBtn">Npo Categories - List <a href='javascript://' class="form-toggle-icon "><i class="fa fa-minus-square-o"></i></a></div>
                	
                    <div class="content-section">
                    	<div class="oh">
                            <div class="col col-12 text-right mt15">
                                    <span class="text-bold">Action On Selected</span>  <a href='javascript://' onclick="Delete_NPOCategory()" class="page-link Delete" id="Delete" title="Delete">&nbsp;Delete</a>
                                    <a href='javascript://' onclick="Hide_NPOCategory()" class="page-link hide" id="Hide" title="Hide">&nbsp;Hide</a>
                                   
                            </div>
                        </div>
                         <fieldset>
                                <div class="row">
                                         {if condition="count($PagingList)>1"}
                                            <nav>
                                              <ul class="pagination">
                                              {if="$PageSelected!=1"}
                                                <li>
                                                  <a href='javascript://' onclick="return GotoPage(1);"  title="First Page" aria-label="Previous">
                                                    <span aria-hidden="true">First</span>
                                                  </a>
                                                </li>
                                                <li>
                                                  <a href='javascript://' onclick="return GotoPage({$PageSelected-1});"  title="Previous" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                  </a>
                                                </li>
                                               {/if}
                                               {loop="PagingList"} 
                                                     {if="$PageSelected==$value.PageNo"} 
                                                        <li class="active"><a href='javascript://' title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                                                      {else}
                                                        <li><a href='javascript://' onclick="return GotoPage({$value.PageNo});" title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                                                      {/if}   
                                                {/loop}
                                                 {if="$PageSelected!=$lastPage"}
                                                    <li>
                                                      <a href='javascript://' onclick="return GotoPage({$PageSelected+1});" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                      </a>
                                                    </li>
                                                    <li>
                                                      <a href='javascript://' onclick="return GotoPage({$lastPage});" aria-label="Last Page">
                                                       Last
                                                      </a>
                                                    </li>
                                                {/if}
                                              </ul>
                                            </nav>
                                          {/if}  
                                        
                                        <table border="0" id="igs-table">
                                          <thead>
                                            <tr>
                                                <th width="5%">&nbsp;</th>
                                                <th width="60%">Name English | Spanish</th>
                                                <th width="20%">Code Name</th>
                                                <th width="20%">Show On Website</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                             {if condition="$NCategoryList!=NULL"}
                                                 {loop="NCategoryList"}
                                              <tr>
                                                <td data-title=""><input type="checkbox" name="chk[]" id="chk" class="chk" value="{$value.NPOCat_ID}" /></td>
                                                <td data-title="Name English | Spanish">                                                  	
                                                    {$value.space}
                                                    <i class="fa fa-arrows-v color-grey-light"></i>&nbsp;
                                                    <a href='{#URL#}npocategory/index/edit/{$value.NPOCat_ID|keyEncrypt}' class="link-text" title="Edit Category">
                                                    {$value.NPOCat_DisplayName_EN} | {$value.NPOCat_DisplayName_ES}                    
                                                    </a>
                                                 </td>
                                                <td data-title="Code Name">{$value.NPOCat_CodeName}</td>
                                                <td data-title="Show On Website">{if="$value.NPOCat_ShowOnWebsite==1"}<span class="icon active margin-left-15" title="Active"></span>{else}
                                                <span class="icon inactive margin-left-15" title="Inactive"></span>{/if}</td>
                                               </tr>
                                              {/loop}
                                              {else}
                                                <tr><td class="text-center" colspan="4">No Record Found!</td></tr> 
                                             {/if}
                                        </tbody>
                                        </table>
                                </div>
                         </fieldset>
                    </div> 
                </div>            
        </form>
       
		<form id="formSection" name="formSection"   method="post" action='{#URL#}npocategory/index/{$action}' class="igs-form" >
             <input type="hidden" name="C_NpoCatId" id="C_NpoCatId" value="{$NpoCatDetail.NPOCat_ID}"/>
          <div id="NpoCategory">
            <div id="content-box">
                 <div class="section-heading text-left viewmoreBtn">	
                    <li class="fa fa-fw fa-file-text iColor"></li>&nbsp;Category Details - {if="$action=='update'"}Edit{else}Add{/if}<a href='javascript://' class="form-toggle-icon"><i class="fa fa-minus-square-o"></i></a>
                  </div>
                   <div class="content-section ">
                        <fieldset>
                            <div class="row">
                            	{if="$action=='update'"}                                                        
                                    {$NpoCatParentList = $NpoCatParentList}
                                {else}
                                    {$NpoCatParentList = $NCategoryList}                                     
                                {/if}
                                <section class="col col-6">
                                        <label class="label">Parent Category <span class="red"> *</span></label>
                                        <label class="select">
                                            <select name="C_parentCategory" id="C_parentCategory" class="form-control-select form-control pull-left" >
                                                <option value="">None</option>                                                                                                               
                                                 {loop="NpoCatParentList"}
                                                    <option value='{$value.NPOCat_ID}' {if="$action=='update'"}{if="$value.NPOCat_ID==$NpoCatDetail.NPOCat_ParentID && $NpoCatDetail.NPOCat_ParentID!=0"}selected{/if}{/if}>{$value.space}{$value.NPOCat_DisplayName_EN}|{$value.NPOCat_DisplayName_ES}</option>
                                                 {/loop}
                                                
                                            </select><i></i>
                                        </label>
                                </section>
                                
                                <section class="col col-6">
                                        <label class="label">Category Name (English)<span class="red"> *</span></label>
                                        <label class="input">
                                            <input type="text"  id="C_CategoryNameEn" name="C_CategoryNameEn"  placeholder="Category Name" value="{$NpoCatDetail.NPOCat_DisplayName_EN}" >
                                        </label>
                                </section>
                                
                                <section class="col col-6">
                                        <label class="label">Category Name (Spanish)</label>
                                        <label class="input">
                                            <input type="text"  id="C_CategoryNameEs" name="C_CategoryNameEs"  placeholder="Category Name" value="{$NpoCatDetail.NPOCat_DisplayName_ES}" >
                                        </label>
                                </section>
                                
                                 <section class="col col-6">
                                        <label class="label">Category Code <span class="red"> *</span></label>
                                        <label class="input">
                                            <input type="text"  id="C_categoryCode" name="C_categoryCode"  placeholder="Category Code" value="{$NpoCatDetail.NPOCat_CodeName}" >
                                            <span class="red font-11 ">Can't be duplicate. Spelling should exactly match IRS Feed column "Subsection Name"</span>
                                        </label>
                                </section>
                                
                                <section class="col col-6">
                                        <label class="dib label">URL Friendly Name</label>
                                        <label class="dib GenerateUrl"><a href='javascript://' class="link"><li class="fa fa-magic">&nbsp;</li>Generate</a></label>
                                        <label class="input">
                                            <input type="text"  id="C_urlFriendlyName" name="C_urlFriendlyName"  placeholder="Url Friendly Name" value="{$NpoCatDetail.NPOCat_URLFriendlyName}" >
                                        </label>
                                </section>
                               
                               <section class="col col-6 ">
                                        <label class="label">Sorting Order</label>
                                        <label class="input">
                                            <input type="text"  id="C_sortingOrder" name="C_sortingOrder"  placeholder="Sorting order" value="{$NpoCatDetail.NPOCat_SortOrder}" >
                                        </label>
                                </section>
                                
                                <section class="col col-12 ">
                                    <label class="label"></label>
                                     <label class="checkbox">
                                        <input type="checkbox" name="C_status" id="C_status" {if="$NpoCatDetail.NPOCat_ShowOnWebsite=='1'"} checked="checked" {/if}  value="1" /><i></i>Show on Website
                                     </label>
                                </section>
                                <section class="col col-12">
                                	{if="$action=='insert'"}
                                    <div class="pull-right margin-bottom-10 clear-both">
                                        <button type="submit" name="Save" value="Save" class="button-1 pull-right" ><i class="fa fa-save"></i> Save</button>
                                    </div>
                                    {else}
                                        <div class="pull-right margin-bottom-10 clear-both">
                                            <button type="submit" name="Save" value="Save Changes" class="button-1 pull-right" ><i class="fa fa-save"></i> Save Changes</button>
                                        </div>
                                    {/if}        
                                </section>
                            </div>
                        </fieldset>
                   </div>
                   <div class="content-section">
                        <fieldset>
                            <div class="row">
                                
                            </div>
                        </fieldset>
                  </div>               
            </div>
          </div>  
        </form>    























<!--<div id="rightSection">
      <div class="rightPannel">
            <div class="breadcrumb">
              <ul>
                <li title="Dashboard"><a href='{#URL#}home/'><img src='{#RESOURCES#}img/dashboard_thumb.png'/>Dashboard</a></li>
                <li>&nbsp;»&nbsp;</li>
                <li title="NPOs"><a href='{#URL#}npos/'>Non-Profit organization</a></li>
        		<li>&nbsp;»&nbsp;</li>
                <li title="NPO Category">Category-List</li>
              </ul>
            </div>
            <div class="contentSection">
                  <div class="pageHeader text-left"><li class="fa fa-fw fa-bars iColor"></li>&nbsp;Non-Profit organization Category - List
                  	<div class="pull-right  margin-right-10">
                      <a href='{#URL}npocategory/#NpoCategory' id="addCategory" class="btn btn-secondary" title="Add Category"><i class="fa fa-edit"></i>&nbsp; Add Category</a>
                      <a href='{#URL}npos' id="view" class="btn btn-secondary" title="View Npos"><i class="fa fa-list-ul"></i>&nbsp; NPO-List</a>
               		 </div>
                  </div>
              {include="common/message"}           
                  <div class="sky-form margin-bottom-20 box-shadow-none">
                  <form id="ListingFormSetion" name="ListingFormSetion" method="post" action="{#URL#}npocategory/index/delete-categorydetail" >
                  <input type="hidden" id="pageNumber" name="pageNumber" value="" />
                          <fieldset>
                          <div class="row">
                                <div class="sky-form-headingsection psTitle">
                                    <div class="sky-form-heading pull-left">Npo Categories - List</div>
                                    <div class="listingmoreBtn pull-right margin-right-10">
                                        <i class="fa fa-minus"></i>
                                     </div>
                                </div>
                                
                                <div class="listingmoreSection">
                                <div class="overflow-hidden pull-right">
                                    {if condition="count($PagingList)>1"}
                                        <ul class="pagination pagination-sm">
                                            {if="$PageSelected!=1"}
                                                <li class="paginate_button previous"><a href='javascript://' onclick="return GotoPage(1);"  title="First Page">First</a></li>
                                                <li class="paginate_button previous"><a href='javascript://' onclick="return GotoPage({$PageSelected-1});"  title="Previous">«</a></li>
                                            {/if}
                                            {loop="PagingList"} 
                                                {if="$PageSelected==$value.PageNo"}
                                                    <li class="active paginate_button"><a title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                                                {else}
                                                    <li class="paginate_button"><a href='javascript://' onclick="return GotoPage({$value.PageNo});" title="Page No {$value.PageNo}" >{$value.PageNo}</a></li>
                                                {/if} 
                                            {/loop}
                                            {if="$PageSelected!=$lastPage"}
                                                <li class="paginate_button next"><a href='javascript://' onclick="return GotoPage({$PageSelected+1});"  title="Next">»</a></li>
                                                <li class="paginate_button next"><a href='javascript://' onclick="return GotoPage({$lastPage});"  title="Last Page">Last</a></li>
                                            {/if}
                                        </ul>
                                    {/if}
                                </div>
                                <section class="col col-12 pull-left">
                                	<div class="pull-right margin-right-10">
                                      <span class="text-bold">Action On Selected</span>  <a href='javascript://' onclick="Delete_NPOCategory()" class="page-link Delete" id="Delete" title="Delete">&nbsp;Delete</a>
                                      <a href='javascript://' onclick="Hide_NPOCategory()" class="page-link hide" id="Hide" title="Hide">&nbsp;Hide</a>
                                    </div>
                                    <form id="ListingFormSetion" name="ListingFormSetion" method="post" action='{#URL#}npocategory/index/delete-categorydetail'>
                                    <input type="hidden" name="NPO_EIN" id="NPO_EIN" value="{$NPO_EIN|keyEncrypt}"/>
                                    <table  id="sky-table" cellpadding="0" cellspacing="0" width="100%" align="center">
                                      <thead>
                                        <tr>
                                        	<th width="5%">&nbsp;</th>
                                            <th width="60%">Name English | Spanish</th>
                                            <th width="20%">Code Name</th>
                                            <th width="20%">Show On Website</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                         {if condition="$NCategoryList!=NULL"}
                                             {loop="NCategoryList"}
                                          <tr>
                                            <td data-title=""><input type="checkbox" name="chk[]" id="chk" class="chk" value="{$value.NPOCat_ID}" /></td>
                                            <td data-title="Name English | Spanish">                                                  	
                                                {$value.space}
                                                <i class="fa fa-arrows-v color-grey-light"></i>&nbsp;
                                                <a href='{#URL#}npocategory/index/edit/{$value.NPOCat_ID|keyEncrypt}' class="page-link" title="Edit Category">
                                                {$value.NPOCat_DisplayName_EN} | {$value.NPOCat_DisplayName_ES}                    
                                                </a>
                                             </td>
                                            <td data-title="Code Name">{$value.NPOCat_CodeName}</td>
                                            <td data-title="Show On Website">{if="$value.NPOCat_ShowOnWebsite==1"}<span class="icon active margin-left-15" title="Active"></span>{else}
                                            <span class="icon inactive margin-left-15" title="Inactive"></span>{/if}</td>
                                           </tr>
                                          {/loop}
                                          {else}
                                            <tr><td class="text-center" colspan="4">No Record Found!</td></tr> 
                                         {/if}
                                    </tbody>
                                </table>
                                </form>
                                </section>
                              </div> 
                              </div> 
                          </fieldset>
                        </form>
                        
                  </div>
                  
                  <div class="sky-form box-shadow-none border-top">
                      <div id="NpoCategory">
                              <fieldset>
                              <form id="formSection" name="formSection"   method="post" action='{#URL#}npocategory/index/{$action}' >
                              <input type="hidden" name="C_NpoCatId" id="C_NpoCatId" value="{$NpoCatDetail.NPOCat_ID}"/>
                                <div class="row">
                                    <div class="sky-form-headingsection psTitle">
                                        <div class="sky-form-heading pull-left">Category Details - {if="$action=='update'"}Edit{else}Add{/if}</div>
                                        <div class="viewmoreBtn pull-right margin-right-10">
                                            <i class="fa fa-plus"></i>
                                         </div>
                                    </div>
                                    
                                    {if="$action=='update'"}                                                        
                                    	{$NpoCatParentList = $NpoCatParentList}
                                    {else}
                                     	{$NpoCatParentList = $NCategoryList}                                     
                                    {/if}
                                    <div class="viewmorSection" >
                                         <section class="col col-2">
                                                <label class="label">Parent Category <span class="red"> *</span></label>
                                                <label class="select">
                                                    <select name="C_parentCategory" id="C_parentCategory" class="form-control-select form-control pull-left" >
                                                        <option value="">None</option>                                                                                                               
                                                         {loop="NpoCatParentList"}
                                                            <option value='{$value.NPOCat_ID}' {if="$action=='update'"}{if="$value.NPOCat_ID==$NpoCatDetail.NPOCat_ParentID && $NpoCatDetail.NPOCat_ParentID!=0"}selected{/if}{/if}>{$value.space}{$value.NPOCat_DisplayName_EN}|{$value.NPOCat_DisplayName_ES}</option>
                                                         {/loop}
                                                        
                                                    </select><i></i>
                                                </label>
                                        </section>
                                        
                                       
                                        
                                        <section class="col col-2">
                                                <label class="label">Category Name (English)<span class="red"> *</span></label>
                                                <label class="input">
                                                    <input type="text"  id="C_CategoryNameEn" name="C_CategoryNameEn"  placeholder="Category Name" value="{$NpoCatDetail.NPOCat_DisplayName_EN}" >
                                                </label>
                                        </section>
                                        
                                        <section class="col col-2">
                                                <label class="label">Category Name (Spanish)</label>
                                                <label class="input">
                                                    <input type="text"  id="C_CategoryNameEs" name="C_CategoryNameEs"  placeholder="Category Name" value="{$NpoCatDetail.NPOCat_DisplayName_ES}" >
                                                </label>
                                        </section>
                                        
                                         <section class="col col-2">
                                                <label class="label">Category Code <span class="red"> *</span></label>
                                                <label class="input">
                                                    <input type="text"  id="C_categoryCode" name="C_categoryCode"  placeholder="Category Code" value="{$NpoCatDetail.NPOCat_CodeName}" >
                                                    <span class="red font-11 ">Can't be duplicate. Spelling should exactly match IRS Feed column "Subsection Name"</span>
                                                </label>
                                        </section>
                                        
                                        <section class="col col-3">
                                                <label class="label pull-left">URL Friendly Name</label>
                                                <label class="display-inline-block GenerateUrl padding-left-10"><a href='javascript://' class="link"><li class="fa fa-magic">&nbsp;</li>Generate</a></label>
                                                <label class="input">
                                                    <input type="text"  id="C_urlFriendlyName" name="C_urlFriendlyName"  placeholder="Url Friendly Name" value="{$NpoCatDetail.NPOCat_URLFriendlyName}" >
                                                </label>
                                        </section>
                                      
                                        <section class="col col-2 display-block clear-both">
                                            <label class="label"></label>
                                             <label class="checkbox margin-right-10">
                                                <input type="checkbox" name="C_status" id="C_status" {if="$NpoCatDetail.NPOCat_ShowOnWebsite=='1'"} checked="checked" {/if}  value="1" /><i></i>Show on Website
                                             </label>
                                        </section>
                                        
                                        <section class="col col-3 ">
                                                <label class="label pull-left">Sorting Order</label>
                                                <label class="input">
                                                    <input type="text"  id="C_sortingOrder" name="C_sortingOrder"  placeholder="Sorting order" value="{$NpoCatDetail.NPOCat_SortOrder}" >
                                                </label>
                                        </section>
                                        
                                      
                                        <section>
                                            {if="$action=='insert'"}
                                                <div class="pull-right margin-bottom-10 clear-both">
                                                    <button type="submit" name="Save" value="Save" class="btn btn-primary" ><i class="fa fa-save"></i> Save</button>
                                                </div>
                                            {else}
                                                <div class="pull-right margin-bottom-10 clear-both">
                                                    <button type="submit" name="Save" value="Save Changes" class="btn btn-primary" ><i class="fa fa-save"></i> Save Changes</button>
                                                </div>
                                            {/if}        
                                            <!--<div class="pull-right margin-bottom-10">
                                                  <button type="submit" name="Save" value="Save Changes" class="btn btn-primary"><i class="fa fa-save"></i> Save Changes</button>
                                            </div>
                                        </section>
                                     
                                    </div>       
                               </div> 
                                </form>
                              </fieldset>                 
                      </div>
                 
                </div>
                  
           
            </div>
      </div>
</div>-->