<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/payment.css'>
<script type="text/javascript" src='{#RESOURCES#}js/registered-payment.js'></script>
</head>
<body id="body">
<div class="gray-fix-nav">
{include="top/top"}
</div>
<section class="fix-first-section">
</section>
<section class="section-padding">
	<form name="confirmation-form" id="billing-form" method="post" action="#">
		<div class="container">
        	{$pageheading}
        	<div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                	<div class="step-section">
                    	{if="$RegisteredRowCount > 0 && $NonRegisteredRowCount > 0"}
                        {$phase_step1}
                        {elseif="$RegisteredRowCount > 0 && $NonRegisteredRowCount == 0"}
                        {$phase_step2}
                        {elseif="$RegisteredRowCount == 0 && $NonRegisteredRowCount > 0"}
                        {$phase_step3}
                        {/if}
                         <div class="step-content">
                            {if="$PaymentSucess_RowCount>0"}
                               	<div class="row">
	                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    	{$pagedetail}
                                        <div class="receipt-list-section mt-25">
                                        	<div class="receipt-list-heading hidden-xs">
                                            	<div class="row">
                                                	<div class="col-md-5 col-sm-5 col-xs-12">{#_DBS4_NAME_FUNDRAISER_NON_PROFIT_#}</div>
                                                 	<div class="col-md-3 col-sm-3 col-xs-12 text-center">{#_DBS4_DONATION_AMOUNT_#}</div>
                                                	<div class="col-md-4 col-sm-4 col-xs-12 text-center">{#_DBS4_DOWNLOAD_PRINT_#}</div>
 												</div>
                                            </div>
                                            <div class="receipt-list-detail">
                                            	<div class="receipt-list-heading text-center visible-xs-block">{#_DBS4_DONATION_DETAILS_#}</div>
                                            	{loop="OrderDetailTransactionArray"}
                                                {if="$value.PDD_Status>=11 && $value.PDD_Status<=20"}
                                                <div class="row">
                                                 	 <div class="col-md-5 col-sm-5 col-xs-12">
                                                        <span class="text-bold {if="$value.PDD_PIItemType=='CD'"}fundraisers-name{else}npo-name{/if}">{$value.PDD_PIItemName}</span>
                                                        {if="$value.PT_PaymentGatewayTransactionID!=NULL"}<span><strong>{#_DBS4_TRANSACTION_ID_#}</strong> : {$value.PT_PaymentGatewayTransactionID}</span>{/if}
                                                        <span><strong>{#_DBS4_DONATION_DATE_TIME_#}</strong> : {if="$value.PT_LastUpdatedDate!=NULL"}{$value.PT_LastUpdatedDate|formatDate:'m/d/Y h:i a'}{else}{$value.PDD_DateTime|formatDate:'m/d/Y h:i a'}{/if} {#_DBS4_EST_#}</span>
                                                        <span><strong>{#_DBS4_PAYMENT_NOTE_#}</strong> : {$value.PDD_Status_Notes}</span>
                                                    </div>
                                                 	<div class="col-md-3 col-sm-3 col-xs-12 text-center text-bold donation-amount"><span class="visible-xs">{#_DBS4_DONATION_AMOUNT_#} :</span> ${$value.PDD_Cost}</div>
                                                	<div class="col-md-4 col-sm-4 col-xs-12 text-center">
                                                    
                                                    {if="$value.PDD_Status==11"}
                                                    <a href='/donation/Print_Receipt/{$value.PDD_PD_ID|keyEncrypt}/{$value.PDD_ID|keyEncrypt}' class="t-blue" title="Click here download receipt" target="Print">{#_DBS4_DONATION_RECEIPT_#}</a></div>
                                                    {/if}
 												</div>
                                               
                                                {else}
                                                <div class="row">
                                                 	 <div class="col-md-5 col-sm-5 col-xs-12">
                                                        <span class="text-bold {if="$value.PDD_PIItemType=='CD'"}fundraisers-name{else}npo-name{/if}">{$value.PDD_PIItemName}{$value.PDD_PIItemType}</span>
                                                        <span class="t-red"><i class="fa fa-exclamation-circle"></i> {#_DBS4_PAYMENT_FAILED_#} - {$value.PDD_Status_Notes}</span>
                                                    </div>
                                                 	<div class="col-md-3 col-sm-3 col-xs-12 text-center text-bold donation-amount"><span class="visible-xs">{#_DBS4_DONATION_AMOUNT_#} :</span> 0</div>
                                                	<div class="col-md-4 col-sm-4 col-xs-12 text-center">                                                    
                                                    <a href='javascript://' class="t-green" title="Click here to download tax certificate">{#_DBS4_NOT_AVAILABLE_#}</a>                                                                                                 
 												</div>
                                                </div>
                                                {/if}
                                                {/loop}
                                            </div>
                                        </div>
                                        <div class="total-amount-section">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-5 col-sm-7 col-xs-12 pull-right">
                                                    <div class="total-amount">
                                                        <div class="row">
                                                            <div class="col-xs-8">{#_DBS4_TOTAL_DONATION_#}</div>
                                                            <div class="col-xs-4">${$totaldonation}</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-8">{#_DBS4_DONASITY_TRANSACTION_FEE_#}</div>
                                                            <div class="col-xs-4">${$transfeeamt}</div>
                                                        </div> 
                                                        <div class="row t-green you-pay-amount">
                                                            <div class="col-xs-8">{#_DBS4_YOU_PAID_#}</div>
                                                            <div class="col-xs-4">${$paidamt}</div>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="print-page-content">
                                        	<a href='/donation/Print_Confirmation/{$EncOrderID}' class="button-1 large-btn" title="Click here to print this page" target="Print">{#_DBS4_PRINT_PAGE_#}</a>
                                          {$managedetail}
                                        </div>                                        
                                    </div>
                             {else}
                             	{$NoSucessfullPaymentFound}       
                             {/if}
    							</div>
    						</div>
    					</div>
                    </div>
                </div>
            </div>
	    </div>
		<!--<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="text-center t-gray text-bold fonts-lato-regular f-16 text-center mt-10">
					<p>
						<span>We found some failed payments in donation basket.&nbsp;</span><a href="/donation/process_donation/{{OrderID}}/true" class="t-blue">Click here</a><span> to retry failed&nbsp;payments</span>
					</p>
				</div>
			</div>	-->
   	</form>
</section>

{include="bottom/bottom"}

{$OrderDetailTransactionArray|dump}
</body>
</html>