<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
</head>
<body id="body">
<div class="gray-fix-nav">
{include="top/top"}
</div>
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/popup.css'>
<script type="text/javascript" src='{#RESOURCES#}js/jquery.magnific-popup.js'></script>
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/ut1.css' />
<script type="text/javascript" src='{#RESOURCES#}js/inputmask.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/jquery.inputmask.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/ut1.js'></script>


<section class="fix-first-section fundraiser-page">
</section>
<section class="section-padding">
	<div class="container">
    	{if="$msgValues!=NULL"}
             <div id="msgSection" class="margin-top-10">
                {if condition="$msgValues!=null"}
                    {if condition="$msgValues.msgType==1"}
                        <div class="alert alert-danger text-center">
                            <span>{$msgValues.ErrorMsg}</span>
                        </div>                            
                        {elseif condition="$msgValues.msgType==2"}
                        <div class="alert alert-success text-center">
                            <span>{$msgValues.ConfirmationMsg}</span>
                        </div>
                    {/if}                                          
                {/if}
            </div>
        {/if}
		<div class="login-container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="heading-1 login-heading">{$pageheading}</h2>
                    <h2 class="heading-1 forget-password-heading dn">{$forgetpassword_pageheading}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                    <div class="login-section">
                        <form id="login-form" name="login-form" action='{#URL#}donation/account_login' method="post" autocomplete="off" >
                            {$facebookbutton}
                            <div class="text-center t-gray pt-15 pb-15">{#_UT1_LOGIN_OR_#}</div>
                            <div class="row">
                                <div class="col-xs-12">
                                	<label class="label" for="email">{#_UT1_LOGIN_EMAIL_#}</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="email" id="email" placeholder="{#_UT1_LOGIN_EMAILPLACE_#}" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label class="label" for="password">{#_UT1_LOGIN_PASSWORD_#}</label>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password" id="password" placeholder="{#_UT1_LOGIN_PASSWORDPLACE_#}" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                {$forgetpasswordbutton}
                                <div class="col-xs-6 text-right"><button type="submit" class="button-1 col-md-10 col-sm-10 col-xs-12 pull-right" title="Click here to login">{#_UT1_LOGIN_LOGINBTN_#}</button></div>
                            </div>
                            {$registerformbutton}
                        </form>
                    </div>
                    <div class="forget-password-section dn">
                        <form id="forget-password-form" name="forget-password-form" action='{#URL#}ut1/forget-password' method="post" autocomplete="off">
                            <div class="row">
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                	<label class="label" for="email">{#_UT1_FP_EMAIL_#}</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="email" id="email" placeholder="{#_UT1_FP_EMAILPLACE_#}" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 f-12 btn-right">
                                	<label class="label hidden-xs">&nbsp;</label>
                                    <button type="submit" class="button-1 col-xs-12" title="Click here to login">{#_UT1_FP_SUBMIT_#}</button>
                                </div>
                            
                                <div class="col-xs-12 text-center t-gray f-15 mt-5 mb-5 dn">Your request successfully sent!.</div>
                            </div>
                            {$backtologin}
                        </form>
                    </div>
                    <div class="account-section">
                        <h2 class="heading-3 text-center">{$registration_pageheading}</h2>
                        <form id="signup-form" name="signup-form" action='{#URL#}donation/account_register' method="post" autocomplete="off">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="label" for="fname">{#_UT1_REG_FIRSTNAME_#}</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="fname" id="fname">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="label" for="lname">{#_UT1_REG_LASTNAME_#}</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="lname" id="lname">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="label" for="streetAddress1">{#_UT1_REG_ADDRESS1_#}</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Address1" id="Address1">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="label" for="streetAddress2">{#_UT1_REG_ADDRESS2_#}</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Address2" id="Address2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="label" for="city">{#_UT1_REG_CITY_#}</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="city" id="city">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="label" for="zipCode">{#_UT1_REG_ZIP_#}</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="zipCode" id="zipCode">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="label" for="country">{#_UT1_REG_COUNTRY_#}</label>
                                    <div class="select form-group">
                                        <select class="form-control" name="country" id="country">
                                            <option value="">{#_UT1_REG_SELECT_COUNTRY_#}</option>
                                            {loop="$CountryList"}
                                            	<option value="{$value.Country_Abbrivation}">{$value.Country_Title}</option>
                                            {/loop}
                                        </select>
                                        <span class="errorClass"></span>
                                        <i class="arrow fa fa-caret-down"></i>                    
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="label" for="state">{#_UT1_REG_STATE_#}</label>
                                    <div class="select form-group">
                                        <select class="form-control" name="state" id="state">
                                        	<option value="">{#_UT1_REG_SELECT_STATE_#}</option>
                                        </select>
                                        <span class="errorClass"></span>
                                        <i class="arrow fa fa-caret-down"></i>    
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label class="label" for="phoneNumber">{#_UT1_REG_PHONE_#}</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="phoneNumber" id="phoneNumber">
                                        </div>
                                    </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="label" for="altPhoneNumber">{#_UT1_REG_MOBILE_#}</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="altPhoneNumber" id="altPhoneNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label class="label" for="emailAddress">{#_UT1_REG_EMAIL_#}</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="emailAddress" id="emailAddress">
                                        <span class="t-gray f-14 note">{#_UT1_REG_EMAIL_SUPPORT_TEXT_#}</span>
                                    </div>
                                </div>
                            </div>
                             <div class="row"><div class="col-md-12 col-sm-12 col-xs-12">{$set_password_text}</div></div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="label" for="signupPassword">{#_UT1_REG_PASSWORD_#}</label>
                                    <div class="form-group">
                                    	<input type="password" class="form-control" name="signupPassword" id="signupPassword" maxlength="20">
                                         <span class="t-gray f-14 note">{#_UT1_REG_STRONG_PASSWORD_TEXT_#}</span>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="label" for="confirmPassword">{#_UT1_REG_CONFIRM_PASSWORD_#}</label>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" maxlength="20">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12"><span class="note">Password includes Numbers, Symbols, Capital & Lower case letters.</span></div>
                            </div>
                            <div class="row">
                                {$term}
                                <div class="col-md-12 col-sm-12 col-xs-12 mt-10 text-center">
                                    <button type="submit" class="button-1" title="Register">{#_UT1_REG_REGISTER_#}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
		</div>
    </div>	
</section>
{include="bottom/bottom"}
{$termcondition}

</body>
</html>