<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/popup.css'>
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/payment.css'>
<script type="text/javascript" src='{#RESOURCES#}js/registered-payment.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/inputmask.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/jquery.inputmask.js'></script>
<script type="text/javascript">
$(document).ready(function(){
$('#cardNumber').inputmask({placeholder:" ",mask: "[9999][-9999][-9999][-9999]",greedy: false});
});

</script>
</head>
<body id="body">
<div class="gray-fix-nav">
{include="top/top"}
</div>


<section class="fix-first-section">
</section>
<section class="section-padding">
	<form name="payment-form" id="payment-form" method="post" action='{#URL#}donation/process_registred_charity_payment/{$OrderID}'>
    	<input type="hidden" name="orderid" id="orderid" value="{$OrderID}"/>
		<div class="container">
        {include="common/message"}
        	{$pageheading}
        	<div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                	<div class="step-section">
                    	<div class="step step-1">
			               {$checkoutdonationbasket}
    					</div>
                    	<div class="step current-step step-2">
			               {$processcheckoutinformation}
                            <div class="step-content">
                            	<div class="row">
	                                <div class="col-lg-6 col-md-7 col-sm-8 col-xs-12">
                                        <div class="billing-form-section">
                                           {$pageheading_checkoutpage}
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <label class="label" for="ccName">{#_CREDIT_CARD_#}</label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="ccName" id="ccName"  value="{$UserDetail.PD_BillingFirstName} {$UserDetail.PD_BillingLastName}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-7 col-sm-7 col-xs-12">
                                                    <label class="label" for="cardNumber">{#_CARD_NUMBER_#}</label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="cardNumber" id="cardNumber" value="{#CC_NUMBER#}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-sm-5 col-xs-12">
                                                    <label class="label" for="sqCode">{#_SECURITY_CODE_#}</label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="sqCode" id="sqCode" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label class="label" for="expMonth">{#_EXPIRY_MONTH_#}</label>
                                                    <div class="select form-group">
                                                        <select class="form-control" name="expMonth" id="expMonth">
                                                            <option value="">{#_SELECT_MONTH_#}</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                        </select>
                                                        <span class="errorClass"></span>
                                                        <i class="arrow fa fa-caret-down"></i>                    
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label class="label" for="expYear">{#_EXPIRY_YEAR_#}</label>
                                                    <div class="select form-group">
                                                        <select class="form-control" name="expYear" id="expYear">
                                                            <option value="">{#_SELECT_YEAR_#}</option>
                                                            {loop="Years"}
                                                            <option value="{$value}">{$value}</option>
                                                            {/loop}
                                                        </select>
                                                        <span class="errorClass"></span>
                                                        <i class="arrow fa fa-caret-down"></i>                    
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <label class="label" for="emailAddress">{#_EMAIL_ADDRESS_#}</label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="emailAddress" id="emailAddress"  value="{$UserDetail.PD_BillingEmailAddress}"/>
                                                       {$emailhelpingtext}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="amount">{#_AMOUNT_#}  ${$PayableAmount_Now}</div>
                                                    {if="$PayableAmount_Next > 0"}{$nextpaymenttext}{/if}
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <button type="submit" class="col-xs-12 button-1 large-btn" title="Click here to Pay Now">{#_PAY_NOW_#}</button>
                                                </div>
                                            </div>
                                            <div class="row mt-25">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                   {$termscondition1}
                                                </div>
                                            </div>
										</div>                                        
                                        <div class="processing-containt">
                                        	 {$termscondition2}
                                        </div>
                                    </div>
    							</div>
    						</div>
                        </div>
                    	{if="$PayableAmount_Next > 0"}
                        {$nextstep}
                        {else}
                        {$nextstep2}
                        {/if}
                    </div>
                </div>
            </div>
	    </div>	
   	</form>
</section>
<a href='#termscondition' class="t-white termsCon" >xx</a>
{include="bottom/bottom"}
{if="isset($termsandcondition_popcontent)"}{$termsandcondition_popcontent}{/if}
{$terms_of_use}
{$terms_of_service}
{include="bottom/bottom"}
</body>
</html>