<style>
 /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
:before, :after {
  content: '';
  display: block;
  /position: absolute;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


p {
  line-height: 1.8;
}

.title {
  height: 60px;
  padding: 0 30px;
  font-size: 18px;
  line-height: 60px;
}

.chart {
  height: 250px;
  padding: 20px;
  background: linear-gradient(to bottom, #345 0%, #234 100%);
  
  
}
.widget{
	background-color:#2E3F50 !important;
	color:#FFF;
	}
</style>    
<script src='{#RESOURCES#}js/prefixfree.min.js'></script>
<section class="section-padding fundraiser-page-heading">
	<div class="container">
    	{include="common/message"}
		<h2 class="heading-1 login-heading">Ambassador Portal</h2>
        <div class="user-name heading-3 mt-15">Widget Code</div>
                <div class="row mt-25">
                    <div class="col-md-7 col-sm-3 col-xs-4">                    
                    {if="$widgetDetials!=NULL"}
                    	<textarea rows="4" cols="30" readonly class="form-control widget"><a href='{#URL#}donation/Ambassador_Donation/{$widgetDetials.W_UniqueKey}' target="donasity"><img src='{#RESOURCES#}/widget/button-green.jpg'  border="0"></a></textarea>
                        <span class="note">Copy and paste this Widget code on your website.</span>
                    {else}
            			<a href='{#URL#}ut2myaccount/add-widget' class="button-1 mt-10" title="Create Widget">Create Widget</a>
                        <span class="note">Click this button to create Widget code.</span>
                    {/if}
            		</div>
                               	
                <div class="col-md-4 col-sm-4 col-xs-12">
                	<div class="chart" id="p1">
                    	<canvas id="c1"></canvas>
                    </div>	
                </div>
            </div>            
        </div>
	</div>        
</section>
<script src='{#RESOURCES#}js/Chart.min.js'></script>
<script src='{#RESOURCES#}js/graph.js'></script>