<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
</head>
<body id="body">
	<div class="gray-fix-nav"> {include="top/top"} </div>
	<!--view all code-->
	<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/donation-dashboard.css'>
    <style>
 /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
:before, :after {
  content: '';
  display: block;
  /position: absolute;
  box-sizing: border-box;
}

.ambassador_header
{
	background:#09426A;
	border-left:5px solid #abc340;
	color:white;
}

.td-n
{
	text-decoration:none !important;
}

html, body {
  height: 100%;
}


p {
  line-height: 1.8;
}

.title {
  height: 60px;
  padding: 0 30px;
  font-size: 18px;
  line-height: 60px;
}

.chart {
  height: 250px;
  padding: 20px;
  background: linear-gradient(to bottom, #345 0%, #234 100%);

}
.widget{
	background-color:#ffffff !important;
	color:#000;
	}  
  


</style>
	<script type="text/javascript" src='{#RESOURCES#}js/bootstrap-multiselect.js'></script> 
	<script type="text/javascript">
		$(document).ready(function() {
			$('.category-list-option .select-all').click(function() {
				$(this).addClass('active-option');
				$('.donation-listing-section .donation-listing-row').find('input[type="checkbox"]').prop('checked',true);
			});
			
			$('.category-list-option .select-all').click(function() {
				if($(this).find('a').text()=="Select all records below") {
					$(this).find('a').text('Deselect all records below');
					$('.donation-listing-section .donation-listing-row').find('input[type="checkbox"]').prop('checked',true);
					jQuery(".dn").hide();
					jQuery(".exportmsg").hide();		
				} else {
					$(this).find('a').text('Select all records below');
					$('.donation-listing-section .donation-listing-row').find('input[type="checkbox"]').prop('checked',false);
				}
			});
			
			$('#selectBox').multiselect( {
				nonSelectedText: 'All month'
			});
			
			jQuery(".ExportDonations").click(function() {
				var length = jQuery(".chkID:checked").length;
				if(length==0) {
					jQuery(".exportmsg").show();
					return false;
				} else {
					var formurl = SITEURL+"ambassadorportal/exportdonationlist";
					jQuery("#frm_donation").attr('action',formurl);
					jQuery("#frm_donation").attr('method','post');
					jQuery("#frm_donation").submit();
				}
			});
			
			jQuery(".PrintDonations").click(function() {
				var length = jQuery(".chkID:checked").length;
				if(length==0) {
					jQuery(".dn").show();
					return false;
				} else {
					var formurl = SITEURL+"ambassadorportal/printdonationlist";
					jQuery("#frm_donation").attr('action',formurl);
					jQuery("#frm_donation").attr('method','post');
					jQuery("#frm_donation").attr('target',"_blank");
					jQuery("#frm_donation").submit();
				}
			});
			
			jQuery(".Taxable").click(function(){
				jQuery("#taxable").val(jQuery(this).attr('rel'));
				var formurl = SITEURL+"ambassadorportal/viewall";
				jQuery("#frm_donation").attr('action',formurl);
				jQuery("#frm_donation").attr('method','get');
				jQuery("#frm_donation").removeAttr('target');
				jQuery("#frm_donation").submit();
			});
			
			jQuery(".chkID").click(function(){
				var length = jQuery(".chkID:checked").length;
				if(length > 0)
					jQuery(".dn").hide();
			});
			
			//jQuery(".submit").click(function(){
		//    	var formurl = SITEURL+"ambassadorportal/viewall";
		//    	jQuery("#frm_donation").attr('action',formurl);
		//    	jQuery("#frm_donation").attr('method','get');
		//    	jQuery("#frm_donation").removeAttr('target');
		//    });
		});
	</script>
	<section class="fix-first-section fundraiser-page"> </section>
    <section class="section-padding fundraiser-page-heading">
    
        <div class="container">
        <h2 class="heading-1 p-10">Ambassador Portal </h2>
            <a href='{#URL#}ambassadorportal/dashboard' class="link-1 td-n">
                <h2 class="heading-3 p-15 ambassador_header">Widget Code <i class="fa fa-plus-square-o pull-right"></i></h2>
            </a>
        
            <a href='{#URL#}ambassadorportal/dashboard' class="link-1 td-n">
                <h2 class="heading-3 p-15 ambassador_header">Donation Chart <i class="fa fa-plus-square-o pull-right"></i></h2>
            </a>
            <a href='{#URL#}ambassadorportal/viewall' class="link-1 td-n">
                <h2 class="heading-3 p-15 ambassador_header">Donations<i class="fa fa-plus-square-o pull-right"></i></h2>
            </a>
            <h2 class="heading-3 p-15 ambassador_header">Documents <i class="fa fa-minus-square-o pull-right"></i></h2>
      	</div>
    </section>
    <section class="section-padding">    
            {$MonthArray = array('1'=>'January','2'=>'February','3'=>'March','4'=>'April','5'=>'May','6'=>'June','7'=>'July','8'=>'August','9'=>'September','10'=>'October','11'=>'November','12'=>'December')}
    {$YearArray = array('2011'=>'2011','2012'=>'2012','2013'=>'2013','2014'=>'2014','2015'=>'2015','2016'=>'2016','2017'=>'2017','2018'=>'2018','2019'=>'2019','2020'=>'2020','2021'=>'2021','2022'=>'2022')}
    <form name="form-section" method="get" action='{#URL#}ambassadorportal/documents' id="frm_donation">
        <!--<input type="hidden" name="taxable" id="taxable" />
        <input type="hidden" name="username" id="username" value='{$UserName}' />
        <input type="hidden" name="id" id="id" value='{$UserID}'/> -->
        
            <div class="container">            
                <div class="row donation-filter-section">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <label class="label" for="year">Year</label>
                        <div class="select form-group">
                            <select class="form-control" name="year" id="year">
                                <option value="all">Year</option>
                                {loop="YearArray"}
                                    {$select=''}
                                    {if condition="$year==$key"}
                                        {$select='selected'}
                                    {/if}
                                	<option value='{$key}' {$select}>{$value}</option>
                                {/loop}
                            </select>
                            <i class="arrow fa fa-caret-down"></i> 
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <label class="label" for="month">Month</label>
                        <div class="select form-group">
                            <label class="multiselect">
                                <select id="selectBox" multiple="multiple" size="3" name="month[]">
                                 {loop="MonthArray"}
                                 {$select=''}
                                 {if condition="in_array($key,$month)"}
                                    {$select='selected'}
                                 {/if}
                                    <option value='{$key}' {$select}>{$value}</option>
                                 {/loop}
                                </select>
                            </label>
                            <i class="arrow fa fa-caret-down"></i> 
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <label class="label" for="keyword">Keyword</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="keyword" id="keyword" placeholder="Type keyword" value='{$keyword}' />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <label class="label">&nbsp;</label>
                        <div class="form-group">
                            <button type="submit" class="button-1 col-xs-12 submit" name="filter" value="filter" title="Click here to show">Filter</button>
                        </div>
                    </div>
                </div>
            </div>

        <div class="container">
        	<p class="f-18"><a href='{#URL#}ambassadorportal' title="Return">&lt; Return to Ambassador Portal</a></p>
        </div>
            <div class="user-donation-listing">
            	
                {if condition="$documentList!=NULL"}
                    <div class="donation-listing-section"> 
                    {loop="$documentList"}
                        <div class="donation-listing-row">
                            <div class="container">
                            	
                                <a href='{#DOCUMENT_URL#}{$value.DocName}' download="{$value.DocRealName}" title="Download Document">
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-2 donation-social"> <span class="text-bold">{$dateStr = strtotime($value.CreatedDate)}{function="date('M', $dateStr)"}</span><span>{$dateStr = strtotime($value.CreatedDate)}{function="date('Y', $dateStr)"}</span> </div>
                                        <div class="col-md-1 col-sm-1 col-xs-2 donation-social"> <span class="social-icon {$value.DocName|file_ext}" title="image"> </span> </div>
                                        <div class="col-md-2 col-sm-2 col-xs-8 donation-name npo-organization-name">{$value.DocTitle}</br><span class="note">{function="formatDate($value.CreatedDate, 'm/d/Y - h:i a')"}</span></div>
                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                        	<span class="t-gray">{$value.Description}</span>
                                        </div>
                                        
                                    </div></a>
                              </div>
                        </div>
                    {/loop} 
                    </div>
                {else}
                <div class="nrf text-center">No record found!</div>
                {/if} 
            </div>
    </form>
    	
    </section>
    
    
    
	<!--end of code--> 
	{include="bottom/bottom"}
</body>
</html>