<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
</head>
<body id="body">
<div class="gray-fix-nav"> {include="top/top"} </div>
<section class="fix-first-section fundraiser-page"> </section>
<section class="section-padding">
  <div class="container">
    <div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h2 class="heading-1">{$pageheading}</h2>
        </div>
      </div>
      <div class="row ambassador-form">
        <div class="col-md-12 col-md-12 col-xs-12">
        	{$confirmation_description}
		</div>
        </div>
      </div>
    </div>
  </div>
</section>
{include="bottom/bottom"}
</body>
</html>