<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
</head>
<body id="body">
<div class="gray-fix-nav"> {include="top/top"} </div>
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/ut1.css' />
<script type="text/javascript" src='{#RESOURCES#}js/inputmask.js'></script> 
<script type="text/javascript" src='{#RESOURCES#}js/jquery.inputmask.js'></script> 
<script type="text/javascript" src='{#RESOURCES#}js/ambassador-request-form.js'></script>
<section class="fix-first-section fundraiser-page"> </section>
<section class="section-padding">
  <div class="container">
   {include="common/message"}
    <div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h2 class="heading-1">{$pageheading}</h2>
        </div>
      </div>
      <div class="row ambassador-form">
        <div class="col-md-12 col-md-12 col-xs-12">
			{$form_description}
		</div>
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <div>
            <form id="ambassador-form" name="ambassador-form" action='{#URL#}ambassadorportal/ambassador_request' method="post" autocomplete="off" >
            <input type="hidden" name="isConfirm" id="isConfirm" value="1"/>
              <div class="row">
              
			   <div class="col-md-12 col-sm-12 col-xs-12 mb-10"> <p>{#_ARF_PROVIDE_CONTACT_INFO_}</p></div>
			    <div class="col-md-6 col-sm-6 col-xs-12">
                  <label class="label" for="organizationsname">{#_ARF_ORGANIZATION_NAME_}</label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="organizationsName" id="organizationsName" value='{if="isset($userDetail.RU_CompanyName)"}{$userDetail.RU_CompanyName}{/if}' />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <label class="label" for="einnumber">{#_ARF_EIN_NUMBER_}</label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="einNumber" id="einNumber" value='{if="isset($userDetail.NPOEIN)"}{$userDetail.NPOEIN}{/if}' /> 
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <label class="label" for="contactName">{#_ARF_CONTACT_NAME_}</label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="contactName" id="contactName" value='{if="isset($userDetail.Name)"}{$userDetail.Name}{/if}' />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <label class="label" for="billingAddress">{#_ARF_BILLING_ADDRESS_}</label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="billingAddress" id="billingAddress" value='{if="isset($userDetail.RU_Address1)"}{$userDetail.RU_Address1}{/if} {if="isset($userDetail.RU_Address2)"}{$userDetail.RU_Address2}{/if}' />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <label class="label" for="zipCode">{#_ARF_CITY_ZIP_}</label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="zipCode" id="zipCode" value='{if="isset($userDetail.RU_City)"}{$userDetail.RU_City}{if="$userDetail.RU_City!=NULL"},{/if}{/if} {if="isset($userDetail.RU_State)"}{$userDetail.RU_State}{if="$userDetail.RU_State!=NULL"},{/if}{/if} {if="isset($userDetail.RU_ZipCode)"}{$userDetail.RU_ZipCode}{/if}' />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <label class="label" for="contactNumber">{#_ARF_CONTACT_NUMBER_}</label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="contactNumber" id="contactNumber" value='{if="isset($userDetail.RU_Mobile)"}{$userDetail.RU_Mobile}{/if}' />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label class="label" for="emailAddress">{#_ARF_EMAIL_}</label>
                  <div class="select form-group">
                    <input type="text" class="form-control" name="emailAddress" id="emailAddress" value='{if="isset($userDetail.RU_EmailID)"}{$userDetail.RU_EmailID}{/if}' />
                  </div>
                </div>
              </div>
			  <div class="row">
                <div class="col-xs-12 ">
					 <label class="checkbox dib"><input type="checkbox" name="currently_registered" {if="isset($userDetail.NPOEIN) && $userDetail.NPOEIN!=NULL"}checked{/if} value="1" /><i></i>{#_ARF_CURRENTLY_REGISTERED_}</label>
				</div>
				<div class="col-xs-12 ">
					 <label class="checkbox dib"><input type="checkbox" name="linked_payment" {if="isset($userDetail.NPOEIN) && $userDetail.NPOEIN!=NULL"}checked{/if} value="1" /><i></i>{#_ARF_LINKED_PAYMENT_}</label>
					</div>
				<div class="col-xs-12 ">
					{#_ARF_CONTACT_TIME_}
					 <label class="checkbox dib"><input type="checkbox" name="contact_time[]"  value="Morning" /><i></i>{#_ARF_MORNING_} </label>
					 <label class="checkbox dib"><input type="checkbox" name="contact_time[]" value="Afternoon" /><i></i>{#_ARF_AFTERNOON_} </label>
					 <label class="checkbox dib"><input type="checkbox" name="contact_time[]" value="Evening" /><i></i>{#_ARF_EVENING_}</label>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<span class="t-gray f-14 note">{#_ARF_NOTE_}</span>
				</div>
            </div>
			<div class="col-md-12 col-sm-12 col-xs-12 mt-10 text-center">
                  <button type="submit" class="button-1" title="{#_ARF_SUBMIT_}">{#_ARF_SUBMIT_}</button>
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{include="bottom/bottom"}
{if="isset($termcondition)"}{$termcondition}{/if}
</body>
</html>