{include="email/email-top"}
<div style="padding:10px 5px; font-size:14px; color:#333333;">
<p>Hello {$uname},</p><br /><br />

<table width="100%" cellpadding="3" cellspacing="0" border="1">
	<tr>
		<td colspan="4" style="text-align:center;">Payment Transaction Receipt</td>                
    </tr>
    <tr>
		<td class="text-bold">Order Id : </td>
        <td>{$arraySaleSubDetails.SS_RefNumber}</td>
        <td class="text-bold">Order Date : </td>
        <td>{$arraySaleSubDetails.SS_DateTime|formatDate:'m/d/y'}</td>          
    </tr>
    <tr>
		<td class="text-bold">Service Name : </td>
        <td>{$arraySaleSubDetails.SS_ItemName}</td>
        <td class="text-bold">Service Charge Amount : </td>
        <td>{$arraySaleSubDetails.SS_Amount}</td>          
    </tr>    
    <tr>
		<td colspan="4">Other Details</td>        
    </tr>
    <tr>
		<td colspan="4">
        	<strong>{if="$arraySaleSubDetails.SS_PaymentMode=='RC'"}Reoccring Payment - {$arraySaleSubDetails.SS_Schedule}{else}One time payment {/if} of ${$arraySaleSubDetails.SS_Amount} upto service use.</strong>
        </td>        
    </tr>
    <tr>
		<td colspan="4">
        	{$arraySaleSubDetails.SS_SpecialInstruction}
        </td>        
    </tr>
    <tr>
    	<td colspan="4"><strong>Order Transaction Details</strong></td>
    </tr>
    <tr>
    	<td class="text-bold">Transaction ID</td>
        <td>{$transactionDetailsArray.SSPT_PaymentGatewayTransactionID}</td>
        <td class="text-bold">Charge Amount</td>
        <td>${$transactionDetailsArray.SSPT_PaidAmount}</td>
    </tr>
    <tr>
    	<td class="text-bold">Payment Type</td>
        <td>{if="$transactionDetailsArray.SSPT_PaymentType=='RC'"}Recurring{else}One Time{/if}</td>
        <td class="text-bold">Payment Status</td>
        <td>{$transactionDetailsArray.SSPT_PaymentStatus_Notes}</td>    
    </tr>
    <tr>
    	<td class="text-bold"></td>
        <td>{if="$transactionDetailsArray.SSPT_PaymentType=='RC'"}Recurring{else}One Time{/if}</td>
        <td class="text-bold">{if="$transactionDetailsArray.SSPT_PaymentType=='RC'"}Next Recurring Date{/if}</td>
        <td>{if="$transactionDetailsArray.SSPT_PaymentType=='RC'"}{$saleSubDetails.SS_NextOuccringDate|formatDate}{/if}</td>    
    </tr>
</table>
<p>&nbsp;</p>
<p>Thank you,&nbsp;</p>
</div>
{include="email/email-bottom"}