{include="email/email-top"}
<div style="padding:10px 5px; font-size:14px; color:#333333;">
<p>Hello Administrator,</p><br />
<p>Here is list of customer transaction details as below</p>
<table width="100%" cellspacing="3" cellpadding="3">
	<tr>
    	<td>
        	Name
        </td>
        <td>
        	Email
        </td>
        <td>
        	Order Ref#
        </td>
        <td>
        	Amount
        </td>
        <td>
        	Transaction#
        </td>
        <td>
        	Date On
        </td>
        <td>
        	Status
        </td>
    </tr>
    {loop="$saleSubDetails"}
    <tr>
    	<td>{$value.SS_FirstName} {$value.SS_LastName}</td>
        <td>{$value.SS_EmailAddress}</td>
        <td>{$value.SS_RefNumber}</td>
        <td>${$value.PaidAmount}</td>
        <td>{$value.TransactionId}</td>
        <td>{$value.PaymentDate|formatDate:'m/d/y h:ia'}</td>
        <td>{$value.PaymentStatus}</td>
    </tr>
    {/loop}
</table>
<p>&nbsp;</p>
<p>Thank you,&nbsp;</p>
</div>
{include="email/email-bottom"}