<script type="text/javascript" language="javascript" src='{#URL#}app/tinymce/tinymce.min.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/includeEditor.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/validatemetaDetails.js'></script>

   <ul class="breadcrumb">
        <li title="Dashboard"><a href='{#URL#}home/'>Dashboard</a></li>
        <li title="CMS">CMS</li>
        <li title="Programmed Page"><a href='{#URL#}programmedpages'>Programmed Pages</a></li>
        <li title="Edit">Edit</li>
   </ul>
   
      
    <div id="content-box">
      <form id="formSection" name="formSection" class="igs-form"  method="post" action='{#URL#}programmedpages/index/{$action}' >
      <div class="section-heading text-left"><li class="fa fa-fw fa-file-text iColor"></li>&nbsp;Programmed Pages Detail - View / Edit<a href='javascript://' class="form-toggle-icon"><i class="fa fa-minus-square-o"></i></a>
      </div>
                 
       {include="common/message"}
      <div class="content-section">
       <input type="hidden" name="keyId" id="keyId" value="{$PageId}" /> 
          <input type="hidden" name="rowcount" id="rowcount" value="{$PageContents|count}"/>
             
            
              <fieldset>
            		<div class="row">
                    <section class="col-12">
                        <a href='{#URL#}programmedpages' class="button-1 pull-right" title="Programmed Page List"><li class="fa fa fa-fw fa-file-text"></li>Pages List</a>
                        <button type="submit" name="Save" value="Save Changes" class="button-1 pull-right"><i class="fa fa-save"></i> Save Changes</button>
                      </section>
                   <h2 class="heading-1">Basic Page Meta Details (ENGLISH)</h2>
                   
                    <section class="display-block margin-left-15 margin-right-15">
                            <label class="label">Page Name</label>
                            <label class="input">
                                <input type="text"  id="pageName" name="pageName" value="{$PageValues.PMV_pagenameEN}" placeholder="Page Name" >
                            </label>
                    </section>
                   
                     <section class="display-block margin-left-15 margin-right-15">
                            <label class="label clear-both">Page Description</label>
                            <label class="textarea">
                                    <textarea rows="2" name="pageDescription" placeholder="Additional info" id="pageDescription">{$PageValues.PMV_descEN}</textarea>
                            </label>
                               
                    </section>
                    
                     <section class="display-block margin-left-15 margin-right-15">
                            <label class="label">Meta Title</label>
                            <label class="input">
                                <input type="text" id="metaTitle" name="metaTitle" value="{$PageValues.PMV_metaTitleEN}" placeholder="Meta Title" >
                            </label>
                    </section>
                    
                    <section class="display-block margin-left-15 margin-right-15">
                            <label class="label clear-both">Meta Keyword</label>
                            <label class="textarea">
                                <textarea rows="2" id="metaKeyword" name="metaKeyword" placeholder="Meta Keyword" >{$PageValues.PMV_metaKeywordEN}</textarea>
                            </label>
                    </section>
                    
                    <section class="display-block margin-left-15 margin-right-15">
                            <label class="label clear-both">Meta Description</label>
                            <label class="textarea">
                                <textarea id="metaDescription" name="metaDescription" placeholder="Meta Description" rows="4">{$PageValues.PMV_metaDescEN}</textarea>
                            </label>
                    </section>
                    
                    
                </div>       
              </fieldset>
            
               <fieldset>
                    <div class="row">
                            <h2 class="heading-1">Basic Page Meta Details (SPANISH)</h2>    
                        
                            <section class="col col-6">
                                    <label class="label">Page Name Spanish</label>
                                    <label class="input">
                                        <input type="text" id="pageNameSpanish" name="pageNameSpanish" value="{$PageValues.PMV_pagenameES}" placeholder="Page Name Spanish" >
                                    </label>
                            </section>
                            <section class="col col-6">
                                    <label class="label">Meta Title Spanish</label>
                                    <label class="input">
                                        <input type="text" id="metaTitleSpanish" name="metaTitleSpanish" value="{$PageValues.PMV_metaTitleES}" placeholder="Meta Title" >
                                    </label>
                            </section>
                             <section class="col col-12">
                                    <label class="label">Page Description Spanish</label>
                                    <label class="textarea">
                                            <textarea id="pageDescriptionSpanish " name="pageDescriptionSpanish" placeholder="Page Description" >{$PageValues.PMV_descES}</textarea>
                                    </label> 
                            </section>
                            
                            <section class="col col-12">
                                    <label class="label">Meta Keyword Spanish</label>
                                    <label class="textarea">
                                        <textarea id="metaKeywordSpanish" name="metaKeywordSpanish" placeholder="Meta Keyword" >{$PageValues.PMV_metaKeywordES}</textarea>
                                    </label>
                            </section>
                            
                            <section class="col col-12">
                                    <label class="label">Meta Description Spanish</label>
                                    <label class="textarea">
                                        <textarea id="metaDescriptionSpanish" name="metaDescriptionSpanish" placeholder="Meta Description" rows="4">{$PageValues.PMV_metaDescES}</textarea>
                                    </label>
                            </section>
                            
                            
                        </div>       
            
           	   </fieldset>
        
             <fieldset>
                <div class="row">
                    	<h2 class="heading-1">Page Meta Text Detail</h2>
                    	<div class="tabContainer">
                        <section>
                            <div class="tabSection margin-bottom-15 margin-left-20">
                                 <div class="pull-left margin-top-5"><button type="button" name="buttonenglish"  id="buttonenglish" class="tabs activeTab" title="Click to add more additional page meta details"><i class="fa"></i>English</button></div>
                                 <div class="pull-left padding-left-10 margin-top-5"><button type="button" name="buttonspanish"  id="buttonspanish" class="tabs" title="Click to add more additional page meta details"><i class="fa"></i>Spanish</button></div>
                            </div>
                        </section>
                        
                        <div id="english" class="buttonenglishSection tabBox">
                         {loop="PageContents"}
                             <section class="display-block margin-left-15 margin-right-15">
                                <input type="hidden" name="metaPageValuesId[]" value="{$PageId}" />
                                <input type="hidden" name="metaPageContentId[]" value="{$value.PMT_id}" id="metaPageContentId" />
                                <label class="label pull-left">{$value.PMT_captionEN|ucwords}&nbsp;:</label>
                                <label class="label pull-left text-bold">&nbsp;{$value.PMT_descEN}</label>
                               
                                <input type="hidden" class="form-control pull-left" id="caption" name="caption[]" placeholder="Caption" value="{$value.PMT_captionEN}">
                             </section>
                             <section class="display-block margin-left-15 margin-right-15">
                             			<label class="label clear-both">Page Meta Text Or HTML
                                        <a href='javascript://' class="btn btn-danger btn-sm pull-right margin-right-10" title="delete" onclick="DeleteMetaContent({$PageId},{$value.PMT_id})"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
                                        <!--<button type="button" class="btn btn-danger btn-sm pull-right margin-right-10" title="delete" name="delete" onclick="DeleteMetaContent({$PageId},{$value.PMT_id})"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>-->
                                        
                                        </label>
                              			
                                        <label class="textarea">
                                            <textarea class="form-control pull-left" id="metadetail{$counter+1}" name="metadetail[]" placeholder="Page Meta Text Or Html" >{$value.PMT_contentEN}</textarea>
                                        </label>
                            </section>
                         {/loop}   
                        </div>
                        
                        <div id="spanish" class="display-none buttonspanishSection tabBox">
                         {loop="PageContents"}
                             <section class="display-block margin-left-15 margin-right-15">
                                    <input type="hidden" name="metaPageValuesId[]" value="{$PageId}" />
                                    <input type="hidden" name="metaPageContentId[]" value="{$value.PMT_id}" id="metaPageContentId" />
                                    <input type="hidden" id="captionspanish" name="captionspanish[]" placeholder="Caption" value="{$value.PMT_captionES}">
                                    <label class="label pull-left">{$value.PMT_captionES|ucwords}&nbsp;:</label>
                                    <label class="label pull-left text-bold">&nbsp;{$value.PMT_descES}</label>
                             </section>
                             <section class="display-block margin-left-15 margin-right-15">
                                    <label class="label clear-both">Page Meta Text Or HTML Spanish
                                    <button type="button" class="btn btn-danger btn-sm pull-right margin-right-10" title="delete" name="delete" onclick="DeleteMetaContent({$PageId},{$value.PMT_id})"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                                    </label>
                                    <label class="textarea">
                                        <textarea id="metadetailspanish{$counter+1}" class="form-control pull-left editor" name="metadetailspanish[]" placeholder="Page Meta Text Or Html Spanish" >{$value.PMT_contentES}</textarea>
                                    </label>
                            </section>
                         {/loop}   
                        </div>     
                    
                    </div>
                    </div>
              
             </fieldset>   
             
             <fieldset>
                <section class="pull-right">
                    <div class=" margin-bottom-10">
                        <button type="submit" name="Save" value="Save Changes" class="btn btn-primary"/><i class="fa fa-save"></i> Save Changes</button>
                    </div>    
                </section>
             </fieldset>
        
            <!--<div class="overflow-hidden clear-both">
                <div class="pull-right margin-bottom-10">
                    <button type="submit" name="save" value="save" id="saveBtn" class="btn btn-primary saveBtn"><i class="fa fa-save"></i> Save Changes</button>
                </div>
            </div>-->
       
      </div>
      </form>
    </div>
     

