<script type="text/javascript" src='{#RESOURCES#}js/validatenpo.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/bootstrap-multiselect.js'></script>
<script type="text/javascript">
    $(document).ready(function() {		
       /* $('#nposubsectionname').multiselect(
		{
			nonSelectedText: 'Select Categories'
		});*/
    });

</script>
<ul class="breadcrumb">
        <li title="Dashboard"><a href='{#URL#}home/'>Dashboard</a></li>
        <li title="NPOs">Non-Profit organization</li>
        <li title="NPOs List"><a href='{#URL#}npos'>List</a></li>
        <li title="Npos Edit">View Details/Edit</li>
   </ul>
{include="common/message"}
<form id="nposform" name="nposform" class="igs-form"  method="post" action='{#URL#}npos/index/update-npos' >
		<input type="hidden" name="npoID" id="npoID" value="{$npodetail.NPO_ID}"/>
        <div class="oh">
           <div class="col col-5">
                <h1 class="heading-1">Non-Profit organization - Edit</h1>
            </div>
            <div class="col col-7 text-right mt-15 pull-right">                   
                  <a href='javascript:' class="button-2" title="View Donation"><i class="fa fa-money"></i>&nbsp;View Donations</a>
                  <a href='{#URL#}npocontacts/index/list-contacts/{$npodetail.NPO_EIN|keyEncrypt}' class="button-2" title="Contact Details"><i class="fa fa-list-ul"></i>&nbsp;Contacts Details</a>
                  <a href='{#URL#}npobanks/index/list-bank/{$npodetail.NPO_EIN|keyEncrypt}' class="button-2" title="Bank Details"><i class="fa fa-university"></i>&nbsp;Banks Details</a>
                  <a href='{#URL}npos' class="button-2" title="View Donation"><i class="fa fa-list-ul"></i>&nbsp;View List</a>
                 <button type="submit" class="button-1" title="Update NPO" value="Save Changes"><i class="fa fa-save"></i>&nbsp;Save Changes</button>
            </div>
        </div>
         <div id="content-box" >  
     	   <div class="section-heading text-left">	
            	<li class="fa fa-fw fa-file-text iColor"></li>&nbsp;NPO General Details<a href='javascript://' class="form-toggle-icon"><i class="fa fa-minus-square-o"></i></a>
          </div>
          <div class="content-section">
          	 <fieldset>
                    <div class="row">
                    	<section class="col col-6">
                            <label class="label">EIN<span class="red">*</span></label>
                            <label class="input">
                                <input type="text" id="npoein" name="npoein"  value="{$npodetail.NPO_EIN}" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Name<span class="red">*</span></label>
                            <label class="input">
                                <input type="text" id="nponame" name="nponame"  value="{$npodetail.NPO_Name}" />
                            </label>
                        </section>
                        
                        <section class="col col-6">
                            <label class="label">ICO</label>
                            <label class="input">
                                <input type="text" id="npoico" name="npoico"  value="{$npodetail.NPO_ICO}" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Street Address<span class="red">*</span></label>
                            <label class="input">
                                <input type="text" id="npostreet" name="npostreet"  value="{$npodetail.NPO_Street}" />
                            </label>
                        </section>
                        
                        <section class="col col-4">
                            <label class="label">City</label>
                            <label class="input">
                                <input type="text" id="npocity" name="npocity"  value="{$npodetail.NPO_City}" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">State</label>
                            <label class="select">
                                <select name="npostate" id="npostate">
                                    <option value="">State</option>
                                    {loop="state"}
                                    {if="$value.State_Name!=''"}
                                    <option value="{$value.State_Value}" {if="$npodetail.NPO_State==$value.State_Value"} selected="selected" {/if}>{$value.State_Name}</option>
                                    {/if}
                                    {/loop}
                                </select>
                                <i></i>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">Zip Code</label>
                            <label class="input">
                                <input type="text" id="npozip" name="npozip"  value="{$npodetail.NPO_Zip}" />
                            </label>
                        </section>                        
                        <section class="col col-6">
                            <label class="label">Subsection Name (Category) <span class="red">*</span></label>
                            <label class="input">
                            	<input type="text" id="nposubsectionname" name="nposubsectionname"  value="{$npodetail.NPO_SubSectionName}" />
                            </label>    
                               <!-- <select name="nposubsectionname[]" id="nposubsectionname" multiple="multiple">                                   
                                   <!-- {loop="category"}
                                    <option value="{$value.NPOCat_CodeName}"  {if="in_array($value.NPOCat_CodeName,$npodetail.NPO_SubSectionName)"} selected="selected" {/if} >
                                    {$value.space} {$value.NPOCat_DisplayName_EN}</option>
                                    {/loop}-->
                               <!-- </select>
                                <span class="metaNote">If you dont see the category in list.Then <a href='{#URL#}npocategory' class='page-link'>create it.</a></span>
                                <i></i>-->
                        </section>
                        <section class="col col-6">
                            <label class="label">Subsection Description</label>
                            <label class="input">
                                <input type="text" id="nposubsectiondescription" name="nposubsectiondescription"  value="{$npodetail.NPO_SubSectionDesc}" />
                                <span class="metaNote">&nbsp;</span>
                            </label>
                        </section>
                        
                        <section class="col col-4">
                            <label class="label">NTEE CD</label>
                            <label class="input">
                                <input type="text" id="npocd" name="npocd"  value="{$npodetail.NPO_CD}" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">Category</label>
                            <label class="input">
                                <input type="text" id="npocategory" name="npocategory"  value="{$npodetail.NPO_Category}" />
                            </label>
                            
                        </section>
                        <section class="col col-4">
                            <label class="label">IRS NTEE CODE2 Description</label>
                            <label class="input">
                                <input type="text" id="npoirsnteecode2" name="npoirsnteecode2"  value="{$npodetail.NPO_IRS_NTEECode2Description}" />
                            </label>
                        </section>
                        
                        <section class="col col-4">
                            <label class="label">Affiliation</label>
                            <label class="input">
                                <input type="text" id="npoaffiliation" name="npaffiliation"  value="{$npodetail.NPO_Affiliation}" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">Aff Type</label>
                            <label class="input">
                                <input type="text" id="npoafftype" name="npoafftype"  value="{$npodetail.NPO_AffType}" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">IRS_Affiliation Codes Description</label>
                            <label class="input">
                                <input type="text" id="npoaffiliationcodesdesc" name="npoaffiliationcodesdesc"  value="{$npodetail.NPO_IRS_AffiliationCodesDescription}" />
                            </label>
                        </section>
                        
                        <section class="col col-4">
                            <label class="label">Ded Code<span class="red">*</span></label>
                            <label class="input">
                                <input type="text" id="npodedcode" name="npodedcode"  value="{$npodetail.NPO_DedCode}" />
                                <span class="metaNote">2 If Donation is tax exempted</span>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">Ded Description</label>
                            <label class="input">
                                <input type="text" id="npodeddesc" name="npodeddesc"  value="{$npodetail.NPO_DedDescription}" />
                                <span class="metaNote">&nbsp;</span>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">Foundation Code</label>
                            <label class="input">
                                <input type="text" id="npofoundationcode" name="npofoundationcode"  value="{$npodetail.NPO_FoundationCode}" />
                                <span class="metaNote">&nbsp;</span>
                            </label>
                        </section>
                        
                        <section class="col col-6">
                            <label class="label">Foundation Description</label>
                            <label class="input">
                                <input type="text" id="npofoundationdescription" name="npofoundationdescription"  value="{$npodetail.NPO_FoundationDescription}" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Org Description</label>
                            <label class="input">
                                <input type="text" id="npoorgdesc" name="npoorgdesc"  value="{$npodetail.NPO_OrgDescription}" />
                            </label>
                        </section>
                        
                        <section class="col col-4">
                            <label class="label">Org Code</label>
                            <label class="input">
                                <input type="text" id="npoorgcode" name="npoorgcode"  value="{$npodetail.NPO_OrgCode}" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">EO Status Code</label>
                            <label class="input">
                                <input type="text" id="npoeostatuscode" name="npoeostatuscode"  value="{$npodetail.NPO_EO_StatusCode}" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">EO Description</label>
                            <label class="input">
                                <input type="text" id="npoeodesc" name="npoeodesc"  value="{$npodetail.NPO_EO_Description}" />
                            </label>
                        </section>
                        
                        <section class="col col-4">
                            <label class="label">Asset Income Code</label>
                            <label class="input">
                                <input type="text" id="npoassetincomecode" name="npoassetincomecode"  value="{$npodetail.NPO_AssetIncomeCode}" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">Filing Code</label>
                            <label class="input">
                                <input type="text" id="npofilingcode" name="npofilingcode"  value="{$npodetail.NPO_FilingCode}" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">PF Filing Code</label>
                            <label class="input">
                                <input type="text" id="npopffilingcode" name="npopffilingcode"  value="{$npodetail.NPO_PF_FilingCode}" />
                            </label>
                        </section>
                        
                        <section class="col col-6">
                            <label class="label">IRS Asset Income Codes Description</label>
                            <label class="input">
                                <input type="text" id="npoirsassetincomecodesdesc" name="npoirsassetincomecodesdesc"  value="{$npodetail.NPO_IRS_AssetIncomeCodesDescription}" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">IRS Filing Code Description</label>
                            <label class="input">
                                <input type="text" id="npoirsfilingcodedesc" name="npoirsfilingcodedesc"  value="{$npodetail.NPO_IRS_FilingCodesDescription}" />
                            </label>
                        </section>
                        
                        <section class="col col-6">
                            <label class="label">IRS PF Filing Codes Description</label>
                            <label class="input">
                                <input type="text" id="npoirspffilingcodedesc" name="npoirspffilingcodedesc"  value="{$npodetail.NPO_IRS_PF_FilingCodesDescription}" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Asset Amount</label>
                            <label class="input">
                                <input type="text" id="npoassetamt" name="npoassetamt"  value="{$npodetail.NPO_AssetAmt}" />
                            </label>
                        </section>
                        
                        <section class="col col-6">
                            <label class="label">Income Amount</label>
                            <label class="input">
                                <input type="text" id="npoincomeamt" name="npoincomeamt"  value="{$npodetail.NPO_IncomeAmt}" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Revenue Amount</label>
                            <label class="input">
                                <input type="text" id="revenueamt" name="revenueamt"  value="{$npodetail.NPO_RevenueAmt}" />
                            </label>
                        </section>
                    </div>
             </fieldset>
          </div>
       </div>   
       <div id="content-box" >  
     	   <div class="section-heading text-left">	
            	<li class="fa fa-fw fa-file-text iColor"></li>&nbsp;Other Details<a href='javascript://' class="form-toggle-icon"><i class="fa fa-minus-square-o"></i></a>
          </div>
          <div class="content-section">
          	 <fieldset>
                    <div class="row">
                    	<section class="col col-4">
                            <label class="select">Show on Website</label>
                            <label class="select">
                                <select name="nposhowonweb" id="nposhowonweb">
                                    <option value="1" {if="$npodetail.NPO_DisplayOnWebsite=='1'"}selected='selected'{/if}>Yes</option>
                                    <option value="0" {if="$npodetail.NPO_DisplayOnWebsite=='0'"}selected='selected'{/if} >No</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="select">Status</label>
                            <label class="select">
                                <select name="npostatus" id="npostatus">
                                    <option value="1" {if="$npodetail.NPO_Status	=='1'"} selected="selected" {/if}>Approved</option>
                                    <option value="0" {if="$npodetail.NPO_Status	=='0'"} selected="selected" {/if}>Pending</option>
                                </select>
                                <i></i>
                            </label>
						</section>
                        
                        
                        <section class="col col-4">
                            <label class="label">Record Created Date</label>
                            <label class="label text-bold">{$npodetail.NPO_CreatedDate|formatDate:'n/j/Y h:ia'}</label>
                        </section>
                        <section class="col col-4">
                            <label class="label">Last Updated Date</label>
                            <label class="label text-bold">{$npodetail.NPO_LastUpdatedDate|formatDate:'n/j/Y h:ia'}</label>
                        </section>
                         <section class="col col-4">
                            <label class="label">Added By (User Name)</label>
                            <label class="label text-bold">{$npodetail.NPO_LastUpdatedBy}</label>
                        </section>
                    </div>
             </fieldset>
          </div>
       </div>
       <div class="content-section">
       		<fieldset>
                <div class="row">
                	<button type="submit" class="button-1  pull-right" title="Update NPO" value="Save Changes"><i class="fa fa-save"></i>&nbsp;Save Changes</button>
                </div>
            </fieldset>
      </div>
      <div id="content-box" >  
     	   <div class="section-heading text-left">	
            	<li class="fa fa-fw fa-file-text iColor"></li>&nbsp;Bank List <a href='javascript://' class="form-toggle-icon pull-right">&nbsp;<i class="fa fa-minus-square-o"></i></a><span class="pull-right">&nbsp;{$BankDetails|count} Active Record(s)</span>
          </div>
          <div class="content-section">
                <div class="oh">
                   <div class="col col-4 mb-15">
                       
                    </div>
                    <div class="col col-8 text-right mb-15 mt-15">
                          <a href='{#URL}npobanks/index/list-bank/{$npodetail.NPO_EIN|keyEncrypt}/#NpoBanks' class="button-2" title="View Donation"><i class="fa fa-list-ul"></i>&nbsp;Add New Bank Detail</a>
                          <a href='{#URL}npobanks/index/list-bank/{$npodetail.NPO_EIN|keyEncrypt}' class="button-2" title="View Donation"><i class="fa fa-list-ul"></i>&nbsp;View All/Manage</a>
                    </div>
                </div>
               <div class="row">
                    <section class="col col-12">
                        <table border="0" id="igs-table">
                                <tr>
                                  <th width="20%">Bank Name</th>
                                  <th width="25%">Bank Address</th>
                                  <th width="10%">Acc. Type</th>
                                  <th width="10%">Acc. Name</th>
                                  <th width="10%">Acc. Number</th>
                                  <th width="10%">Prefered Payment Mode</th>
                                  <th width="10%">Default</th>
                                </tr>
                                {if="$BankDetails"}
                                {loop="BankDetails"}
                                {$PreferredMode	= $value.NPO_BD_PreferredPaymentMode}
                                <tr>
                                <td data-title="Bank Name" valign="top">
                                    <a href='{#URL#}npobanks/index/edit-bank/{$npodetail.NPO_EIN|keyEncrypt}/{$value.NPO_BD_ID|keyEncrypt}' class="link-text">
                                        {$value.NPO_BD_BankName}
                                    </a>
                                </td>
                                <td data-title="Acc. Name" valign="top" >{$value.NPO_BD_BankAddress}</td>
                                <td data-title="Acc. Type" valign="top" >{$value.NPO_BD_AccountType}</td>
                                <td data-title="Acc. Number" valign="top">{$value.NPO_BD_AccountName}</td>
                                <td data-title="Prefered Payment Mode" valign="top">{$value.NPO_BD_AccountNumber}</td>
                                <td data-title="Email Address" valign="top" >
                                {loop="paymentmode"}
                                
                                {if="$key == $PreferredMode"}{$value}{/if}
                                {/loop}
                                </td>
                                <td data-title="Phone Number" valign="top" >
                                {if="$value.NPO_BD_DefaultDetail=='1'"}
                                <span class="icon active" title="Active"></span>
                                {else}
                                <span class="icon inactive" title="Inactive"></span>
                                {/if}
                                </td>
                                </tr>
                                {/loop}
                                {else}
                                <tr>
                                <td colspan="8" class="text-center">No Record Found</td>
                                </tr>
                                {/if}
                </table>
                    </section>
               </div>
          </div>      
       </div>
        <div id="content-box" >  
     	   <div class="section-heading text-left">	
            	<li class="fa fa-fw fa-file-text iColor"></li>&nbsp;Contact List<a href='javascript://' class="form-toggle-icon">&nbsp;<i class="fa fa-minus-square-o"></i></a><span class="pull-right">{$ContactDetails|count} Active Record(s)</span>
          </div>
          <div class="content-section">
                <div class="oh">
                   <div class="col col-4 ">
                       <!-- <span class="text-bold">{$ContactDetails|count} Active Record(s)</span>-->
                    </div>
                    <div class="col col-8 text-right mt-15 mb-15">
                          		<a href='{#URL}npocontacts/index/list-contacts/{$npodetail.NPO_EIN|keyEncrypt}/#NpoContacts' class="button-2" title="View Donation"><i class="fa fa-list-ul"></i>&nbsp;Add New Contact</a>
                                <a href='{#URL}npocontacts/index/list-contacts/{$npodetail.NPO_EIN|keyEncrypt}' class="button-2" title="View Donation"><i class="fa fa-list-ul"></i>&nbsp;View All/Manage</a>
                    </div>
                </div>
               <div class="row">
                    <section class="col col-12">
                        <table border="0" id="igs-table">
                            <tr>
                              <th width="30%">Name</th>
                              <th width="15%">Phone Number</th>
                              <th width="15%">Mobile Number</th>
                              <th width="15%">Office Number</th>
                              <th width="15%">Email Address</th>
                              <th width="15%">Primary Contact</th>
                            </tr>
                          {if="$ContactDetails"}
                          {loop="ContactDetails"}
                          <tr>
                          	<td data-title="Name" valign="top">
                            	<a href='{#URL#}npocontacts/index/edit-contact/{$npodetail.NPO_EIN|keyEncrypt}/{$value.NPO_CD_ID|keyEncrypt}' class="link-text">{$value.Name}</a>
                            </td>
                            <td data-title="Address" valign="top" >{$value.NPO_CD_PhoneResidance}</td>
                            <td data-title="Phone Number" valign="top" >{$value.NPO_CD_Mobile}</td>
                            <td data-title="Phone Number" valign="top" >{$value.NPO_CD_PhoneOffice}</td>
                            <td data-title="Email Address" valign="top" >{$value.NPO_CD_EmailAddress}</td>
                            <td data-title="Company/Organisation Name" valign="top" >
                            <center>
                            {if="$value.NPO_CD_CompanyName==1"}Yes{else}No{/if}
                            </center>
                            </td>
                          </tr>
                          {/loop}
                          {else}
                          <tr>
                          	<td colspan="6" class="text-center">No Record Found</td>
                          </tr>
                          {/if}
                   </table>
                    </section>
               </div>
          </div>      
       </div>             
</form>