<div id="rightSection">
  <div class="rightPannel">
    <div class="breadcrumb">
      <ul>
        <li title="Dashboard"><a href='{#URL#}home/'><img src='{#RESOURCES#}img/dashboard_thumb.png'/>Dashboard</a></li>
        <li>&nbsp;»&nbsp;</li>
        <li title="Products">NPO</li>
        <li>&nbsp;»&nbsp;</li>
        <li title="Products">NPOs List</li>
      </ul>
    </div>
    <div class="contentSection">
      	<div class="pageHeader text-left pull-left"><li class="fa fa-fw fa-file-text iColor"></li>&nbsp;NPOs List</div>
        <!--button right section -->
        <div class="pull-right">
          <a href='{#URL#}static/index/add-page' class="btn btn-primary" title="Add Product"><i class="fa fa-edit"></i>&nbsp;Add Static Pages</a>
          <a href='{#URL#}static/index/group-list' class="btn btn-primary" title="Add Product"><i class="fa fa-list-ul"></i>&nbsp;Group List</a>
        </div>
        {include="common/message"}
        <div class="pageSubHeader overflow-hidden psTitle">
            <div class="pull-left margin-left-10">
                 Filter Result
            </div>
        </div>
       <div class="overflow-hidden">
       <form class="sky-form" id="formSection" name="formSection" method="post" autocomplete="off" action="{#URL#}npos">
      		<input type="hidden" name="pageNumber" id="pageNumber" value=""  />
             <div class="row">
					<div class="viewmorSection" >
                    	<section class="col col-2 pull-left">
                            <label class="select">
                            <select name="category" id="category">
								<option value="">Category</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>JACKSONVILLE</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>JACKSONVILLE</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>JACKSONVILLE</option>
                            </select>
                            <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-2 pull-left">
                            <label class="select">
                            <select name="subcategory" id="subcategory">
								<option value="">Sub-Category</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>JACKSONVILLE1</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>JACKSONVILLE2</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>JACKSONVILLE3</option>
                            </select>
                            <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-2 pull-left">
                            <label class="select">
                            <select name="state" id="state">
								<option value="">State</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>JACKSONVILLE1</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>JACKSONVILLE2</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>JACKSONVILLE3</option>
                            </select>
                            <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-2 pull-left">
                            <label class="select">
                            <select name="city" id="city">
								<option value="">City</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>JACKSONVILLE1</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>JACKSONVILLE2</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>JACKSONVILLE3</option>
                            </select>
                            <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-2 pull-left">
                            <label class="select">
                            <select name="status" id="status">
								<option value="">Status</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>Active</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>Inactive</option>
                            </select>
                            <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-2 pull-left">
                            <label class="select">
                            <select name="deductionmode" id="deductionmode">
								<option value="">Deduction Mode</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>JACKSONVILLE1</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>JACKSONVILLE2</option>
                                <option value="ite1" {if="$groupdetail.0.Language == $key"} selected='selected' {/if}>JACKSONVILLE3</option>
                            </select>
                            <i></i>
                            </label>
                        </section>
                    </div>
             </div>
             
             <div class="row">
					<div class="viewmorSection" >
                    	<section class="col col-2">
                            <label class="select">Text Search</label>
                            <label class="select">
                                <select name="fields" id="fields">
                                    <option value="">-Any Where-</option>
                                    <option value="NPO_Name">Name</option>
                                    <option value="NPO_EIN">EIN</option>
                                    <option value="NPO_Street">Street</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-2 margin-top-20">
                            <label class="select">
                                <select name="condition" id="condition">
                                    <option value="NPO_Name">Is Like</option>
                                    <option value="NPO_Street">Start With</option>
                                    <option value="NPO_EIN">Exact Match</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                        
                        <section class="col col-4 margin-top-20">
                            <label class="input">
                                <input type="text" id="keyword" name="keyword"  value="{$groupdetail.0.Title}"   placeholder="Search Keyword"/>
                            </label>
                        </section>
                        
                        <section class="col col-4 margin-top-20">
                        <button type="submit" name="search" value="search" id="search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Show Result</button>
                        <button type="button" name="reset" value="reset" class="btn btn-danger" onClick="reloadPage();"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
                        <button type="submit" name="search" value="search" id="search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Export Result</button>
                        </section>
                    </div>
             </div>
             
        	</form>
	   </div>
       <!--commented code -->
       <!--div class="pageSubHeader overflow-hidden psTitle">
           <!-- <div class="pull-left margin-left-10">
                 {$totalnpos} Results Found 
            </div>-->
            <!--<div class="pull-right margin-right-10">
            	<a href='{#URL#}product/add' class="btn btn-primary btn-sm" title="Add Product"><i class="fa fa-edit"></i>&nbsp;Add Product</a>
            </div>-->
       <!-- </div>-->
        <div class="overflow-hidden ">
        <div class="pull-left margin-top-10"><label class="label">Showing {$startRecord}-{$endRecord} of {$totalnpos} records </label> </div>
        <div class="overflow-hidden pull-right">
            {if condition="count($PagingList)>1"}
                <ul class="pagination pagination-sm">
                    {if="$PageSelected!=1"}
                        <li class="paginate_button previous"><a href='javascript://' onClick="return GotoPage(1);"  title="First Page">First</a></li>
                        <li class="paginate_button previous"><a href='javascript://' onClick="return GotoPage({$PageSelected-1});"  title="Previous">«</a></li>
                    {/if}
                    {loop="PagingList"} 
                        {if="$PageSelected==$value.PageNo"}
                            <li class="active paginate_button"><a title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                        {else}
                            <li class="paginate_button"><a href='javascript://' onClick="return GotoPage({$value.PageNo});" title="Page No {$value.PageNo}" >{$value.PageNo}</a></li>
                        {/if} 
                    {/loop}
                    {if="$PageSelected!=$lastPage"}
                        <li class="paginate_button next"><a href='javascript://' onClick="return GotoPage({$PageSelected+1});"  title="Next">»</a></li>
                        <li class="paginate_button next"><a href='javascript://' onClick="return GotoPage({$lastPage});"  title="Last Page">Last</a></li>
                    {/if}
                </ul>
            {/if}
        </div>
        </div>
        <!--commented code -->
        <table cellpadding="0" cellspacing="0" width="100%" border="0" id="sky-table">
          <thead>
            <tr>
              <th>EIN</th>
              <th>Name</th>
              <th>ICO</th>
              <th>Street</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
         {if="$nposlist"}
          	{loop="nposlist"}
                <tr>
                    <td data-title="EIN">{if="$value.NPO_EIN!=''"}{$value.NPO_EIN}{else} &nbsp; {/if}</td>
                    <td data-title="Name">{if="$value.NPO_Name!=''"}{$value.NPO_Name}{else} &nbsp; {/if}</td>
                    <td data-title="ICO">{if="$value.NPO_ICO!=''"}{$value.NPO_ICO}{else} &nbsp; {/if}</td>
                    <td data-title="Street">{if="$value.NPO_Street!=''"}{$value.NPO_Street}{else} &nbsp; {/if}</td>
                    <td data-title="City">{if="$value.NPO_City!=''"}{$value.NPO_City}{else} &nbsp; {/if}</td>
                    <td data-title="State">{if="$value.NPO_State!=''"}{$value.NPO_State}{else} &nbsp; {/if}</td>
                    <td data-title="Zip">{if="$value.NPO_Zip!=''"}{$value.NPO_Zip}{else} &nbsp; {/if}</td>
                    <td data-title="Status">{if="$value.NPO_Status=='1'"}<span class="icon active margin-left-15" title="Active"></span>{else}<span class="icon inactive margin-left-15" title="Inactive"></span>{/if}</td>
                </tr>
            {/loop}
          {else}
				<tr><td colspan="8" class="text-center">No Record Found.</td></tr>
          {/if}
        </tbody>
        </table>
         <!--<div class="overflow-hidden pull-right">
            {if condition="count($PagingList)>1"}
                <ul class="pagination pagination-sm">
                    {if="$PageSelected!=1"}
                        <li class="paginate_button previous"><a href='javascript://' onClick="return GotoPage(1);"  title="First Page">First</a></li>
                        <li class="paginate_button previous"><a href='javascript://' onClick="return GotoPage({$PageSelected-1});"  title="Previous">«</a></li>
                    {/if}
                    {loop="PagingList"} 
                        {if="$PageSelected==$value.PageNo"}
                            <li class="active paginate_button"><a title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                        {else}
                            <li class="paginate_button"><a href='javascript://' onClick="return GotoPage({$value.PageNo});" title="Page No {$value.PageNo}" >{$value.PageNo}</a></li>
                        {/if} 
                    {/loop}
                    {if="$PageSelected!=$lastPage"}
                        <li class="paginate_button next"><a href='javascript://' onClick="return GotoPage({$PageSelected+1});"  title="Next">»</a></li>
                        <li class="paginate_button next"><a href='javascript://' onClick="return GotoPage({$lastPage});"  title="Last Page">Last</a></li>
                    {/if}
                </ul>
            {/if}
        </div>-->
    </div>
  </div>
</div>
