<!--<link rel="stylesheet" type="text/css" href='{#RESOURCES#}css/style.css'>-->
<ul class="breadcrumb">
  <li title="Dashboard"><a href='{#URL#}home/'>Dashboard</a></li>
  <li title="NPOs"><a href='{#URL#}npos/'>Non-Profit organization</a></li>
  <li title="NPO Import / Export">Manage - Import / Export </li>
</ul>
{include="common/message"}
<div class="oh">
  <div class="col col-12">
    <h1 class="heading-1">&nbsp;Manage Import/Export</h1>
  </div>
</div>
<div id="content-box">
  <div class="section-heading">&nbsp;Here you can import or export NPOs detail in CSV file.<a href='javascript://' class="form-toggle-icon"><i class="fa fa-minus-square-o"></i></a></div>
  <div class="content-section">
    <div class="row">
      <div class="col col-3">
        <div class="column-box1"> <span class="column-box-img"><i class="fa fa-download fa-3x"></i></span>
          <div class="box-heading">Import NPOs</div>
          <div class="oh"> lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem lorem ipsum lorem ipsum lorem ipsum lorem 
            ipsum lorem ipsum lorem ipsum lorem ipsum lorem </div>
          <div class="column-box1-bottom"> <a href='{#URL#}npos/index/import-csvfile' title="Import NPOs">Import NPOs</a> </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="column-box1"> <span class="column-box-img"><i class="fa fa-upload fa-3x"></i></span>
          <div class="box-heading">Export NPOs</div>
          <div class="oh"> lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem lorem ipsum lorem ipsum lorem ipsum lorem 
            ipsum lorem ipsum lorem ipsum lorem ipsum lorem </div>
          <div class="column-box1-bottom"> <a href='{#URL#}nposprocess/index/export-nposdata' title="Export NPOs">Export NPOs</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
