<link rel="stylesheet" type="text/css" href='{#RESOURCES#}css/style.css'>

<script type="text/javascript">

	$(document).ready(function()
	{
		/*$('.viewmoreBtn i').click(function()
		{
			 $(this).toggleClass("fa-plus fa-minus");
			 $(this).closest('.row').find('.viewmorSection').slideToggle();
			
		});*/
		
		$(".unmask").click(function(){	
			if($("#password").attr('type')=='password')
			{
				$(this).html('<i class="fa fa-eye-slash">&nbsp;</i>Mask');
				$("#password").attr('type','text');		
			}
			else
			{
				$("#password").attr('type','password');		
				$(this).html('<i class="fa fa-eye">&nbsp;</i>Unmask')
			}
		});	
		
		$('input[name="module[]"]').click(function(){
			if($(this).prop('checked')==true)	
			{
				$(this).closest('li').find("input:checkbox").prop('checked',true);	
				ID=$(this).attr('class');
				//alert(ID);
				//console.log($('#'+ID).parent().parent().parent())
				$('#'+ID).prop('checked',true);	
				ID2	= $('#'+ID).attr('class');
				$('#'+ID2).prop('checked',true);
				
				ID3	= $('#'+ID2).attr('class');
				$('#'+ID3).prop('checked',true);	
			}
			else
			{
				$(this).parent().parent().closest('li').find("input:checkbox").prop('checked',false);
				len	= $(this).parent().parent().siblings().find("input[type=checkbox]:checked").length;
				if(len == 0)
				{
					$(this).parent().parent().parent().closest('li').find("input:checkbox").prop('checked',false);	
				}
				len2	= $(this).parent().parent().parent().parent().siblings().find("input[type=checkbox]:checked").length;
				{
					if(len2 == 0)
					{
						$(this).parent().parent().parent().parent().parent().closest('li').find("input:checkbox").prop('checked',false);	
					}	
				}
				
				len3	= $(this).parent().parent().parent().parent().parent().parent().siblings().find("input[type=checkbox]:checked").length;
				{
					if(len3 == 0)
					{
						$(this).parent().parent().parent().parent().parent().parent().parent().closest('li').find("input:checkbox").prop('checked',false);	
					}	
				}
			}
		});
		
		
		$('#selectAllS').on("click",function() 
		{
			selectAllElements('accessModuleS','selectAllS');
		});
		$('#selectAllU').on("click",function() 
		{
			selectAllElements('accessModuleU','selectAllU');
		});
		$('#selectAllL').on("click",function() 
		{
			selectAllElements('accessModuleL','selectAllL');
		});
		
		$('input[name=admintype]').click(function()
		{	
			SetDisabled($(this),false)
			Obj = $(this);
			$('input[name=admintype]').each(function()
			{
				if(!($(this).is(Obj)))
				SetDisabled($(this),true)
			});
		});
		
		 $('#selectAllS').change(function() 
		 {
		   if ($(this).is(':checked')) 
		   {
			  $(this).parent().parent().parent().find("input:checkbox").prop("checked",true)
		   }
		   else
		   {
			  $(this).parent().parent().parent().find("input:checkbox").prop("checked",false)
		   }
   		});
		
		 $('#selectAllU').change(function() 
		 {
			
		   if ($(this).is(':checked')) 
		   {
			  $(this).parent().parent().parent().find("input:checkbox").prop("checked",true)
		   }
		   else
		   {
			  $(this).parent().parent().parent().find("input:checkbox").prop("checked",false)
		   }
   		});
		
		 $('#selectAllL').change(function() 
		 {
		   if ($(this).is(':checked')) 
		   {
			  $(this).parent().parent().parent().find("input:checkbox").prop("checked",true)
		   }
		   else
		   {
			  $(this).parent().parent().parent().find("input:checkbox").prop("checked",false)
		   }
   		});
	
		
	})
	
	function selectAllElements(controlName,controlId)
	{
		controlName='input[name*='+controlName+'\\[]';
		console.log(controlName);
		$(controlName).each(function()
		{
			  if($('#'+controlId).is(':checked'))
				   $(this).attr('checked',true);
			  else
			  {
				   $(this).attr('checked',false);
			  }
		});
	}
	
	function SetDisabled(Obj,enabled)
	{
	   Obj.closest('ul').find('input[type=checkbox]').each(
	   function()
	   {
		   if(enabled)
		   {
				$(this).attr('disabled','disabled').parent().addClass("state-disabled");
		   }
		   else
		   {
			  
			$(this).removeAttr('disabled').parent().removeClass("state-disabled");
		   }
	   })
	   
		 if(enabled)
		 {
			 Obj.closest('li').removeClass('gridHeaderSel');
		 }
		 else
		 {
			 Obj.closest('li').addClass('gridHeaderSel');
		 }		   
	}	
	
	
	function DeleteUser(userID)
	{
		if(confirm("Are you sure, you want to delete this user"))
		{
			location.href=SITEURL+"adminusers/index/delete-admin-user/"+userID;	
		}	
	}
</script>
<script type="text/javascript" src='{#RESOURCES#}js/validateadminusers.js'></script>
<div id="rightSection">
  <div class="rightPannel">
    <div class="breadcrumb">
      <ul>
        <li title="Dashboard"><a href='{#URL#}home/'><img src='{#RESOURCES#}img/dashboard_thumb.png'/>Dashboard</a></li>
        <li>&nbsp;»&nbsp;</li>
        <li title="Users">Users</li>
        <li>&nbsp;»&nbsp;</li>
        <li title="Admin Users"><a href='{#URL#}adminusers'>Admin Users</a></li>        
        <li>&nbsp;»&nbsp;</li>
        <li title="{if="$case == 'editadmin' "}Edit {else} Add {/if} ">{if="$case == 'editadmin'"}Edit {else} Add {/if}</li>
      </ul>
    </div>
    <div class="contentSection">
    <form id="adminuserform" name="adminuserform" class="sky-form" method="post"  {if="$case=='editadmin'"}action='{#URL#}adminusers/index/update-admin-user/' {else}
     action='{#URL#}adminusers/index/insert-admin-user/'{/if} autocomplete="off">
     {if="$case=='editadmin'"}
            <input type="hidden" name="adminuserid" id="adminuserid" value="{$AdminUserID}"/>
            {/if}
      <div class="pageHeader text-left">
      <li class="fa fa-fw fa-file-text iColor"></li>&nbsp;Admin User- {if="$case=='editadmin'"}Edit {else}Add{/if}
      <div class="pull-right margin-right-20">
          {if="$case=='editadmin'"}
          <a href='{#URL#}adminusers/index/add-admin-user' class="btn btn-secondary" title="Add User"><i class="fa fa-user-plus"></i>&nbsp;Add User</a>
          {/if}
          <a href='{#URL#}adminusers' class="btn btn-secondary" title="User List"><i class="fa fa-list-ul"></i>&nbsp;User List</a>
          {if="$case=='editadmin'"}          
          <button type="submit" class="btn btn-primary" title="Update Admin User" value="Save Changes">
          <i class="fa fa-save"></i>&nbsp;Save Changes</button>
          {else}
          <button type="submit" class="btn btn-primary" title="Add Admin User" value="Save">
          <i class="fa fa-save"></i>&nbsp;Save</button>
          {/if}
      </div>
      </div>
      {include="common/message"}
      <div class="">
				<fieldset>
				<div class="row">
					<div class="sky-form-headingsection psTitle">
						<div class="sky-form-heading pull-left">Basic Admin Details</div>
						<div class="viewmoreBtn pull-right">
							<i class="fa fa-minus"></i>
						 </div>
					</div>
					<div class="viewmorSection" >
					<!--<div class="sky-form-subheading">Sub Heading</div>-->
					<section class="col col-6">
						<label class="label">First Name</label>
						<label class="input">
							<input type="text" id="firstName" name="firstName" placeholder="Enter first name "  value="{$AdminUserDetails.Admin_FirstName}">
						</label>
					</section>
					<section class="col col-6">
						<label class="label">Last Name</label>
						<label class="input">
							<input type="text" id="lastName" name="lastName"    placeholder="Enter last name"
                             value="{$AdminUserDetails.Admin_LastName}">
						</label>
					</section>
					<section class="col col-6">
						<label class="label">Email Address</label>
						<label class="input">
							<input type="text" id="emailAddress" name="emailAddress" placeholder="Enter email address"   value="{$AdminUserDetails.Admin_EmailID}">
						</label>
					</section>
					<section class="col col-6">
						<label class="label">User Name</label>
						<label class="input">
							<input type="text" id="userName" placeholder="Enter user name" name="userName"   value="{$AdminUserDetails.Admin_UserName}">
						</label>
					</section>
                    <section class="col col-6">
						<label class="label">Password</label>
						<label class="input col-10 pull-left clear-padding">
							<input type="password" id="password" name="password" placeholder="Enter password"  maxlength="12"  value="{$AdminUserDetails.Admin_Password|PassDec}">
						</label>
                        <div class="display-inline-block padding-left-10 padding-top-10">
                        	<label class="db"><a href='javascript://' class="unmask"><i class="fa fa-eye">&nbsp;</i>Unmask</a></label>                                               
                        </div>
					</section>
					<section class="col col-6 margin-top-30">
						<label class="checkbox">
                                <input type="checkbox" id="isActive" name="isActive"  value="1" {if="$AdminUserDetails.Admin_Status=='1'"}checked="checked" {/if}><i></i>
                                Allowed to login
                         </label>
					</section>
				</div>
				</div>				
				</fieldset>
				
                <fieldset>
				<div class="row">
                	<div class="sky-form-headingsection psTitle">
						<div class="sky-form-heading pull-left">Admin Module Rights</div>
                        <div class="viewmoreBtn pull-right">
							<i class="fa fa-minus"></i>
						 </div>
					</div>
                    <div class="viewmorSection" >
					<section class="col col-4">
                    <div class="moduleRightSection">
                    	<ul>
                        	<li style="height:39px;margin-bottom:1px;background-color: #474544;color: white !important;width:250px;">
                                <label style="padding-left: 30px !important;color:#FFF;" class="checkbox" >
                                    <input type="radio" name="admintype" {if="$AdminUserDetails.Admin_Type=='1'"}checked="checked"{/if} id="admintypeS" value="1" /><i style="margin-left:5px !important;"></i>
                                    Super Admin
                                </label>
                            </li>
                            
                             <li style="list-style:none;margin-bottom:10px;">
                                <label style="padding-left: 25px !important;height:15px;" class="checkbox">
                                    <input type="checkbox" {if="$AdminUserDetails.Admin_Type=='1'"}checked="checked"{else}disabled{/if} name="selectAllS" id="selectAllS" value="1" /><i></i> Mark / Unmark All
                                </label>
                            </li>
							<div class="selectionPoint">                  
                        	{loop="arrModule"}
                            <li><!--first level -->
                            <label {if="$AdminUserDetails.Admin_Type=='1'"} class="checkbox" {else} class="checkbox state-disabled" {/if}>
                            {$value.level}<input type="checkbox" id="id_{$value.Module_ID}" name="module[]" value="{$value.Module_ID}"  {if="$AdminUserDetails.Admin_Type=='1'"}{if="in_array($value.Module_ID,$AdminUserDetails.Admin_AccessModuleIDs)"}checked="checked"{/if}{else}disabled{/if} class="P"> <i></i><span class="text-bold">{$value.Module_Caption}</span>
                             </label>
                             
                             {if="$value.children|count > 0"}
                             <ul class="margin-left-30"><!--second level -->
                             	{loop="$value.children"}
                             	<li>
                                <label {if="$AdminUserDetails.Admin_Type=='1'"} class="checkbox" {else} class="checkbox state-disabled" {/if}>
                            {$value2.level}<input type="checkbox" id="id_{$value2.Module_ID}" name="module[]" value="{$value2.Module_ID}"  {if="$AdminUserDetails.Admin_Type=='1'"}{if="in_array($value2.Module_ID,$AdminUserDetails.Admin_AccessModuleIDs)"}checked="checked"{/if}{else}disabled{/if} class="id_{$value2.Module_ParentID}"> <i></i><span class=" {if="$value2.Depth=='1'"}text-bold {/if} ">{$value2.Module_Caption}</span>
                                </label>
                                <!--third level -->
                                 {if="$value2.children|count > 0"}
                                 	<ul class="margin-left-30">
                                    	{loop="$value2.children"}
                                        	<li>
                                             <label {if="$AdminUserDetails.Admin_Type=='1'"} class="checkbox" {else} class="checkbox state-disabled" {/if}>
                            {$value.level3}<input type="checkbox" id="id_{$value3.Module_ID}" name="module[]" value="{$value3.Module_ID}"  {if="$AdminUserDetails.Admin_Type=='1'"}{if="in_array($value3.Module_ID,$AdminUserDetails.Admin_AccessModuleIDs)"}checked="checked"{/if}{else}disabled{/if}  class="id_{$value3.Module_ParentID}"> <i></i><span class="">{$value3.Module_Caption}</span>
                            </label>
                            				{if="$value3.children|count > 0"}
                                 	<ul class="margin-left-30">
                                    	{loop="$value3.children"}
                                        	<li>
                                             <label {if="$AdminUserDetails.Admin_Type=='1'"} class="checkbox" {else} class="checkbox state-disabled" {/if}>
                            {$value4.level}<input type="checkbox" id="id_{$value4.Module_ID}" name="module[]" value="{$value4.Module_ID}"  {if="$AdminUserDetails.Admin_Type=='1'"}{if="in_array($value4.Module_ID,$AdminUserDetails.Admin_AccessModuleIDs)"}checked="checked"{/if}{else}disabled{/if}  class="id_{$value4.Module_ParentID}"> <i></i><span class="">{$value4.Module_Caption}</span>
                            </label>
                                            </li>
                                        {/loop}
                                    </ul>
                                 {/if}
                                            </li>
                                        {/loop}
                                    </ul>
                                 {/if}
                                <!--third level end-->
                                </li>
                                {/loop}
                             </ul><!--second level end-->
                             {/if}
                            </li><!--first level end-->                           
                            {/loop}
                            </div>
                        </ul>
                        
                        
                        
                        
                        
                    </div>
                   </section>
                   
                   <section class="col col-4">
                   <ul style="display:table-cell;vertical-align:top;">
                        <li style="height:39px;margin-bottom:1px;background-color: #474544;color: white !important;width:250px;">
                           <label style="padding-left: 30px !important;color:#FFF;" class="checkbox" >
                                 <input type="radio" {if="$AdminUserDetails.Admin_Type=='2'"}checked="checked"{/if} name="admintype" id="admintypeU" value="2" /><i style="margin-left:5px !important;"></i>
                                 Sub Admin
                            </label>
                        </li>
                        <li style="list-style:none;margin-bottom:10px;">
                           <label style="padding-left: 25px !important;height:15px;" class="checkbox">
                                <input type="checkbox" {if="$AdminUserDetails.Admin_Type=='2'"}checked="checked"{else}disabled{/if} name="selectAllU" id="selectAllU" value="1" /><i></i>Mark / Unmark All
                            </label>
                        </li>
                        
                        {loop="arrModule"}
                            <li><!--first level -->
                            <label {if="$AdminUserDetails.Admin_Type=='2'"} class="checkbox" {else} class="checkbox state-disabled" {/if}>
                            {$value.level}<input type="checkbox" id="id_{$value.Module_ID}_admintypeU" name="module[]"  value="{$value.Module_ID}"  {if="$AdminUserDetails.Admin_Type=='2'"}{if="in_array($value.Module_ID,$AdminUserDetails.Admin_AccessModuleIDs)"}checked="checked"{/if}{else}disabled{/if} class="P"> <i></i><span class="text-bold">{$value.Module_Caption}</span>
                             </label>
                             {if="$value.children|count > 0"}
                             <ul class="margin-left-30"><!--second level -->
                             	{loop="$value.children"}
                             	<li>
                                <label {if="$AdminUserDetails.Admin_Type=='2'"} class="checkbox" {else} class="checkbox state-disabled" {/if}>
                            {$value2.level}<input type="checkbox"  id="id_{$value2.Module_ID}" name="module[]" value="{$value2.Module_ID}"  {if="$AdminUserDetails.Admin_Type=='2'"}{if="in_array($value2.Module_ID,$AdminUserDetails.Admin_AccessModuleIDs)"}checked="checked"{/if}{else}disabled{/if} class="id_{$value2.Module_ParentID}_admintypeU"> <i></i><span class=" {if="$value2.Depth=='1'"}text-bold {/if} ">{$value2.Module_Caption}</span>
                                </label>
                                <!--third level -->
                                 {if="$value2.children|count > 0"}
                                 	<ul class="margin-left-30">
                                    	{loop="$value2.children"}
                                        	<li>
                                             <label {if="$AdminUserDetails.Admin_Type=='2'"} class="checkbox" {else} class="checkbox state-disabled" {/if}>
                            {$value.level3}<input type="checkbox"  id="id_{$value3.Module_ID}" name="module[]" value="{$value3.Module_ID}" {if="$AdminUserDetails.Admin_Type=='2'"} {if="in_array($value3.Module_ID,$AdminUserDetails.Admin_AccessModuleIDs)"}checked="checked"{/if}{else}disabled{/if}  class="id_{$value3.Module_ParentID}_admintypeU"> <i></i><span class="">{$value3.Module_Caption}</span>
                            </label>
                            				{if="$value3.children|count > 0"}
                                 	<ul class="margin-left-30">
                                    	{loop="$value3.children"}
                                        	<li>
                                             <label {if="$AdminUserDetails.Admin_Type=='2'"} class="checkbox" {else} class="checkbox state-disabled" {/if}>
                            {$value4.level}<input type="checkbox"  id="id_{$value4.Module_ID}" name="module[]" value="{$value4.Module_ID}"  {if="$AdminUserDetails.Admin_Type=='2'"}{if="in_array($value4.Module_ID,$AdminUserDetails.Admin_AccessModuleIDs)"}checked="checked"{/if}{else}disabled{/if}  class="id_{$value4.Module_ParentID}_admintypeU"> <i></i><span class="">{$value4.Module_Caption}</span>
                            </label>
                                            </li>
                                        {/loop}
                                    </ul>
                                 {/if}
                                            </li>
                                        {/loop}
                                    </ul>
                                 {/if}
                                <!--third level end-->
                                </li>
                                {/loop}
                             </ul><!--second level end-->
                             {/if}
                            </li><!--first level end-->                           
                            {/loop}
                	</ul>
                   </section>
                   
                   <section class="col col-4">
                   <ul style="display:table-cell;vertical-align:top;">
                        <li style="height:39px;margin-bottom:1px;background-color: #474544;color: white !important;width:250px;">
                           <label style="padding-left: 30px !important;color:#FFF;" class="checkbox" >
                                 <input type="radio" {if="$AdminUserDetails.Admin_Type=='3'"}checked="checked"{/if} name="admintype" id="admintypeL" value="3" /><i style="margin-left:5px !important;"></i>
                                 Limited Admin
                            </label>
                        </li>
                        <li style="list-style:none;margin-bottom:10px;">
                           <label style="padding-left: 25px !important;height:15px;" class="checkbox">
                                <input type="checkbox" {if="$AdminUserDetails.Admin_Type=='3'"}checked="checked"{else}disabled{/if} name="selectAllL" id="selectAllL" value="1" /><i></i>Mark / Unmark All
                            </label>
                        </li>
                        
                        {loop="arrModule"}
                            <li><!--first level -->
                            <label {if="$AdminUserDetails.Admin_Type=='3'"} class="checkbox" {else} class="checkbox state-disabled" {/if}>
                            {$value.level}<input type="checkbox"  id="id_{$value.Module_ID}_admintypeL" name="module[]" value="{$value.Module_ID}" {if="$AdminUserDetails.Admin_Type=='3'"} {if="in_array($value.Module_ID,$AdminUserDetails.Admin_AccessModuleIDs)"}checked="checked"{/if}{else}disabled{/if} class="P"> <i></i><span class="text-bold">{$value.Module_Caption}</span>
                             </label>
                             {if="$value.children|count > 0"}
                             <ul class="margin-left-30"><!--second level -->
                             	{loop="$value.children"}
                             	<li>
                                <label {if="$AdminUserDetails.Admin_Type=='3'"} class="checkbox" {else} class="checkbox state-disabled" {/if}>
                            {$value2.level}<input type="checkbox"  id="id_{$value2.Module_ID}" name="module[]" value="{$value2.Module_ID}"  {if="$AdminUserDetails.Admin_Type=='3'"}{if="in_array($value2.Module_ID,$AdminUserDetails.Admin_AccessModuleIDs)"}checked="checked"{/if}{else}disabled{/if} class="id_{$value2.Module_ParentID}_admintypeL"> <i></i><span class=" {if="$value2.Depth=='1'"}text-bold {/if} ">{$value2.Module_Caption}</span>
                                </label>
                                <!--third level -->
                                 {if="$value2.children|count > 0"}
                                 	<ul class="margin-left-30">
                                    	{loop="$value2.children"}
                                        	<li>
                                             <label {if="$AdminUserDetails.Admin_Type=='3'"} class="checkbox" {else} class="checkbox state-disabled" {/if}>
                            {$value.level3}<input type="checkbox"  id="id_{$value3.Module_ID}" name="module[]" value="{$value3.Module_ID}"  {if="$AdminUserDetails.Admin_Type=='3'"}{if="in_array($value3.Module_ID,$AdminUserDetails.Admin_AccessModuleIDs)"}checked="checked"{/if}{else}disabled{/if}  class="id_{$value3.Module_ParentID}_admintypeL"> <i></i><span class="">{$value3.Module_Caption}</span>
                            </label>
                            				{if="$value3.children|count > 0"}
                                 	<ul class="margin-left-30">
                                    	{loop="$value3.children"}
                                        	<li>
                                             <label {if="$AdminUserDetails.Admin_Type=='1'"} class="checkbox" {else} class="checkbox state-disabled" {/if}>
                            {$value4.level}<input type="checkbox" id="id_{$value4.Module_ID}" name="module[]" value="{$value4.Module_ID}"  {if="$AdminUserDetails.Admin_Type=='3'"}{if="in_array($value4.Module_ID,$AdminUserDetails.Admin_AccessModuleIDs) && $AdminUserDetails.Admin_Type=='3'"}checked="checked"{/if}{else}disabled{/if}  class="id_{$value4.Module_ParentID}_admintypeL"> <i></i><span class="">{$value4.Module_Caption}</span>
                            </label>
                                            </li>
                                        {/loop}
                                    </ul>
                                 {/if}
                                            </li>
                                        {/loop}
                                    </ul>
                                 {/if}
                                <!--third level end-->
                                </li>
                                {/loop}
                             </ul><!--second level end-->
                             {/if}
                            </li><!--first level end-->                           
                            {/loop}
                	</ul>
                   </section>
                   
                   
                   </div>
				</div>
                </fieldset>
                
				<fieldset>
				<div class="row">
                	<div class="sky-form-headingsection psTitle">
						<div class="sky-form-heading pull-left">Admin Login Security Details</div>
                        <div class="viewmoreBtn pull-right">
							<i class="fa fa-minus"></i>
						</div>
					</div>
                    <div class="viewmorSection" >					             
                        <section class="col col-4">
                            <label class="select">Access Period</label>
                            <label class="select">
                                <select name="accessPeriod" id="accessPeriod">
                                    {loop="$accessperiod"}
                                    <option value="{$key}" {if="$AdminUserDetails.Admin_AccessPeriod==$key"}selected="selected"{/if}>{$value}</option>
                                    {/loop}
                                </select>
                                <i></i>
                            </label>
                        </section>                       
                        <section class="col col-8">
                            <label class="checkbox">
                            <input type="checkbox" id="loginWithIP" name="loginWithIP"  value="1" {if="$AdminUserDetails.Admin_LoginWithIP=='1'"}checked="checked" {/if}><i></i>
                            Can login with only below IP addresses
                            </label>                 
                       
                            <label class="textarea display-block">
                                <textarea rows="2" name="loginIPAddresses" id="loginIPAddresses" placeholder="Enter IP addresses with comma separated">{$AdminUserDetails.Admin_AccessIPAddress}</textarea>
                            </label>
                        </section>                        
                        <section class="col col-12">
                        	<label class="label">Remark</label>
                            <label class="textarea">
                                <textarea rows="2" name="remark" id="remark" placeholder="Enter remark">{$AdminUserDetails.Admin_Remarks}</textarea>
                            </label>
                        </section>
                    </div> 
                </div>                
				</fieldset>
                {if="$case=='editadmin'"}
                <fieldset>
				<div class="row">
                	<div class="sky-form-headingsection psTitle">
						<div class="sky-form-heading pull-left">Admin Log Details</div>
                        <div class="viewmoreBtn pull-right">
							<i class="fa fa-minus"></i>
						</div>
					</div>
                    <div class="viewmorSection">					             
                        <section class="display-block margin-left-15 margin-right-15">
                            <label class="label display-inline-block col-2">Last Modified By : </label>
                           	<label class="label text-bold display-inline-block col-2">{$AdminUserDetails.Admin_LastUpdatedBy}</label>                            
                        </section> 
                        <section class="display-block margin-left-15 margin-right-15">                            
                            <label class="label display-inline-block col-2">Added Date : </label>
                           	<label class="label text-bold display-inline-block col-2">{$AdminUserDetails.Admin_AddedDate|formatDate:'F d, Y'}</label>
                        </section> 
                        <section class="display-block margin-left-15 margin-right-15">                            
                            <label class="label display-inline-block col-2">Last Modified Date : </label>
                           	<label class="label text-bold display-inline-block col-2">{$AdminUserDetails.Admin_LastUpdatedDate|formatDate:'F d, Y g:i a'}</label>
                        </section> 
                    </div> 
                </div>                
				</fieldset>
                  {/if} 
                <fieldset>
                	<section class="pull-right">
						{if="$case=='editadmin'"}
                          <button type="button" class="btn btn-primary btn-danger" title="Delete Admin User" value="Delete" onclick="DeleteUser('{$AdminUserID|keyEncrypt}')">
                          <i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                          <button type="submit" class="btn btn-primary" title="Update Admin User" value="Save Changes">
                            <i class="fa fa-save"></i>&nbsp;Save Changes</button>  
                        {else}    
                        	<button type="submit" class="btn btn-primary" title="Add Admin User" value="Save">
                            <i class="fa fa-save"></i>&nbsp;Save</button>
                        {/if}
					</section>
                </fieldset>		
              
      </div>
      </form>
    </div>
  </div>
</div>