<script type="text/javascript" src='{#RESOURCES#}js/validatenpo.js'></script>
<script>
$(document).ready(function(){
	$("#nposubsectionname").click(function(){
		var DivPosition	= $(this).offset();
		var TopPosition	= parseInt(DivPosition.top)+20;
		TopPosition		= TopPosition+"px";
		$(".dropdowndiv").removeClass("display-none");	
		//$(".dropdowndiv").css("top",TopPosition);
		
	});	
	
	$(document).click(function(event) {
		var ClickedElement = $(event.target).attr("class");//alert(ClickedElement);
		if(ClickedElement.indexOf('dropdownclass') === -1)
		{
		  $(".dropdowndiv").addClass("display-none");	
		}
	});
});
</script>
<div id="rightSection">
  <div class="rightPannel">
    <div class="breadcrumb">
      <ul>
        <li title="Dashboard"><a href='{#URL#}home/'><img src='{#RESOURCES#}img/dashboard_thumb.png'/>Dashboard</a></li>
        <li>&nbsp;»&nbsp;</li>
        <li title="Products">Non-Profit organization</li>
        <li>&nbsp;»&nbsp;</li>
        <li title="Product - Add">Add New</li>
      </ul>
    </div>
    <div class="contentSection">
    <form class="sky-form" id="nposform" name="nposform"  method="post" action='{#URL#}npos/index/insert-npos' autocomplete="off">
      <div class="pageHeader text-left">
      <li class="fa fa-fw fa-file-text iColor"></li>&nbsp;Non-Profit organization - Add
      <div class="pull-right margin-right-20">
          <button type="submit" class="btn btn-primary" title="Insert NPO" value="Save">
          <i class="fa fa-save"></i>&nbsp;Save</button>
          <a href='{#URL}npos' class="btn btn-primary" title="View Donation"><i class="fa fa-list-ul"></i>&nbsp;View List</a>
      </div>
      </div>
     {include="common/message"}
       
      <div class="">
          		<fieldset>
				<div class="row">
					<div class="sky-form-headingsection  psTitle">
						<div class="sky-form-heading pull-left">NPO General Details</div>
						<div class="viewmoreBtn pull-right">
							<i class="fa fa-minus"></i>
						 </div>
					</div>
					<div class="viewmorSection" >
						<!--<div class="sky-form-subheading">Sub Heading</div>-->
                        <section class="col col-6">
                            <label class="label">EIN</label>
                            <label class="input">
                                <input type="text" id="npoein" name="npoein"  />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">NAME</label>
                            <label class="input">
                                <input type="text" id="nponame" name="nponame"  />
                            </label>
                        </section>
                        
                        <section class="col col-6">
                            <label class="label">ICO</label>
                            <label class="input">
                                <input type="text" id="npoico" name="npoico"   />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">STREET ADDRESS</label>
                            <label class="input">
                                <input type="text" id="npostreet" name="npostreet"   />
                            </label>
                        </section>
                        
                        <section class="col col-4">
                            <label class="label">CITY</label>
                            <label class="input">
                                <input type="text" id="npocity" name="npocity"  />
                            </label>
                        </section>
                        <section class="col col-4 margin-top-5">
                            <label class="select">STATE</label>
                            <label class="select">
                                <select name="npostate" id="npostate">
                                    <option value="">State</option>
                                    {loop="state"}
                                    {if="$value.State_Name!=''"}
                                    <option value="{$value.State_Value}">{$value.State_Name}</option>
                                    {/if}
                                    {/loop}
                                </select>
                                <i></i>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">ZIP</label>
                            <label class="input">
                                <input type="text" id="npozip" name="npozip"   />
                            </label>
                        </section>
                        
                        <section class="col col-6">
                            <label class="label dropdownclass">SUBSECTION NAME</label>
                            <label class="select">
                                <select multiple="multiple"  id="nposubsectionname" class="dropdownclass" >
                                    <option value="" class="dropdownclass">Subsection Name</option>
                                    <!--{loop="category"}
                                    	<option value="{$value.NPOCat_CodeName}" class="dropdownclass">{$value.space}{$value.NPOCat_DisplayName_EN}</option>
                                    {/loop}-->
                                </select>
                                <i></i>
                            </label>
                        </section>
                       <section class="col col-4 dropdowndiv display-none dropdownclass" >
                        	{loop="category"}
                            <label class="dropdownclass checkbox display-block {if="$value.space != ''"} margin-left-20 {/if}">
                                  <i></i><input type="checkbox" name="nposubsectionname[]"  value="{$value.NPOCat_CodeName}"/>{$value.NPOCat_DisplayName_EN}
                            </label>
                            {/loop}
                        </section>
                        <section class="col col-6">
                            <label class="label">SUBSECTION DESCRIPTION</label>
                            <label class="input">
                                <input type="text" id="nposubsectiondescription" name="nposubsectiondescription" />
                            </label>
                        </section>
                        
                       	<section class="col col-4">
                            <label class="label">NTEE CD</label>
                            <label class="input">
                                <input type="text" id="npocd" name="npocd"  />
                            </label>
                        </section>
                        <section class="col col-4 margin-top-5">
                            <label class="select">CATEGORY</label>
                            <label class="input">
                                <input type="text" id="npocategory" name="npocategory" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">IRS NTEE CODE2 DESCRIPTION</label>
                            <label class="input">
                                <input type="text" id="npoirsnteecode2" name="npoirsnteecode2" />
                            </label>
                        </section>
                        
                        <section class="col col-4">
                            <label class="label">AFFILIATION</label>
                            <label class="input">
                                <input type="text" id="npoaffiliation" name="npaffiliation" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">AFF TYPE</label>
                            <label class="input">
                                <input type="text" id="npoafftype" name="npoafftype" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">IRS_AFFILIATION CODES DESCRIPTION</label>
                            <label class="input">
                                <input type="text" id="npoaffiliationcodesdesc" name="npoaffiliationcodesdesc" />
                            </label>
                        </section>
                        
                        <section class="col col-4">
                            <label class="label">DED CODE</label>
                            <label class="input">
                                <input type="text" id="npodedcode" name="npodedcode" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">DED DESCRIPTION</label>
                            <label class="input">
                                <input type="text" id="npodeddesc" name="npodeddesc" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">FOUNDATION CODE</label>
                            <label class="input">
                                <input type="text" id="npofoundationcode" name="npofoundationcode" />
                            </label>
                        </section>
                        
                        <section class="col col-6">
                            <label class="label">FOUNDATION DESCRIPTION</label>
                            <label class="input">
                                <input type="text" id="npofoundationdescription" name="npofoundationdescription" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">ORG DESCRIPTION</label>
                            <label class="input">
                                <input type="text" id="npoorgdesc" name="npoorgdesc" />
                            </label>
                        </section>
                        
                        <section class="col col-4">
                            <label class="label">ORG CODE</label>
                            <label class="input">
                                <input type="text" id="npoorgcode" name="npoorgcode" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">EO STATUS CODE</label>
                            <label class="input">
                                <input type="text" id="npoeostatuscode" name="npoeostatuscode" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">EO DESCRIPTION</label>
                            <label class="input">
                                <input type="text" id="npoeodesc" name="npoeodesc" />
                            </label>
                        </section>
                        
                        <section class="col col-4">
                            <label class="label">ASSET INCOME CODE</label>
                            <label class="input">
                                <input type="text" id="npoassetincomecode" name="npoassetincomecode" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">FILING CODE</label>
                            <label class="input">
                                <input type="text" id="npofilingcode" name="npofilingcode" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">PF FILING CODE</label>
                            <label class="input">
                                <input type="text" id="npopffilingcode" name="npopffilingcode" />
                            </label>
                        </section>
                        
                        <section class="col col-6">
                            <label class="label">IRS ASSET INCOME CODES DESCRIPTION</label>
                            <label class="input">
                                <input type="text" id="npoirsassetincomecodesdesc" name="npoirsassetincomecodesdesc" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">IRS FILING CODE DESCRIPTION</label>
                            <label class="input">
                                <input type="text" id="npoirsfilingcodedesc" name="npoirsfilingcodedesc" />
                            </label>
                        </section>
                        
                        <section class="col col-6">
                            <label class="label">IRS PF FILING CODES DESCRIPTION</label>
                            <label class="input">
                                <input type="text" id="npoirspffilingcodedesc" name="npoirspffilingcodedesc" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">ASSET AMOUNT</label>
                            <label class="input">
                                <input type="text" id="npoassetamt" name="npoassetamt" />
                            </label>
                        </section>
                        
                        <section class="col col-6">
                            <label class="label">INCOME AMOUNT</label>
                            <label class="input">
                                <input type="text" id="npoincomeamt" name="npoincomeamt" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">REVENUE AMOUNT</label>
                            <label class="input">
                                <input type="text" id="revenueamt" name="revenueamt" />
                            </label>
                        </section>
                    </div>
				</div>
				</fieldset>
                
                
                <fieldset>
				<div class="row">
                	<div class="sky-form-headingsection  psTitle">
						<div class="sky-form-heading pull-left">Other Details</div>
						<div class="viewmoreBtn pull-right">
							<i class="fa fa-minus"></i>
						 </div>
					</div>
                    <div class="viewmorSection" >
                    	<section class="col col-4 margin-top-15">
                            <label class="checkbox">
                            	<input type="checkbox" id="nposhowonweb" name="nposhowonweb" value="1" checked="checked"/>
                                <i></i>Show on Website
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="select">Status</label>
                            <label class="select">
                                <select name="npostatus" id="npostatus">
                                    <option value="1" >Approved</option>
                                    <option value="0" >Pending</option>
                                </select>
                                <i></i>
                            </label>
						</section>
                    </div>
                </div>
                </fieldset>
                
                <fieldset>
                	<section class="pull-right">
						<button type="submit" class="btn btn-primary" title="Insert NPO" value="Save"><i class="fa fa-save"></i>&nbsp;Save</button>
                        <button type="reset" class="btn btn-danger" title="Reset Form" value="Reset"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
                    </section>
                </fieldset>
                
	  </div>
      </form>
      
      
      
    </div>
  </div>
</div>
