<link rel="stylesheet" type="text/css" href='{#RESOURCES#}css/style.css'>
<div id="rightSection">
  <div class="rightPannel">
    <div class="breadcrumb">
      <ul>
        <li title="Dashboard"><a href='{#URL#}home/'><img src='{#RESOURCES#}img/dashboard_thumb.png'/>Dashboard</a></li>
        <li>&nbsp;»&nbsp;</li>
        <li title="NPOs"><a href='{#URL#}npos/'>Non-Profit organization</a></li>           
        <li>&nbsp;»&nbsp;</li>
        <li title="NPO Import / Export">Manage - Import / Export </li>
      </ul>
    </div>
    <div class="contentSection">
      {include="common/message"}
      <p>Here you can import or export NPOs detail in CSV file.</p>
        <div class="overflow-hidden text-center">
        	<a href='{#URL#}npos/index/import-csvfile' title="Import NPOs">
            <div class="service-block">            
               <span class="fa fa-download fa-3x"></span>
                <h2 class="heading-md">Import NPOs</h2>                
            </div>
            </a>
            <a href='{#URL#}nposprocess/index/export-nposdata' title="Export NPOs">
            <div class="service-block">            
               <span class="fa fa-upload fa-3x"></span>
                <h2 class="heading-md">Export NPOs</h2>                
            </div>
            </a>
        </div>    
    </div>
  </div>
</div>