<ul class="breadcrumb">
  <li title="Dashboard"><a href='{#URL#}home/'>Dashboard</a></li>
  <li title="Sale Subscription List"><a href='{#URL#}salesubscription'>Sale Subscription - List</a></li>
  <li title="Order Details - Edit"><a href='{#URL#}salesubscription/order/{$ss_id}'>Order / Payment Details - Edit</a></li>
  <li title="View Transactions">View Transactions</li>
</ul>
{include="common/message"}
<div class="oh">
  <div class="col col-4">
    <h1 class="heading-1">View Transactions</h1>
  </div>
  <div class="col col-7 text-right mt-15 pull-right"> 
  	<a href='{#URL#}salesubscription/order/{$ss_id}' class="button-1" title="Back"><i class="fa fa-hand-o-left"></i>&nbsp;Back</a> &nbsp; 
    <a href='{#URL#}salesubscription/newOrder' class="button-2" title="Add Order"><i class="fa fa-user"></i>&nbsp;Add Order</a> 
  </div>
</div>

<div id="content-box" class="igs-form">
    <div class="section-heading listingmoreBtn">Order Details <a href='javascript://' class="form-toggle-icon "><i class="fa fa-plus-square-o"></i></a> </div>
    <div class="content-section dn-ni">
      <fieldset>
      	<div class="row">
        	<section class="col col-2">
            	<label class="label text-bold">Order ID</label>
        		<label class="label">{$saleSubDetails.SS_RefNumber}  <span class="t-blue text-bold">( {loop="$statusArray"}{if="$key==$saleSubDetails.SS_Status"}{$value}{/if}{/loop} )</span></label>
            </section>
            <section class="col col-2">
            	<label class="label text-bold">Added Date</label>
        		<label class="label">{$saleSubDetails.SS_DateTime|formatDate:'m/d/y h:ia'}</label>
            </section>
             <section class="col col-2">
            	<label class="label text-bold">Customer#(PaySimple)</label>
        		<label class="label">{$saleSubDetails.SS_PaySimpleCustomerID}</label>
            </section>
            <section class="col col-2">
		<label class="label text-bold">Last Payment Date</label>
        	<label class="label">
          	{if="$saleSubDetails.SS_LastOuccringDate!=NULL && $saleSubDetails.SS_LastOuccringDate!='0000-00-00'"}
            {$saleSubDetails.SS_LastOuccringDate|formatDate:'m/d/y'}
            {else}
            -NA-
            {/if}
            </label>
            	<!-- <label class="label text-bold">Customer#(PaySimple)</label>
        		<label class="label">{$saleSubDetails.SS_PaySimpleCustomerID}</label> -->
            </section>
            <section class="col col-2">
            	<label class="label text-bold">Next Payment Date</label>
        		<label class="label">{if="$saleSubDetails.SS_PaymentMode=='RC'"}
            {if="$saleSubDetails.SS_Status!=16 && $saleSubDetails.SS_Status!=21"}            
                {if="$saleSubDetails.SS_NextOuccringDate!=NULL && $saleSubDetails.SS_NextOuccringDate!='0000-00-00'"}
                        {$saleSubDetails.SS_NextOuccringDate|formatDate:'m/d/y'}
                        {else}
                        -NA-
                        {/if}
                {else}
                    -NA-
                {/if}            	
            {else}
            	-NA-
            {/if}</label>
            </section>
            <section class="col col-2">
            	<label class="label text-bold">Service Name</label>
        		<label class="label">{$saleSubDetails.SS_ItemName}</label>
            </section>
        </div>
        <div class="row">
        	<section class="col col-2">
            	<label class="label text-bold">Service Code</label>
        		<label class="label">{$saleSubDetails.SS_ItemCode}</label>
            </section>
            <section class="col col-2">
            	<label class="label text-bold">Service Charge Amount</label>
        		<label class="label">${$saleSubDetails.SS_Amount}</label>
            </section>
            <section class="col col-2">
            	<label class="label text-bold">EIN</label>
                <label class="label">{if="$saleSubDetails.SS_EIN!=NULL"}{$saleSubDetails.SS_EIN}{else}-NA-{/if}</label>
            </section>
            <section class="col col-2">
            	<label class="label text-bold">Organization Name</label>
                <label class="label">{$saleSubDetails.SS_OrganizationName}</label>
            </section>
            <section class="col col-2">
            	<label class="label text-bold">Website</label>
        		<label class="label">{if="$saleSubDetails.SS_Website!=NULL"}{$saleSubDetails.SS_Website}{else}-NA-{/if}</label>
            </section>
        </div>
        <div class="row">
        	<section class="col col-2">
            	<label class="label text-bold">Customer Detail</label>
                <label class="label">{$saleSubDetails.SS_FirstName} {$saleSubDetails.SS_LastName}</label>
                <label class="label ">{$saleSubDetails.SS_StreetAddress1}</label>
                <label class="label ">{$saleSubDetails.SS_StreetAddress2}</label>
                <label class="label ">{$saleSubDetails.SS_City}{if="$saleSubDetails.SS_City!=NULL"},{/if}{$saleSubDetails.SS_State} {$saleSubDetails.SS_Zipcode} {$saleSubDetails.SS_Country}</label>
            </section>
        	<section class="col col-2">            	
                <label class="label text-bold">Send receipt by email ?</label>
            <label class="label">{if="$saleSubDetails.SS_EnableRecipt==1"}Yes{else}No{/if}</label>
            </section>
            <section class="col col-3">
            	<label class="label text-bold">{if="$saleSubDetails.SS_PaymentMode=='RC'"}Reoccring Payment - {$saleSubDetails.SS_Schedule} upto service use{/if}</label>
                {if="$saleSubDetails.SS_SpecialInstruction!=NULL"}
                <label class="label text-bold">Special Instructions for customer</label>
                <label class="label">{$saleSubDetails.SS_SpecialInstruction}</label>
                {/if}
            </section>
            <section class="col col-3">
            	<label class="label text-bold">Administrator Notes</label>
                <label class="label">{$saleSubDetails.SS_AdminNotes}</label>
            </section>
        </div>
      </fieldset>
    </div>
</div>      

<form id="formSection" name="formSection" method="get" autocomplete="off" action="" enctype="multipart/form-data">
  <div id="content-box" class="igs-form">
    <div class="section-heading listingmoreBtn">Transactions <a href='javascript://' class="form-toggle-icon "><i class="fa fa-minus-square-o"></i></a> </div>
    <div class="content-section">
      <fieldset>
        <input type="hidden" name="pageNumber" id="pageNumber" value='{$pageSelected}' />
        <div class="row">
          <section class="col col-12"> 
          	{if="$totalrecords>0"}
            <div class="record-found pull-left">Showing {$startRecord}-{$endRecord} of {$totalrecords} records</div>
            {/if}
            <table border="0" id="igs-table">
              <tr>
              	<th>Payment Mode</th>
                <th>Transaction ID</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Transaction Date</th>
                <th>Action</th>
              </tr>
              {if="$transactions!=NULL"}
              {loop="$transactions"}
              <tr>
              	<td data-title="Payment Method" >{if="$value.SSPT_PaymentType=='RC'"}Recurring{elseif="$value.SSPT_PaymentType=='MNL'"}Manual{else}One Time{/if}</td>
                <td data-title="Transaction ID" >{$value.SSPT_PaymentGatewayTransactionID}</td>
                <td data-title="Amount">${$value.SSPT_PaymentAmount}</td>
                <td data-title="Status" >{if="$value.SSPT_Status"}Approved{else}Declined{/if}</td>
                <td data-title="Transaction Date">{$value.SSPT_CreatedDate|formatDate:'m/d/y h:ia'}</td>
                <td data-title="Action"><a href='{#FRONTURL#}salesubscription/showTransactionReceipt/{$value.SSPT_ID|keyEncryptFront}' target="_new" title="Show Receipt" class="link-text">Show Receipt</a></td>
              </tr>
              {/loop}
              {else}
              <tr>
                <td colspan="6" class="text-center">No Record Found.</td>
              </tr>
              {/if}
            </table>
          </section>
          {if condition="count($pagingList)>1"}
          <section class="col col-12">
            <nav>
              <ul class="pagination">
                {if="$pageSelected!=1"}
                <li> <a href='javascript://' onclick="return GotoPage(1);"  title="First Page" aria-label="Previous"> <span aria-hidden="true">First</span> </a> </li>
                <li> <a href='javascript://' onclick="return GotoPage({$pageSelected-1});"  title="Previous" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                {/if}
                {loop="pagingList"} 
                {if="$pageSelected==$value.PageNo"}
                <li class="active"><a href='javascript://' title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                {else}
                <li><a href='javascript://' onclick="return GotoPage({$value.PageNo});" title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                {/if}   
                {/loop}
                {if="$pageSelected!=$lastPage"}
                <li> <a href='javascript://' onclick="return GotoPage({$pageSelected+1});" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                <li> <a href='javascript://' onclick="return GotoPage({$lastPage});" aria-label="Last Page"> Last </a> </li>
                {/if}
              </ul>
            </nav>
          </section>
          {/if} 
        </div>
      </fieldset>
    </div>
  </div>
</form>
