<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
<script type="text/javascript" src='{#RESOURCES#}js/salesubscription.js'></script>
</head>
<body id="body">
    <div class="gray-fix-nav"> {include="top/top"} </div>
    <section class="fix-first-section fundraiser-page"> </section>
    <section class="section-padding fundraiser-page-heading salesubscription-section">
        <div class="container"> 
            <form id="form-step2" name="form-step2" method="post" autocomplete="off" action="{#URL#}salesubscription/addPaymentDetails" enctype="multipart/form-data" novalidate="novalidate"> 
				<input type="hidden" name="SS_Id" id="SS_Id" value="{$arraySaleSubDetails.SS_ID|keyEncrypt}">
                <input type="hidden" name="secure_param" id="secure_param" value="{$secure_param}" />
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
				  		{include="common/message"}
						<h2 class="heading-1">Sale Subscription</h2>
					</div>
			  	</div>
				<div class="row">
				  <div class="col-md-6 col-sm-6 col-xs-12 order-section">
						<div class="row sale-details-col">
							<div class="col-md-12 colsm-12">
								<h2 class="heading-2">Order Details</h2>
							</div>
							<div class="col-md-4 col-sm-4">
								<label class="label text-bold">Order ID</label>
								<label class="label">{$arraySaleSubDetails.SS_RefNumber}</label>
							</div>
							<div class="col-md-4 col-sm-4">
								<label class="label text-bold">Order Date</label>
								<label class="label">{$arraySaleSubDetails.SS_DateTime|formatDate:'m/d/y h:ia'}</label>
							</div>
							<div class="col-md-4 col-sm-4">
								<label class="label text-bold">Customer Number</label>
								<label class="label">{$arraySaleSubDetails.SS_PaySimpleCustomerID}</label>
							</div>
						</div>
						<div class="row sale-details-col">
							<div class="col-md-12 colsm-12">
								<h2 class="heading-2">Service Details</h2>
							</div>
							<div class="col-md-4 col-sm-4">
								<label class="label text-bold">Code</label>
								<label class="label">{$arraySaleSubDetails.SS_ItemCode}</label>
							</div>
							<div class="col-md-4 col-sm-4">
								<label class="label text-bold">Service Name</label>
								<label class="label">{$arraySaleSubDetails.SS_ItemName}</label>
							</div>
							<div class="col-md-4 col-sm-4">
								<label class="label text-bold">Amount</label>
								<label class="label">${$arraySaleSubDetails.SS_Amount}</label>
							</div>
						</div>
						<div class="row sale-details-col">
							<div class="col-md-12 colsm-12">
								<h2 class="heading-2">Biling Details</h2>
							</div>
							<div class="col-md-6 col-sm-6">
								<label class="label text-bold">{$arraySaleSubDetails.SS_FirstName} {$arraySaleSubDetails.SS_LastName}</label>
                                <label class="label ">{$arraySaleSubDetails.SS_StreetAddress1}</label>
                                <label class="label ">{$arraySaleSubDetails.SS_StreetAddress2}</label>
                                <label class="label ">{$arraySaleSubDetails.SS_City}{if="$arraySaleSubDetails.SS_City!=NULL"},{/if}{$arraySaleSubDetails.SS_State} {$arraySaleSubDetails.SS_Zipcode} {$arraySaleSubDetails.SS_Country}</label>
							</div>
							<div class="col-md-6 col-sm-6">
                                <label class="label text-bold">Email Address</label>
                                <label class="label ">{$arraySaleSubDetails.SS_EmailAddress}</label> 
                                <label class="label text-bold">Phone</label>
                                <label class="label">{$arraySaleSubDetails.SS_Phone}</label>                    
                           </div>
                           <div class="col-md-6 col-sm-6">
                                <label class="label text-bold">Organization Name</label>
                                <label class="label">{if="$arraySaleSubDetails.SS_OrganizationName!=NULL"}{$arraySaleSubDetails.SS_OrganizationName}{else}-NA-{/if}</label>                           
                           </div>    
                            <div class="col-md-6 col-sm-6">                    
                                <label class="label text-bold">EIN : <em>{if="$arraySaleSubDetails.SS_EIN!=NULL"}{$arraySaleSubDetails.SS_EIN}{else}-NA-{/if}</em></label>
                                <label class="label text-bold">Website : <em>{if="$arraySaleSubDetails.SS_Website!=NULL"}{$arraySaleSubDetails.SS_Website}{else}-NA-{/if}</em></label>         
                           </div>   
						</div>
						<div class="row sale-details-col">
							<div class="col-md-12 col-sm-12">
								<h2 class="heading-2">Other Details</h2>
							</div>
							<div class="col-md-12 col-sm-12">
								 <label class="label text-bold">
                                 {if="$arraySaleSubDetails.SS_PaymentMode=='RC'"} 
                                 Recurring Payment - {$arraySaleSubDetails.SS_Schedule}
                                 {else}
                                 One time payment 
                                 {/if} of ${$arraySaleSubDetails.SS_Amount} upto service use.
                                 </label>
							</div>
                            {if="$arraySaleSubDetails.SS_SpecialInstruction!=NULL"}
							<div class="col-md-12 col-sm-12">
								<label class="label text-bold">Special Instruction</label>
                                <label class="label">{$arraySaleSubDetails.SS_SpecialInstruction}</label>
							</div>
                            {/if}
						</div>
				  </div>
				  <div class="col-md-6 col-sm-6 col-xs-12 payment-detail">
					<div class="row sale-details-col">
							<div class="col-md-12 col-sm-12">
								<h2 class="heading-2">Payment Details</h2>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
							  <label class="label" for="Bank Name">Bank Name</label>
							  <div class="form-group">
								<input type="text" id="bankName" class="form-control" name="bankName" title="bankname" value="" placeholder="Bank Name">
							  </div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
							  <label class="label" for="Bank Name">Account Type <span id="mycheck"></span></label>
							  <div class="row">
							<div class="col-md-6 col-sm-4">
								<label class="checkbox"><input type="radio" class="form-control" name="accountType" id="accountType" value="Savings"><i></i>Saving</label>
								
							</div>
							<div class="col-md-6 col-sm-4">
								<label class="checkbox"><input type="radio" class="form-control" name="accountType" id="accountType" value="Checking"><i></i>Checking</label>
							</div>
						</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
							  <label class="label" for="Routing Number">Routing Number</label>
							  <div class="form-group">
								<input type="text" id="routingNumber" name="routingNumber"  title="Routing Number" value="" placeholder="Routing Number" class="valid form-control">
							  </div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
							  <label class="label" for="Account Number">Account Number</label>
							  <div class="form-group">
								<input type="text" id="accountNumber" name="accountNumber" title="Account Number" value="" placeholder="Account Number" class="valid form-control">
							  </div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
							  <label class="label" for="Check Number">Check Number</label>
							  <div class="form-group">
								<input type="text" id="checkNumber" name="checkNumber" title="Check Number" value="{#SAMPLE_CHECK_NUMBER#}" placeholder="Check Number" readonly="readonly" class="valid form-control">
							  </div>
							</div>
							<!--<div class="col-md-12 col-sm-12 col-xs-12">
							  <label class="label" for="Drivers Licence Details (optional)">Drivers Licence Details (optional)</label>
							  <div class="row">
							  <div class="form-group col-md-6 col-sm-6">
								<input type="text" id="checknumber" class="form-control" name="licenceNumber" title="licenceNumber" value="" placeholder="Licence Number">
							  </div>
							  <div class="form-group col-md-6 col-sm-6">
								<input type="text" id="licenceState" class="form-control" name="licenceState" title="Licence State" value="" placeholder="Licence State">
							  </div>
							  </div>
							</div>-->
							<div class="col-md-12 col-sm-12 col-xs-12 mt-10 text-right">
							  <button type="submit" id="submit" class="button-1" title="Register">Submit</button>
							</div>
						</div>
				  </div>
			</div>
			</form>
        </div>
        
    </section>
    {include="bottom/bottom"}
</body>
</html>