<div style="padding:10px 5px; font-size:14px; color:#333333;">
Hello <USER FIRST NAME> <LAST NAME>,<br />
Thank you for your donation to<br />
<strong style="color:#002f5b;"><FUNDRAISER NAME>:</strong> <Amount><br />
<strong style="color:#002f5b;"><FUNDRAISER NAME>:</strong> <Amount><br />
<strong style="color:#002f5b;"><FUNDRAISER NAME>:</strong> <Amount><br />
<IF THEY SET PASSWORD>
Login to your Account at any time to view a list of your donations.<br />
<END IF>
<IF THEY DIDNOT SET A PASSWORD>
A temporary password was provided when you made your donation. You can now access your account and take advantage of other features of our site including; viewing and printing donation tax receipts, searching your donation history and creating your very own fundraiser for causes you care about.<br />
<END IF>
Thank you for using donasity.com
</div>
