<div style="padding:10px 5px; font-size:14px; color:#333333;">
Hello <FUNDRAISER OWNER NAME>,<br />
Someone has donated to your fundraiser: <strong style="color:#002f5b;"><FUNDRAISER NAME></strong>.<br />
<strong style="color:#002f5b;">Amount Donated:</strong> $<AMOUNT DONATED><br /> 
<strong style="color:#002f5b;">Donor Comment:</strong> <DONOR COMMENT><br />
<strong>Note</strong>: If the above comment is not desired, you can log into your account, visit your fundraiser and delete it.<br />
Your fundraiser is now <strong style="color:#002f5b;"><PERCENT FUNDED>%</strong> funded! Consider logging into your <a href="<DONASITY>COM>" title="" style="color:#abc340;">donasity</a> account and add an update to your fundraiser description or comments area.<br />
</div>
