<div style="padding:10px 5px; font-size:14px; color:#333333;">
Hello <USER FIRST NAME> <LAST NAME>,<br />
Please note, your recurring donation to <strong style="color:#002f5b;"><NPO NAME></strong> has failed due to <strong style="color:#002f5b;"><FAILED REASON></strong>.<br /> 
Please log into your Account on <a href="<DONASITY.COM>" title="" style="color:#abc340;">donasity.com</a> and update your card details as soon as possible so that your much needed payment to this Non-Profit organization is not interrupted.<br />
Thank you for using donasity.com
</div>
