<div style="padding:10px 5px; font-size:14px; color:#333333;">
Hello <USER FIRST NAME> <LAST NAME>,<br />
Thank you for your donation to <strong style="color:#002f5b;"><NPO NAME></strong> using <a href="<DONASITY>COM>" title="" style="color:#abc340;">donasity.com</a>. A check is being issued on your behalf and will be sent to this non-profit organization. The processing fee has been drafted from your account today. <br />
<IF THEY SET PASSWORD>
Login to your Account at any time to view a list of your donations.<br />
<END IF>
<IF THEY DIDNOT SET A PASSWORD>
A temporary password was provided when you made your donation. You can now access your account and take advantage of other features of our site including; viewing and printing donation tax receipts, searching your donation history and creating your very own fundraiser for causes you care about.<br />
<END IF>
Thank you for using donasity.com
</div>
