<div style="padding:10px 5px; font-size:14px; color:#333333;">
Hello <USER FIRST NAME> <LAST NAME>,<br />
Thank you for your recurring donation to <strong style="color:#002f5b;"><NPO NAME></strong> using <a href="<DONASITY.COM>" title="" style="color:#abc340;">donasity.com</a>.<br />
If for any reason you need to change your recurring preferences please log into your account on <a href="<DONASITY.COM>" title="" style="color:#abc340;">donasity.com</a> and edit/update your payment schedule.<br />
Thank you for using donasity.com
</div>


