<div style="padding:10px 5px; font-size:14px; color:#333333;">
Hello <ADMINISTRATOR NAME>,<br />
A Fundraiser has been changed.<br />
<FUNDRAISER DATABASE ID> <FUNDRAISER NAME><br />
IF EXISTS
<FUNDRAISER IMAGE 1> <br />
<FUNDRAISER Photo><br />
<FUNDRAISER Video><br />
END IF
<FUNDRAISER CITY><br />
<FUNDRAISER DESCRIPTION><br />
<FUNDRAISER CREATOR NAME><br />
<a href="<link to fundraiser page that will allow me to see fundraiser>" title="" style="color:#abc340;"><link to fundraiser page that will allow me to see fundraiser></a>
IF NPO Stripe connected
This Fundraiser has been linked to a registered NPO.<br />
<NPO EIN> <NPO NAME> <NPO CITY><br />
<NPO MAIN ADMIN USER FIRST AND LAST NAME>
</div>
