<div style="padding:10px 5px; font-size:14px; color:#333333;">
Hello <USER FIRST NAME> <LAST NAME>,<br />
Your <strong style="color:#002f5b;"><FUNDRAISER TYPE></strong> level fundraiser has been approved! Now is a great time to share it on social media!<br />
Below is a link to your fundraiser that you can copy and paste to Facebook, Twitter or any Social Media site.<br />
<a href="<LINK TO FUNDRAISER URL>" title="" style="color:#abc340;"><FUNDRAISER NAME></a><br />
Log into your <a href="<DONASITY.COM>" title="" style="color:#abc340;">donasity</a> account at any time to edit your fundraiser as needed.<br />
Thank you for using donasity.<br />
Where donations and generosity meet!
</div>


