<div style="padding:10px 5px; font-size:14px; color:#333333;">
Hello <ADMINISTRATOR NAME>,<br />
A new Fundraiser has been created.<br />
<FUNDRAISER DATABASE ID> <FUNDRAISER NAME><br />
IF EXISTS
<p style="overflow:hidden"><FUNDRAISER IMAGE 1></p> <br />
END IF
<FUNDRAISER CITY><br />
<FUNDRAISER DESCRIPTION><br />
<FUNDRAISER CREATOR NAME><br />
<a href="<link to fundraiser page that will allow webmaster to see fundraiser even though it is not approved yet>" title="" style="color:#abc340;"><link to fundraiser page that will allow webmaster to see fundraiser even though it is not approved yet></a>
<a href="<if possible an approval link so that webmaster don't even have to log in to admin to approve this fundraiser>" title="" style="color:#abc340;"><Click here to approve this fundraiser></a>
IF NPO Stripe connected
This Fundraiser has been linked to a registered NPO.<br />
<NPO EIN> <NPO NAME> <NPO CITY><br />
<NPO MAIN ADMIN USER FIRST AND LAST NAME>
</div>


