<div style="padding:10px 5px; font-size:14px; color:#333333;">
Hello <NPO OWNER NAME>,<br />
A user on <a href="<DONASITY.COM>" title="" style="color:#abc340;">donasity.com</a> has created a fundraiser to raise donations for your organization. When donors give to this fundraiser, their donations will be deposited directly into your Stripe account.<br />
The user who has created this fundraiser will never see any Stripe information or NPO reports for your organization. On their own fundraiser page, they will be able to see donor information and the amount donated.<br />
The link below will take you to this fundraiser page! Great job in inspiring people to take action for your cause!<br />
<a href="<LINK TO FUNDRAISER PAGE URL>" title="" style="color:#abc340;"><LINK TO FUNDRAISER PAGE URL></a><br />
Thank you for using donasity.<br />
Where donations and generosity meet!
</div>

