<div style="padding:10px 5px; font-size:14px; color:#333333;">
Hello  <USER FIRST NAME> <LAST NAME>,<br />
Someone has requested a password change for your Non-Profit Organization account on <a href="<LINK FOR DONASITY>" title="" style="color:#abc340;">donasity.com</a>. This account gives access to Non-Profit Organization specific functions and reports for <strong style="color:#002f5b;"><NPO NAME></strong>.<br />
Below is a link that will work temporarily to allow you to create a new password.<br />
<a href="<LINK TO PASSWORD RECOVERY SCRIPT/PAGE>" title="" style="color:#abc340;"><LINK TO PASSWORD RECOVERY SCRIPT/PAGE></a><br />
This link will expire in 24 hours.<br />
Thank you for using donasity.com
</div>

