<script>
function DeleteGroup($GroupID)
{
	if(confirm("Are you sure, you want to delete this group ?"))
	{
		location.href=SITEURL+"static/index/delete-group/"+$GroupID;	
	}	
}
</script>
<div id="rightSection">
  <div class="rightPannel">
    <div class="breadcrumb">
      <ul>
        <li title="Dashboard"><a href='{#URL#}home/'><img src='{#RESOURCES#}img/dashboard_thumb.png'/>Dashboard</a></li>
        <li>&nbsp;»&nbsp;</li>
        <li title="CMS">CMS</li>
        <li>&nbsp;»&nbsp;</li>
        <li title="Static Page Group">Static Pages Group</li>
      </ul>
    </div>
    <div class="contentSection">
      	<div class="pageHeader text-left pull-left"><li class="fa fa-fw fa-file-text iColor"></li>&nbsp;Static Pages Group</div>
        <!--button right section -->
        <div class="pull-right">
          <a href='{#URL#}static/index/add-group' class="btn btn-secondary" title="Add Group"><i class="fa fa-edit"></i>&nbsp;Add Group</a>
          <a href='{#URL#}static' class="btn btn-secondary" title="Static Page List"><i class="fa fa-list-ul"></i>&nbsp;Static Pages List</a>
        </div>
        <!--button right section end -->
        {include="common/message"}
       	<div class="pageSubHeader overflow-hidden psTitle">
            <div class="pull-left margin-left-10">
                 Filter Result
            </div>
        </div>
       <div class="overflow-hidden">
	      <form class="sky-form" id="formSection" name="formSection" method="post" autocomplete="off" action="{#URL#}static/index/group-list">
      		<input type="hidden" name="pageNumber" id="pageNumber" value=""  />
             <fieldset>
             <div class="row">
					<div class="viewmorSection" >
                    	<section class="col col-5 pull-left">
                            <label class="label">Search by Title</label>
                            <label class="input">
                                <input type="text" id="titlestr" name="titlestr" placeholder="Search by title"  value="{$title}">
                            </label>
                        </section>
                        
                        <section class="col col-2">
                            <label class="label">Status</label>
                            <label class="checkbox margin-right-10">
                            	<input type="checkbox" id="status" name="status[]" value="1"  {if="in_array(1,$status)"}checked='checked'{/if}><i></i>Active
                            </label>
                            <label class="checkbox">
                            	<input type="checkbox" id="status" name="status[]" value="0"  {if="in_array(0,$status)"}checked='checked'{/if}><i></i>Inactive
                            </label>
                        </section>
                        
                        <section class="col col-2">
                            <label class="label">Language</label>
                            {loop="languageconf"}
                            <label class="checkbox margin-right-10">
                            <input type="checkbox" id="language" name="language[]" value="{$key}"  {if="in_array($key,$language)"}checked='checked'{/if}><i></i>{$value}
                            </label>
                            {/loop}
                        </section>
                        
                        <section class="col col-3 margin-top-30">
                        <button type="submit" name="search" value="search" id="search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Search</button>
                        <button type="button" name="reset" value="reset" class="btn btn-danger" onClick="reloadPage();"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
                        </section>
                    </div>
             </div>
             </fieldset>
             
             <fieldset>
             <div class="row">
					<div class="viewmorSection" >
                    	
                    </div>
             </div>
             </fieldset>       
        	</form>
         
       </div>
       <div class="pageSubHeader overflow-hidden psTitle">
            <div class="pull-left margin-left-10">
                 {$grouplist|count} Results Found 
            </div>
            <!--<div class="pull-right margin-right-10">
            	<a href='{#URL#}product/add' class="btn btn-primary btn-sm" title="Add Product"><i class="fa fa-edit"></i>&nbsp;Add Product</a>
            </div>-->
        </div>
        <table class="tblGrid" cellpadding="0" cellspacing="0" width="100%" align="center">
          <thead>
            <tr>
              <th width="25%">Title</th>
              <th width="15%">Status</th>
              <th width="15%">Sort Order</th>
              <th width="15%">Language</th>
              <th width="30%" colspan="3"><center>Action</center></th>
            </tr>
          </thead>
          <tbody>
         {if="$grouplist"}
          	{loop="grouplist"}
                {$selectedLang=$value.Language}
                <tr>
                    <td width="45%">
                    <a href='{#URL#}static/index/edit-group/{$value.CMSPageGroupID|keyEncrypt}' class="" title="Edit Group">
                    {$value.Title}
                    </a>
                    </td>
                    <td width="15%">{if="$value.Status==1"}<span class="icon active margin-left-15" title="Active"></span>{else}<span class="icon inactive margin-left-15" title="Inactive"></span>{/if}</td>
                    <td width="15%">{$value.SortingOrder}</td>
                    <td width="15%">
                    {loop="languageconf"}
                    {if="$selectedLang==$key"}{$value}{/if}
                    {/loop}
                    </td>
                    <td width="10%">
                    {if="$value.Status==1"}
                    <a href='{#URL#}static/index/add-page/{$value.CMSPageGroupID|keyEncrypt}' class="btn btn-primary btn-sm" title="Add Page"><i class="fa fa-edit"></i>&nbsp;Add Page</a>
                    </a>
                    {else}
                    <a href='Javascript://'"  class="btn btn-primary btn-sm disabled" title="Add Page" onclick="alert('Group is inactive, you cant add page for this group')"><i class="fa fa-edit"></i>&nbsp;Add Page</a>
                    </a>
                    {/if}
                    </td>
                    <td width="10%">
                    	<a href='{#URL#}static/index/edit-group/{$value.CMSPageGroupID|keyEncrypt}' class="btn btn-primary btn-sm" title="Edit Group"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                    </a>
                    </td>
                    <td width="10%">
                    	<a href='Javascript://' onclick="DeleteGroup('{$value.CMSPageGroupID|keyEncrypt}')" class="btn btn-danger btn-sm" title="Delete Group"><i class="fa fa-trash-o"></i> Delete</a>
                    </td>
                </tr>
            {/loop}
          {else}
				<tr><td colspan="7" class="text-center">No Record Found.</td></tr>
          {/if}
        </tbody>
        </table>
         <div class="overflow-hidden pull-right">
            {if condition="count($PagingList)>1"}
                <ul class="pagination pagination-sm">
                    {if="$PageSelected!=1"}
                        <li class="paginate_button previous"><a href='javascript://' onClick="return GotoPage(1);"  title="First Page">First</a></li>
                        <li class="paginate_button previous"><a href='javascript://' onClick="return GotoPage({$PageSelected-1});"  title="Previous">«</a></li>
                    {/if}
                    {loop="PagingList"} 
                        {if="$PageSelected==$value.PageNo"}
                            <li class="active paginate_button"><a title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                        {else}
                            <li class="paginate_button"><a href='javascript://' onClick="return GotoPage({$value.PageNo});" title="Page No {$value.PageNo}" >{$value.PageNo}</a></li>
                        {/if} 
                    {/loop}
                    {if="$PageSelected!=$lastPage"}
                        <li class="paginate_button next"><a href='javascript://' onClick="return GotoPage({$PageSelected+1});"  title="Next">»</a></li>
                        <li class="paginate_button next"><a href='javascript://' onClick="return GotoPage({$lastPage});"  title="Last Page">Last</a></li>
                    {/if}
                </ul>
            {/if}
        </div>
    </div>
  </div>
</div>
