<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
</head>
<body id="body">
{include="top/top"}
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/fundraisers-search.css' />
<link rel="stylesheet" type="text/css" href='{#RESOURCES#}css/jquery-ui.css'/>
<script type="text/javascript" src='{#RESOURCES#}js/npolist.js'></script>
<script src='{#RESOURCES#}js/jquery-ui.js'></script>
<script type="text/livescript">
$(document).ready(function(){
	
	$('.sarchsectionkeyword').keypress(function(event) {
		if (event.which == 13) {
			$('#titlesearch').trigger('click');
		 }
	});
	
	$('.locationkeyword').keypress(function(event) {
		if (event.which == 13) {
			$('#locationsearch').trigger('click');
		 }
	});
	
	$(".category").click(function(){
		Category	= $(this).attr('id');
		ExistCategories	= $('#category').val();
		if(ExistCategories != ""){
			ExistArr	= ExistCategories.split('||');
			NewArray	= new Array(Category);
			var NewCategories = ExistArr.concat(NewArray); 
		}
		else
		{
			NewArray	= new Array(Category);
			NewCategories	= NewArray;
		}
		$('#category').val(NewCategories.join('||'));
		SendUrl();
	});	
	
	$(".RemoveCat").click(function(){
		CatStr	= $(this).attr("id");
		ExistCategories	= $('#category').val();
		ExistCategoriesArr	= ExistCategories.split('||');
		var index = ExistCategoriesArr.indexOf(CatStr);
		if (index > -1) {
			ExistCategoriesArr.splice(index, 1);
		}
		$('#category').val(ExistCategoriesArr.join('||'));
		SendUrl();
	});
	
	//reset location
	$('#resetlocation').click(function(){
		$('#location').val('');
		SendUrl();
	});
	
	
	//reset category
	$('#resetcat').click(function(){
		$('#category').val('');	
		jQuery("#location").val('');
		//SendUrl();
		window.location.reload();
	});
	
	//auto complete
	$(function() {
		$( "#location" ).autocomplete(
		{ minLength: 2 },
		{
		 // source: availableTags
		  source: SITEURL+"fundraiserlist/GetLocation"
		});
    });
	//auto complete
});

function SendUrl()
{
	var Keyword		= $('#keyword').val();
	var Location	= $('#location').val();
	var Category	= $('#category').val();	
	var PageNumber	= $('#pageNumber').val();
	PageNumber		= (PageNumber	== 0 || PageNumber	== "")?1:PageNumber;
	url	= SITEURL+"fundraisers-search?pageNumber="+PageNumber;
	
	if(Keyword != "")
	{
		url	= url+"&&filter[keyword]="+Keyword;
	}
	if(Location != "")
	{
		url	= url+"&&filter[location]="+Location;
	}
	if(Category != "")
	{
		url	= url+"&&filter[category]="+Category;
	}
	
	window.location.href=url;
}

	
function npoformsubmit()
{
	var ActionURL	= SITEURL+"fundraisers-search";
	$('#searchform').attr('action',ActionURL);
	document.searchform.submit();	
}

function Campaignformsubmit()
{
	ActionURL	= SITEURL+"fundraiser-search";
	$('#searchform').attr('action',ActionURL);
	document.searchform.submit();	
}
function reloadPage() {
    //window.location = window.location
	location.href=SITEURL+"search";
}

function GotoPage(pageNo) {
	
	jQuery('#pageNumber').val(pageNo);
	//jQuery('#searchform').submit();
	//return false;
	SendUrl();
}
</script>

<form name="searchform" id="searchform" method="get" action='{#URL#}fundraisers-search'>
	<input type="hidden" name="category" id="category" value="{$SearchCategory}"/>
    <input type="hidden" name="pageNumber" id="pageNumber" />
<section class="first-section fundraisers-search">
	<div class="container">
		<div class="row">
			{$pageheading}
		</div>
	</div>
</section>
<section class="section-padding search-head">
	<div class="container">
	<div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 mobile-search-section pull-right">
            <div class="main-search hidden-xs">
                <div class="form-group m-0">
                    <input type="text" name="keyword" id="keyword" placeholder="{#_SEARCH_PLACEHOLDER_#}" class="sarchsectionkeyword"  value="{$SearchTitle}" >
                    <button type="button" class="search-btn" id="titlesearch"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="search-section visible-xs-block">
                <div class="form-group clear-mobile-margin">
                    <button class="search-btn" type="button" onClick="SendUrl()"  title="Click here to search"><i class="fa fa-search"></i></button><input type="text" name="searching" placeholder="Start Fundraisers and Non-Profits">
                </div>
            </div>
		</div>
	</div>
</div>
</section>
<section class="section-padding cms-section search-container">
	<div class="container p-relative">
    	<div class="tab-section">
        	<ul class="list-inline oh">
            	<li class="active-tab"><a href='{#URL#}fundraisers-search??filter[keyword]={$SearchTitle}' title="Fundraisers">{#_FUNDRAISERS_#}</a></li>
                <li><a href='{#URL#}non-profits-search??filter[keyword]={$SearchTitle}' title="Non-Profits"   onclick="npoformsubmit()">{#_NONPROFITS_#}</a></li>
            </ul>
        </div>
        <div class="db mobile-result-section">
        	<div class="col-md-3 col-sm-3 filter-left-section">
	            <div class="filter-section">
                    <div class="heading-2">{#_FILTER_SEARCH_#}</div>
                    <div class="mt-25 heading-2">{#_LOCATION_#}</div>
                    <div class="mt-10 fonts-lato-bold">
                        <div class="form-group">
                            <input class="form-control locationkeyword" type="text" name="location" id="location" placeholder="{#_LOCATIONPLACEHOLDER_#}"  value="{$SearchLocation}"/>                    
                        </div>
                        <div class="select form-group">
                            <select class="form-control" name="country" id="country">
                                <option value="">All Countries</option>
                            </select>
                            <i class="arrow fa fa-caret-down"></i>                   
                        </div>
                        <button type="button" class="button-2 fonts-quicksand-bold mb-5" id="locationsearch">SUBMIT</button>
					</div>
                    {if="$category!=NULL"}
                    <div class="mt-25 heading-2">{#_CATEGORIES_#}</div>
                    <ul class="category-list oh">
                    	{loop="category"}
                        	<li class='category {if="in_array($value.NPOCat_ID,$CatArr)"}active-category {/if}'  id="{$value.NPOCat_ID}">
                            	<a href='javascript://'>{$value.DisplayName}{if="isset($value.cnt)"}({$value.cnt}){/if}</a>
                            </li>
                        {/loop}
                    </ul>
                    {/if}
                </div>
            </div>
            <div class="col-md-9 col-sm-9 filter-right-section">
            	{if="$SearchTitle != '' "}
                	<div class="heading-2">{#_SEARCH_RESULTS_FOR_#}: <span>"{$SearchTitle}"</span></div>
                {/if}
            	<div class="add-list mt-10">
                	<ul class="list-inline oh m-0">                    
                    {loop="category"}
                        {if="in_array($value.NPOCat_ID,$CatArr)"}
                            <li>
                                <span>
                                    {$value.DisplayName}{if="isset($value.cnt)"}({$value.cnt}){/if}
                                    <a href='javascript:' class="remove-btn" title="Click here to remove to this category"><i id="{$value.NPOCat_ID}" class="fa fa-times RemoveCat"></i></a>
                                </span>
                            </li>
                        {/if}
                    {/loop}

                    </ul>

                </div>                
                 <!-- pagination start-->
                 <div class="oh">
                    {if="count($CatArr) > 0 && count($category)>0"}
						<div class="pull-left fonts-lato-bold record-reset-btn"> <a href='javascript:' id="resetcat">{#_RESET_#}</a></div>
                    {/if}
                    <div class="pull-right record-found">
                    {if condition="count($NPOList) > 0"}
                        {if="LANG_ID == 'en'"}
                        Showing {$startRecord}-{$endRecord} of {$totalrecord} records
                        {else}
                        demostración {$startRecord}-{$endRecord} de {$totalrecord} archivos
                        {/if}
                    {/if}
                </div>
                 </div>
                
                <!-- pagination end-->
                <div class="oh">
                    <!-- npo listing -->
                     {if="$NPOList"}
                     {loop="NPOList"}
                    
                    <div class="category-result-box">
                        <a href='{#URL#}fundraisers-details/{function="keyEncrypt($value.Camp_ID)"}/FundDetail' class="learn-more hidden-xs">LEARN MORE >> </a>
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-5 category-result-img">
                            	<img src='{function="CheckImage(CAMPAIGN_MAIN_IMAGE_DIR,CAMPAIGN_MAIN_IMAGE_URL,NO_IMAGE,$value.camp_thumbImage)"}' alt="image" class="img-responsive" />
                            </div>
                            <div class="result-heading">{$value.Camp_Title}</div>
                            <div class="result-description">
                               {$value.Camp_DescriptionHTML} 
                                {if condition="$value.Camp_DescriptionHTML!=''"}
                                	<a href='javascript://' class="read-more" title="Click here to read more">READ MORE >></a>
                                {/if}	                        
                            </div>
                            <div class="visible-xs pull-right"><a href='{#URL#}fundraiser/{function="keyEncrypt($value.Camp_ID)"}/FundDetail' class="t-green mt-0 button-1" title="Click here to learn more">LEARN MORE >> </a></div>
                        </div>
                    </div>

                     {/loop}
                     {else}
                    <div style="display:block;margin-top:10px;text-align:center;clear:both;">
                        {#NO_RECORD_FOUND#}
                    </div>
                    {/if}
                    <!-- npo listing -->                      
                      <!-- pagination start-->
                       <div class="row">
                           <div class="col-xs-12 mt-10">
                               {if condition="count($PagingList)>1"}
                               <nav>
                                  <ul class="pagination">
                                    {if="$PageSelected!=1"}
                                    <li>
                                      <a href='javascript://' onClick="return GotoPage(1);"  title="First Page" aria-label="Previous">
                                        <span aria-hidden="true">First</span>
                                      </a>
                                    </li>
                                    <li>
                                      <a href='javascript://' onClick="return GotoPage({$PageSelected-1});"  title="Previous" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                      </a>
                                    </li>
                                    {/if}
                                    {loop="PagingList"} 
                                         {if="$PageSelected==$value.PageNo"} 
                                            <li class="active"><a href='javascript://' title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                                          {else}
                                            <li><a href='javascript://' onClick="return GotoPage({$value.PageNo});" title="Page No {$value.PageNo}">{$value.PageNo}</a></li>
                                          {/if}   
                                    {/loop}
                                    {if="$PageSelected!=$lastPage"}
                                        <li>
                                          <a href='javascript://' onClick="return GotoPage({$PageSelected+1});" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                          </a>
                                        </li>
                                        <li>
                                          <a href='javascript://' onClick="return GotoPage({$lastPage});" aria-label="Last Page">
                                           Last
                                          </a>
                                        </li>
                                    {/if}
                                  </ul>
                                </nav>
                                {/if}
                            </div>
                        </div>
                        <!-- pagination end-->                       
                </div>
            </div>
        </div>
    </div>
</section>
</form>
{include="bottom/bottom"}
</body>
</html>