<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{include="common/message"}
<form name="CodeVerificationForm" id="CodeVerificationForm" method="post" action="{#URL#}ut2/index/codeverification">
	<h2>Claim Your Non Profit Organization </h2>
    <input type="text" name="uniquecode" id="uniquecode" placeholder="Enter you confirmation code here" size="35"/>
    <input type="submit" name="submit" value="Continue"/>
</form>
</body>
</html>
-->
<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
</head>
<body id="body">
<div class="gray-fix-nav">
{include="top/top"}
</div>
<script type="text/javascript" src='{#RESOURCES#}js/inputmask.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/jquery.inputmask.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/npo-registration.js'></script>
<script type="text/javascript">
$(document).ready(function(){
$('#uniquecode').inputmask("aa99-9999-9999a");	
});
</script>
<section class="fix-first-section">

</section>

<section class="section-padding">
	<div class="container">    
    {include="common/message"}  
    	{$pageheader}        
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 npo-register-page">
                <div class="npo-reg-section">
                	
                   <form name="CodeVerificationForm" id="CodeVerificationForm" method="post" action="{#URL#}ut2/code-verification">                   		
                        <div class="row">
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <label class="label" for="accessCode">{#_ENTER_ACCESS_CODE_#}</label>
 								<div class="form-group">
                                    <input type="text" class="form-control" name="uniquecode" id="uniquecode" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 btn-right">
                                <label class="label hidden-xs">&nbsp;</label>
                                <button type="submit" class="button-1 col-xs-12" title="Click here to continue">{#_CONTINUE_#}</button>
                            </div>           
                        </div>
                        {$helpingtext}	
                    </form>
                </div>
            </div>
        </div>
    </div>	
</section>
{include="bottom/bottom"}
</body>
</html>