<!DOCTYPE html>
<html lang="en">
<head>
{include="top/head"}
</head>
<body id="body">
<div class="gray-fix-nav">
{include="top/top"}
</div>
<link type="text/css" rel="stylesheet" href='{#RESOURCES#}css/popup.css'>
<script type="text/javascript" src='{#RESOURCES#}js/jquery.magnific-popup.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/ut2.js'></script>
<script>
$(document).ready(function(){
	$('.termcondition').magnificPopup({
		type: 'inline'
	});
	
	$('#NPORegistrationForm').submit(function(){
		if($("#agreement").is(':checked')==false)
		{
			alert("If you want to continue, please check term & condition");
			return false;	
		}
	});	
	
	//load state according country
	$('#Country').change(function(){
			$.ajax(
			{
				type:'POST',
				dataType:'json',
				cache :false,
				async:true,
				data:{CountryAB:$(this).val()},
				url:SITEURL+'ut2/getstateajax',
				success:function(data)
				{
					$('#State option').remove();
					for(obj in data)
					{
						var Caption 		= data[obj].State_Name;
						var Captionvalue	= data[obj].State_Value;	
						$('#State').append($('<option>', { 
							value: Captionvalue,
							text : Caption 
						}));
						
					}		
				}
			});	
		});
});
</script>
<script type="text/javascript" src='{#RESOURCES#}js/inputmask.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/jquery.inputmask.js'></script>
<script type="text/javascript" src='{#RESOURCES#}js/npo-registration-form.js'></script>
<script type="text/javascript">
$(document).ready(function(){
$('#Phone').inputmask("999-999-9999");
$('#AlternatePhone').inputmask("999-999-9999");	
});

</script>

<section class="fix-first-section">
</section>
<section class="section-padding">
	<div class="container">   
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {$pageheading}
            {$pagedescription}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 registration-container">
                <div class="npo-reg-section">
                   <form name="NPORegistrationForm" id="NPORegistrationForm" method="post" action="{#URL#}ut2/registration">                   
                   <input type="hidden" name="ein" id="ein" value="{$EIN}"/>
				   <input type="hidden" name="npoid" id="npoid" value="{$NPOID}"/>
				   <input type="hidden" name="npoconfirmcode" id="npoconfirmcode" value="{$ConfirmCode}"/>
                        <div class="row">
                            <div class="col-xs-12 pt-20 pb-20">
                                <div class="heading-2 text-center">{#_REGISTRATION_FORM_#}</div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="label" for="firstName">{#_FIRST_NAME_#}</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="FirstName" id="FirstName" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="label" for="lastName">{#_LAST_NAME_#}</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="LastName" id="LastName" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="label" for="companyName">{#_COMPANY_NAME_#}</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Companyname" id="Companyname" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="label" for="einNumber">{#_EIN_NUMBER_#}</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" value="{$EIN}" readonly/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="label" for="mailingAddress1">{#_MAILLING_ADDRESS_1#}</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Address1" id="Address1" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="label" for="mailingAddressOptional">{#_MAILLING_ADDRESS_2#}</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Address2" id="Address2" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="label" for="city">{#_CITY_#}</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="City" id="City" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="label" for="zipCode">{#_ZIP_CODE_#}</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Zip" id="Zip" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="label" for="country">{#_COUNTRY_#}</label>
                                <div class="select form-group">
                                    <select class="form-control" name="Country" id="Country">
                                        <option value="">{#_SELECT_COUNTRY_#}</option>
                                        {loop="CountryList"}
                                        <option value="{$value.Country_Abbrivation}">{$value.Country_Title}</option>
                                        {/loop}
                                    </select>
                                    <span class="errorClass"></span>
                                    <i class="arrow fa fa-caret-down"></i>                    
                                </div>
                            </div>
                           
                             <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="label" for="state">{#_STATE_#}</label>
                                <div class="select form-group">
                                	<select class="form-control" name="State" id="State">
                                    	<option value="">{#_SELECT_STATE_#}</option>
                                    </select>
                                    <span class="errorClass"></span>
                                    <i class="arrow fa fa-caret-down"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="label" for="phoneNumber">{#_PHONE_NUMBER_#}</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Phone" id="Phone" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="label" for="altPhoneNumber">{#_ALTERNATE_PHONE_NUMBER_#}</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="AlternatePhone" id="AlternatePhone" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label class="label" for="mobile">{#_EMAIL_ADDRESS_#}</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Email" id="Email" placeholder="{#_EMAIL_ADDRESS_#}" />
                                    <span class="t-gray f-14">{#_EMAIL_SUPPORT_TEXT_#}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="label" for="signupPassword">{#_PASSWORD_#}</label>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="signupPassword" id="signupPassword"  maxlength="20"/>
                                    <span class="note">Please create a password of 6 to 20 characters in length, using at least one upper case letter, a number and a special character</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="label" for="confirmPassword">{#_CONFIRM_PASSWORD_#}</label>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword"  maxlength="20"/>
                                </div>
                            </div>
                        </div>                            
                        <div class="row">
                            <div class="col-xs-12"><label class="checkbox"><input type="checkbox" name="checkbox" id="agreement"><i></i>{$nporegformterms}</label></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center mt-15"><button type="submit" class="button-1" title="Click here to create account">{#_CREATE_ACCOUNT_#}</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>	
</section>
{include="bottom/bottom"}
{$termcondition}
</body>
</html>